/*2015 Image 스프라이트 - 스프라이트 이미지는 class="spr"을 가진다.*/
.spr {display:inline-block;background-image:url('/images/common/spr_mobile_new.png?170213');background-repeat:no-repeat;background-size:200px;text-indent:-9999px;overflow:hidden;}
/* 2017 공통 레이아웃 이미지 (인덱스관련 이미지는 인덱스페이지개편때 삭제 예정) */
#header .aside_button .spr_aside,
#header .mypage_button:after,
.backType_header .btnMenu .spr_aside,
.popType_header .func_close .spr_func_close,
.jq_head .func_close .spr_func_close,
.rsoptionWrap .rsopt_tit button .spr_sch_close,
.btnBack:before,
.btnShare:before,
.btnLike:before,
#aside_wrapper.theme_app .myinfo .close span,
#aside_wrapper.theme_app .myinfo .logout .info .n:before,
#aside_wrapper.theme_app .mylist li a span:before,
#aside_wrapper.theme_app .ad_insurance .insurance_btn span:after,
#aside_wrapper.theme_app .ad_insurance .insurance_btn_close span,
#footer .footer_control a.more:after,
.index_search .search_detail .spr_sch_detail,
.index_search .search_option button .spr_schbul,
.optionWrap .opt_tit button .spr_sch_close,
.optionWrap .item button .spr_slt,
.optionWrap .selectfield span:after,
.optionWrap .txtOpt .spr_txtOpt,
.optModel .item > button:after,
.optGrade .item > button:after,
.optGrade .item > .depth0:after,
.carresultSearch .btn a:after,
.carresultSortview .view button:before,
.carRegSortview .howview button:before {display:inline-block;overflow:hidden;text-indent:-5000em;background-image:url(/images/common/spr_guide_layout.png?190108);background-repeat:repeat;background-size:320px;}

/*layout 공통*/
#wrap {background:#fff;overflow:hidden;}
#header {width:100%;height:44px;background:#fff;border-bottom:1px solid #d9d9d9;text-align:center;}
#header h1 {overflow:hidden;display:inline-block;vertical-align:middle;}
#header h1 a {display:block;width:83px;height:44px;background:url(/images/common/skencar_logo.png?180601) no-repeat 50%;background-size:83px 17px;text-indent:-9999px;overflow:hidden;}
#header h2.category_title {display:inline-block;vertical-align:middle;font-size:16px;font-weight:bold;margin-top:4px;color:#3d3d3d !important;}
#header h2.category_title a {display:inline-block;font-size:16px;color:#3d3d3d !important;}
#header header {position:relative;width:100%;overflow:hidden;}
#header .aside_button {position:absolute;left:0;top:0;width:44px;height:44px;line-height:44px;}
#header .aside_button .spr_aside {width:20px;height:15px;vertical-align:middle;background-position:0 0;}
#header .mypage_button {overflow:hidden;position:absolute;right:0;top:0;width:43px;height:44px;text-indent:-9999px;}
#header .mypage_button:after {content:'';position:absolute;left:50%;top:50%;width:21px;height:21px;margin:-10px 0 0 -10px;text-indent:0;background-position:-25px 0;}
#container {padding-bottom:30px}
#footer {padding-bottom:40px;line-height:16px;text-align:center;background-color:#F0F0F0}
#footer .footer_nav {display:block;text-align:center;background-color:#EAEAEA;}
#footer .footer_nav ul {width:100%;max-width:320px;margin:0 auto;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
}
#footer .footer_nav ul li {position:relative;line-height:40px;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
}
#footer .footer_nav ul li:before {display:block;content:'';position:absolute;left:0;top:50%;width:1px;height:11px;margin-top:-6px;background-color:#BFBFBF}
#footer .footer_nav ul li:first-child:before {display:none;}
#footer .footer_nav a {display:block;height:39px;font-size:13px;line-height:40px;color:#999}
#footer .footer_control {padding-top:20px}
#footer .footer_control a {font-size:13px;color:#999}
#footer .footer_control a.more:after {display:inline-block;content:'';width:8px;height:5px;margin:-2px 0 0 2px;vertical-align:middle;background-position:-200px 0;}
#footer.view .footer_control a.more:after {transform:rotate(180deg);-webkit-transform:rotate(180deg);}
#footer .footer_info {display:none;padding-top:10px}
#footer.view .footer_info {display:block;}
#footer .footer_info li {padding-top:2px;font-size:12px;line-height:17px;color:#999}
#footer .footer_info .txt_bar{padding:0 5px;color:#D9D9D9}
#footer .footer_link {padding-top:10px;}
#footer .footer_link a {padding:0 6px;font-size:12px;color:#999}
#footer .footer_link a.goPers {font-weight:bold;}
#footer .footer_copy {text-align:center;padding:3px 0 16px;}
#footer .footer_copy p {display:inline-block;padding-top:2px;vertical-align:middle;font-size:10px;color:#797979;}
#footer .footer_copy p a {color:#797979;text-decoration:underline;}
#footer .footer_sns {overflow:hidden;width:132px;margin:20px auto 0}
#footer .footer_sns li {float:left;padding:0 7px}
#footer .footer_sns li a {display:block;overflow:hidden;width:30px;height:30px;line-height:0;background:url(/images/common/footer_sns.png?180601) no-repeat;background-size:120px 30px;text-indent:-9999px}
#footer .footer_sns li.sns_fb a {background-position:0 0;}
#footer .footer_sns li.sns_np a {background-position:-40px 0;}
#footer .footer_sns li.sns_yt a {background-position:-80px 0;}
#footer address {margin-top:10px;color:#797979;text-align:center;}
#footer address p {line-height:17px;font-size:11px;}
#footer address p em {color:#797979;padding:0 5px;}
#footer address p span {color:#797979;}
#footer address p a {color:#797979;text-decoration:underline;}
#wrap.wrap-hidden {display:none;}

.backType_header {position:relative;height:44px !important;text-align:center;border-bottom:1px solid #d9d9d9 !important;background:#fff !important;}
.backType_header.fixed {position:fixed;left:0;top:0;z-index:1000;width:100%;}
.backType_header .logo {display:inline-block;width:95px;height:44px;margin:0 auto;overflow:hidden;vertical-align:middle;}
.backType_header .logo a {display:block;height:44px;background:url('/images/common/skencar_logo.png') no-repeat 50% 48%;background-size:81px;text-indent:-9999px;overflow:hidden;} /* 차량상세 : 삭제된차량 */
.backType_header .subject {line-height:46px;text-align:center;font-size:16px;color:#3d3d3d;font-weight:bold;}
.backType_header .btnLike {display:inline-block;position:absolute;right:0;top:0;width:40px;height:44px;line-height:44px;text-align:center;}
.backType_header .btnShare {display:inline-block;position:absolute;right:40px;top:0;width:40px;height:44px;line-height:44px;text-align:center;}
.backType_header .btnMenu {position:absolute;left:0;top:0;width:40px;height:44px;line-height:44px;}
.backType_header .btnMenu .spr_aside {width:20px;height:15px;vertical-align:middle;background-position:0 0;}
.backType_header .area_right {position:absolute;right:0;top:0;}
.backType_header2,
.backType_header3 {position:relative;height:44px !important;border-bottom:1px solid #d9d9d9 !important;background:#fff !important;}
.backType_header2 .subject,
.backType_header3 .subject {line-height:44px;text-align:center;font-size:14px;color:#000;font-weight:normal;}

iframe[name="google_conversion_frame"] {display:block;height:0;padding:0;margin:0;border:none;} /* 리타겟팅 google 대응 */

/*확장메뉴*/
body.android_low #aside {position:absolute;width:70%;display:none;transform: none;}/*for android 2.x 이하*/
body.android_low #aside.openit {display:block;transform: none;}/*for android 2.x 이하*/
body.android_low #aside .aside_wrapper {overflow:scroll !important;}/*for android 2.x 이하*/
body.android_low #aside .aside_content {overflow:scroll !important;}/*for android 2.x 이하*/
body.android_low #asideDmm {position:absolute;}/*for android 2.x 이하*/
#aside {position:fixed;left:0;top:0;bottom:0;width:260px;background:#272829;z-index:1002;
-ms-transform:translate(-100%,0);/*for IE9*/
-webkit-transition:-webkit-transform .3s ease-in-out;
transition: transform .3s ease-in-out;
-webkit-transform: translate3d(-100%,0,0);
transform: translate3d(-100%,0,0);
*display:none;/*for IE7*/
}
#aside.openit {
-ms-transform:translate(0%,0);/*for IE9*/
-webkit-transform: translate3d(0%,0,0);
transform: translate3d(0%,0,0);
*display:block;/*for IE7*/
}
#aside_wrapper {position:absolute;bottom:0px;left:0;top:0px;width:100%;background:#272829;overflow:auto;z-index:1;}
#asideDmm{width:100%;height:100%;display:none;position:fixed;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,0.7);-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-select:none;-webkit-user-drag:none;z-index:1001;}
#asideDmm.openit {display:block;}
/* GNB 2017 - APP */
#aside_wrapper.theme_app {background:#fff;}
#aside_wrapper.theme_app .aside_content{min-height:100%}
#aside_wrapper.theme_app .myinfo {overflow:hidden;height:45px;padding:0 20px;line-height:45px;background-image: -webkit-linear-gradient(223deg, #FF2626 37%, #FB6612 100%);background-image: linear-gradient(313deg, #FF2626 37%, #FB6612 100%)}
#aside_wrapper.theme_app .myinfo .info {display:inline-block;margin-right:10px;color:#fff;}
#aside_wrapper.theme_app .myinfo .info .n {display:inline-block;vertical-align:middle;font-size:15px;font-weight:bold;}
#aside_wrapper.theme_app .myinfo .logout {}
#aside_wrapper.theme_app .myinfo .logout .info .n {display:inline-block;position:relative;padding-left:26px;font-size:15px;font-weight:bold;}
#aside_wrapper.theme_app .myinfo .logout .info .n:before {content:'';position:absolute;left:0;top:50%;width:18px;height:18px;margin-top:-10px;background-position:0 -30px;}
#aside_wrapper.theme_app .myinfo .login .info .t {display:inline-block;height:18px;padding:0 5px;margin-right:3px;line-height:19px;vertical-align:middle;font-size:10px;color:#FF2626;background-color:#fff;border-radius:2px;}
#aside_wrapper.theme_app .myinfo .login .btn {display:inline-block;font-size:15px;color:#fff;vertical-align:middle}
#aside_wrapper.theme_app .myinfo .close {display:block;position:absolute;right:0;top:0;width:50px;height:45px;text-align:center;}
#aside_wrapper.theme_app .myinfo .close span {display:inline-block;width:15px;height:15px;vertical-align:middle;background-position:-25px -30px;}
#aside_wrapper.theme_app .mylist {background:#fff;}
#aside_wrapper.theme_app .mylist li {float:left;width:33%;height:69px;}
#aside_wrapper.theme_app .mylist li:nth-of-type(2) {width:34%;}
#aside_wrapper.theme_app .mylist ul:after {display:block;content:'';clear:both;}
#aside_wrapper.theme_app .mylist li a {display:block;color:#000;font-size:12px;text-align:center;}
#aside_wrapper.theme_app .mylist li a span {display:block;position:relative;padding:13px 0;}
#aside_wrapper.theme_app .mylist li a span:before {display:block;content:'';height:27px;margin:0 auto;}
#aside_wrapper.theme_app .mylist li.l1 a span:before {width:28px;background-position:-50px -30px;}
#aside_wrapper.theme_app .mylist li.l2 a span:before {width:23px;background-position:-100px -30px;}
#aside_wrapper.theme_app .mylist li.l3 a span:before {width:22px;background-position:-125px -30px;}
#aside_wrapper.theme_app .ad_insurance {position:relative;z-index:1;background:#e5e5e5;}
#aside_wrapper.theme_app .ad_insurance li {overflow:hidden;position:relative;padding:0 20px;}
#aside_wrapper.theme_app .ad_insurance .insurance_btn {display:block;position:relative;z-index:1;line-height:39px;font-size:14px;color:#000;opacity:0.6;}
#aside_wrapper.theme_app .ad_insurance .insurance_btn span:after {content:'';width:9px;height:12px;margin-left:5px;background-position:-150px -30px;}
#aside_wrapper.theme_app .ad_insurance .insurance_btn_close {position:absolute;right:0;top:0;z-index:1;padding:12px;zoom:1;}
#aside_wrapper.theme_app .ad_insurance .insurance_btn_close span {width:11px;height:11px;background-position:-175px -30px;}
#aside_wrapper.theme_app .ad_insurance .insurance_btn.view {opacity:1;}
#aside_wrapper.theme_app .ad_insurance .insurance_btn.view .btn {content:'닫기';visibility:visible;height:auto;opacity:1;}
#aside_wrapper.theme_app .ad_insurance .insurance_layer {visibility:hidden;height:0;opacity:0.8;position:relative;top:3px;width:100%;
-webkit-box-sizing:border-box;
	 -moz-box-sizing:border-box;
		box-sizing:border-box;
-webkit-transition:transform .3s, opacity .3s;
		transition:transform .3s, opacity .3s;
-webkit-transform:translate3d(0, -3px, 0);
		transform:translate3d(0, -3px, 0);
}
#aside_wrapper.theme_app .ad_insurance .insurance_layer ul {padding:14px 0 13px;background:#fff;}
#aside_wrapper.theme_app .ad_insurance .insurance_layer li {height:32px;line-height:32px;}
#aside_wrapper.theme_app .ad_insurance .insurance_layer li a {display:block;font-size:14px;color:#4e4e4e;}
#aside_wrapper.theme_app .ad_insurance .insurance_layer:before {content:'';display:block;position:absolute;top:-9px;left:23px;z-index:1;width:0;height:0;border-style:solid;border-width:0 9px 9px 9px;border-color:transparent transparent #fff transparent;}
#aside_wrapper.theme_app .ad_insurance .insurance_layer.view {visibility:visible;height:auto;padding:0 0 15px;opacity:1;
-webkit-transform:translate3d(0, 0, 0);
		transform:translate3d(0, 0, 0);
}
#aside_wrapper.theme_app .ad_insurance {}
#aside_wrapper.theme_app .menu {padding:0 20px;background:#fff;}
#aside_wrapper.theme_app .menu .gnb1 {}
#aside_wrapper.theme_app .menu .gnb1 li {line-height:54px;border-bottom:1px solid #d5d5d5;}
#aside_wrapper.theme_app .menu .gnb1 li a {display:block;font-size:16px;color:#000;font-weight:bold;}
#aside_wrapper.theme_app .menu .gnb1 li a:before {display:inline-block;content:'';width:3px;height:3px;margin-right:8px;vertical-align:middle;background:#000;
	-webkit-border-radius:3px;
			border-radius:3px;
}
#aside_wrapper.theme_app .menu .gnb1 li.two {line-height:69px;}
#aside_wrapper.theme_app .menu .gnb1 li.two:after {display:block;content:'';clear:both;}
#aside_wrapper.theme_app .menu .gnb1 li.two a {float:left;position:relative;width:50%;text-align:center;font-size:18px;}
#aside_wrapper.theme_app .menu .gnb1 li.two a:before {display:none;}
#aside_wrapper.theme_app .menu .gnb1 li.two a:nth-of-type(2):before {display:block;content:'';position:absolute;left:0;top:50%;width:1px;height:15px;margin-top:-7px;background:#c7c7c7;}
#aside_wrapper.theme_app .menu .gnb2 {padding:15px 0 60px;}
#aside_wrapper.theme_app .menu .gnb2 li {line-height:40px;}
#aside_wrapper.theme_app .menu .gnb2 li a {display:block;font-size:14px;color:#737373;}
#aside_wrapper.theme_app .util {position:absolute;left:0;bottom:0;width:100%;border-top:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;background:#f0f0f0;}
#aside_wrapper.theme_app .util ul:after {display:block;content:'';clear:both;}
#aside_wrapper.theme_app .util li {float:left;line-height:43px;text-align:center;}
#aside_wrapper.theme_app .util li:nth-of-type(1) {width:30%;}
#aside_wrapper.theme_app .util li:nth-of-type(2) {width:32%;}
#aside_wrapper.theme_app .util li:nth-of-type(3) {width:38%;}
#aside_wrapper.theme_app .util li a {display:block;font-size:14px;color:#525252;}
#aside_wrapper.theme_app .alram_update {display:inline-block;overflow:hidden;text-indent:-5000em;width:6px;height:6px;margin-top:-2px;vertical-align:middle;background:#e1343f;
	-webkit-border-radius:3px;
			border-radius:3px;
}

/*로딩중*/
.loadingWrap {width:100%;height:100%;position:fixed;top:0;right:0;bottom:0;left:0;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-select:none;-webkit-user-drag:none;z-index:1002;display:none;}
.loadingWrap .loading {width:100%;height:100%;position:fixed;top:0;right:0;bottom:0;left:0;background:#fff url('/images/common/gif_loading.gif') no-repeat 50% 50%;text-indent:-9999px;opacity:0.5;}
.loadingWrap.view_text .loading {background-position:50% 40%;opacity:0.9;}
.loadingWrap.view_text:after {content:"잠시만 기다려 주세요.";display:block;width:100%;text-align:center;position:fixed;left:0;top:50%;z-index:2000;font-weight:bold;font-size:22px;}

/**/
.btnBack:before,
.btnShare:before,
.btnLike:before {display:inline-block;overflow:hidden;text-indent:-5000em;background-image:url(/images/common/spr_guide_layout.png?180601);background-repeat:repeat;background-size:320px;}
.btnBack {display:inline-block;position:absolute;left:0;top:0;width:44px;height:44px;line-height:44px;text-align:left;}
.btnBack:before {display:inline-block;content:'';overflow:hidden;width:11px;height:19px;margin-left:15px;vertical-align:middle;background-position:-50px 0;}
.btnLike:before {display:inline-block;content:'';width:22px;height:20px;margin-top:-2px;vertical-align:middle;background-position:-125px 0;}
.btnLike.on:before {background-position:-150px 0;}
.btnShare:before {display:inline-block;content:'';width:22px;height:20px;margin-top:-2px;vertical-align:middle;background-position:-100px 0;}

/* 페이징 */
div.page {position:relative;margin-top:11px;line-height:70px;text-align:center;font-size:0;border-top:1px solid #e5e5e5;background:#fff;}
div.page.topline:before {content:'';position:absolute;left:0;top:0;width:100%;height:1px;background:#e5e5e5;}
div.page span {display:inline-block;vertical-align:middle;}
div.page span a {display:block;width:40px;margin:0 4px;line-height:40px;font-size:15px;color:#333;}
div.page span.on a,
div.page span a.on {font-weight:bold;color:#ff0000;}
div.page span.prev,
div.page span.next {position:absolute;top:50%;width:40px;margin:-20px 0 0;}
div.page span.prev a,
div.page span.next a {overflow:hidden;position:relative;height:40px;color:transparent;white-space:nowrap;}
div.page span.prev a:before,
div.page span.next a:before {content:'';position:absolute;left:50%;top:50%;width:0;height:0;margin:-9px 0 0 -5px;border-top:9px solid transparent;border-bottom:9px solid transparent;}
div.page span.prev a:after,
div.page span.next a:after {content:'';position:absolute;left:50%;top:50%;width:0;height:0;margin-top:-9px;border-top:9px solid transparent;border-bottom:9px solid transparent;}
div.page span.prev {left:5px;}
div.page span.next {right:5px;}
div.page span.prev a:before {border-right:9px solid #666;}
div.page span.next a:before {border-left:9px solid #666;}
div.page span.prev a:after {margin-left:-4px;border-right:9px solid #fff;}
div.page span.next a:after {margin-left:-6px;border-left:9px solid #fff;}
div.page span.prev.disabled a:before {border-right-color:#d9d9d9;}