/* guide - button - base */
.uibtn {display:block;overflow:hidden;width:100%;height:50px;text-align:center;line-height:50px;font-size:16px;font-weight:bold;letter-spacing:-0.5px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.uibtn_inline {display:inline-block;width:auto;padding:0 15px;vertical-align:middle;}
/* guide - button - color */
.uibtn_red {color:#fff;border-radius:50px;
	background-image: -webkit-linear-gradient(223deg, #FF2020 6%, #FB6612 88%);
	background-image: -o-linear-gradient(223deg, #FF2020 6%, #FB6612 88%);
	background-image: linear-gradient(313deg, #FF2020 6%, #FB6612 88%);
}
.uibtn_white {color:#666;border:1px solid #bfbfbf;border-radius:100px;background:#fff;}
.uibtn_white.uibtn_size_h30 {color:#333;}
.uibtn_silver {color:#fff;border:0 none;border-radius:100px;background:#d9d9d9;}
.uibtn_redline {color:#FF2626;border:1px solid #FF2626;border-radius:100px;background:#fff}
.uibtn_silverline {color:#D9D9D9;border:1px solid #D9D9D9;border-radius:100px;background:#fff}
/* guide - button - size */
.uibtn_size_h50 {height:50px;text-align:center;line-height:50px;font-size:16px;}
.uibtn_size_h45 {height:45px;text-align:center;line-height:45px;font-size:15px;}
.uibtn_size_h30 {height:30px;text-align:center;line-height:30px;font-size:13px;}
/* guide - button - effect */
.uibtn_shadow {border:0 none;
-webkit-box-shadow:0 1px 10px 0 rgba(0,0,0,0.29);
		box-shadow:0 1px 10px 0 rgba(0,0,0,0.29);
}
/* guide - button - base */
.uibtn_arr {display:inline-block;overflow:hidden;line-height:30px;font-size:13px;color:#999;}
.uibtn_arr:after {display:inline-block;content:'';width:6px;height:10px;margin-left:5px;background:url('/images/module/ico_arrow_s.png?20180604') no-repeat 0 0;background-size:6px;}
/* guide - button - ico */
.uibtnico_back {display:inline-block;width:44px;height:44px;line-height:44px;text-align:left;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.uibtnico_back:before {content:'';display:inline-block;overflow:hidden;width:9px;height:19px;margin-left:15px;vertical-align:middle;background:url(/images/module/ico_back.png?20180604) no-repeat 0 0;background-size:9px;}
.uibtnico_x {display:inline-block;width:44px;height:44px;line-height:44px;text-align:center;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.uibtnico_x:before {content:'';display:inline-block;overflow:hidden;width:16px;height:16px;vertical-align:middle;background:url(/images/module/ico_layer_x.png?20180604) no-repeat 0 0;background-size:16px;}
.uibtnico_text {height:44px;padding:0 10px;line-height:44px;text-align:center;font-size:15px;color:#333;}