/* guide - uiico */
.uiico {overflow:hidden;display:inline-block;vertical-align:middle;text-indent:-5000em;}
.uiico_question {width:20px;height:20px;background:url('/images/module/ico_q.png?20180604') no-repeat 0 0;background-size:40px;}
.uiico_question.view {background-position:0 -20px;}
.uiico_question2 {width:15px;height:15px;background:url('/images/module/ico_q.png?20180604') no-repeat -20px 0;background-size:40px;}
.uiico_question2.view {background-position:-20px -20px;}
.uiico_arrow {width:7px;height:15px;background:url('/images/module/ico_arrow.png?20180604') no-repeat 0 0;background-size:7px;}
.uiico_arrow_s {width:6px;height:10px;background:url('/images/module/ico_arrow_s.png?20180604') no-repeat 0 0;background-size:6px;}
.uiico_arrow_sb {width:6px;height:10px;background:url('/images/module/ico_arrow_sb.png?20180604') no-repeat 0 0;background-size:6px;}
.uiico_arrow_sr {width:6px;height:10px;background:url('/images/module/ico_arrow_sr.png?20180604') no-repeat 0 0;background-size:6px;}
.uiico_sch_x {width:16px;height:16px;background:url('/images/module/ico_sch_x.png?20180604') no-repeat 0 0;background-size:16px;}
.uiico_carsearch {width:92px;height:69px;background:url('/images/module/ico_carsearch.png?20180604') no-repeat 0 0;background-size:92px;}
/* guide - uiico - rotate */
.uiico.righton.on {transform:rotate(0);-webkit-transform:rotate(0);}
.uiico.lefton.on,
.uiico.left {transform:rotate(180deg);-webkit-transform:rotate(180deg);}
.uiico.upon.on,
.uiico.up {transform:rotate(-90deg);-webkit-transform:rotate(-90deg);}
.uiico.downon.on,
.uiico.down {transform:rotate(90deg);-webkit-transform:rotate(90deg);}