/* guide - uiico_brand - 제조사 로고 : png파일 수정시 재압축 필수 */
.uiico_brand {display:inline-block;}
.uiico_brand:before{display:block;content:'';width:62px;height:50px;background:url('/images/common/spr_manufacturer.png?180630') no-repeat 0 0;background-size:558px auto}
.uiico_brand.icon_001:before{background-position:-434px -100px} /* 현대 */
.uiico_brand.icon_002:before{background-position:-186px -150px} /* 기아 */
.uiico_brand.icon_003:before{background-position:-124px -50px} /* 쉐보레(gm대우) */
.uiico_brand.icon_004:before{background-position:-186px -300px} /* 쌍용 */
.uiico_brand.icon_005:before{background-position:-434px -250px} /* 르노삼성 */
.uiico_brand.icon_006:before{background-position:-434px -50px} /* 기타 제조사 */
.uiico_brand.icon_007:before{background-position:-186px -100px} /* 제네시스 */
.uiico_brand.icon_011:before{background-position:-186px 0} /* 아우디 */
.uiico_brand.icon_012:before{background-position:-372px -0px} /* Bmw */
.uiico_brand.icon_013:before{background-position:-310px 0} /* 벤츠 */
.uiico_brand.icon_014:before{background-position:-434px -300px} /* 폭스바겐 */
.uiico_brand.icon_015:before{background-position:-124px -250px} /* 포르쉐 */
.uiico_brand.icon_016:before{background-position:-372px -250px} /* 사브 */
.uiico_brand.icon_017:before{background-position:-496px -300px} /* 볼보 */
.uiico_brand.icon_018:before{background-position:0 -100px} /* 피아트 */
.uiico_brand.icon_019:before{background-position:-62px -150px} /* 재규어 */
.uiico_brand.icon_020:before{background-position:-372px -150px} /* 랜드로버 */
.uiico_brand.icon_021:before{background-position:0 -250px} /* 푸조 */
.uiico_brand.icon_022:before{background-position:-248px -50px} /* 시트로엥 */
.uiico_brand.icon_023:before{background-position:-186px -50px} /* 크라이슬러 */
.uiico_brand.icon_024:before{background-position:-62px -100px} /* 포드 */
.uiico_brand.icon_027:before{background-position:-310px -100px} /* 혼다 */
.uiico_brand.icon_028:before{background-position:0 -150px} /* 이스즈 */
.uiico_brand.icon_029:before{background-position:-186px -200px} /* 마쯔다 */
.uiico_brand.icon_030:before{background-position:-124px -350px} /* 미쯔비시 */
.uiico_brand.icon_031:before{background-position:-372px -300px} /* 도요타 */
.uiico_brand.icon_033:before{background-position:-310px -200px} /* 닛산 */
.uiico_brand.icon_034:before{background-position:-372px -50px} /* 닷지 */
.uiico_brand.icon_035:before{background-position:-434px -150px} /* 렉서스 */
.uiico_brand.icon_036:before{background-position:0 -350px} /* 머큐리 */
.uiico_brand.icon_037:before{background-position:-248px -300px} /* 스즈키 */
.uiico_brand.icon_038:before{background-position:-124px -50px} /* 쉐보레 */
.uiico_brand.icon_039:before{background-position:-372px -200px} /* 오펠 */
.uiico_brand.icon_040:before{background-position:-62px 0} /* 알파 로메오 */
.uiico_brand.icon_041:before{background-position:-496px -50px} /* 페라리 */
.uiico_brand.icon_042:before{background-position:-62px -250px} /* 폰티악 */
.uiico_brand.icon_043:before{background-position:-62px -50px} /* 캐딜락 */
.uiico_brand.icon_044:before{background-position:-496px -150px} /* 링컨 */
.uiico_brand.icon_045:before{background-position:-496px 0} /* 뷰익 */
.uiico_brand.icon_046:before{background-position:-434px -200px} /* 올즈모빌 */
.uiico_brand.icon_047:before{background-position:-248px -250px} /* 롤스로이스 */
.uiico_brand.icon_048:before{background-position:-372px -100px} /* 험머 */
.uiico_brand.icon_049:before{background-position:-310px -150px} /* 람보르기니 */
.uiico_brand.icon_050:before{background-position:-248px 0} /* 벤틀리 */
.uiico_brand.icon_051:before{background-position:-310px -50px} /* 다이하쯔 */
.uiico_brand.icon_052:before{background-position:-496px -250px} /* 스바루 */
.uiico_brand.icon_053:before{background-position:-62px -200px} /* 마세라티 */
.uiico_brand.icon_054:before{background-position:-62px -350px} /* 미니 */
.uiico_brand.icon_055:before{background-position:-310px -250px} /* Mg로버 */
.uiico_brand.icon_056:before{background-position:-248px -100px} /* Gmc */
.uiico_brand.icon_057:before{background-position:0 0} /* 어큐라 */
.uiico_brand.icon_058:before{background-position:-496px -100px} /* 인피니티 */
.uiico_brand.icon_059:before{background-position:-186px -350px} /* 미쯔오까 */
.uiico_brand.icon_069:before{background-position:0 -200px} /* 로터스 */
.uiico_brand.icon_070:before{background-position:-124px 0} /* 애스턴마틴 */
.uiico_brand.icon_075:before{background-position:-496px -200px} /* 파가니 */
.uiico_brand.icon_076:before{background-position:-248px -150px} /* 코닉세그 */
.uiico_brand.icon_077:before{background-position:-434px 0} /* 부가티 */
.uiico_brand.icon_078:before{background-position:-186px -250px} /* 르노 */
.uiico_brand.icon_079:before{background-position:-62px -300px} /* 새턴 */
.uiico_brand.icon_080:before{background-position:-124px -200px} /* 마이바흐 */
.uiico_brand.icon_081:before{background-position:-124px -300px} /* 스마트 */
.uiico_brand.icon_082:before{background-position:0 -300px} /* 사이언 */
.uiico_brand.icon_083:before{background-position:-124px -150px} /* 지프 */
.uiico_brand.icon_084:before{background-position:-248px -200px} /* 맥라렌 */
.uiico_brand.icon_085:before{background-position:-124px -100px} /* 포톤 */
.uiico_brand.icon_086:before{background-position:0 -50px} /* 북기은상 */
.uiico_brand.icon_087:before{background-position:-310px -300px} /* 테슬라 */