/* guide - uiinput - checkbox, radio */
.uiinput {display:inline-block;position:relative;}
.uiinput input {position:absolute;opacity:0;border:0 none;}
.uiinput label {padding-left:28px;line-height:20px;font-size:15px;color:#333;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.uiinput input+label:after {width:20px;height:20px;background:url(/images/module/input.png?20180604) no-repeat;background-size:85px;}
.uiinput input[type=checkbox]+label:after {display:block;content:'';position:absolute;left:0;top:0;background-position:0 0;}
.uiinput input[type=checkbox]:checked+label:after {background-position:0 -30px;}
.uiinput input[type=checkbox]:disabled+label {color:#d9d9d9;}
.uiinput input[type=checkbox]:disabled+label:after {background-position:0 -60px;opacity:0.4}
.uiinput input[type=checkbox]:checked:disabled+label {color:#333;}
.uiinput input[type=checkbox]:checked:disabled+label:after {background-position:0 -90px;opacity:1}
.uiinput input[type=radio]+label:after {display:block;content:'';position:absolute;left:0;top:0;background-position:-30px 0;}
.uiinput input[type=radio]:checked+label:after {background-position:-30px -30px;}
.uiinput input[type=radio]:disabled+label {color:#d9d9d9;}
.uiinput input[type=radio]:disabled+label:after {background-position:-30px -60px;}
.uiinput input[type=radio]:checked:disabled+label {color:#333;}
.uiinput input[type=radio]:checked:disabled+label:after {background-position:-30px -90px;}

.uiinput.big label {padding-left:35px;line-height:27px;}
.uiinput.big input+label:after {width:27px;height:27px;background-position:0 -120px;}
.uiinput.big input[type=checkbox]:checked+label:after {background-position:0 -150px;}
.uiinput.big input[type=checkbox]:disabled+label:after {background-position:0 -180px;opacity:1}
.uiinput.big input[type=checkbox]:checked:disabled+label:after {background-position:0 -210px;}

/* guide - uiinput_txt */
.uiinput_txt {margin-bottom: 20px;}
.uiinput_txt label.tit_input {display: block;margin: 0 0 10px;font-size: 13px;color: #666;}
.uiinput_txt input {width: 100%;padding: 0 0 6px;;border:none;font-size: 15px;border-bottom: 1px solid #F0F0F0;-webkit-appearance: none;-o-appearance: none;appearance: none;outline: none;}
.uiinput_txt input::placeholder {color: #BFBFBF;}

.noti_txt {display: none;}
.alert .noti_txt {display: block;margin: 10px 0 0;color: #FF2626;font-size: 13px;}
.uiinput_txt.alert input {border-bottom: 1px solid #FF2626;}

/* guide - uiinput - oblong */
.uiinput_oblong {display:inline-block;position:relative;vertical-align:top;}
.uiinput_oblong label {display:table;table-layout:fixed;width:100%;height:45px;line-height:17px;text-align:center;font-size:15px;border:1px solid #D9D9D9;border-radius:4px;background:#fff;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.uiinput_oblong label .td {display:table-cell;vertical-align:middle;}
.uiinput_oblong input {position:absolute;width:20px;height:20px;opacity:0;border:0 none;}
.uiinput_oblong input:checked+label {color:#FF2626;border-color:#FF2626;}

/* guide - uiinput - color */
.uiinput_color:after {display:block;content:'';clear:both;}
.uiinput_color .circle {display:block;float:left;width:20%;padding-top:12px;}
.uiinput_color .circle input {position:absolute;z-index:-1;width:32px;height:32px;opacity:0;border:0 none;}
.uiinput_color .circle label {display:block;text-align:center;position:relative;}
.uiinput_color .circle .title {font-size:13px;color:#666;}
.uiinput_color .circle .color {overflow:hidden;display:block;width:30px;height:30px;margin:0 auto;border-radius:15px;-webkit-border-radius:15px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.uiinput_color .circle .color.outline:after {display:block;content:'';position:absolute;width:30px;height:30px;border-radius:16px;border:1px solid #d6d6d6;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.uiinput_color .circle .color var {float:left;width:50%;height:30px;}
.uiinput_color .circle .color:before {visibility:hidden;opacity:0;display:block;content:'';position:absolute;left:50%;top:15px;width:22px;height:22px;margin:-11px 0 0 -11px;background:url('/images/module/input.png?20180604') no-repeat -60px 0;background-size:85px;
-webkit-transition:opacity 0.15s, visibility 0.15s;
		transition:opacity 0.15s, visibility 0.15s;
}
.uiinput_color .circle input:checked + label {display:block;}
.uiinput_color .circle input:checked + label .color:before {visibility:visible;opacity:1;}
/* 가로형 */
.uiinput_color.horizon{padding-top:15px;padding-bottom:15px}
.uiinput_color.horizon .circle{float:none;width:auto;padding-top:0;padding-right:20px}
.uiinput_color.horizon .circle label{overflow:hidden;height:30px;text-align:left}
.uiinput_color.horizon .circle .color{float:left;position:relative}
.uiinput_color.horizon .circle .title{float:left;padding-left:10px;font-size:15px;line-height:31px;color:#333}

/* guide - uiinput - slide */
.uiinput_slide input {display:none;}
.uiinput_slide label {display:inline-block;position:relative;width:50px;height:30px;cursor:pointer;
    -webkit-tap-highlight-color:transparent;
	-webkit-transform:translate(0,0);
	-moz-transform:translate(0,0);
	transform:translate(0,0);
}
.uiinput_slide label:before {content:"";display:block;position:relative;top:0;left:0;width:50px;height:30px;background:#fff;border:1px solid #e5e5e5;border-radius:15px;
-webkit-transition:background 0.2s ease;
    	transition:background 0.2s ease;
    box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.uiinput_slide label span {display:block;position:absolute;top:0;left:0;z-index:1;width:28px;height:28px;margin:1px;background:white;border:1px solid #e5e5e5;border-radius:14px;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.50);
-webkit-transition:all 0.2s ease;
		transition:all 0.2s ease;
    box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.uiinput_slide label:after {
    content:"";position:absolute;display:block;margin-top:-30px;width:100%;height:100%;background:rgba(255, 38, 38, 0.2);border-radius:15px;opacity:1;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	transform:scale(0);
}
.uiinput_slide input:checked + label span {
	-webkit-transform:translateX(20px);
	-moz-transform:translateX(20px);
	transform:translateX(20px);
-webkit-transition:all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
		transition:all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
}
.uiinput_slide input:checked + label:before {background:#ff2626;border-color:#ff2626;}
.uiinput_slide input:checked + label:after {
	-webkit-transform:scale(1.5);
	-moz-transform:scale(1.5);
	transform:scale(1.5);
    opacity:0;
-webkit-transition:all 0.4s ease;
		transition:all 0.4s ease;
}

/* guide - uiselectbox */
.uiselectbox{min-width:76px;height:30px;padding:0 20px 0 6px;border:1px solid #E6E6E6;border-radius:4px;font-size:13px;line-height:31px;background:transparent url(/images/module/ico_selectbox.png?20180604) no-repeat 100% 8px;background-size:11px 12px;-webkit-appearance:none}
.uiselectbox_drop {height:40px;padding:0 30px 0 15px;border:1px solid #d9d9d9;border-radius:4px;font-size:14px;color:#333;background:#fff url(/images/module/ico_selectbox_drop.png) no-repeat right 15px center;background-size:10px 5px;-webkit-appearance:none;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.uiselectbox_drop.invalid {color:#bfbfbf;}
