/* guide - ui_selectcar : 검색 모듈 */
.ui_selectcar .tit_selectcar{display:block;height:45px;line-height:46px;padding-left:15px;background:#F6F6F6;box-sizing:border-box;font-size:13px;font-weight:normal;color:#999}
.ui_selectcar .selected_manufacturer{display:block;padding:10px 0 10px 15px;background:#F6F6F6}
.ui_selectcar .selected_manufacturer .txt_selected{display:inline-block;height:30px;line-height:30px;padding:0 10px;background:#FFF;border-radius:15px;font-size:13px;color:#666;letter-spacing:-0.5px}
.ui_selectcar .selected_manufacturer .uiico{margin:-2px 0 0 5px}
.ui_selectcar .list_selectcar li{border-bottom:1px solid #F0F0F0;box-sizing:border-box}
.ui_selectcar .selectcar_depth2 li{background:#F5F5F5;border-color:#E5E5E5}
.ui_selectcar .selectcar_depth2 li:last-child{border-bottom:0 none}
.ui_selectcar .selectcar_depth3 li{background:#E5E5E5;border-color:#D9D9D9}
.ui_selectcar .list_selectcar .link_item{position:relative;display:block;padding:20px}
.ui_selectcar .selectcar_depth2 .link_item{padding-left:25px}
.ui_selectcar .selectcar_depth3 .link_item{padding-left:35px}
.ui_selectcar .list_selectcar .txt_sub{font-size:13px;color:#999}
.ui_selectcar .link_item .uiico{position:absolute;right:20px;top:50%;margin-top:-7px}
.ui_selectcar .active .uiico{-webkit-transform: rotate(-90deg);}
.ui_selectcar .uiinput input:checked+label{color:#FF2626}
.ui_selectcar .selectcar_depth2 .uiinput input[type=checkbox]:disabled+label{color:#bfbfbf}
.ui_selectcar .selectcar_depth2 .uiinput input[type=checkbox]:disabled+label:after{opacity:0.6}
.ui_selectcar .selectcar_depth3 .uiinput input[type=checkbox]:disabled+label:after{opacity:1}
.ui_selectcar .list_menufacturer .link_item{position:relative}
.ui_selectcar .active .txt_item{color:#FF2626}
.ui_selectcar .list_selectcar .txt_item{display:block;line-height:20px;padding-right:20px;font-size:15px;letter-spacing:-0.5px;word-break:break-all}
.ui_selectcar .selectcar_depth2 .txt_item,
.ui_selectcar .selectcar_depth3 .txt_item{position:relative;padding-left:18px}
.ui_selectcar .selectcar_depth2 .txt_item:before,
.ui_selectcar .selectcar_depth3 .txt_item:before{content:'';position:absolute;left:0;top:4px;width:8px;height:8px;border:1px solid #999;border-width:0 0 1px 1px}
.ui_selectcar .list_menufacturer .txt_item{padding-left:65px}
.ui_selectcar .list_menufacturer .txt_item:before{content:'';position:absolute;left:15px;top:6px;width:62px;height:50px;background:url('/images/common/spr_manufacturer.png?180630') no-repeat 0 0;background-size:558px auto}
.ui_selectcar .list_menufacturer .icon_001:before{background-position:-434px -100px} /* 현대 */
.ui_selectcar .list_menufacturer .icon_007:before{background-position:-186px -100px} /* 제네시스 */
.ui_selectcar .list_menufacturer .icon_002:before{background-position:-186px -150px} /* 기아 */
.ui_selectcar .list_menufacturer .icon_003:before{background-position:-124px -50px} /* 쉐보레(GM대우) */
.ui_selectcar .list_menufacturer .icon_005:before{background-position:-434px -250px} /* 르노삼성 */
.ui_selectcar .list_menufacturer .icon_004:before{background-position:-186px -300px} /* 쌍용 */
.ui_selectcar .list_menufacturer .icon_006:before{background-position:-434px -50px} /* 기타 제조사 */
.ui_selectcar .list_menufacturer .icon_012:before{background-position:-372px -0px} /* BMW */
.ui_selectcar .list_menufacturer .icon_056:before{background-position:-248px -100px} /* GMC */
.ui_selectcar .list_menufacturer .icon_033:before{background-position:-310px -200px} /* 닛산 */
.ui_selectcar .list_menufacturer .icon_051:before{background-position:-310px -50px} /* 다이하쯔 */
.ui_selectcar .list_menufacturer .icon_034:before{background-position:-372px -50px} /* 닷지 */
.ui_selectcar .list_menufacturer .icon_031:before{background-position:-372px -300px} /* 도요타 */
.ui_selectcar .list_menufacturer .icon_049:before{background-position:-310px -150px} /* 람보르기니 */
.ui_selectcar .list_menufacturer .icon_020:before{background-position:-372px -150px} /* 랜드로버 */
.ui_selectcar .list_menufacturer .icon_035:before{background-position:-434px -150px} /* 렉서스 */
.ui_selectcar .list_menufacturer .icon_055:before{background-position:-310px -250px} /* MG로버 */
.ui_selectcar .list_menufacturer .icon_069:before{background-position:0 -200px} /* 로터스 */
.ui_selectcar .list_menufacturer .icon_047:before{background-position:-248px -250px} /* 롤스로이스 */
.ui_selectcar .list_menufacturer .icon_078:before{background-position:-186px -250px} /* 르노 */
.ui_selectcar .list_menufacturer .icon_044:before{background-position:-496px -150px} /* 링컨 */
.ui_selectcar .list_menufacturer .icon_053:before{background-position:-62px -200px} /* 마세라티 */
.ui_selectcar .list_menufacturer .icon_080:before{background-position:-124px -200px} /* 마이바흐 */
.ui_selectcar .list_menufacturer .icon_029:before{background-position:-186px -200px} /* 마쯔다 */
.ui_selectcar .list_menufacturer .icon_084:before{background-position:-248px -200px} /* 맥라렌 */
.ui_selectcar .list_menufacturer .icon_036:before{background-position:0 -350px} /* 머큐리 */
.ui_selectcar .list_menufacturer .icon_054:before{background-position:-62px -350px} /* 미니 */
.ui_selectcar .list_menufacturer .icon_030:before{background-position:-124px -350px} /* 미쯔비시 */
.ui_selectcar .list_menufacturer .icon_059:before{background-position:-186px -350px} /* 미쯔오까 */
.ui_selectcar .list_menufacturer .icon_013:before{background-position:-310px 0} /* 벤츠 */
.ui_selectcar .list_menufacturer .icon_050:before{background-position:-248px 0} /* 벤틀리 */
.ui_selectcar .list_menufacturer .icon_017:before{background-position:-496px -300px} /* 볼보 */
.ui_selectcar .list_menufacturer .icon_077:before{background-position:-434px 0} /* 부가티 */
.ui_selectcar .list_menufacturer .icon_086:before{background-position:0 -50px} /* 북기은상 */
.ui_selectcar .list_menufacturer .icon_045:before{background-position:-496px 0} /* 뷰익 */
.ui_selectcar .list_menufacturer .icon_016:before{background-position:-372px -250px} /* 사브 */
.ui_selectcar .list_menufacturer .icon_082:before{background-position:0 -300px} /* 사이언 */
.ui_selectcar .list_menufacturer .icon_079:before{background-position:-62px -300px} /* 새턴 */
.ui_selectcar .list_menufacturer .icon_038:before{background-position:-124px -50px} /* 쉐보레 */
.ui_selectcar .list_menufacturer .icon_081:before{background-position:-124px -300px} /* 스마트 */
.ui_selectcar .list_menufacturer .icon_052:before{background-position:-496px -250px} /* 스바루 */
.ui_selectcar .list_menufacturer .icon_037:before{background-position:-248px -300px} /* 스즈키 */
.ui_selectcar .list_menufacturer .icon_022:before{background-position:-248px -50px} /* 시트로엥 */
.ui_selectcar .list_menufacturer .icon_011:before{background-position:-186px 0} /* 아우디 */
.ui_selectcar .list_menufacturer .icon_040:before{background-position:-62px 0} /* 알파 로메오 */
.ui_selectcar .list_menufacturer .icon_070:before{background-position:-124px 0} /* 애스턴마틴 */
.ui_selectcar .list_menufacturer .icon_057:before{background-position:0 0} /* 어큐라 */
.ui_selectcar .list_menufacturer .icon_039:before{background-position:-372px -200px} /* 오펠 */
.ui_selectcar .list_menufacturer .icon_046:before{background-position:-434px -200px} /* 올즈모빌 */
.ui_selectcar .list_menufacturer .icon_028:before{background-position:0 -150px} /* 이스즈 */
.ui_selectcar .list_menufacturer .icon_058:before{background-position:-496px -100px} /* 인피니티 */
.ui_selectcar .list_menufacturer .icon_019:before{background-position:-62px -150px} /* 재규어 */
.ui_selectcar .list_menufacturer .icon_083:before{background-position:-124px -150px} /* 지프 */
.ui_selectcar .list_menufacturer .icon_043:before{background-position:-62px -50px} /* 캐딜락 */
.ui_selectcar .list_menufacturer .icon_076:before{background-position:-248px -150px} /* 코닉세그 */
.ui_selectcar .list_menufacturer .icon_023:before{background-position:-186px -50px} /* 크라이슬러 */
.ui_selectcar .list_menufacturer .icon_087:before{background-position:-310px -300px} /* 테슬라 */
.ui_selectcar .list_menufacturer .icon_075:before{background-position:-496px -200px} /* 파가니 */
.ui_selectcar .list_menufacturer .icon_041:before{background-position:-496px -50px} /* 페라리 */
.ui_selectcar .list_menufacturer .icon_024:before{background-position:-62px -100px} /* 포드 */
.ui_selectcar .list_menufacturer .icon_015:before{background-position:-124px -250px} /* 포르쉐 */
.ui_selectcar .list_menufacturer .icon_085:before{background-position:-124px -100px} /* 포톤 */
.ui_selectcar .list_menufacturer .icon_014:before{background-position:-434px -300px} /* 폭스바겐 */
.ui_selectcar .list_menufacturer .icon_042:before{background-position:-62px -250px} /* 폰티악 */
.ui_selectcar .list_menufacturer .icon_021:before{background-position:0 -250px} /* 푸조 */
.ui_selectcar .list_menufacturer .icon_018:before{background-position:0 -100px} /* 피아트 */
.ui_selectcar .list_menufacturer .icon_048:before{background-position:-372px -100px} /* 험머 */
.ui_selectcar .list_menufacturer .icon_027:before{background-position:-310px -100px} /* 혼다 */

.uipage_uioption{height:100%}
.uipage_uioption .uipage_container{overflow:hidden;background-color:#FAFAFA}
.uipage_uioption .ir_option{display:block;overflow:hidden;width:42px;margin:8px auto;line-height:0;background:url(/images/module/ir_sch_option.png?20180604) no-repeat;background-size:300px 240px;text-indent:-9999px}
.uipage_uioption .list_category{float:left;padding-top:8px}
.uipage_uioption .list_category .link_g{display:block;overflow:hidden;width:70px}
.uipage_uioption .list_category .ico_option1{height:40px;background-position:0 0}
.uipage_uioption .list_category .on .ico_option1{background-position:0 -60px}
.uipage_uioption .list_category .ico_option2{height:33px;background-position:-60px 0}
.uipage_uioption .list_category .on .ico_option2{background-position:-60px -60px}
.uipage_uioption .list_category .ico_option3{height:47px;background-position:-120px 0}
.uipage_uioption .list_category .on .ico_option3{background-position:-120px -60px}
.uipage_uioption .list_category .ico_option4{height:39px;background-position:-180px 0}
.uipage_uioption .list_category .on .ico_option4{background-position:-180px -60px}
.uipage_uioption .list_category .ico_option_tr1{height:35px;background-position:0 -120px}
.uipage_uioption .list_category .on .ico_option_tr1{background-position:0 -180px}
.uipage_uioption .list_category .ico_option_tr2{height:41px;background-position:-60px -120px}
.uipage_uioption .list_category .on .ico_option_tr2{background-position:-60px -180px}
.uipage_uioption .list_category .ico_option_tr3{height:33px;background-position:-120px -120px}
.uipage_uioption .list_category .on .ico_option_tr3{background-position:-120px -180px}
.uipage_uioption .list_category .ico_option_tr4{height:35px;background-position:-180px -120px}
.uipage_uioption .list_category .on .ico_option_tr4{background-position:-180px -180px}
.uipage_uioption .list_category .ico_option_tr5{height:37px;background-position:-240px -120px}
.uipage_uioption .list_category .on .ico_option_tr5{background-position:-240px -180px}
.uipage_uioption .ui_selectcar{overflow:hidden;background-color:#fff}
.uipage_uioption .list_selectcar .link_item{padding:20px 10px}
.uipage_uioption .selectcar_depth2{overflow:hidden}
.uipage_uioption .selectcar_depth2 li{float:left;width:50%;border-bottom:0 none}
.uipage_uioption .selectcar_depth2 li:first-child{position:relative;padding-left:37px;box-sizing:border-box}
.uipage_uioption .selectcar_depth2 li:first-child:before{content:'';position:absolute;left:20px;top:24px;width:7px;height:7px;border-left:1px solid #999;border-bottom:1px solid #999}
.uipage_uioption .selectcar_depth2 .link_item{padding-left:0;padding-right:0}