/* guide - uitable */
.uitable_caption {margin:30px 0 10px;font-size:14px;font-weight:bold;color:#333;}
.uitable_row table {width:100%;}
.uitable_row table tbody th {padding:15px 10px;text-align:left;line-height:19px;font-size:13px;font-weight:normal;color:#333;letter-spacing:-0.5px;border:1px solid #f0f0f0;background:#fafafa;}
.uitable_row table tbody td {padding:15px 10px;line-height:19px;font-size:13px;color:#666;letter-spacing:-0.5px;border:1px solid #f0f0f0;}
.uitable_row table tbody th:first-of-type {border-left:none;}
.uitable_row table tbody td:last-of-type {border-right:none;}
.uitable_row .cellalign_right,
.uitable_row .cellalign_right th {text-align:right;}
.uitable_row .cellalign_center,
.uitable_row .cellalign_center th {text-align:center;}
.uitable_row.uitable_onlycell tbody th {padding:15px;line-height:20px;font-size:14px;}
.uitable_row.uitable_onlycell tbody td {padding:15px;line-height:20px;font-size:14px;}
.uitable_col table {width:100%;}
.uitable_col table caption {position:static;}
.uitable_col table thead th {height:50px;padding:0 10px;line-height:16px;font-size:13px;color:#333;white-space:nowrap;letter-spacing:-0.5px;border-top:1px solid #f0f0f0;background:#fafafa;}
.uitable_col table thead tr.headgroup th {background:#f5f5f5;}
.uitable_col table tbody td {padding:15px 10px;line-height:19px;font-size:13px;color:#666;letter-spacing:-0.5px;border-top:1px solid #f0f0f0;}
.uitable_col table tbody tr.current td {font-weight:bold;color:#333;background:#f5f5f5;}
.uitable_col table col {border:1px solid #f0f0f0;}
.uitable_col table col:first-of-type {border-left:none;}
.uitable_col table col:last-of-type {border-right:none;}
.uitable_col table colgroup.colgroup col:last-of-type {border-right:1px solid #d9d9d9;}
.uitable_col table colgroup.colgroup:first-of-type col:first-of-type {border-left:none;}
.uitable_col table colgroup.colgroup:last-of-type col:last-of-type {border-right:none;}
.uitable_col .cellalign_left,
.uitable_col .cellalign_left th {text-align:left;}
.uitable_col .cellalign_right,
.uitable_col .cellalign_right th {text-align:right;}
.uitable_col .cellalign_center,
.uitable_col .cellalign_center th {text-align:center;}
.uitable_col .link {text-decoration:underline;color:#ff2626;font-weight:normal;}