// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$pc-acc-arr-on-name: 'pc_acc_arr_on';
$pc-acc-arr-on-x: 272px;
$pc-acc-arr-on-y: 136px;
$pc-acc-arr-on-offset-x: -272px;
$pc-acc-arr-on-offset-y: -136px;
$pc-acc-arr-on-width: 28px;
$pc-acc-arr-on-height: 12px;
$pc-acc-arr-on-total-width: 400px;
$pc-acc-arr-on-total-height: 272px;
$pc-acc-arr-on-image: '/images/spr/spr_pc.png?181017077';
$pc-acc-arr-on: (272px, 136px, -272px, -136px, 28px, 12px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_acc_arr_on', );
$pc-acc-arr-name: 'pc_acc_arr';
$pc-acc-arr-x: 368px;
$pc-acc-arr-y: 120px;
$pc-acc-arr-offset-x: -368px;
$pc-acc-arr-offset-y: -120px;
$pc-acc-arr-width: 28px;
$pc-acc-arr-height: 12px;
$pc-acc-arr-total-width: 400px;
$pc-acc-arr-total-height: 272px;
$pc-acc-arr-image: '/images/spr/spr_pc.png?181017077';
$pc-acc-arr: (368px, 120px, -368px, -120px, 28px, 12px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_acc_arr', );
$pc-acc-ticket-name: 'pc_acc_ticket';
$pc-acc-ticket-x: 144px;
$pc-acc-ticket-y: 88px;
$pc-acc-ticket-offset-x: -144px;
$pc-acc-ticket-offset-y: -88px;
$pc-acc-ticket-width: 64px;
$pc-acc-ticket-height: 64px;
$pc-acc-ticket-total-width: 400px;
$pc-acc-ticket-total-height: 272px;
$pc-acc-ticket-image: '/images/spr/spr_pc.png?181017077';
$pc-acc-ticket: (144px, 88px, -144px, -88px, 64px, 64px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_acc_ticket', );
$pc-admin-on-name: 'pc_admin_on';
$pc-admin-on-x: 0px;
$pc-admin-on-y: 160px;
$pc-admin-on-offset-x: 0px;
$pc-admin-on-offset-y: -160px;
$pc-admin-on-width: 48px;
$pc-admin-on-height: 48px;
$pc-admin-on-total-width: 400px;
$pc-admin-on-total-height: 272px;
$pc-admin-on-image: '/images/spr/spr_pc.png?181017077';
$pc-admin-on: (0px, 160px, 0px, -160px, 48px, 48px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_admin_on', );
$pc-admin-name: 'pc_admin';
$pc-admin-x: 272px;
$pc-admin-y: 88px;
$pc-admin-offset-x: -272px;
$pc-admin-offset-y: -88px;
$pc-admin-width: 48px;
$pc-admin-height: 48px;
$pc-admin-total-width: 400px;
$pc-admin-total-height: 272px;
$pc-admin-image: '/images/spr/spr_pc.png?181017077';
$pc-admin: (272px, 88px, -272px, -88px, 48px, 48px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_admin', );
$pc-arr-bottom-b-name: 'pc_arr_bottom_b';
$pc-arr-bottom-b-x: 342px;
$pc-arr-bottom-b-y: 136px;
$pc-arr-bottom-b-offset-x: -342px;
$pc-arr-bottom-b-offset-y: -136px;
$pc-arr-bottom-b-width: 16px;
$pc-arr-bottom-b-height: 6px;
$pc-arr-bottom-b-total-width: 400px;
$pc-arr-bottom-b-total-height: 272px;
$pc-arr-bottom-b-image: '/images/spr/spr_pc.png?181017077';
$pc-arr-bottom-b: (342px, 136px, -342px, -136px, 16px, 6px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_arr_bottom_b', );
$pc-arr-bottom-g-name: 'pc_arr_bottom_g';
$pc-arr-bottom-g-x: 300px;
$pc-arr-bottom-g-y: 136px;
$pc-arr-bottom-g-offset-x: -300px;
$pc-arr-bottom-g-offset-y: -136px;
$pc-arr-bottom-g-width: 28px;
$pc-arr-bottom-g-height: 12px;
$pc-arr-bottom-g-total-width: 400px;
$pc-arr-bottom-g-total-height: 272px;
$pc-arr-bottom-g-image: '/images/spr/spr_pc.png?181017077';
$pc-arr-bottom-g: (300px, 136px, -300px, -136px, 28px, 12px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_arr_bottom_g', );
$pc-arr-filter-name: 'pc_arr_filter';
$pc-arr-filter-x: 328px;
$pc-arr-filter-y: 136px;
$pc-arr-filter-offset-x: -328px;
$pc-arr-filter-offset-y: -136px;
$pc-arr-filter-width: 14px;
$pc-arr-filter-height: 8px;
$pc-arr-filter-total-width: 400px;
$pc-arr-filter-total-height: 272px;
$pc-arr-filter-image: '/images/spr/spr_pc.png?181017077';
$pc-arr-filter: (328px, 136px, -328px, -136px, 14px, 8px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_arr_filter', );
$pc-arr-left-b-name: 'pc_arr_left_b';
$pc-arr-left-b-x: 36px;
$pc-arr-left-b-y: 240px;
$pc-arr-left-b-offset-x: -36px;
$pc-arr-left-b-offset-y: -240px;
$pc-arr-left-b-width: 18px;
$pc-arr-left-b-height: 32px;
$pc-arr-left-b-total-width: 400px;
$pc-arr-left-b-total-height: 272px;
$pc-arr-left-b-image: '/images/spr/spr_pc.png?181017077';
$pc-arr-left-b: (36px, 240px, -36px, -240px, 18px, 32px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_arr_left_b', );
$pc-arr-left-calendar-name: 'pc_arr_left_calendar';
$pc-arr-left-calendar-x: 18px;
$pc-arr-left-calendar-y: 240px;
$pc-arr-left-calendar-offset-x: -18px;
$pc-arr-left-calendar-offset-y: -240px;
$pc-arr-left-calendar-width: 18px;
$pc-arr-left-calendar-height: 32px;
$pc-arr-left-calendar-total-width: 400px;
$pc-arr-left-calendar-total-height: 272px;
$pc-arr-left-calendar-image: '/images/spr/spr_pc.png?181017077';
$pc-arr-left-calendar: (18px, 240px, -18px, -240px, 18px, 32px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_arr_left_calendar', );
$pc-arr-right-calendar-name: 'pc_arr_right_calendar';
$pc-arr-right-calendar-x: 0px;
$pc-arr-right-calendar-y: 240px;
$pc-arr-right-calendar-offset-x: 0px;
$pc-arr-right-calendar-offset-y: -240px;
$pc-arr-right-calendar-width: 18px;
$pc-arr-right-calendar-height: 32px;
$pc-arr-right-calendar-total-width: 400px;
$pc-arr-right-calendar-total-height: 272px;
$pc-arr-right-calendar-image: '/images/spr/spr_pc.png?181017077';
$pc-arr-right-calendar: (0px, 240px, 0px, -240px, 18px, 32px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_arr_right_calendar', );
$pc-arr-right-g-name: 'pc_arr_right_g';
$pc-arr-right-g-x: 54px;
$pc-arr-right-g-y: 240px;
$pc-arr-right-g-offset-x: -54px;
$pc-arr-right-g-offset-y: -240px;
$pc-arr-right-g-width: 16px;
$pc-arr-right-g-height: 24px;
$pc-arr-right-g-total-width: 400px;
$pc-arr-right-g-total-height: 272px;
$pc-arr-right-g-image: '/images/spr/spr_pc.png?181017077';
$pc-arr-right-g: (54px, 240px, -54px, -240px, 16px, 24px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_arr_right_g', );
$pc-buy-ticket-name: 'pc_buy_ticket';
$pc-buy-ticket-x: 208px;
$pc-buy-ticket-y: 88px;
$pc-buy-ticket-offset-x: -208px;
$pc-buy-ticket-offset-y: -88px;
$pc-buy-ticket-width: 64px;
$pc-buy-ticket-height: 64px;
$pc-buy-ticket-total-width: 400px;
$pc-buy-ticket-total-height: 272px;
$pc-buy-ticket-image: '/images/spr/spr_pc.png?181017077';
$pc-buy-ticket: (208px, 88px, -208px, -88px, 64px, 64px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_buy_ticket', );
$pc-calc-on-name: 'pc_calc_on';
$pc-calc-on-x: 48px;
$pc-calc-on-y: 160px;
$pc-calc-on-offset-x: -48px;
$pc-calc-on-offset-y: -160px;
$pc-calc-on-width: 48px;
$pc-calc-on-height: 48px;
$pc-calc-on-total-width: 400px;
$pc-calc-on-total-height: 272px;
$pc-calc-on-image: '/images/spr/spr_pc.png?181017077';
$pc-calc-on: (48px, 160px, -48px, -160px, 48px, 48px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_calc_on', );
$pc-calc-name: 'pc_calc';
$pc-calc-x: 96px;
$pc-calc-y: 160px;
$pc-calc-offset-x: -96px;
$pc-calc-offset-y: -160px;
$pc-calc-width: 48px;
$pc-calc-height: 48px;
$pc-calc-total-width: 400px;
$pc-calc-total-height: 272px;
$pc-calc-image: '/images/spr/spr_pc.png?181017077';
$pc-calc: (96px, 160px, -96px, -160px, 48px, 48px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_calc', );
$pc-call-name: 'pc_call';
$pc-call-x: 232px;
$pc-call-y: 160px;
$pc-call-offset-x: -232px;
$pc-call-offset-y: -160px;
$pc-call-width: 40px;
$pc-call-height: 40px;
$pc-call-total-width: 400px;
$pc-call-total-height: 272px;
$pc-call-image: '/images/spr/spr_pc.png?181017077';
$pc-call: (232px, 160px, -232px, -160px, 40px, 40px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_call', );
$pc-change-off-name: 'pc_change_off';
$pc-change-off-x: 368px;
$pc-change-off-y: 88px;
$pc-change-off-offset-x: -368px;
$pc-change-off-offset-y: -88px;
$pc-change-off-width: 32px;
$pc-change-off-height: 32px;
$pc-change-off-total-width: 400px;
$pc-change-off-total-height: 272px;
$pc-change-off-image: '/images/spr/spr_pc.png?181017077';
$pc-change-off: (368px, 88px, -368px, -88px, 32px, 32px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_change_off', );
$pc-change-name: 'pc_change';
$pc-change-x: 64px;
$pc-change-y: 208px;
$pc-change-offset-x: -64px;
$pc-change-offset-y: -208px;
$pc-change-width: 32px;
$pc-change-height: 32px;
$pc-change-total-width: 400px;
$pc-change-total-height: 272px;
$pc-change-image: '/images/spr/spr_pc.png?181017077';
$pc-change: (64px, 208px, -64px, -208px, 32px, 32px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_change', );
$pc-circle-name: 'pc_circle';
$pc-circle-x: 156px;
$pc-circle-y: 208px;
$pc-circle-offset-x: -156px;
$pc-circle-offset-y: -208px;
$pc-circle-width: 20px;
$pc-circle-height: 20px;
$pc-circle-total-width: 400px;
$pc-circle-total-height: 272px;
$pc-circle-image: '/images/spr/spr_pc.png?181017077';
$pc-circle: (156px, 208px, -156px, -208px, 20px, 20px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_circle', );
$pc-close-name: 'pc_close';
$pc-close-x: 128px;
$pc-close-y: 208px;
$pc-close-offset-x: -128px;
$pc-close-offset-y: -208px;
$pc-close-width: 28px;
$pc-close-height: 28px;
$pc-close-total-width: 400px;
$pc-close-total-height: 272px;
$pc-close-image: '/images/spr/spr_pc.png?181017077';
$pc-close: (128px, 208px, -128px, -208px, 28px, 28px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_close', );
$pc-delete-filter-name: 'pc_delete_filter';
$pc-delete-filter-x: 196px;
$pc-delete-filter-y: 208px;
$pc-delete-filter-offset-x: -196px;
$pc-delete-filter-offset-y: -208px;
$pc-delete-filter-width: 20px;
$pc-delete-filter-height: 16px;
$pc-delete-filter-total-width: 400px;
$pc-delete-filter-total-height: 272px;
$pc-delete-filter-image: '/images/spr/spr_pc.png?181017077';
$pc-delete-filter: (196px, 208px, -196px, -208px, 20px, 16px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_delete_filter', );
$pc-delete-name: 'pc_delete';
$pc-delete-x: 96px;
$pc-delete-y: 208px;
$pc-delete-offset-x: -96px;
$pc-delete-offset-y: -208px;
$pc-delete-width: 32px;
$pc-delete-height: 32px;
$pc-delete-total-width: 400px;
$pc-delete-total-height: 272px;
$pc-delete-image: '/images/spr/spr_pc.png?181017077';
$pc-delete: (96px, 208px, -96px, -208px, 32px, 32px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_delete', );
$pc-ico-acc-name: 'pc_ico_acc';
$pc-ico-acc-x: 0px;
$pc-ico-acc-y: 88px;
$pc-ico-acc-offset-x: 0px;
$pc-ico-acc-offset-y: -88px;
$pc-ico-acc-width: 72px;
$pc-ico-acc-height: 72px;
$pc-ico-acc-total-width: 400px;
$pc-ico-acc-total-height: 272px;
$pc-ico-acc-image: '/images/spr/spr_pc.png?181017077';
$pc-ico-acc: (0px, 88px, 0px, -88px, 72px, 72px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_ico_acc', );
$pc-ico-buy-name: 'pc_ico_buy';
$pc-ico-buy-x: 72px;
$pc-ico-buy-y: 88px;
$pc-ico-buy-offset-x: -72px;
$pc-ico-buy-offset-y: -88px;
$pc-ico-buy-width: 72px;
$pc-ico-buy-height: 72px;
$pc-ico-buy-total-width: 400px;
$pc-ico-buy-total-height: 272px;
$pc-ico-buy-image: '/images/spr/spr_pc.png?181017077';
$pc-ico-buy: (72px, 88px, -72px, -88px, 72px, 72px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_ico_buy', );
$pc-id-name: 'pc_id';
$pc-id-x: 272px;
$pc-id-y: 160px;
$pc-id-offset-x: -272px;
$pc-id-offset-y: -160px;
$pc-id-width: 40px;
$pc-id-height: 40px;
$pc-id-total-width: 400px;
$pc-id-total-height: 272px;
$pc-id-image: '/images/spr/spr_pc.png?181017077';
$pc-id: (272px, 160px, -272px, -160px, 40px, 40px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_id', );
$pc-more-name: 'pc_more';
$pc-more-x: 176px;
$pc-more-y: 208px;
$pc-more-offset-x: -176px;
$pc-more-offset-y: -208px;
$pc-more-width: 20px;
$pc-more-height: 20px;
$pc-more-total-width: 400px;
$pc-more-total-height: 272px;
$pc-more-image: '/images/spr/spr_pc.png?181017077';
$pc-more: (176px, 208px, -176px, -208px, 20px, 20px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_more', );
$pc-pw-name: 'pc_pw';
$pc-pw-x: 352px;
$pc-pw-y: 160px;
$pc-pw-offset-x: -352px;
$pc-pw-offset-y: -160px;
$pc-pw-width: 36px;
$pc-pw-height: 38px;
$pc-pw-total-width: 400px;
$pc-pw-total-height: 272px;
$pc-pw-image: '/images/spr/spr_pc.png?181017077';
$pc-pw: (352px, 160px, -352px, -160px, 36px, 38px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_pw', );
$pc-setting-on-name: 'pc_setting_on';
$pc-setting-on-x: 144px;
$pc-setting-on-y: 160px;
$pc-setting-on-offset-x: -144px;
$pc-setting-on-offset-y: -160px;
$pc-setting-on-width: 48px;
$pc-setting-on-height: 48px;
$pc-setting-on-total-width: 400px;
$pc-setting-on-total-height: 272px;
$pc-setting-on-image: '/images/spr/spr_pc.png?181017077';
$pc-setting-on: (144px, 160px, -144px, -160px, 48px, 48px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_setting_on', );
$pc-setting-name: 'pc_setting';
$pc-setting-x: 320px;
$pc-setting-y: 88px;
$pc-setting-offset-x: -320px;
$pc-setting-offset-y: -88px;
$pc-setting-width: 48px;
$pc-setting-height: 48px;
$pc-setting-total-width: 400px;
$pc-setting-total-height: 272px;
$pc-setting-image: '/images/spr/spr_pc.png?181017077';
$pc-setting: (320px, 88px, -320px, -88px, 48px, 48px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_setting', );
$pc-sheet-off-name: 'pc_sheet_off';
$pc-sheet-off-x: 32px;
$pc-sheet-off-y: 208px;
$pc-sheet-off-offset-x: -32px;
$pc-sheet-off-offset-y: -208px;
$pc-sheet-off-width: 32px;
$pc-sheet-off-height: 32px;
$pc-sheet-off-total-width: 400px;
$pc-sheet-off-total-height: 272px;
$pc-sheet-off-image: '/images/spr/spr_pc.png?181017077';
$pc-sheet-off: (32px, 208px, -32px, -208px, 32px, 32px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_sheet_off', );
$pc-sheet-name: 'pc_sheet';
$pc-sheet-x: 0px;
$pc-sheet-y: 208px;
$pc-sheet-offset-x: 0px;
$pc-sheet-offset-y: -208px;
$pc-sheet-width: 32px;
$pc-sheet-height: 32px;
$pc-sheet-total-width: 400px;
$pc-sheet-total-height: 272px;
$pc-sheet-image: '/images/spr/spr_pc.png?181017077';
$pc-sheet: (0px, 208px, 0px, -208px, 32px, 32px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_sheet', );
$pc-sign-name: 'pc_sign';
$pc-sign-x: 0px;
$pc-sign-y: 0px;
$pc-sign-offset-x: 0px;
$pc-sign-offset-y: 0px;
$pc-sign-width: 400px;
$pc-sign-height: 88px;
$pc-sign-total-width: 400px;
$pc-sign-total-height: 272px;
$pc-sign-image: '/images/spr/spr_pc.png?181017077';
$pc-sign: (0px, 0px, 0px, 0px, 400px, 88px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_sign', );
$pc-zoom-b-name: 'pc_zoom_b';
$pc-zoom-b-x: 312px;
$pc-zoom-b-y: 160px;
$pc-zoom-b-offset-x: -312px;
$pc-zoom-b-offset-y: -160px;
$pc-zoom-b-width: 40px;
$pc-zoom-b-height: 40px;
$pc-zoom-b-total-width: 400px;
$pc-zoom-b-total-height: 272px;
$pc-zoom-b-image: '/images/spr/spr_pc.png?181017077';
$pc-zoom-b: (312px, 160px, -312px, -160px, 40px, 40px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_zoom_b', );
$pc-zoom-name: 'pc_zoom';
$pc-zoom-x: 192px;
$pc-zoom-y: 160px;
$pc-zoom-offset-x: -192px;
$pc-zoom-offset-y: -160px;
$pc-zoom-width: 40px;
$pc-zoom-height: 40px;
$pc-zoom-total-width: 400px;
$pc-zoom-total-height: 272px;
$pc-zoom-image: '/images/spr/spr_pc.png?181017077';
$pc-zoom: (192px, 160px, -192px, -160px, 40px, 40px, 400px, 272px, '/images/spr/spr_pc.png?181017077', 'pc_zoom', );
$spritesheet-width: 400px;
$spritesheet-height: 272px;
$spritesheet-image: '/images/spr/spr_pc.png?181017077';
$spritesheet-sprites: ($pc-acc-arr-on, $pc-acc-arr, $pc-acc-ticket, $pc-admin-on, $pc-admin, $pc-arr-bottom-b, $pc-arr-bottom-g, $pc-arr-filter, $pc-arr-left-b, $pc-arr-left-calendar, $pc-arr-right-calendar, $pc-arr-right-g, $pc-buy-ticket, $pc-calc-on, $pc-calc, $pc-call, $pc-change-off, $pc-change, $pc-circle, $pc-close, $pc-delete-filter, $pc-delete, $pc-ico-acc, $pc-ico-buy, $pc-id, $pc-more, $pc-pw, $pc-setting-on, $pc-setting, $pc-sheet-off, $pc-sheet, $pc-sign, $pc-zoom-b, $pc-zoom, );
$spritesheet: (400px, 272px, '/images/spr/spr_pc.png?181017077', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
