// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$part-frame1-name: 'part_frame1';
$part-frame1-x: 100px;
$part-frame1-y: 446px;
$part-frame1-offset-x: -100px;
$part-frame1-offset-y: -446px;
$part-frame1-width: 186px;
$part-frame1-height: 36px;
$part-frame1-total-width: 752px;
$part-frame1-total-height: 640px;
$part-frame1-image: '/images/spr/spr_part.png?180913099';
$part-frame1: (100px, 446px, -100px, -446px, 186px, 36px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame1', );
$part-frame10-name: 'part_frame10';
$part-frame10-x: 720px;
$part-frame10-y: 168px;
$part-frame10-offset-x: -720px;
$part-frame10-offset-y: -168px;
$part-frame10-width: 30px;
$part-frame10-height: 58px;
$part-frame10-total-width: 752px;
$part-frame10-total-height: 640px;
$part-frame10-image: '/images/spr/spr_part.png?180913099';
$part-frame10: (720px, 168px, -720px, -168px, 30px, 58px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame10', );
$part-frame11-name: 'part_frame11';
$part-frame11-x: 332px;
$part-frame11-y: 248px;
$part-frame11-offset-x: -332px;
$part-frame11-offset-y: -248px;
$part-frame11-width: 40px;
$part-frame11-height: 40px;
$part-frame11-total-width: 752px;
$part-frame11-total-height: 640px;
$part-frame11-image: '/images/spr/spr_part.png?180913099';
$part-frame11: (332px, 248px, -332px, -248px, 40px, 40px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame11', );
$part-frame12-name: 'part_frame12';
$part-frame12-x: 332px;
$part-frame12-y: 208px;
$part-frame12-offset-x: -332px;
$part-frame12-offset-y: -208px;
$part-frame12-width: 40px;
$part-frame12-height: 40px;
$part-frame12-total-width: 752px;
$part-frame12-total-height: 640px;
$part-frame12-image: '/images/spr/spr_part.png?180913099';
$part-frame12: (332px, 208px, -332px, -208px, 40px, 40px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame12', );
$part-frame13-name: 'part_frame13';
$part-frame13-x: 156px;
$part-frame13-y: 158px;
$part-frame13-offset-x: -156px;
$part-frame13-offset-y: -158px;
$part-frame13-width: 40px;
$part-frame13-height: 38px;
$part-frame13-total-width: 752px;
$part-frame13-total-height: 640px;
$part-frame13-image: '/images/spr/spr_part.png?180913099';
$part-frame13: (156px, 158px, -156px, -158px, 40px, 38px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame13', );
$part-frame14-name: 'part_frame14';
$part-frame14-x: 332px;
$part-frame14-y: 288px;
$part-frame14-offset-x: -332px;
$part-frame14-offset-y: -288px;
$part-frame14-width: 40px;
$part-frame14-height: 38px;
$part-frame14-total-width: 752px;
$part-frame14-total-height: 640px;
$part-frame14-image: '/images/spr/spr_part.png?180913099';
$part-frame14: (332px, 288px, -332px, -288px, 40px, 38px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame14', );
$part-frame15-name: 'part_frame15';
$part-frame15-x: 612px;
$part-frame15-y: 0px;
$part-frame15-offset-x: -612px;
$part-frame15-offset-y: 0px;
$part-frame15-width: 74px;
$part-frame15-height: 168px;
$part-frame15-total-width: 752px;
$part-frame15-total-height: 640px;
$part-frame15-image: '/images/spr/spr_part.png?180913099';
$part-frame15: (612px, 0px, -612px, 0px, 74px, 168px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame15', );
$part-frame16-name: 'part_frame16';
$part-frame16-x: 612px;
$part-frame16-y: 168px;
$part-frame16-offset-x: -612px;
$part-frame16-offset-y: -168px;
$part-frame16-width: 72px;
$part-frame16-height: 168px;
$part-frame16-total-width: 752px;
$part-frame16-total-height: 640px;
$part-frame16-image: '/images/spr/spr_part.png?180913099';
$part-frame16: (612px, 168px, -612px, -168px, 72px, 168px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame16', );
$part-frame17-name: 'part_frame17';
$part-frame17-x: 612px;
$part-frame17-y: 504px;
$part-frame17-offset-x: -612px;
$part-frame17-offset-y: -504px;
$part-frame17-width: 64px;
$part-frame17-height: 16px;
$part-frame17-total-width: 752px;
$part-frame17-total-height: 640px;
$part-frame17-image: '/images/spr/spr_part.png?180913099';
$part-frame17: (612px, 504px, -612px, -504px, 64px, 16px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame17', );
$part-frame18-name: 'part_frame18';
$part-frame18-x: 508px;
$part-frame18-y: 336px;
$part-frame18-offset-x: -508px;
$part-frame18-offset-y: -336px;
$part-frame18-width: 62px;
$part-frame18-height: 16px;
$part-frame18-total-width: 752px;
$part-frame18-total-height: 640px;
$part-frame18-image: '/images/spr/spr_part.png?180913099';
$part-frame18: (508px, 336px, -508px, -336px, 62px, 16px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame18', );
$part-frame19-name: 'part_frame19';
$part-frame19-x: 612px;
$part-frame19-y: 336px;
$part-frame19-offset-x: -612px;
$part-frame19-offset-y: -336px;
$part-frame19-width: 66px;
$part-frame19-height: 168px;
$part-frame19-total-width: 752px;
$part-frame19-total-height: 640px;
$part-frame19-image: '/images/spr/spr_part.png?180913099';
$part-frame19: (612px, 336px, -612px, -336px, 66px, 168px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame19', );
$part-frame2-name: 'part_frame2';
$part-frame2-x: 286px;
$part-frame2-y: 446px;
$part-frame2-offset-x: -286px;
$part-frame2-offset-y: -446px;
$part-frame2-width: 206px;
$part-frame2-height: 24px;
$part-frame2-total-width: 752px;
$part-frame2-total-height: 640px;
$part-frame2-image: '/images/spr/spr_part.png?180913099';
$part-frame2: (286px, 446px, -286px, -446px, 206px, 24px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame2', );
$part-frame20-name: 'part_frame20';
$part-frame20-x: 686px;
$part-frame20-y: 0px;
$part-frame20-offset-x: -686px;
$part-frame20-offset-y: 0px;
$part-frame20-width: 66px;
$part-frame20-height: 168px;
$part-frame20-total-width: 752px;
$part-frame20-total-height: 640px;
$part-frame20-image: '/images/spr/spr_part.png?180913099';
$part-frame20: (686px, 0px, -686px, 0px, 66px, 168px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame20', );
$part-frame21-name: 'part_frame21';
$part-frame21-x: 292px;
$part-frame21-y: 394px;
$part-frame21-offset-x: -292px;
$part-frame21-offset-y: -394px;
$part-frame21-width: 206px;
$part-frame21-height: 34px;
$part-frame21-total-width: 752px;
$part-frame21-total-height: 640px;
$part-frame21-image: '/images/spr/spr_part.png?180913099';
$part-frame21: (292px, 394px, -292px, -394px, 206px, 34px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame21', );
$part-frame22-name: 'part_frame22';
$part-frame22-x: 100px;
$part-frame22-y: 482px;
$part-frame22-offset-x: -100px;
$part-frame22-offset-y: -482px;
$part-frame22-width: 206px;
$part-frame22-height: 24px;
$part-frame22-total-width: 752px;
$part-frame22-total-height: 640px;
$part-frame22-image: '/images/spr/spr_part.png?180913099';
$part-frame22: (100px, 482px, -100px, -482px, 206px, 24px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame22', );
$part-frame23-name: 'part_frame23';
$part-frame23-x: 214px;
$part-frame23-y: 0px;
$part-frame23-offset-x: -214px;
$part-frame23-offset-y: 0px;
$part-frame23-width: 176px;
$part-frame23-height: 150px;
$part-frame23-total-width: 752px;
$part-frame23-total-height: 640px;
$part-frame23-image: '/images/spr/spr_part.png?180913099';
$part-frame23: (214px, 0px, -214px, 0px, 176px, 150px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame23', );
$part-frame3-name: 'part_frame3';
$part-frame3-x: 714px;
$part-frame3-y: 384px;
$part-frame3-offset-x: -714px;
$part-frame3-offset-y: -384px;
$part-frame3-width: 36px;
$part-frame3-height: 66px;
$part-frame3-total-width: 752px;
$part-frame3-total-height: 640px;
$part-frame3-image: '/images/spr/spr_part.png?180913099';
$part-frame3: (714px, 384px, -714px, -384px, 36px, 66px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame3', );
$part-frame4-name: 'part_frame4';
$part-frame4-x: 714px;
$part-frame4-y: 450px;
$part-frame4-offset-x: -714px;
$part-frame4-offset-y: -450px;
$part-frame4-width: 34px;
$part-frame4-height: 66px;
$part-frame4-total-width: 752px;
$part-frame4-total-height: 640px;
$part-frame4-image: '/images/spr/spr_part.png?180913099';
$part-frame4: (714px, 450px, -714px, -450px, 34px, 66px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame4', );
$part-frame5-name: 'part_frame5';
$part-frame5-x: 306px;
$part-frame5-y: 482px;
$part-frame5-offset-x: -306px;
$part-frame5-offset-y: -482px;
$part-frame5-width: 186px;
$part-frame5-height: 24px;
$part-frame5-total-width: 752px;
$part-frame5-total-height: 640px;
$part-frame5-image: '/images/spr/spr_part.png?180913099';
$part-frame5: (306px, 482px, -306px, -482px, 186px, 24px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame5', );
$part-frame6-name: 'part_frame6';
$part-frame6-x: 332px;
$part-frame6-y: 150px;
$part-frame6-offset-x: -332px;
$part-frame6-offset-y: -150px;
$part-frame6-width: 50px;
$part-frame6-height: 58px;
$part-frame6-total-width: 752px;
$part-frame6-total-height: 640px;
$part-frame6-image: '/images/spr/spr_part.png?180913099';
$part-frame6: (332px, 150px, -332px, -150px, 50px, 58px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame6', );
$part-frame7-name: 'part_frame7';
$part-frame7-x: 686px;
$part-frame7-y: 276px;
$part-frame7-offset-x: -686px;
$part-frame7-offset-y: -276px;
$part-frame7-width: 34px;
$part-frame7-height: 108px;
$part-frame7-total-width: 752px;
$part-frame7-total-height: 640px;
$part-frame7-image: '/images/spr/spr_part.png?180913099';
$part-frame7: (686px, 276px, -686px, -276px, 34px, 108px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame7', );
$part-frame8-name: 'part_frame8';
$part-frame8-x: 686px;
$part-frame8-y: 168px;
$part-frame8-offset-x: -686px;
$part-frame8-offset-y: -168px;
$part-frame8-width: 34px;
$part-frame8-height: 108px;
$part-frame8-total-width: 752px;
$part-frame8-total-height: 640px;
$part-frame8-image: '/images/spr/spr_part.png?180913099';
$part-frame8: (686px, 168px, -686px, -168px, 34px, 108px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame8', );
$part-frame9-name: 'part_frame9';
$part-frame9-x: 720px;
$part-frame9-y: 276px;
$part-frame9-offset-x: -720px;
$part-frame9-offset-y: -276px;
$part-frame9-width: 30px;
$part-frame9-height: 58px;
$part-frame9-total-width: 752px;
$part-frame9-total-height: 640px;
$part-frame9-image: '/images/spr/spr_part.png?180913099';
$part-frame9: (720px, 276px, -720px, -276px, 30px, 58px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_frame9', );
$part-pannel1-name: 'part_pannel1';
$part-pannel1-x: 0px;
$part-pannel1-y: 0px;
$part-pannel1-offset-x: 0px;
$part-pannel1-offset-y: 0px;
$part-pannel1-width: 214px;
$part-pannel1-height: 158px;
$part-pannel1-total-width: 752px;
$part-pannel1-total-height: 640px;
$part-pannel1-image: '/images/spr/spr_part.png?180913099';
$part-pannel1: (0px, 0px, 0px, 0px, 214px, 158px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_pannel1', );
$part-pannel10-name: 'part_pannel10';
$part-pannel10-x: 0px;
$part-pannel10-y: 158px;
$part-pannel10-offset-x: 0px;
$part-pannel10-offset-y: -158px;
$part-pannel10-width: 156px;
$part-pannel10-height: 204px;
$part-pannel10-total-width: 752px;
$part-pannel10-total-height: 640px;
$part-pannel10-image: '/images/spr/spr_part.png?180913099';
$part-pannel10: (0px, 158px, 0px, -158px, 156px, 204px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_pannel10', );
$part-pannel11-name: 'part_pannel11';
$part-pannel11-x: 390px;
$part-pannel11-y: 0px;
$part-pannel11-offset-x: -390px;
$part-pannel11-offset-y: 0px;
$part-pannel11-width: 118px;
$part-pannel11-height: 190px;
$part-pannel11-total-width: 752px;
$part-pannel11-total-height: 640px;
$part-pannel11-image: '/images/spr/spr_part.png?180913099';
$part-pannel11: (390px, 0px, -390px, 0px, 118px, 190px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_pannel11', );
$part-pannel12-name: 'part_pannel12';
$part-pannel12-x: 214px;
$part-pannel12-y: 150px;
$part-pannel12-offset-x: -214px;
$part-pannel12-offset-y: -150px;
$part-pannel12-width: 118px;
$part-pannel12-height: 190px;
$part-pannel12-total-width: 752px;
$part-pannel12-total-height: 640px;
$part-pannel12-image: '/images/spr/spr_part.png?180913099';
$part-pannel12: (214px, 150px, -214px, -150px, 118px, 190px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_pannel12', );
$part-pannel13-name: 'part_pannel13';
$part-pannel13-x: 686px;
$part-pannel13-y: 384px;
$part-pannel13-offset-x: -686px;
$part-pannel13-offset-y: -384px;
$part-pannel13-width: 14px;
$part-pannel13-height: 246px;
$part-pannel13-total-width: 752px;
$part-pannel13-total-height: 640px;
$part-pannel13-image: '/images/spr/spr_part.png?180913099';
$part-pannel13: (686px, 384px, -686px, -384px, 14px, 246px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_pannel13', );
$part-pannel14-name: 'part_pannel14';
$part-pannel14-x: 700px;
$part-pannel14-y: 384px;
$part-pannel14-offset-x: -700px;
$part-pannel14-offset-y: -384px;
$part-pannel14-width: 14px;
$part-pannel14-height: 246px;
$part-pannel14-total-width: 752px;
$part-pannel14-total-height: 640px;
$part-pannel14-image: '/images/spr/spr_part.png?180913099';
$part-pannel14: (700px, 384px, -700px, -384px, 14px, 246px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_pannel14', );
$part-pannel2-name: 'part_pannel2';
$part-pannel2-x: 390px;
$part-pannel2-y: 190px;
$part-pannel2-offset-x: -390px;
$part-pannel2-offset-y: -190px;
$part-pannel2-width: 106px;
$part-pannel2-height: 172px;
$part-pannel2-total-width: 752px;
$part-pannel2-total-height: 640px;
$part-pannel2-image: '/images/spr/spr_part.png?180913099';
$part-pannel2: (390px, 190px, -390px, -190px, 106px, 172px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_pannel2', );
$part-pannel3-name: 'part_pannel3';
$part-pannel3-x: 508px;
$part-pannel3-y: 0px;
$part-pannel3-offset-x: -508px;
$part-pannel3-offset-y: 0px;
$part-pannel3-width: 104px;
$part-pannel3-height: 172px;
$part-pannel3-total-width: 752px;
$part-pannel3-total-height: 640px;
$part-pannel3-image: '/images/spr/spr_part.png?180913099';
$part-pannel3: (508px, 0px, -508px, 0px, 104px, 172px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_pannel3', );
$part-pannel4-name: 'part_pannel4';
$part-pannel4-x: 508px;
$part-pannel4-y: 172px;
$part-pannel4-offset-x: -508px;
$part-pannel4-offset-y: -172px;
$part-pannel4-width: 100px;
$part-pannel4-height: 164px;
$part-pannel4-total-width: 752px;
$part-pannel4-total-height: 640px;
$part-pannel4-image: '/images/spr/spr_part.png?180913099';
$part-pannel4: (508px, 172px, -508px, -172px, 100px, 164px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_pannel4', );
$part-pannel5-name: 'part_pannel5';
$part-pannel5-x: 0px;
$part-pannel5-y: 362px;
$part-pannel5-offset-x: 0px;
$part-pannel5-offset-y: -362px;
$part-pannel5-width: 100px;
$part-pannel5-height: 164px;
$part-pannel5-total-width: 752px;
$part-pannel5-total-height: 640px;
$part-pannel5-image: '/images/spr/spr_part.png?180913099';
$part-pannel5: (0px, 362px, 0px, -362px, 100px, 164px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_pannel5', );
$part-pannel6-name: 'part_pannel6';
$part-pannel6-x: 100px;
$part-pannel6-y: 526px;
$part-pannel6-offset-x: -100px;
$part-pannel6-offset-y: -526px;
$part-pannel6-width: 100px;
$part-pannel6-height: 114px;
$part-pannel6-total-width: 752px;
$part-pannel6-total-height: 640px;
$part-pannel6-image: '/images/spr/spr_part.png?180913099';
$part-pannel6: (100px, 526px, -100px, -526px, 100px, 114px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_pannel6', );
$part-pannel7-name: 'part_pannel7';
$part-pannel7-x: 0px;
$part-pannel7-y: 526px;
$part-pannel7-offset-x: 0px;
$part-pannel7-offset-y: -526px;
$part-pannel7-width: 100px;
$part-pannel7-height: 114px;
$part-pannel7-total-width: 752px;
$part-pannel7-total-height: 640px;
$part-pannel7-image: '/images/spr/spr_part.png?180913099';
$part-pannel7: (0px, 526px, 0px, -526px, 100px, 114px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_pannel7', );
$part-pannel8-name: 'part_pannel8';
$part-pannel8-x: 100px;
$part-pannel8-y: 362px;
$part-pannel8-offset-x: -100px;
$part-pannel8-offset-y: -362px;
$part-pannel8-width: 192px;
$part-pannel8-height: 84px;
$part-pannel8-total-width: 752px;
$part-pannel8-total-height: 640px;
$part-pannel8-image: '/images/spr/spr_part.png?180913099';
$part-pannel8: (100px, 362px, -100px, -362px, 192px, 84px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_pannel8', );
$part-pannel9-name: 'part_pannel9';
$part-pannel9-x: 292px;
$part-pannel9-y: 362px;
$part-pannel9-offset-x: -292px;
$part-pannel9-offset-y: -362px;
$part-pannel9-width: 224px;
$part-pannel9-height: 32px;
$part-pannel9-total-width: 752px;
$part-pannel9-total-height: 640px;
$part-pannel9-image: '/images/spr/spr_part.png?180913099';
$part-pannel9: (292px, 362px, -292px, -362px, 224px, 32px, 752px, 640px, '/images/spr/spr_part.png?180913099', 'part_pannel9', );
$spritesheet-width: 752px;
$spritesheet-height: 640px;
$spritesheet-image: '/images/spr/spr_part.png?180913099';
$spritesheet-sprites: ($part-frame1, $part-frame10, $part-frame11, $part-frame12, $part-frame13, $part-frame14, $part-frame15, $part-frame16, $part-frame17, $part-frame18, $part-frame19, $part-frame2, $part-frame20, $part-frame21, $part-frame22, $part-frame23, $part-frame3, $part-frame4, $part-frame5, $part-frame6, $part-frame7, $part-frame8, $part-frame9, $part-pannel1, $part-pannel10, $part-pannel11, $part-pannel12, $part-pannel13, $part-pannel14, $part-pannel2, $part-pannel3, $part-pannel4, $part-pannel5, $part-pannel6, $part-pannel7, $part-pannel8, $part-pannel9, );
$spritesheet: (752px, 640px, '/images/spr/spr_part.png?180913099', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
