// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$servicemenu-menu1-name: 'servicemenu_menu1';
$servicemenu-menu1-x: 0px;
$servicemenu-menu1-y: 50px;
$servicemenu-menu1-offset-x: 0px;
$servicemenu-menu1-offset-y: -50px;
$servicemenu-menu1-width: 48px;
$servicemenu-menu1-height: 42px;
$servicemenu-menu1-total-width: 94px;
$servicemenu-menu1-total-height: 92px;
$servicemenu-menu1-image: '/images/spr/spr_servicemenu.png?1812181755';
$servicemenu-menu1: (0px, 50px, 0px, -50px, 48px, 42px, 94px, 92px, '/images/spr/spr_servicemenu.png?1812181755', 'servicemenu_menu1', );
$servicemenu-menu2-name: 'servicemenu_menu2';
$servicemenu-menu2-x: 50px;
$servicemenu-menu2-y: 0px;
$servicemenu-menu2-offset-x: -50px;
$servicemenu-menu2-offset-y: 0px;
$servicemenu-menu2-width: 44px;
$servicemenu-menu2-height: 46px;
$servicemenu-menu2-total-width: 94px;
$servicemenu-menu2-total-height: 92px;
$servicemenu-menu2-image: '/images/spr/spr_servicemenu.png?1812181755';
$servicemenu-menu2: (50px, 0px, -50px, 0px, 44px, 46px, 94px, 92px, '/images/spr/spr_servicemenu.png?1812181755', 'servicemenu_menu2', );
$servicemenu-menu3-name: 'servicemenu_menu3';
$servicemenu-menu3-x: 48px;
$servicemenu-menu3-y: 50px;
$servicemenu-menu3-offset-x: -48px;
$servicemenu-menu3-offset-y: -50px;
$servicemenu-menu3-width: 44px;
$servicemenu-menu3-height: 42px;
$servicemenu-menu3-total-width: 94px;
$servicemenu-menu3-total-height: 92px;
$servicemenu-menu3-image: '/images/spr/spr_servicemenu.png?1812181755';
$servicemenu-menu3: (48px, 50px, -48px, -50px, 44px, 42px, 94px, 92px, '/images/spr/spr_servicemenu.png?1812181755', 'servicemenu_menu3', );
$servicemenu-menu4-name: 'servicemenu_menu4';
$servicemenu-menu4-x: 0px;
$servicemenu-menu4-y: 0px;
$servicemenu-menu4-offset-x: 0px;
$servicemenu-menu4-offset-y: 0px;
$servicemenu-menu4-width: 50px;
$servicemenu-menu4-height: 50px;
$servicemenu-menu4-total-width: 94px;
$servicemenu-menu4-total-height: 92px;
$servicemenu-menu4-image: '/images/spr/spr_servicemenu.png?1812181755';
$servicemenu-menu4: (0px, 0px, 0px, 0px, 50px, 50px, 94px, 92px, '/images/spr/spr_servicemenu.png?1812181755', 'servicemenu_menu4', );
$spritesheet-width: 94px;
$spritesheet-height: 92px;
$spritesheet-image: '/images/spr/spr_servicemenu.png?1812181755';
$spritesheet-sprites: ($servicemenu-menu1, $servicemenu-menu2, $servicemenu-menu3, $servicemenu-menu4, );
$spritesheet: (94px, 92px, '/images/spr/spr_servicemenu.png?1812181755', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
