/* guide - uilayer - base */
.uilayer {visibility:hidden;width:0;height:0;}
.uilayer .uilayer_wrap {position:absolute;left:-500%;top:0;z-index:9999;opacity:1;}
.uilayer.view {visibility:visible;width:auto;height:auto;z-index:10000;}
.uilayer.view .uilayer_wrap {width:auto;height:auto;left:50%;top:0;}
.uilayer.fixed {position:fixed;left:50%;top:50%;height:0;}
.uilayer.fixed .uilayer_wrap {position:static;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.uilayer_dimmed {position:fixed;top:0;right:0;left:0%;bottom:0;z-index:9998;width:0;height:0;background-color:rgba(0,0,0,0.7);opacity:0;
	-webkit-transform: translateZ(0);
}
.uilayer_dimmed.on {opacity:1;left:0;width:100%;height:100%;
	-webkit-transition:opacity 0.4s;
	transition:opacity 0.4s;
}
/* guide - uilayer - box */
.uilayer_box {width:260px;padding:20px;background:#fff;border-radius:10px;}
/* guide - uilayer - effect */
.uilayer_effect1 .uilayer_wrap>div {position:relative;opacity:0.1;
	-webkit-transform:translate(0,10%);
	-moz-transform:translate(0,10%);
	transform:translate(0,10%);
}
.uilayer_effect1.view .uilayer_wrap>div {opacity:1;
	-webkit-transition:all .2s ease;
	transition:all .2s ease;
	-webkit-transform:translate(0,0);
	-moz-transform:translate(0,0);
	transform:translate(0,0);
}
.uilayer_effect2 .uilayer_wrap>div {opacity:0;
	-ms-transform: scale(0.3);
	-webkit-transform: scale(0.3);
	transform: scale(0.3);
}
.uilayer_effect2.view .uilayer_wrap>div {opacity:1;
	-webkit-transition:all .2s ease;
	transition:all .2s ease;
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
/* guide - uilayer - type */
.uilayer_notice .uilayer_box {width:280px;padding:0;border-radius:0;}
.uilayer_notice a.img img {width:100%;}
/* guide - uilayer - 기본 요소 */
.uilayer .base_ttl {display:block;padding-bottom:15px;font-size:16px;color:#333;font-weight:bold;}
.uilayer .base_desc {line-height:1.4;font-size:14px;color:#666;}
.uilayer .base_btn {margin-top:27px;}
.uilayer .uilayer_x {position:absolute;right:0;top:0;width:54px;height:54px}
.uilayer .uilayer_x:before {content:'';display:inline-block;overflow:hidden;width:16px;height:16px;vertical-align:middle;background:url(/images/module/ico_layer_x.png?20180604) no-repeat 0 0;background-size:16px;}
.uilayer_btn {border-top:1px solid #e5e5e5;}
.uilayer_btn:after {content:'';display:block;clear:both;}
.uilayer_btn button {float:left;height:54px;line-height:55px;text-align:center;font-size:15px;color:#333;letter-spacing:-1px;border-left:1px solid #e5e5e5;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.uilayer_btn button:first-of-type {border-left:none;}
.uilayer_btn button:only-child {width:100%;}
.uilayer_btn .todayclose {width:65%;}
.uilayer_btn .close {width:35%;}
.uilayer_btn .close:only-child span {display:inline-block;position:relative;padding-left:16px;}
.uilayer_btn .close:only-child span:before {content:'';position:absolute;left:0;top:50%;width:14px;height:1px;background:#333;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.uilayer_btn .close:only-child span:after {content:'';position:absolute;left:0;top:50%;width:14px;height:1px;background:#333;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
