/* SLIDER BASE 2016.07.13 */
.itemSlideWrap > .itemArea > .itemRoll > .itemScene{position:absolute;left:0;top:0;z-index:-1}
.itemSlideWrap > .itemArea > .itemRoll > .itemScene:first-child{position:relative;z-index:1}
.itemSlideWrapAction{position:relative}
.itemSlideWrapAction > .itemArea{overflow:hidden;position:relative;z-index:1;width:100%}
.itemSlideWrapAction > .itemArea > .itemRoll{position:relative;left:0;top:0;
	backface-visibility:hidden;-webkit-backface-visibility:hidden;
}
.itemSlideWrapAction > .itemArea > .itemRoll > .itemScene{overflow:hidden;display:none;position:absolute !important;left:0;top:0;z-index:-1;width:100%;visibility:hidden;
	transform:translate3d(0, 0, 0);-webkit-transform:translate3d(0, 0, 0);
	backface-visibility:hidden;-webkit-backface-visibility:hidden;
}
.itemSlideWrapAction > .itemArea > .itemRoll > .itemScene.on{position:relative !important;}
.itemSlideWrapAction > .itemArea > .itemRoll > .itemScene.on,
.itemSlideWrapAction > .itemArea > .itemRoll > .itemScene.prev,
.itemSlideWrapAction > .itemArea > .itemRoll > .itemScene.next{display:block;z-index:10;visibility:visible}
.itemSlideWrapAction.sizeCheckWrap > .itemArea > .itemRoll > .itemScene .itemImg{display:block;position:absolute;left:0;top:50%;width:100%;height:100%}
.itemSlideWrapAction.sizeCheckWrap > .itemArea > .itemRoll > .itemScene .itemImg > span{display:block;
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	transform: translate(0,-50%);
	background:url(/images/module/loading.gif) no-repeat 50% 50%;background-size:77px;
}
.itemSlideWrapAction.sizeCheckWrap > .itemArea > .itemRoll > .itemScene .itemImg .img > a {opacity:0;
-webkit-transition:opacity .3s;
		transition:opacity .3s;
}
.itemSlideWrapAction.sizeCheckWrap > .itemArea > .itemRoll > .itemScene.loadingComplete .itemImg > span {background:none;}
.itemSlideWrapAction.sizeCheckWrap > .itemArea > .itemRoll > .itemScene.loadingComplete .itemImg .img > a {opacity:1;}
.itemSlideWrapAction.sizeCheckWrap > .itemArea > .itemRoll > .itemScene.loadingComplete .itemImg .img > a:before {display:block;content:'';position:absolute;left:0;top:-100px;right:0;bottom:-100px;z-index:-1;background:#000;}