@charset "euc-kr";
body,h1,h2,h3,h4,th,td,input,select,textarea,button{font-family:"맑은 고딕","Malgun Gothic","돋움",dotum,"Apple SD Gothic Neo",sans-serif}
/* common */
body.pr_proto_i01,
body.pr_proto_v01{background:#f6f6f7}

.wrp_header_pr{background:#fff;border-bottom:1px solid #d4d5d9}
.header_pr{width:1100px;margin:0 auto;padding:35px 0 16px;*zoom:1}
.header_pr:after{content:'';display:block;clear:both}
.header_pr .wrp_logo{float:left;padding-left:11px}
.header_pr .wrp_logo h1{float:left;overflow:hidden;width:107px;height:61px;background:url('/images/common/gnb/gnb_comm15.gif') no-repeat 0 -116px}
.header_pr .wrp_logo h2{float:left;overflow:hidden;width:183px;height:22px;margin:39px 0 0 15px;background:url('/images/pr/pr_proto_tit_ir.png?190417') no-repeat 0 0}
.header_pr .util{float:right;margin:46px 9px 0 0;color:#666;font-weight:bold}
.header_pr .util li{float:left;margin-left:4px}
.header_pr .util li:first-child{margin-left:0}
.header_pr .util li a{font-weight:normal;color:#666;text-decoration:underline}
.container_pr{padding-bottom:100px}
.content_pr{width:1100px;margin:26px auto 0}
.content_pr h3{overflow:hidden;height:14px;background:url('/images/pr/pr_proto_tit_ir.png?190417') no-repeat 0 0}
.content_pr h3.car_info{width:77px;background-position:0 -126px}
.content_pr h3.car_info.small{width:50px}
.wrp_tit{position:relative}
.wrp_tit .btn_change{position:absolute;right:0;top:-11px;width:109px;height:30px;background:url('/images/pr/pr_proto_btn_ir.png?190422') no-repeat -212px -110px}
.pr_btn{display:inline-block;overflow:hidden}
.uibody_header_simple.pr .footer .inner_go{width:1160px;height:56px}
.uibody_header_simple.pr .footer .go{float:left}
.uibody_header_simple.pr .footer .go li:first-child{padding-left:0}
.uibody_header_simple.pr .footer .append_go{float:right;padding-top:33px}
/* 로그인 */
.pr_login_i01{font-family:"맑은 고딕","Malgun Gothic","돋움",dotum,"Apple SD Gothic Neo",sans-serif}
.pr_login_i01.uibody_header_simple div.header ul.gnb li a{cursor:default}
.pr_login_i01.uibody_header_simple div.header ul.gnb li a:hover{color:#999}
.pr_login_i01 div.body{margin-bottom:0}
.uibody_header_simple div.header .logo_prcorp{width:52px;background:url(../image/logo_sub_pr.png) no-repeat 0 0;}
.pr_login_i01 .body .contents{display:table;margin:0 auto;min-height:580px;padding:20px 0}
.pr_login_i01 .login_wrap{display:table-cell;margin:0 auto;width:330px;vertical-align:middle}
.pr_login_i01 .login_wrap .uibtn[type=button]{margin:30px auto 0;width:180px}
.pr_login_i01 .login_wrap .txt_notice{margin-top:40px}
.pr_login_i01 .login_wrap .txt_notice .txt{font-size:12px;color:#999;letter-spacing:-1px;line-height:23px}
.pr_login_i01 .login_wrap .txt_notice .txt:first-child{margin-bottom:10px}
/* 정보입력 */
.pr_tbl1{width:100%;margin-top:10px;border:1px solid #c8c8c8}
.pr_tbl1 th{padding:16px 0 16px 25px;background:#fff;border-left:1px solid #eeeff0;border-bottom:1px solid #c8c8c8}
.pr_tbl1 th:first-child{border-left:0 none}
.pr_tbl1 th span{display:block;overflow:hidden;height:16px;background:url('/images/pr/pr_proto_tit_ir.png?190417') no-repeat 0 0}
.pr_tbl1 th span.model{width:28px;background-position:0 -100px}
.pr_tbl1 th span.accident{width:57px;background-position:-38px -100px}
.pr_tbl1 th span.distance{width:56px;background-position:-105px -100px}
.pr_tbl1 th span.color{width:29px;background-position:-171px -100px}
.pr_tbl1 th span.opts{width:28px;background-position:-210px -100px}
.pr_tbl1 td{padding:20px 0 20px 25px;background:#fafafa;border:0 none;border-left:1px solid #e2e2e2;color:#333;vertical-align:top}
.pr_tbl1 td:first-child{border-left:0 none}
.pr_tbl1 td>select,.pr_tbl1 td>span{display:block;margin-top:5px}
.pr_tbl1 td>span{height:30px;line-height:30px}
.pr_tbl1 td>select:first-child,.pr_tbl1 td>span:first-child{margin-top:0}
.pr_tbl1 td>select{width:169px;border:1px solid #c9c9c9}
.pr_tbl1 td>input{width:79px;height:38px;margin-top:-2px;border:1px solid #c9c9c9;border-radius:4px;text-align:right}
.pr_tbl1 .td_dist{padding-top:22px}
.pr_tbl1 td .uiselectbox{margin-top:4px}
.pr_tbl1 td .uiselectbox.change_pannel{margin-top:0}
.pr_tbl1 td .uiselectbox:first-child{margin-top:0}
.pr_tbl1 td .change_pannel{display:inline-block}
.pr_tbl1 td .change_pannel select{width:90px;margin-left:5px}
.pr_tbl1 .uiselectbox select{width:169px;border:1px solid #c9c9c9}
.btn_right{margin-top:10px;text-align:right}
.btn_right .btn_reset{width:74px;height:40px;background:url('/images/pr/pr_proto_btn_ir.png?190422') no-repeat 0 -60px}
.btn_right .btn_value{width:140px;height:40px;background:url('/images/pr/pr_proto_btn_ir.png?190422') no-repeat -84px -60px}
.btn_right .btn_con_reset{width:96px;height:30px;background:url('/images/pr/pr_proto_btn_ir.png?190422') no-repeat 0 -110px}
.btn_right .btn_filter{width:96px;height:30px;background:url('/images/pr/pr_proto_btn_ir.png?190422') no-repeat -106px -110px}
/* 결과 */
.wrp_result{width:1018px;margin-top:20px;padding:30px 40px 74px;background:#fff;border:1px solid #d4d5d9}
.wrp_result.none{padding:105px 40px 115px}
.wrp_result.none p.result_none{font-size:16px;text-align:center}
.wrp_graph{*zoom:1}
.wrp_graph:after{content:'';display:block;clear:both}
.value_list{float:left;width:300px;padding:39px 0 0 64px}
.value_list li{margin-bottom:8px;*zoom:1}
.value_list li:first-child{margin-bottom:28px}
.value_list li:after{content:'';display:block;clear:both}
.value_list li .lbl{float:left;width:148px;font-size:16px;font-weight:bold;color:#333}
.value_list li:first-child .lbl{font-size:26px}
.value_list li .value{float:left;font-size:16px;font-weight:bold;color:#878787}
.value_list li:first-child .value{font-size:26px;color:#cc001e}
.result_graph{float:right;width:480px;height:200px;margin-right:70px}
.pr_tbl2{width:100%;margin-top:25px;border:0 none}
.pr_tbl2.pop{margin-top:10px}
.pr_tbl2 thead th{background:#959595;border:1px solid #959595;font-size:11px;color:#fff;text-align:center}
.pr_tbl2 tbody th,.pr_tbl2 td{height:38px;background:#f2f2f2;border-right:1px solid #cecece;border-bottom:1px solid #cecece;color:#252525;text-align:center}
.pr_tbl2.pop tbody th,.pr_tbl2.pop td{background:#fff}
.pr_tbl2 tbody th{border-left:1px solid #cecece}
.pr_tbl2 tr.top th{border-bottom:1px solid #cc001e}
.pr_tbl2 tr.top td{border-bottom:1px solid #cc001e}
.pr_tbl2 tr.max th{border-left:1px solid #cc001e}
.pr_tbl2 tr.max td.etc{border-right:1px solid #cc001e}
.pr_tbl2 tr.min th{border-left:1px solid #cc001e;border-bottom:1px solid #cc001e}
.pr_tbl2 tr.min td{border-bottom:1px solid #cc001e}
.pr_tbl2 tr.min td.etc{border-right:1px solid #cc001e}
.pr_tbl2 tr.on th{background:#fff;border-left:1px solid #cc001e}
.pr_tbl2 tr.on td{background:#fff}
.pr_tbl2 tr.on td.etc{border-right:1px solid #cc001e}
.pr_tbl2 tr.active th{background:#fff8f9;border-left:1px solid #cc001e;color:#cc001e}
.pr_tbl2 tr.active td{background:#fff8f9;color:#cc001e}
.pr_tbl2 tr.active td.etc{border-right:1px solid #cc001e}
.pr_tbl2.pop tr.active th{border-left:1px solid #cecece}
.pr_tbl2.pop tr.active td.etc{border-right:1px solid #cecece}
.pr_tbl2.pop td.none{border-left:1px solid #cecece;padding:90px 0 95px;font-size:16px}
.btn_center{margin-top:34px;text-align:center}
.btn_center a{width:210px;height:40px;background:url('/images/pr/pr_proto_btn_ir.png?190422') no-repeat 0 0}
.btn_center a.btn_more{background-position:0 -150px}
.btn_center a.btn_reset{background-position:0 -200px}
/* 더보기 */
.wrp_pr{width:1019px;margin:0 auto;padding-bottom:50px}
h3.pr_h3_filter{height:auto;line-height:1.5em;font-size:12px;color:#cc001e}
.wrp_filter{margin-top:10px;padding:15px 20px;border:1px solid #c8c8c8}
.wrp_filter .condition{margin-top:14px;padding-top:5px;border-top:1px solid #e9e9e9;*zoom:1}
.wrp_filter .condition:first-child{margin-top:0;padding-top:0;border:0 none}
.wrp_filter .condition:after{content:'';display:block;clear:both}
.wrp_filter .condition .lbl{float:left;width:77px;margin-top:9px;font-size:11px;font-weight:bold;color:#333}
.wrp_filter .condition .wrp_radio{float:left;width:900px}
.wrp_filter .condition .wrp_radio span{float:left;width:106px;margin-top:9px;font-size:11px;letter-spacing:-1px}
.align_util{margin-top:9px;*zoom:1}
.align_util:after{content:'';display:block;clear:both}
.align_util li{float:left;margin-left:4px;padding-left:7px;background:url('/images/common/icon/bar_1pxh10_gray.gif') no-repeat left center}
.align_util li:first-child{margin-left:0;padding-left:0;background:none}
.align_util li a{font-size:11px;color:#757575}
.align_util li a.on{font-weight:bold;color:#333}
.list_pr{width:736px;margin:64px auto 0;padding-bottom:16px}
.list_pr:after{content:'';display:block;clear:both}
.list_pr li{float:left;width:120px;text-align:center}
.list_pr .pr_good{width:496px}
.list_pr li .tit_pr{display:block;padding-bottom:15px;font-size:21px}
.list_pr .pr_good .tit_pr{padding-bottom:5px}
.list_pr li .txt_pr{font-size:21px}
.list_pr .pr_good .txt_pr{font-size:36px;color:#cc0000}
/* 홈 */
.pr_home_v01.uibody_header_simple .body{width:100%;margin-bottom:0}
.pr_home_v01 .body .contents{padding-bottom:0;height:564px}
.pr_home_wrap{overflow:hidden;height:100%}
.pr_home_wrap .menu_wrap{display:table;float:left;width:50%;height:100%}
.pr_home_wrap .menu_box{display:table-cell;text-align:center;background-repeat:no-repeat;background-size:cover;background-position:50% 50%;vertical-align:middle}
.pr_home_wrap .menu_box.buy{background-image:url("/images/pr/bg_pr_buy.png")}
.pr_home_wrap .menu_box.sell{background-image:url("/images/pr/bg_pr_sell.png")}
.pr_home_wrap .menu_box .tit_menu{margin-bottom:15px;font-size:56px;letter-spacing:-0.5px;line-height:67px;color:#fff}
.pr_home_wrap .menu_box .tit_sub{font-size:16px;letter-spacing:-0.5px;line-height:26px;color:#fff}
.pr_home_wrap .menu_box .uibtn{width:200px;margin:50px auto 0}
/* 정보입력 */
.prpc_carinfo_i01 .body{margin:0 auto}
.prpc_carinfo_i01 .body .contents{padding-bottom:0}
.prsl_carinfo_i01 .body{margin:0 auto}
.prsl_carinfo_i01 .body .contents{padding-bottom:0}
.carinfo_input_wrap{width:330px;margin:0 auto;padding:40px 0 60px}
.carinfo_input_wrap .uiselectbox{margin-top:20px}
.carinfo_input_wrap .uiselectbox:first-child{margin-top:0}
.carinfo_input_wrap .uiinput_text{margin-top:20px}
.carinfo_input_wrap .uiinput_text .uiinput_textbox{position:relative}
.carinfo_input_wrap .uiinput_text .inputtxt{width:297px}
.carinfo_input_wrap .uiinput_text .uiinput_textbox .standard{float:none;position:absolute;right:0}
.carinfo_input_wrap .tit_label{display:block;color:#666;padding-bottom:8px;margin-top:20px;font-weight:normal}
.carinfo_input_wrap .radio_wrap{overflow:hidden;width:100%}
.carinfo_input_wrap .radio_wrap .uiinput{overflow:hidden;float:left}
.carinfo_input_wrap .checkbox_wrap .uiinput{overflow:hidden;float:left;margin-left:2px}
.carinfo_input_wrap .checkbox_wrap .uiinput:first-child{margin-left:0}
.carinfo_input_wrap .btn_wrap{margin-top:40px}
.check_accident_wrap{position:relative;padding-right:60px}
.check_accident_wrap .uiselectbox{position:absolute;top:0;right:0;width:80px}
.check_accident_wrap .uiselectbox select{width:100%}
.check_accident_wrap input:optional + label{padding-left:24px}
.check_accident_wrap .noti_error{padding-top:5px;line-height:19px;color:#ff2626}
.check_option_wrap .checkbox_wrap{overflow:hidden;width:100%}
/* 결과 */
.marketprcice_wrap{padding:40px 0 60px 0}
.marketprcice_wrap .car_name{font-size:20px;line-height:27px;color:#353535;font-weight:normal;letter-spacing:-1px}
.marketprcice_wrap .uibtn{width:220px;margin:40px auto 0}
.marketprcice_wrap .car_information{overflow:hidden;margin:10px 0 20px}
.marketprcice_wrap .car_information li{float:left;margin-left:10px;font-size:14px;color:#666;line-height:18px}
.marketprcice_wrap .car_information li:first-child{margin-left:0}
.marketprcice_wrap .car_information .bar{display:inline-block;width:1px;height:12px;margin-left:10px;background:#E6E6E6;vertical-align:middle}
.marketprcice_wrap .marketprcice_view{display:table;width:100%;height:300px;background:#FAFAFA;border:1px solid #F5F5F5}
.marketprcice_wrap .marketprcice_view .result_price{display:table-cell;width:734px;margin:0 auto;padding:0 123px;vertical-align:middle}
.marketprcice_wrap .marketprcice_view .result_price .price_wrap{position:relative;width:100%;height:72px}
.marketprcice_wrap .marketprcice_view .result_price .list_price{position:relative;text-align:center;letter-spacing:-1px;background:#FAFAFA;z-index:10}
.marketprcice_wrap .marketprcice_view .result_price .list_price dt{font-size:20px;line-height:27px}
.marketprcice_wrap .marketprcice_view .result_price .list_price dd{margin-top:16px;font-size:22px;line-height:29px}
.marketprcice_wrap .marketprcice_view .result_price .average dd{color:#FF2626;font-size:40px}
.marketprcice_wrap .marketprcice_view .result_price .min{float:left;padding-right:40px}
.marketprcice_wrap .marketprcice_view .result_price .average{position:absolute;left:50%;margin-left:-126px;padding:0 40px;width:172px}
.marketprcice_wrap .marketprcice_view .result_price .max{float:right;padding-left:40px}
.marketprcice_wrap .marketprcice_view .result_price .bar{position:absolute;top:50%;left:0;width:100%;height:1px;background:#DBDBDB}
.marketprcice_wrap .marketprcice_view .result_price .noti_limit{margin-top:54px;font-size:22px;text-align:center;letter-spacing:-1px}
.marketprcice_wrap .marketprcice_view .result_price .noti_limit strong{color:#FF2626;font-weight:normal}
.marketprcice_wrap .marketprcice_view .result_no{padding:135px 0;text-align:center;font-size:22px;line-height:29px;color:#999;letter-spacing:-1px}
.marketprcice_wrap .car_sale_view{display:table;position:relative;width:100%;height:160px;;margin-top:20px;background:#FAFAFA;border:1px solid #F5F5F5;letter-spacing:-1px}
.marketprcice_wrap .car_sale_view .img_sale{position:absolute;left:20px;top:20px;width:160px;height:120px}
.marketprcice_wrap .car_sale_view .car_sale{display:table-cell;margin-left:30px;padding-left:210px;color:#666;vertical-align:middle}
.marketprcice_wrap .car_sale_view .noti_sale{margin-bottom:10px;font-size:18px;line-height:24px}
.marketprcice_wrap .car_sale_view .price_sale{font-size:16px;line-height:23px}
.marketprcice_wrap .car_sale_view .price_sale strong{display:inline-block;margin-left:10px;color:#FF2626}
/* 차량 검색 */
.prpc_search_i01 .contents,.prsl_search_i01 .contents{display:table;margin:0 auto}
.prsch_input_wrap{display:table-cell;width:400px;height:100%;margin:0 auto;vertical-align:middle}
.prsch_input_wrap .num_input_box{position:relative;transition:0.2s;top:0}
.prsch_input_wrap .num_input_box .tit_noti{font-size:20px;font-weight:normal;color:#353535;line-height:26px;letter-spacing:-1px;text-align:center}
.sch_latest_wrap{padding:20px 0}
.sch_latest_wrap .uiinput_textbox{position:relative}
.prsch_input_wrap .num_input_box .uiinput_opt .inputtxt{width:314px}
.prsch_input_wrap .num_input_box .btn_action{width:86px;text-align:center}
.prsch_input_wrap .num_input_box .link_sc_num{display:block;font-size:14px;color:#999;text-decoration:underline;text-align:left}
.prsch_input_wrap .num_input_box .latest_box{display:none;position:absolute;top:50px;left:0;width:100%;padding:15px 0;border-radius:4px;border:1px solid #D9D9D9;background-color:#fff;-webkit-box-sizing:border-box;box-sizing:border-box;text-align:left}
.prsch_input_wrap .num_input_box .latest_box.open{display:block}
.prsch_input_wrap .num_input_box .latest_box li{height:30px;line-height:30px;font-size:14px;letter-spacing:-0.5px}
.prsch_input_wrap .num_input_box .latest_box li a{display:block;padding:0 20px}
.prsch_input_wrap .num_input_box .latest_box li a:hover{color:#333;background-color:#FAFAFA}