@charset 'utf-8';
/* Native AD detail */
body.da #container{
	padding: 0;
	background: #ededed;
}
.da .backType_header .subject{position:relative;font-size:18px;}
.da .mencar_ad{width:100%;height:100%;max-width:640px;;max-height:200px;margin:6px 0 0 !important;border-top:1px solid #e2e2e2 !important;border-bottom:1px solid #e2e2e2 !important;margin:0 auto}
.da .mencar_ad a{display:block;}
.da .mencar_ad img{display:block;width:100%;max-width:640px;max-height:200px;vertical-align: top;margin:0 auto}
.da .iss_list li .thmn_wrp{border:none;}
.da .backType_header .btnShare{right:0px}
.da .backType_header .btnLike{display:none;}

.da_cardetailWrap {position:relative;padding-bottom:60px;}
.da_cardetailWrap .area_carInfo {background:#fff;}
.da_cardetailWrap .area_carInfo .thisisnew {padding:5px 0 5px 10px;font-size:10px;color:#4a4a4a;background:#f7f7f7;}
.da_cardetailWrap .area_carInfo .thisisnew span {display:inline-block;padding:0 7px; line-height:12px;font-size:9px;color:#9b9b9b;border-radius:7px;border:1px solid #9b9b9b;}
.da_cardetailWrap .area_carInfo .carPic {position:relative;}
.da_cardetailWrap .area_carInfo .carPic .loadingComplete .carimg {background:none;}
.da_cardetailWrap .area_carInfo .carPic span.ass{position: absolute;width:34px;height:47px;top: 0px;left:auto;right:15px;display: block;line-height: 5000px;overflow:hidden;z-index:10;background:url('/images/mg/native/icon_newcar.png') no-repeat 0 0; background-size:100% 100%;}
.da_cardetailWrap .area_carInfo .carPic .sponsorDetailImage > .showNumber {overflow:hidden;position:absolute;left:11px;bottom:43px;z-index:100;width:35px;height:16px;line-height:17px;text-align:center;font-size:11px;color:#fff;-webkit-border-radius:8px;border-radius:8px;}
.da_cardetailWrap .area_carInfo .carPic .sponsorDetailImage > .showNumber strong,
.da_cardetailWrap .area_carInfo .carPic .sponsorDetailImage > .showNumber span {position:relative;font-weight:normal !important;}
.da_cardetailWrap .area_carInfo .carPic .sponsorDetailImage > .showNumber span:before {display:inline-block;content:'/';}
.da_cardetailWrap .area_carInfo .carPic .sponsorDetailImage > .showNumber:before {display:block;content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-border-radius:8px;border-radius:8px;}
.da_cardetailWrap .area_carInfo .carPic span.carimg {position:relative;display:block;background:url('/images/common/gif_loading.gif') no-repeat 50% 50%;}
.da_cardetailWrap .area_carInfo .carPic span.carimg img {display:block;width:100%;}
.da_cardetailWrap .area_carInfo .carPic span.carimg p.msg_compensation {position:absolute;left:0;right:0;top:0;bottom:0;width:100%;height:100%;}
.da_cardetailWrap .area_carInfo .carPic span.carimg p.msg_compensation span {display:block;position:absolute;left:0;top:50%;z-index:1;width:100%;margin-top:-16px;line-height:16px;text-align:center;font-size:13px;color:#fff;opacity:0.8;}
.da_cardetailWrap .area_carInfo .carPic span.carimg p.msg_compensation:before {display:block;content:'';position:absolute;left:0;right:0;top:0;bottom:0;width:100%;height:100%;background:#000;opacity:0.8;}
.da_cardetailWrap .area_carInfo .carPic p.cartext {display:block;min-height:16px;padding:6px 5px;text-align:center;line-height:20px;background:#4a4a4a;}
.da_cardetailWrap .area_carInfo .carPic p.cartext strong {display:block;overflow:hidden;max-height:32px;font-size:12px;color:#fff;font-weight:normal !important;}
.da_cardetailWrap .area_carInfo .first {position:relative;padding:24px 10px 20px;text-align: center;}
.da_cardetailWrap .area_carInfo .first .name {line-height:20px;text-align:center;font-size:20px;color:#333;font-weight:normal;}
.da_cardetailWrap .area_carInfo .first .info {margin-top:5px;line-height:20px;font-size:14px;color:#9b9b9b;}
.da_cardetailWrap .area_carInfo .first .price {margin-top:5px;text-align:center;line-height:20px;font-size:18px;color:#d0021b;}
.da_cardetailWrap .area_carInfo .first .new_benefit {position:relative;margin:33px 0 20px;padding:19px 0 18px;text-align:left;font-size:14px;line-height:16px;border:1px solid #c0c0c0;}
.da_cardetailWrap .area_carInfo .first .new_benefit span{position:absolute;top:-10px;left:50%;width:72px;height:18px;margin-left:-36px;text-align:center;line-height:18px;font-size:10px;color:#fff;background:#4a4a4a;border-radius:10px;}
.da_cardetailWrap .area_carInfo .first .new_benefit ul{margin:0 10px}
.da_cardetailWrap .area_carInfo .first .new_benefit li{position:relative;padding-left:6px;color:#4a4a4a;line-height:20px;}
.da_cardetailWrap .area_carInfo .first .new_benefit li:before{display: inline-block;  content: '';  position: absolute;  top:8px;  left:0;  width: 2px;  height: 2px;  background: #4a4a4a;  -webkit-border-radius: 2px;  border-radius: 2px;}
/*
.da_cardetailWrap .area_carInfo .first .chk_insurance {text-align:center;}
.da_cardetailWrap .area_carInfo .first .chk_insurance a {display:inline-block;position:relative;padding-right:10px;text-decoration:underline;font-size:14px;color:#4a90e2;}
.da_cardetailWrap .area_carInfo .first .chk_insurance a:before {content:'';display:block;position:absolute;right:0;top:5px;width:0;height:0;border-top:7px solid #4a90e2;border-left:7px solid transparent;-webkit-transform:rotate(45deg);}
.da_cardetailWrap .area_carInfo .first .chk_insurance a:after {content:'';display:block;position:absolute;right:2px;top:5px;width:0;height:0;border-top:7px solid #fff;border-left:7px solid transparent;-webkit-transform:rotate(45deg);}
*/
.da_cardetailWrap .area_carInfo .first .adinad {margin-top:22px;}
.da_cardetailWrap .area_service {position:relative;background:#fff;}
.da_cardetailWrap .service_da {margin-top:10px;}
.da_cardetailWrap .service_da .btn {position:relative;margin:2px 0 0 -4px;text-align:center;}
.da_cardetailWrap .service_da .btn:after {display:block;content:'';clear:both;}
.da_cardetailWrap .service_da .btn span {float:left;width:33.3%;padding-left:4px;
-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
		box-sizing:border-box;
}
.da_cardetailWrap .service_da .btn a b {height:35px;line-height:35px;font-size:12px;}
.da_cardetailWrap .servie_icon{position: absolute;width: 34px;height: 47px;top:0px;right:15px;display:none;line-height: 5000px;overflow:hidden;z-index:10;background:url('/images/mg/native/icon_new_promotion.png') no-repeat 0 0; background-size:100% 100%;}
.da_cardetailWrap .service_carchecked {padding:0 0}
.da_cardetailWrap .service_carchecked .con:after {display:block;content:'';position:absolute;left:-18px;top:-10px;width:49px;height:49px;background-position:-210px 0;}

.da .da_cardetailWrap .service_carchecked .con {position:relative;padding:0 10px 13px;min-height:auto}
.da .da_cardetailWrap .service_carchecked .con:after{display:none;}
.da .da_cardetailWrap .area_connect .connect_design a.promotion_btn{background-color: #ce0d0d;border-color: #ce0d0d;color: #fff;}
.da .da_cardetailWrap .area_connect .connect_design a:before{display:none !important;}
.da_cardetailWrap .service_carchecked .con .ttl {display:block;padding-bottom:8px;font-size:16px;color:#4a4a4a;font-weight:normal;letter-spacing: 0 !important;}
.da_cardetailWrap .service_carchecked .con .text p {display:block;overflow:hidden;padding-right:10px;margin-bottom:3px;line-height:16px;font-size:13px;color:#5c5c5c;text-overflow:initial;white-space:initial;}
.da_cardetailWrap .service_carchecked .con .text p:before{display: inline-block;  content: '';  position: relative;  top: -5px;  left: -2px;  width: 2px;  height: 2px;  margin: 0 2px;  background: #4a4a4a;  -webkit-border-radius: 2px;  border-radius: 2px;}
.da_cardetailWrap .service_carchecked .con .text p strong {font-weight:normal !important;}
.da_cardetailWrap .service_carchecked .con .text p a{color:#4a4a4a;}
.da_cardetailWrap .area_connect {position:fixed;left:0;bottom:0;z-index:1000;width:100%;
	transform:translate3d(0, 100px, 0);
	-webkit-transform:translate3d(0, 100px, 0);
}
.da_cardetailWrap .area_connect.active {
	transform:translate3d(0, 0, 0);
	-webkit-transform:translate3d(0, 0, 0);
}

.da_cardetailWrap .area_connect .connect_design {padding:10px 6px;box-shadow:0 -1px 2px 0 #9b9b9b;background-color:#fff;
-webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
		box-sizing:border-box;
}
.da_cardetailWrap .area_connect .connect_design:after {display:block;content:'';clear:both;}
.da_cardetailWrap .area_connect .connect_design .se {width:100%;}
.da_cardetailWrap .area_connect .connect_design a {display:block;height:40px;margin:0 3px;line-height:38px;text-align:center;font-size:14px;border:1px solid #c0c1c2;
-webkit-border-radius:2px;
		border-radius:2px;
-webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
		box-sizing:border-box;
}
.da_cardetailWrap .area_connect .connect_design a.tel {border-color:#eaeaea;background-color:#fff;}
.da_cardetailWrap .area_connect .connect_design a.chat {color:#fff;border-color:#ce0d0d;background-color:#ce0d0d;}
.item_tit span{display:block;margin-top:25px;text-align:center;color:#000;font-size:18px;}
.trim_detail{margin-top:6px;background:#fff;border-top:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;}

.da .da_cardetailWrap .area_car_info{padding:17px 10px;background:#fff url(/images/mg/bg_native_line.png) repeat-x 0 top;}
.da .da_cardetailWrap .area_car_info li{overflow:hidden;font-size:12px;line-height:24px;}
.da .da_cardetailWrap .area_car_info li strong{display:block;float: left;font-size:12px;font-weight: normal !important;color:#9b9b9b;}
.da .da_cardetailWrap .area_car_info li span{display:block;float: right;font-size: 14px;color:#4a4a4a;}
.da .da_cardetailWrap .area_car_info .different {margin:12px -10px -17px;padding:7px 10px;line-height:2;font-size:12px;color:#9b9b9b;border-top:1px solid #ededed;}

.dealer_sns{background:#ededed;padding:10px;}
.dealer_sns img{width:100%;vertical-align:top;}
.de_sns_link{padding:1px 14px 23px 14px;background:#fff;}
.de_sns_link li:first-child a{margin-bottom:6px;background:#fff;color:#4a4a4a;}
.de_sns_link li a{display:block;width:100%;height:44px;line-height:44px;font-size:16px;text-align:center;border:1px solid #e2e2e2;background:#4a4a4a;color:#fff;}
.de_sns_link li.go a{background:#4a4a4a;color:#fff;}
.de_sns_link li:last-of-type a {margin-bottom:0;}

.car_movie {background:#fff;}
.car_movie h2 {padding:22px 0 10px 10px;line-height:21px;font-size:16px;font-weight:normal;}
.car_movie .movie {overflow:hidden;position:relative;height:0;padding-top:66%;}
.car_movie .movie iframe {position:absolute;left:0;top:0;width:100%;height:100%;}

.car_imginfo{background:#fff;}
.car_imginfo h2{padding:22px 0 10px 10px;line-height:21px;font-size:16px;font-weight:normal;}
.car_imginfo .car_imglist {}
.car_imginfo .car_imglist img {width:100% !important;height:auto !important;}
.car_imginfo .car_imglist ul {}
.car_imginfo .car_imglist ul li {margin-top:20px;}
.car_imginfo .car_imglist ul li:first-of-type {margin-top:0;}
.car_imginfo .car_imglist ul li a {display:block;}
.car_imginfo .car_imglist ul li p {margin:10px 10px 0;line-height:1.5;font-size:14px;color:#4a4a4a;}

.car_news_info{background:#fff;}
.car_news_info h2{padding:22px 0 10px 10px;line-height:21px;font-size:16px;font-weight:normal;}
.car_news_info .car_newList {}
.car_news_info .car_newList .itemRoll {width:88%;max-width:280px;margin:0 auto;}
.car_news_info .car_newList .itemRoll .itemScene {line-height:1;}
.car_news_info .car_newList .itemRoll .itemScene a {display:block;overflow:hidden;position:relative;margin:0 2px;}
.car_news_info .car_newList .itemRoll .itemScene a:after {content:'';display:block;position:absolute;left:0;bottom:0;width:100%;height:65px;opacity:0.66;background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.0), #000000 63%);}
.car_news_info .car_newList .itemRoll .itemScene img {width:100%;}
.car_news_info .car_newList .itemRoll .itemScene .t {display:-webkit-box;overflow:hidden;position:absolute;left:0;bottom:8px;width:100%;max-height:40px;padding:0 8px;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;line-height:20px;font-size:14px;color:#fff;z-index:1;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.car_news_info .car_newList .showNumber {position:absolute;right:10px;top:-28px;line-height:16px;font-size:12px;color:#9b9b9b;}
.car_news_info .car_newList .showNumber strong {font-weight:normal !important;}
.car_news_info .car_newList .showNumber span:before {content:'/';display:inline-block;}
.car_news_info .car_newList2 ul {padding:0 10px;}
.car_news_info .car_newList2 ul li {margin-top:15px;}
.car_news_info .car_newList2 ul li:first-of-type {margin-top:0;}
.car_news_info .car_newList2 ul li a {display:block;}
.car_news_info .car_newList2 ul li img {width:100%;}
.car_news_info .car_newList2 ul li .txt {margin-top:10px;}
.car_news_info .car_newList2 ul li .txt strong {display:block;line-height:1.4;font-size:16px;font-weight:normal;color:#000;}
.car_news_info .car_newList2 ul li .txt .date {margin-top:4px;font-size:11px;color:#9b9b9b;}

.car_guide {padding:22px 10px 16px;background:#fff;}
.car_guide a {display:block;position:relative;padding-left:10px;line-height:40px;font-size:14px;color:#fff;background:#4a4a4a;}
.car_guide a:before {content:'';display:block;position:absolute;right:10px;top:50%;margin-top:-5px;border-top:10px solid #fff;border-left:10px solid transparent;transform:rotate(45deg);}
.car_guide a:after {content:'';display:block;position:absolute;right:11px;top:50%;margin-top:-5px;border-top:10px solid #4a4a4a;border-left:10px solid transparent;transform:rotate(45deg);}

body.da .iss_list li .thmn_area .tit{display:block; margin:12px 24px 0 0;line-height:1.4;font-size:16px;color:#000;}
body.da .iss_list li .date_wrp{margin:4px 12px 16px 0}
body.da .iss_list li .date_wrp .data {font-size:11px;color:#9b9b9b;}

body.da.da_ad_request #container{}
.native_notice{}
.native_notice img{display:block;width: 100%;}
.trial_apply{padding:10px 10px 100px;background:#fff;}
.trial_apply .apply_form .line{margin-top:10px}
.trial_apply .cmm_input_type1{height:40px;font-size:14px;color:#4a4a4a;border:1px solid #c0c0c0;border-radius:0;}
.trial_apply .apply_form .line.textbox{border:1px solid #c0c0c0;color:#4a4a4a;}
.trial_apply .apply_form .line.textbox textarea{display:block;width:100%;height:118px;padding:10px 0 0 0;margin:0;text-indent:5px;font-size:15px;line-height:15px;border:none;}
.trial_apply .cmm_sel_type1{border:1px solid #c0c0c0;border-radius:0;color:#4a4a4a}
.trial_apply .cmm_sel_type1 select{height:40px;text-indent:10px;color:#4a4a4a}
.trial_apply .cmm_sel_type1:after{background:#c0c0c0;}

.trial_apply .cmm_input_type1::-webkit-input-placeholder { /* 크롬 */
   color: #4a4a4a;
}
.trial_apply .cmm_input_type1:-moz-placeholder { /* 파이어폭스 */
   color: #4a4a4a;
   opacity:  1;
}
.trial_apply .cmm_input_type1::-moz-placeholder { /* 파이어폭스 */
   color: #4a4a4a;
   opacity:  1;
}
.trial_apply .cmm_input_type1:-ms-input-placeholder { /* 인터넷 익스플로러 */
   color: #4a4a4a;
}
.trial_apply .cmm_input_type1::placeholder {
   color: #4a4a4a;
   opacity:  1;
}


.trial_apply div.text_chk .box_group {}
.trial_apply div.text_chk .box_group .rule_tip {margin-top:10px;line-height:1.4;font-size:12px;color:#666;}
.trial_apply div.text_chk .box_group .box_unit {margin-top:15px;border:1px solid #e2e2e2}
.trial_apply div.text_chk .box_group .box_unit .label_chk {padding:13px 10px;border-top:1px solid #e8e8e8;background:#f5f5f5;}
.trial_apply div.text_chk .box_group .box_unit .label_chk label {display:inline-block;font-size:14px;color:#999;}
.trial_apply div.text_chk .box_area {overflow:hidden;position:relative;padding:10px 10px 10px 20px;font-size:12px;}
.trial_apply div.text_chk .box_area .con dt{margin-bottom:5px;font-weight:bold}
.trial_apply div.text_chk .box_area .con dd{margin-bottom:5px;}
.trial_apply div.text_chk .box_area .con dd.notice{margin-top:20px;}
.trial_apply div.text_chk .box_area .con dd strong{font-weight:normal !important;}
.trial_apply div.text_chk .box_area .con dd p{margin:3px 0 0 0;}
.trial_apply input[type=checkbox]+label:after{content:"";display:block;position:absolute;left:0;top:50%;margin-top:-9px;width:18px;height:18px;background:url('/images/common/bg_form_check_2.png') no-repeat left top;background-size:18px;}
.trial_apply input[type=radio]:checked+label:after,
input[type=checkbox]:checked+label:after{background-position:0 -36px;}
.trial_apply input[type=radio]:disabled+label:after,
input[type=checkbox]:disabled+label:after{background-position:0 -72px;}
.trial_apply input[type=radio]:checked:disabled+label:after,
input[type=checkbox]:checked:disabled+label:after{background-position:0 -108px;}

.trial_apply .cmm_btn_red2 .func_close{background:#c0c0c0;}
.trial_apply .cmm_btn_red2.on .func_close{background:#e92828}


/*flipsnap*/
.flipsnapWrap {position:relative;overflow:hidden;width:100%;}
.flipsnap_inner {overflow:hidden;border:1px solid #d0d0d0;background:#fff;}
.flipsnap:after {content: '';display:block;clear:both;height:0;}
.flipsnap .item {position:relative;float:left;width:100%;}
.flipsnap .item {display:none;}
.flipsnap .item:first-child {display:block;}
.flipsnap.flipsnapComplete .item {display:block;}
.flipsnap img {width:80%;display:block;margin:0 auto;}
.flipsnapWrap .pointer {position:absolute;bottom:15px;left:50%;width:150px;margin-left:-75px;text-align:center;}
.flipsnapWrap .pointer span {display:inline-block;overflow:hidden;width:8px;height:8px;margin:0 3px;text-indent:-5000em;border-radius:8px;border:1px solid #666;background:#fff;}
.flipsnapWrap .pointer span.current {background:#666;}
.flipsnapWrap .item_box{width:90%;padding:27px 0 50px 0;margin:0 auto;background:#fff;}
.flipsnapWrap .trim_img{width:100%;padding:0 0 160px 0;background:url('/images/mg/native/jeep/bg_jeep.png') no-repeat center 30px;background-size:291.5px 135px;}
.flipsnapWrap .trim_img.lexus{background:url('/images/mg/native/lexus/bg_lexus.png') no-repeat center 30px;background-size:291.5px 135px;}
.flipsnapWrap .trim_img.chevrolet{background:url('/images/mg/native/chevrolet/bg_chevrolet.png') no-repeat center 30px;background-size:291.5px 135px;}
.flipsnapWrap .trim_img.jaguar{background:url('/images/mg/native/jaguar/bg_jaguar.png') no-repeat center 30px;background-size:291.5px 135px;}
.flipsnapWrap .trim_img.nissan{background:url('/images/mg/native/nissan/bg_nissan.png') no-repeat center 30px;background-size:291.5px 135px;}
.flipsnapWrap .trim_img span{display:block;padding:0 16px;text-align:center;font-size:16px;}
.flipsnapWrap .trim_data{padding:30px 0;margin-top:-40px;border:1px solid #e4e4e4;background:rgba(243,242,244,0.9);}
.flipsnapWrap .trim_data li{overflow:hidden;margin-top:5px;padding:0 16px;font-size:13px;}
.flipsnapWrap .trim_data li strong{float:left;color:#a3a3a3;}
.flipsnapWrap .trim_data li span{float:right;color:#4a4a4a;}
.flipsnapWrap .trim_data li em{display:inline-block;width:18px;height:10px;padding-left:2px;border:1px solid #bababb;}
.flipsnapWrap .trim_data li a{color:#4a90e2}
.flipsnapWrap .paging_btn{display:none;}

.flipsnapWrap.lexus .item_box{padding:27px 0 27px 0}
.flipsnapWrap.lexus .pointer{display:none;}
.flipsnapWrap.chevrolet .item_box{padding:27px 0 27px 0}
.flipsnapWrap.chevrolet .pointer{display:none;}
.flipsnapWrap.jeep .item_box{padding:27px 0 27px 0}
.flipsnapWrap.jeep .pointer{display:none;}

.flipsnapWrap.nat_news{overflow:visible}
.flipsnapWrap.nat_news .thumbnail {text-align:center;}
.flipsnapWrap.nat_news img {width:100%;height:auto;opacity: 0.5}
.flipsnapWrap.nat_news .item.current img {opacity: 1;}
.flipsnapWrap.nat_news .thmn_wrp {border:none;background:#fff;}
.flipsnapWrap.nat_news .thmn_area{padding:0 5px;}
.flipsnapWrap.nat_news .thmn_area .thumbnail {display:block;position:relative;width:100%;}
.flipsnapWrap.nat_news .thmn_area .thumbnail img {max-width:100%;}
.flipsnapWrap.nat_news .thmn_area .thumbnail .ico_vdo {position:absolute;left:10px;bottom:10px;width:24px;height:24px;background:url('/public/images/common/icon/ico_sprites.png') no-repeat -44px -23px;background-size:300px;z-index:10;}
.flipsnapWrap.nat_news .thmn_area .tit {overflow:hidden;line-height:18px;margin:10px 12px 5px 0;font-size:14px;font-weight:normal !important;text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical;
}

.flipsnapWrap.nat_news .date_wrp{margin:0 0 16px 5px;color:#929292;}
.flipsnapWrap.nat_news .date_wrp::after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.flipsnapWrap.nat_news .date_wrp .data{float:left;display:block;font-size:11px;color:#9b9b9b;}
.flipsnapWrap.nat_news .date_wrp .rpy {float:right;display:none;margin:0 0 10px 0;text-align:right;}
.flipsnapWrap.nat_news .date_wrp .rpy a{color:#929292;}
.flipsnapWrap.nat_news .date_wrp span.rpy span.ico_rpy {display:inline-block;width:21px;height:11px;margin:-2px 2px 0 0;background:url('/images/mg/view_icon.png') no-repeat 0 0;background-size:21px;vertical-align:middle;}

.mg_tit .rpy {float:right;display:block;margin:0 0 10px 0;text-align:right;background:none;}
.mg_tit .rpy a{color:#929292;}
.mg_tit span.rpy span.ico_rpy {display:inline-block;width:10px;height:11px;margin:-2px 2px 0 0;background:url('/images/mg/view_icon.png') no-repeat 0 3px;background-size:21px;vertical-align:middle;}


.item_tit span{display:block;margin-top:25px;text-align:center;color:#000;font-size:18px;}
.iss_list li .thmn_area .thumbnail{display:block;overflow:hidden;position:relative;height:0px;padding-top:65%;}
.iss_list li .thmn_area .thumbnail img{position:absolute;top:0;left:0;height:100%;}
span.play_m{display:block;position:absolute;bottom:0;left:0;width:100%;height:24px;background:url('/images/mg/bg_playm_black.png') repeat 0 0;}
span.play_m em{display:block;position:absolute;top:3px;right:5px;color:#fff;font-size:12px;}
span.play_m b{position:absolute;top:9px;left:5px;display:block;width:8px;height:9px;text-indent:-9999px;background:url('/images/mg/icon_play_button.png') no-repeat 0 0;z-index:1;}


@media only screen and (max-width: 320px){
.da .mencar_ad{position:static;width:100%;height:100%;}
.da .mencar_ad img{width:100%;}

}

/* 신차구매가이드 */
body.da_ad_guide {}
body.da_ad_guide #container {padding:20px 4px 0 10px;background:#fff;}
.newcar_buy_guide {}
.newcar_buy_guide ol {}
.newcar_buy_guide ol > li {margin-top:28px;}
.newcar_buy_guide ol > li:first-of-type {margin-top:0;}
.newcar_buy_guide ol > li h2 {font-size:16px;color:#000;}
.newcar_buy_guide ul {margin-top:8px;}
.newcar_buy_guide ul > li {position:relative;padding-left:17px;line-height:24px;font-size:14px;color:#4a4a4a;}
.newcar_buy_guide ul > li:before{content:'\b7';position:absolute;left:0;top:0;width:17px;text-align:center;}

/* 레이어, 공유하기 */
.cmm_layer_sns {position:relative;width:260px;padding:20px;margin:0 auto;background:#fff;}
.cmm_layer_sns h3 {padding-bottom:8px;font-size:13px;color:#000;border-bottom:1px solid #e5e5e5;}
.cmm_layer_sns .btnClose {position:absolute;right:10px;top:10px;padding:10px;}
.cmm_layer_sns .btnClose b {display:block;overflow:hidden;width:12px;height:12px;text-indent:-5000em;background:url('/images/common/spr_mobile_new.png') -130px -135px;background-size:200px;}
.sns_share {}
.sns_share {overflow:hidden;padding-top:5px;margin-left:-24px;}
.sns_share li {float:left;padding:10px 0 0 24px;}
.sns_share li a {display:block;}
.sns_share li a span {display:block;padding-top:5px;margin:0 -7px;text-align:center;font-size:12px;color:#5c5c5c;}
.sns_share li a:before {display:block;content:'';display:block;width:47px;height:50px;background:url('/images/common/ico_sns2.png') no-repeat 0 0;background-size:200px !important;}
.sns_share li a.kakatalk:before {background-position:0 0;}
.sns_share li a.kakastory:before {background-position:-50px 0;}
.sns_share li a.line:before {background-position:-100px 0;}
.sns_share li a.band:before {background-position:-150px 0;}
.sns_share li a.facebook:before {background-position:0px -50px;}
.sns_share li a.twitter:before {background-position:-50px -50px;}
.sns_share li a.mail:before {background-position:-100px -50px;}
.sns_share li a.sms:before {background-position:-150px -50px;}