@charset 'utf-8';

.snb .detser a{background: url('/images/common/icon_new2.gif?130429') no-repeat right 6px;padding-right:14px;background-size:12px;}

/* 상세검색*/
.dSer{position:relative;}
.dSer ul{clear:both;padding:0 10px;}
.dSer li{font-weight:bold;font-size:13px;}
.dSer select{width:100%;padding: 7px 0px 6px 0px;text-indent:10px;margin: 4px 0;font-weight:bold;font-size:13px;-moz-border-radius: 2px;border-radius:2px;-webkit-appearance:none;}
.dSer li input{vertical-align:middle;}
.dSer li label{vertical-align:top;}
.dvc_i .dSer li label{vertical-align:middle;}
.dSerCh{height:35px;padding-top:10px;margin-bottom:6px;}
.dSerCh li{float:left;padding:15px 0 5px;min-height:18px;margin-right:20px;}
.dSerCh li input{width:18px;height:18px;margin-top:0;vertical-align:middle;}
.dStep1{float:left; width: 100% !important;}
.dStep2{float:right; width: 48.8% !important;}
.dStep8{float:left; width: 47% !important;}
.dStep9{float:right; width: 47% !important;}
.dStep12{float:left; width: 47% !important;}
.dStep12 select{height: 30px; height: 100px\9;}
.dSerOpB .and{float:left;padding: 12px 1px 0 6px;width:3.2%;text-align:center;}
	*html .dSerOpB .and{float:left;padding: 8px 1px 0 10px;width:5px;height:5px;text-align:center;}
	*+html .dSerOpB .and{float:left;padding: 8px 1px 0 10px;width:5px;height:5px;text-align:left;}
.dSerOpB .from{float:left; width: 47% !important;}
.dSerOpB .to{float:right; width: 47% !important;}
.dStep10, .dStep11{clear:both;padding:3px 0;margin-top:10px;}
.dStep10 span, .dStep11 span{float:left;margin:5px 2px 0 0;min-height:16px;}
	*html .dStep10 span,*html .dStep11 span{float:none;}
	*+html .dStep10 span,*+html .dStep11 span{float:none;}
.dS101 , .dS111{width:65px;}
.dS102 , .dS112{width:78px;}

.dStep13{clear:both;padding:3px 0;margin-top:10px;}
.dStep13 span{float:left;margin:5px 2px 0 0;min-height:16px;}
.dStep13 .dS101, .dStep13 .dS102, .dStep13 .dS103{width:65px;}
.dStep13 .dS104{width:78px;}

.dS103{width:78px;}
.dSerOpB{padding-bottom:20px;}
.dSerGo{text-align:center;padding: 13px 10PX;}
.dSerBt{width:300px;height:45px;margin:0 auto;overflow: hidden;text-indent: -1000em;border:none;-moz-border-radius: 1px;border-radius:1px;-webkit-border-radius:1px;}

.dSerOpC {min-height:210px; padding-top: 13px !important;padding-bottom:23px !important;}
.dvc_i .dSerOpC {min-height:240px;}
.dvc_i .truck_search .dSerOpC {min-height:220px;}
.dSerOpC .and{float:left;padding: 12px 1px 0 6px;width:3.2%;text-align:center;}
.dSerOpC .from{float:left; width: 47% !important;}
.dSerOpC .to{float:right; width: 47% !important;}
.dSerOpD {min-height:80px;}
.dSerOpD .from{float:left; width: 47% !important;} 
.dSerOpD .to{float:right; width: 47% !important;} 
.dSerOpD .and{float:left;padding: 12px 1px 0 6px;width:3.2%;text-align:center;}

/*검색*/
.carsearch .dSer select, .pricesearch .dSer select{border:1px solid #acb9c5;background:#fff url('/images/common/btn_select1.gif?130429') no-repeat right 1px;background-size:24px;}
.carsearch .dSerCh, .pricesearch .dSerCh{color:#000;}
.carsearch .dSerBt, .pricesearch .dSezzrBt{background:url('/images/common/btn_deSer.png?130429') no-repeat left -37px;background-size:303px;}
.carsearch .dSerOpB{min-height:250px;}
.pricesearch .dSerOpB{min-height:43px;}
.carsearch .dSerOpB, .pricesearch .dSerOpB{background-color:#fbfbfb;border-top:1px dotted #d0d0d0;border-bottom:1px solid #d0d0d0;padding-top: 13px;padding-bottom:13px;}
.carsearch .dSerOpC{background-color:#fbfbfb; padding-top: 13px;padding-bottom:33px;}
.carsearch .dSerOpA, .pricesearch .dSerOpA{padding-bottom:13px;}

.search_more{width:100%; position: relative;padding:0 0 10px;}
.search_more span{width:100%; height:38px; line-height:38px; border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0; display:inline-block; overflow:hidden;}
.search_more span a.arrow.up{width:100%; height:38px; display:inline-block; background:url(/images/common/bullet_updown.gif) no-repeat right top; background-size:40px;}
.search_more span a.arrow.down{width:100%; height:38px; display:inline-block; background:url(/images/common/bullet_updown.gif) no-repeat right -38px; background-size:40px;}
.search_more span a b{padding-left:10px;}
.search_more.truck_search{width:100%; height:40px; position: relative; overflow:hidden;}
.search_more.truck_search span{width:100%; height:38px; line-height:38px; border-top:1px solid #4e575d; border-bottom:1px solid #4e575d; display:inline-block; overflow:hidden;}
.search_more.truck_search span a{color:#e2e2e2;}
.search_more.truck_search span a.arrow.up{width:100%; height:38px; display:inline-block; background:#2d373e url(/images/common/bullet2_updown.gif) no-repeat right -38px; background-size:40px;}
.search_more.truck_search span a.arrow.down{width:100%; height:38px; display:inline-block; background:#2d373e url(/images/common/bullet2_updown.gif) no-repeat right 0; background-size:40px;}
.search_more.truck_search span a b{padding-left:10px;}
.truck_search .dStep10{float:left;}
.truck_search .dStep11{float:left;clear:none;margin-left:-10px;}


/*중고차시세 - 재검색*/
#detailsearchForm{margin-top:-3px;color:#e2e2e2;border-top:1px solid #252f35;border-bottom:1px solid #192831;min-height:100%;
background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#172127), to(#3d474e), color-stop(.8,#323c42));
background:-moz-linear-gradient(top,#172127,#3d474e);
background-color:rgba(23, 33, 39, 9.9);}
.priceresult .dSer{padding:7px 6px;border-bottom:1px solid #d0d0d0;}
.priceresult .dSer select{border:1px solid #4d565d;background:#394249 url('/images/common/btn_select2.gif?130429') no-repeat right 2px;background-size:26px;color:#e2e2e2;}
.priceresult .dSerBt{background:url('/images/common/btn_deSer.png?130429') no-repeat left -88px;background-size:303px;}
.priceresult .dSerCh{}
.carresult .dSerOpB{min-height:260px;}
.priceresult .dSerOpB{min-height:50px;}
.priceresult .dSerOpB{border-bottom:1px solid #161f25;}
.priceresult .dSerGo{border-top:1px solid #4d575d;}
.carresult .dSer #dsearch_trns,
.carresult .dSer #dsearch_grade{margin:0px !important;}

.carresult .dSerGo.noborder{border-top:0; background:#2d373e; margin:0;}
.carresult .dSer.truck_search .dSerOpB{min-height:60px; background:#283239; border-top:1px solid #3b4449; border-bottom:1px solid #3b4449; margin:15px 0 0; padding-top: 13px;padding-bottom:33px;}
.carresult .dSer.truck_search .dStep1{float:none; width:100% !important; clear:both;}
.carsearch .dSer.truck_search .dSerOpB{min-height:70px; border-bottom:0; padding-top: 13px;padding-bottom:23px;}
.carsearch .dSer.truck_search .dSerOpC{min-height:220px; border-top:1px dotted #d0d0d0;padding-top: 13px;}
.dvc_i .carsearch .dSer.truck_search .dSerOpC{min-height:230px;}
.carsearch .dSer.truck_search .dStep1{float:none; width:100% !important; clear:both;}

.dSerbtn{clear: both;display:block;text-align:center;height:40px;border-radius:3px;
background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#3d474e), to(#172127), color-stop(.5,#172127));
background:-moz-linear-gradient(top,#3d474e,#172127);
background-color:rgba(23, 33, 39, 9.9);}
.dSerbtn a{display:block;width:100%;height:40px;background: url('/images/common/btn_deSer.png?130604') no-repeat right -137px;background-size:303px;}
.dSerbtn a.open{background-position:right -137px;}
.dSerbtn a.close{background-position:right -190px;border-bottom:1px solid #131e24;}
.dSerbtn a b{display:inline-block;background:url('/images/common/btn_menc.png') no-repeat 0 -803px;background-size:30px;padding-left:27px;margin:9px 0 0 -35px;color:#FFF;font-size:130%;line-height:1.3em;}
.dSer .dSerGo .btNon b{background-position:0 -116px;}
input.dSerBt{background:url('/images/common/btn_deSer.png?130429') no-repeat left -37px;background-size:303px;}

/*시세*/
.priceresult h3{width: 95%; margin: 14px 0px 8px 10px; height: 20px;  font-size: 16px; font-weight: bold; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.priceresult h4{width: 95%; margin: 14px 0 8px 0; height: 20px;  font-size: 16px; font-weight: bold; text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.priceresult p.date{width: 100%; margin:15px 0 20px; text-align: right;}
.priceresult p.date span{margin-right: 10px; font-weight: bold; color: #666666;}
.priceresult div.price{padding: 0px 10px 10px; text-align: center;}
.priceresult div.price table.price{width: 100%; font-size: 14px; border-right: 1px solid #d0d0d0; border-bottom: 1px solid #d0d0d0; margin-bottom:5px;}
.priceresult div.price table.price thead th{width: 20%; padding: 6px 0px; background: #f1f1f1; border-top: 1px solid #d0d0d0; border-left: 1px solid #d0d0d0; border-bottom: 1px solid #d0d0d0; color: #666666; text-align: center;}
.priceresult div.price table.price tbody td{width: 20%; padding: 5px 0px; border-left: 1px solid #d0d0d0; text-align: center; font-size: 15px;}
.priceresult  .newPr{text-align: right;}
.newPr i{font-weight:normal;font-size:14px;margin-left:5px;}
.yearOn td{color:#bf0e00;}

/* 초성검색 */
div.initial{border-bottom: 1px solid #d9d9d9; width:100%; overflow: hidden;}
div.initial p{clear: both; overflow: hidden; width:101%; height: 45px; }
div.initial a{float: left; width: 19.97%; height: 32px; padding-top:13px;  background: url('/images/common/bg_initial.gif?130429') no-repeat right top; text-align: center; font-weight: bold;}
div.initial a.kr{color: #2e2e2e; font-size: 18px; }
div.initial a.en{color: #834400; font-size: 16px; }
div.initial a.no{color: #2e2e2e; font-size: 18px; }

/* 차량검색목록 */
.search{width: 100%;border-bottom: 1px solid #d9d9d9;}
.searchlist li{position: relative;clear: both;width: 100%;height: 42px;border-top: 1px solid #d9d9d9;
background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#ffffff));
background:-moz-linear-gradient(top,#f0f0f0,#ffffff);
background-color:rgba(240, 240, 240, 9.9);/* opera */}
.searchlist li a {border-top:1px solid #FFF;}
.searchlist dt{position: relative;clear: both;width: 100%;background-color: #d8d8d8;border-top: 1px solid #d9d9d9;text-align:center;color:#fff;font-weight:bold;font-size:14px;line-height:1.25em;}
.searchlist dd{position: relative;clear: both;width: 100%;height: 42px;border-top: 1px solid #d9d9d9;
background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#ffffff));
background:-moz-linear-gradient(top,#f0f0f0,#ffffff);
background-color:rgba(240, 240, 240, 9.9);/* opera */}
.searchlist dd a {border-top:1px solid #FFF;}
.searchlist a.arr{width: 100%;height: 100%;display: block;font-size: 16px;line-height: 1.25em;}
.searchlist span.arr{position: absolute;width: 12px;height:15px;top: 14px;right: 12px;background: url('/images/common/btn_arr.gif?130429') no-repeat left -112px;background-size:22px;}
.searchlist a.arr span.mark{float: left;width: 60px;height: 30px;margin: 4px 7px 0 10px;text-align: center;display: block;overflow:hidden;}
.searchlist a.arr span.name{float: left;width: 60%;margin-top: 10px;font-weight: bold ! important;color: #333333;text-overflow:ellipsis;overflow: hidden;display: block;}
.searchlist a.arr span.kind{width: 80%;padding-top: 12px;padding-left: 25px; font-weight: bold ! important;color: #333333;text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;display: block;}
.searchlist a.arr span.model{width: 80%;padding-top: 12px;padding-left: 25px; font-weight: bold ! important;color: #333333;text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;display: block;}
.searchlist a.arr span.grade{width: 80%;padding-top: 12px;padding-left: 25px;font-weight: bold ! important;color: #333333;text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;display: block;}
.searchlist.nomark a.arr span.mark{float: left;display: block;overflow:hidden; width: 5px !important;height: 30px;margin: 4px 7px 0 10px;text-align: center;}

/*
.searchlist .kinD1{background: url('/images/mark/kind_320.gif?130429') no-repeat left top;}
.searchlist .kinD2{background: url('/images/mark/kind_320.gif?130429') no-repeat left -48px;}
.searchlist .kinD3{background: url('/images/mark/kind_320.gif?130429') no-repeat left -92px;}
.searchlist .kinD4{background: url('/images/mark/kind_320.gif?130429') no-repeat left -135px;}
.searchlist .kinD5{background: url('/images/mark/kind_320.gif?130429') no-repeat left -181px;}
.searchlist .kinD6{background: url('/images/mark/kind_320.gif?130429') no-repeat left -227px;}
.searchlist .kinD7{background: url('/images/mark/kind_320.gif?130429') no-repeat left -273px;}
.searchlist .kinD8{background: url('/images/mark/kind_320.gif?130429') no-repeat left -315px;}
.searchlist .kinD9{background: url('/images/mark/kind_320.gif?130429') no-repeat left -360px;}
*/
.modellist{margin-top:-1px;}
.modellist li{position: relative;clear: both;width: 100%;min-height: 80px;_height:80px;background: url('/images/common/bg_btn.gif?130429') repeat-x left -204px;border-top: 1px solid #d9d9d9;}
.modellist li a{width:100%;display:inline-block;min-height: 80px;_height:80px;}
.modellist .arr{position: absolute;width: 21px;height:31px;top: 25px;right: 12px;background: url('/images/common/btn_arr.gif?130429') no-repeat left -166px;background-size:22px;}
.modellist .carimg{position: absolute;width: 88;height:64px;left:10px;top:8px;display: block;}
.modellist .carimg img{width: 88px;height:64px;}
.modellist .model{padding: 0 35px 0 110px;padding-top:20px;overflow: hidden;display: block;}
.modellist .model h3{width: 99%;font-size: 16px;line-height: 1.58em;color:#333333;text-overflow: ellipsis;-o-text-overflow: ellipsis;overflow: hidden;}
.modellist .model p{color:#666666;}

/*차량상세 공통 :: start*/
#container.cardetail{overflow:hidden;}

/* 차량 상세 보기 - 타이틀 */
div.viewtitle{position:relative;margin:17px 10px 10px 10px;}
div.viewtitle h2{font-weight: bold ! important; font-size: 16px; line-height: 18px;}
div.viewtitle h2.brand{color: #333333; margin-bottom:10px; }
div.viewtitle .price {width:100%;overflow:hidden;}
div.viewtitle .price strong.prc {padding:2px 0;color:#cf0000;float:left;font-weight:bold ! important;font-size:16px;line-height:18px;margin-right:6px;}
div.viewtitle .price .hMark {margin: 1px 1px 0 1px !important;}
div.viewtitle .price_lse .prc_wrap {display:block;width:100%;overflow:hidden;}
div.viewtitle .price_lse .prc_wrap .prc_b {float:left;}
div.viewtitle .price_lse .prc_wrap .prc_m {float:right;}
div.viewtitle .price_lse strong.prc em {color:#acacac;font-weight:normal;padding-right:5px;}
div.viewtitle .icon{margin-left:15px;}
div.viewtitle .icon img{vertical-align: middle; margin: 2px 0 0 2px;}

/* 헛걸음2차 */
div.case_compensate {height:36px;line-height:36px;text-align:center;font-size:12px;border-top:1px solid #e2e2e2;background:#f7f7f7;}
div.case_compensate p  {font-weight:bold;color:#4f4e4e;}
div.case_compensate p em {color:#ce0d0d;}
div.case_compensate a {position:relative;padding-left:5px;font-size:11px;color:#7b7b7b;font-weight:normal;text-decoration:underline;}
div.case_compensate a:after {display:block;content:'';position:absolute;right:-9px;top:50%;width:6px;height:9px;margin-top:-4.5px;background:url('/images/common/spr_mobile_new.png') no-repeat -46px -57px;background-size:100px;}

.suremark{height: 100%; padding: 12px 0px; margin-bottom: 12px; background: #f3f3f3; border: 1px solid #e6e6e6; overflow: hidden;}
.suremark dt{float: left; width:47px; height:40px; overflow:hidden; margin: 5px 7px 5px 5px; text-indent: -1000em;}
.suremark dd{line-height: 1.5em;}	
.suremark dd.title{color: #454545;}
.suremark dd.title strong{color: #cf0000;}
.suremark dd.info{color: #494949;}
.suremark dd.info i{margin-right: 5px;}
.suremark p.notice{color: #666666; letter-spacing: -1px; font-size: 11px; margin-top:5px;}
.diagnosis dt{background: url('/images/ca/img_ca.gif?130429') no-repeat left top;}
.guarantee dt{background: url('/images/ca/img_ca.gif?130429') no-repeat left -40px;}

#container.cardetail .carinfo{position:relative;}
.carinfo a.cleango{position:absolute;right:10px;top:8px;width:95px;height:23px;}
.carinfo a.cleango b{margin-top:4px;font-weight:normal;}
.carinfo dl.info{padding-bottom:20px;border-bottom:0;}
.carinfo dt{margin-bottom:20px;padding:13px 10px 0 10px;height:27px;font-size:14px;color:#000;font-weight:bold;border-bottom:1px solid #e2e2e2;background-color:#F8F8F9;}
.carinfo dd{padding:1px 10px;color:#666666; line-height: 18px; overflow: hidden;}
.carinfo dd b{float: left; width: 83px; vertical-align: top; font-weight: normal;letter-spacing:-1px;color:#acacac;}
.carinfo dd u{text-decoration:none;}
.dvc_i .carinfo dd b{width:72px;}
.dvc_a .carinfo dd b{width:83px;}
.carinfo dd i,
.carinfo dd em {float:left;padding-left:7px;color:#5c5c5c;}
.carinfo dd em {color: #000;}
.carinfo dl.option {overflow:hidden;padding-bottom:10px;border-top:1px solid #e2e2e2;}
.carinfo dl.option dd {padding-bottom:4px;white-space:normal !important;}
.carinfo dl.option dd h4 {float:left;padding-right:10px;color:#5c5c5c;font-size:14px;}
.carinfo dl.option dd ul {width:100%;overflow:hidden;padding-bottom:20px;margin-bottom:15px;border-bottom:1px solid #e2e2e2;}
.carinfo dl.option dd:last-child ul {border:0;padding-top:0;padding-bottom:0;}
.carinfo dl.option dd ul li {position:relative;width:100%;overflow:hidden;margin-top:10px;}
.carinfo dl.option dd ul li strong {position:absolute;left:0;top:0;color:#acacac;font-weight:normal !important;}
.carinfo dl.option dd ul li span {padding-left:85px;display:inline-block;}
.carinfo dl.seller dd i{width: 70%; line-height: 16px; white-space: normal;}
.carinfo dl.notice{margin:0;border-top:1px solid #e2e2e2;}
.carinfo dl.notice dd.mortgage{padding-bottom:7px;}
.carinfo dl.notice dd.seizure i,
.carinfo dl.notice dd.mortgage i{font-weight:bold;color:#cf0000;}
.carinfo dl.notice dd.seizure em,
.carinfo dl.notice dd.mortgage em{color:#909090;}
.carinfo dl.notice dd.mortgage{padding-bottom:20px;margin-bottom:15px;border-bottom:1px dotted #c6c6c6;}
.carinfo dl.seller{background:#f7f7f7;border-top:1px solid #e0e0e0;}
.carinfo dl.seller .contact i span a{color:#cc0000;font-family:Verdana,sans-serif;}
.carinfo dl.seller .sellnum b{letter-spacing:-1px;}
.carinfo dl.seller .corp{}
.carinfo dl.seller .entalk b{margin-top:7px;}
.carinfo dl.seller .entalk i{background-position:0 12px;}
.carinfo dl.seller .entalk .btNon b{width:auto;float:none;font-weight:bold;}
.carinfo dl.truck_optbox{padding:12px 0 20px 0;border-top:1px solid #e2e2e2;border-bottom:0;} 
.carinfo dl.info_lse {border-top:1px solid #e2e2e2;}
.carinfo dl.info_lse dt {position:relative;}
.carinfo dl.info_lse dt .bt_lse_desc {position:absolute;right:10px;top:7px;width:27px;height:27px;z-index:10;}
.carinfo dl.info_lse dt .layer_lse_desc {position:absolute;left:10px;right:10px;top:35px;background:#fff;border:1px solid #bbb;padding:10px 20px;z-index:20;visibility:hidden;opacity:0;}
.carinfo dl.info_lse dt .layer_lse_desc ul {padding:5px 0 10px 0;}
.carinfo dl.info_lse dt .layer_lse_desc li {padding-top:7px;font-weight:normal;color:#5c5c5c}
.carinfo dl.info_lse dt .layer_lse_desc li strong {display:block;color:#5c5c5c;margin-bottom:1px;}
.carinfo dl.info_lse dt .layer_lse_desc .layer_close {width:30px;height:30px;display:block;position:absolute;top:5px;right:10px;background:url('/images/common/btn_layer_close.png') no-repeat 50% 50%;background-size:15px;text-indent:-10000px;}
.carinfo dl.info_lse dt .layer_lse_desc.show {
opacity:1;visibility:visible;
-webkit-transition: opacity 0.15s ease-in-out, visibility 0s 0.0s;
-moz-transition: opacity 0.15s ease-in-out, visibility 0s 0.0s;
-o-transition: opacity 0.15s ease-in-out, visibility 0s 0.0s;
-ms-transition: opacity 0.15s ease-in-out, visibility 0s 0.0s;
transition: opacity 0.15s ease-in-out, visibility 0s 0.0s;
}
.carinfo dl.info_lse .tip_msg {margin-top:10px;padding-top:15px;color:#5c5c5c;border-top:1px solid #e2e2e2;}
.carinfo dl.info_lse .tip_msg .spr_tip_msg {margin:-2px 5px 0 0;vertical-align:middle;}
.moreTxt{display:block;border-bottom:1px solid #d0d0d0;text-align:center;}
.moreTxt  a{display:block;width:100%;padding:12px 0 12px;}
.upon b{font-weight:normal;background: url('/images/common/bullet.gif?130429') no-repeat right -82px;background-size:30px;padding:0 35px;}
.dwoff b{font-weight:normal;background: url('/images/common/bullet.gif?130429') no-repeat right -98px;background-size:30px;padding:0 35px;}

div.ad{clear: both;width:100%;height:65px;background: url('/images/nt/nt_tvad_bn01_bg.gif?130429') repeat-x left top;}
div.ad a{display:block;width:100%;height:65px;background: url('/images/nt/nt_tvad_bn01.gif?130429') no-repeat center top;}
div.ad img{display:none;}

.carNumSer{padding: 45px 0 30px; text-align: center; border-bottom:1px solid #dfdfdf; background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f3f3f3)); background:-moz-linear-gradient(top,#ffffff,#f3f3f3);}
.carnumber{position: relative; width: 262px; height: 45px; margin: 0 auto 5px;  background: url('/images/ca/carTxtbox_v0911.gif?130429') no-repeat right 0;background-size:260px;}
.carnumber label{float: left; font-weight: bold; font-size: 14px; line-height: 1.25em; vertical-align: middle; color:#000000; margin-top: 17px; display:none;}
.carnumber span{float:left;}
.carnumber span input{width: 174px; *width: 170px; height: 33px; padding: 5px 10px;  border: none; vertical-align: middle; font-size: 22px; line-height: 1.25em; background: url('/images/ca/carTxtbox_tiptxt.gif?130429') no-repeat 13px 14px;background-size:137px;}
/*.carnumber span em.inputip{position:absolute; top:12px; left:10px; font-size:14px; color:#bababa;}*/
.carnumber input.numschBtn{background:none; border:0; width:68px; height:40px; font-size:0; cursor:pointer;line-height:1000px;overflow:hidden;}
.exTxt{width: 257px; text-align:left; margin: 0 auto; font-size: 12px; color: #666666;}
.carnumber .clear{right:77px; top:8px;}

.carnumber_tip{padding:20px 30px;}
.carnumber_tip p{background: url("/images/common/bullet.gif?130429") no-repeat scroll -28px 6px; background-size:30px; color: #5E5E5E; font-size: 13px; line-height: 1.25em; padding: 0 0 10px 7px;}
.carnumber_tip em{color:#d51100}

.numdetail{padding: 0 10px;}
.numdetail .carinfo{margin: 0px;}
.numdetail dl.info{border-bottom: none !important;}
.numdetail .Bt{ margin: 10px auto 10px ;}

.numresult{border-top: 1px solid #d0d0d0; border-bottom: 1px solid #d0d0d0; padding: 7px 0 10px;}
.numresult dl{display:inline-block; clear: both; width: 100%; }
.numresult dt{float: left; width: 95px; padding: 2px 0 2px 10px; color:#4b4b4b; background: url('/images/common/bullet_line.gif?130429') no-repeat right -122px;}
.numresult dd{float: left; padding: 2px 5px 2px 10px; color:#000;}
.numresult strong{color:#d21010;}
.numresult p{border-top: 1px solid #d0d0d0; padding: 10px 0 1px ; text-align:center; margin-top: 5px; color:#838383; font-size:11px; line-height: 1.25em;}

.numTxt{clear: both; position:relative;margin: 0 12px; height: 50px;}
.numTxt strong{float: left;}
.btnMorS{position:absolute; right:0px; top: 5px;}

.numCar{position:relative; padding: 10px 10px 7px 10px; max-height: 75px; _height: 75px; overflow:hidden;}
.umnImg{float:left;} 
.umnImg img{width: 95px; height:65px; border: 4px solid #d5d5d5; margin-right: 10px;}
.umnTit{display:inline;}
.numCar .umnMaf{display:inline;width:100%;overflow:hidden;white-space: nowrap;}
.numCar .umnMel{display:inline; word-break:break-all;white-space: pre-wrap;white-space: -pre-wrap; white-space: -o-pre-wrap;word-wrap: break-word;}

.tab.num li a{width:80px;}

.titSpe{width: 100%;height: 40px;overflow: hidden;background-color: #FFF;border-bottom: 1px solid #d0d0d0;color:#cf0000;}
.titSpe b{width: 70%;display: block;margin: 10px 0 0 11px;white-space: nowrap;}

.carresult .Bt a{margin-bottom: 20px;}

.prlist .msg{border-bottom: none;}

.hit{position: absolute;  right: 0; bottom: 0;display:inline-block;color:#333;display:none;/*모바일개선 : 조회수 숨김처리*/}

/* 현대캐피탈 버튼 신규*/
.cpArea{border-bottom: 1px solid #e2e2e2;}
.cpArea .Bt{width:351px;margin:10px auto !important;}
.cpArea .Bt b{background:none;padding-left:0;font-size:14px;}
.cpArea .Bt .instS{float:left;width:102px;margin-left:10px;}

.Btwrap.Bt{width:351px;margin:10px auto !important;}
.Btwrap.Bt b{background:none;padding-left:0;font-size:14px;}
.Btwrap.Bt .instS{float:left;width:102px;margin-left:10px;}
.btNonwrap.Bt{margin:0 auto 15px auto;}

/*기존 버튼 형태
.cpArea{width:100%;display:inline-block;border-bottom: 1px dashed #D1D1D1;margin:0 auto;padding-bottom:17px;}
.cpArea .btNon{width:298px;margin:0 auto;}
*/

/* sTab 제조사 검색용 재정의 */
.sTabCS {border-top: 1px solid #d0d0d0;}
.sTabCS li {width: 33.1%;}
.sTabCS li.stHot {border-left: 1px solid #d0d0d0; border-right: 1px solid #d0d0d0;}


/* 사고이력조회 */
.history{color: #5c5c5c;}
.history h5{margin-top: 30px; font-size: 13px; color: #313131; font-weight: normal;}

/* 공통 */
.history table.tbHis{color: #000; width: 100%;}
.history table.tbHis th,
.history table.tbHis td{padding: 7px 6px 6px 6px; border: 1px solid #d0d0d0;}
.history table.tbHis th{font-weight: normal; color: #5c5c5c; background-color: #f8f8f8; text-align: left;}
.history table.tbHis td.noData{text-align: center;}
.history table.tbHis td.noInfo{font-size: 11px; line-height: 16px; padding: 7px 17px 6px 17px;}
.history table.tbHis td.noInfo strong {color:#000;}
.history table.tbHis td.noInfo p {color:#5c5c5c;}
.history table.tbHis th em.hisPrc{float: right; color: #e2323d; font-weight: bold;}
.history table.tbHis tr.reduce th,
.history table.tbHis tr.reduce td{padding: 7px 0 6px 0; text-align: center; font-size: 12px; letter-spacing: -1px;}

.history .hisTip{display: block; margin-top: 5px; font-size: 11px; line-height: 13px;}
.history .hisTipEx{display: block; margin-top: 2px; font-size: 13px; line-height: 15px; letter-spacing: -1px;}
.history .hisCopy{display: block; line-height: 16px; font-size: 13px; margin-top: 5px; letter-spacing: -1px;}
.history .hisCopy em{color: #303030;}

.history .tbh1 th,
.history .tbh1 td{vertical-align: top;}
.history .tbh1 th{letter-spacing: -1px;}
.history .tbh2 th,
.history .tbh2 td{letter-spacing: -1px; vertical-align: top;}
.history .tbh2 th{text-align: center !important;}
.history .tbh3{margin: 16px 0 16px 0;}

.history .hisTit{padding: 18px 0 1px 0 ; border-bottom: 1px solid #aea054;}
.history .hisTit h3{height: 37px; line-height: 1000px; border-bottom: 2px solid #aea054; background: url('/images/ca/tit_history.gif?130429') no-repeat center top; background-size:300px; overflow: hidden;}

.history .hisNum{float: left; margin-top: 20px; padding-left: 10px; overflow: hidden;}
.history .hisNum h4,
.history .hisNum p{float: left; font-size: 14px; line-height: 1; font-weight: bold;}
.history .hisNum p{padding-left: 12px;}

.history .hisDate{float: right; margin-top: 20px; padding-right: 10px; overflow: hidden;}
.history .hisDate h4,
.history .hisDate p{float: left; color: #666; font-size: 12px; line-height: 1; font-weight: normal;}
.history .hisDate p{padding-left: 3px;}
	
.history .hisHead{padding: 20px 10px 10px 10px; overflow: hidden;}
.history .hisHead h4{font-size: 14px; padding-bottom: 5px; color: #bd0e00; letter-spacing: -1px;}
.history .hisHead table.tbHis td{font-weight: bold;}

.btnArea{padding: 10px; overflow: hidden;}
.btnArea a{float: right; width: 100px; height: 20px; padding-top: 5px; color: #494949; text-align: center; font-weight: normal;}

.conWrap{padding: 20px 10px 20px 10px; line-height: 14px;}
.conWrapEnd{padding: 20px 10px 5px 10px; line-height: 14px;}

h4.btnTitle{border-top: 1px solid #d9d9d9;}
h4.btnTitle a{display: block; height: 30px; padding: 8px 0 0 18px; border-top: 1px solid #fff;
		background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f7f7f7), to(#e3e3e3));
		background-image:-moz-linear-gradient(top,#f7f7f7,#e3e3e3);background-color:rgba(245, 245, 245, 9.9);/* opera */}
h4.btnTitle_on{border-top: 1px solid #292929;}
h4.btnTitle_on a{display: block; height: 30px; padding: 8px 0 0 18px; border-top: 1px solid #959595; color: #fff;
		background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#353535));
		background-image:-moz-linear-gradient(top,#666666,#353535);background-color:rgba(245, 245, 245, 9.9);/* opera */}

.history p.endWar{padding-bottom: 15px; color: #e2323d; line-height: 17px; font-weight: bold; font-size: 15px; text-align: center;}
.history p.endTxt{padding: 15px 0 15px 0; font-size: 11px; color: #5c5c5c; text-align: justify; letter-spacing: -1px; border-top: 1px solid #d0d0d0; }
.history p.endTip{display: block; padding: 0 10px 10px; margin-top: 5px; font-size: 11px; color: #5c5c5c; line-height: 13px;}
.history p.endDate{text-align: center; color: #000;}
.history p.endLogo{width: 200px; height: 44px; margin-top: 10px; text-indent:-5000em; line-height: 1000px; margin: 0 auto 0 auto; background: url('/images/ca/txt_history_stamp.gif?130429') no-repeat center top; background-size:200px; overflow: hidden;}

.history .hisLoginH{padding: 30px 0 28px 0; text-align: center; border-bottom: 1px solid #d0d0d0;}
.history .hisLoginH strong{font-size: 15px; font-weight: normal !important; line-height: 18px;}
.history .hisLoginH strong span{color: #b50000; font-weight: bold; }
.history .hisLoginH em{display: block; margin-top: 17px; color: #454545;}

.history .hisLoginBtn{padding: 20px 10px 30px 10px;}
.history .hisLoginBtn a{margin: 0 auto;}

.history .hisInfo{padding:15px 10px 5px 10px;color: #fff;background-color:#172127;}
.history .hisInfo h4{font-size:16px;}
.history .hisInfo .hHead p{line-height:17px;margin:15px 0 10px 0;font-size:14px;}
.history .hisInfo .hHead em{color:#ff7a00;}
.history .hisInfo .hTip{display:block;}
.history .hisInfo .hTip em{color:#ff7a00;}
.history .hisInfo .hPrice{margin-top:20px;padding-top:20px;border-top:1px solid #333b40;}
.history .hisInfo .hPrice dl.inquiry_tre {height:174px;margin-top:10px;background:url('/images/ca/img_history_info.gif?150312') no-repeat 50% 0;background-size:296px;}
.history .hisInfo .hPrice dl.inquiry_fve {height:174px;margin-top:10px;background:url('/images/ca/img_history_info02.gif') no-repeat 50% 0;background-size:296px;}
.history .hisInfo .hPrice dt, .history .hisInfo .hPrice dd{display:none;}
.history .hisInfo .hDefin{margin-top:20px;padding-top:20px;border-top:1px solid #333b40;}
.history .hisInfo .hDefin p{color:#a09f9f;margin-top:10px;line-height:18px;}
.history .hisInfo .hDefin p em{text-decoration:underline;}
.history .hisInfo .hMerit{margin:20px 0;padding:20px 0;border-top:1px solid #333b40;border-bottom:1px solid #333b40;}
.history .hisInfo .hMerit li{padding:10px 0 10px 0;}
.history .hisInfo .hMerit li strong{display:block;letter-spacing:-1px;}
.history .hisInfo .hMerit li span{display: block;margin-top:3px;color:#a09f9f;font-size:13px;}
.history .hisInfo .hMerit li span em{font-weight:bold;}
.history .hisInfo .hSample{width:300px;height:1333px;margin:10px auto;text-indent:-1000em;background:url('/images/ca/img_history_sample.gif?20160528') no-repeat left top;background-size:300px;overflow:hidden;}

.history .noHis{padding: 30px 0 45px 0; text-align: center; border-bottom: 1px solid #d0d0d0;}
.history .noHis h4{display: block; text-align: center; font-size: 16px;}
.history .noHis p{display: block; padding-top: 10px; font-size: 14px; line-height: 17px;}
.history .noHis p em{display: block; padding-top: 5px; font-weight: bold; font-size: 13px;}
.history.recode_con .tbHis th {}

.tvad_btn{display:block; position:absolute; top:50px; right:0; width:80px; height:79px; background:url('/images/nt/nt_tvad_btn.gif?130429') no-repeat 0 0;}
.tvad_btn a{display:block; width:80px; height:79px; line-height:10000px; overflow:hidden;}

/* 판매, 구매보증 */
.warranty .titbar h3{color:#000;font-size:14px;}
.warranty p.txt{padding-bottom:16px;}
.warranty .detail{overflow:hidden;zoom:1;}
.warranty .detail em{float:left; margin-right:6px;padding-right:4px; background:url('/images/common/bullet_line.gif?130429') no-repeat right 4px;}
.warranty .detail span{display:block;}
.warranty table{border:1px solid #d0d0d0;width:100%;}
.warranty th{border:1px solid #d0d0d0;background:#f1f1f1;padding:8px 5px 6px 5px;letter-spacing:-1px;}
.warranty td{border:1px solid #d0d0d0;padding:8px 8px 6px 8px;}
.warranty .tb_c th{text-align:center;}
.warranty .tb_c td{text-align:center;}
.warranty .tb_l th{text-align:left;}
.warranty .tb_l td{text-align:left;}
.warranty td p{padding:0 !important;margin:0 0 0 10px !important;text-indent:-8px;line-height:16px;text-align:left;}
.warranty td p em{font-size:11px;font-weight:normal;color:#7c7c7c;line-height:16px;letter-spacing:-1px;text-indent:0}
.warranty .al_l{text-align:left !important;vertical-align:top;}
.warranty .btnNonS {width:80px;margin-top:5px;}
.warranty .numCar h2{color:#CF0000}
.warranty .mail_send h3{font-size:12px;}
.warranty .mail_receive h3{font-size:12px;}

/* 차량상세 보증 박스 */
.warr_result{min-height:128px;border-top:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;margin-bottom:17px;}
.warr_result .info{padding:0 0 15px 56px;margin-left:14px;color:#494949;background:url('/images/ca/warranty_result.gif?150511') no-repeat;}
.warr_result .sell{background:url('/images/ca/ico_warranty_sell.gif?150511') no-repeat 0 11px;background-size:45px;}
.warr_result .sell p{padding-top:19px;margin-top:-1px;background:url('/images/ca/bg_warranty_paper_sell.gif?150511') no-repeat 100% 0;background-size:33px;}
.warr_result .buy{background:url('/images/ca/ico_warranty_buy.gif?150511') no-repeat 0 11px;background-size:45px;}
.warr_result .buy p{padding-top:19px;margin-top:-1px;background:url('/images/ca/bg_warranty_paper_buy.gif?150511') no-repeat 100% 0;background-size:33px;}
.warr_result .info strong{color:#454545;}
.warr_result .info span{color:#cf0000;}
.warr_result .info span.date{font-size:11px;color:#666;}
.warr_result .btNon{display:block;width:280px;height:30px;padding-top:14px;margin:0 auto 15px;font-size:18px;color:#494949;font-weight:bold;}

.warr_car .numCar .unmNum{color:#888;}
.warr_car ul{width:340px;overflow:hidden;margin:8px 0 25px 10px;}
.warr_car li{float:left;width:170px;padding-bottom:3px;}
.warr_car .pos_l em{display:inline-block;width:55px; color:#7c7c7c; letter-spacing:-1px;}
.warr_car .pos_r em{display:inline-block;width:55px; color:#7c7c7c; letter-spacing:-1px;}

/* 사고진단 */
.diagnosis{margin:12px 10px 20px 10px;position:relative;zoom:1;}
.diagnosis .detail{padding:2px 0 !important;}
.diagnosis .detail em{width:55px !important; color:#7c7c7c; letter-spacing:-1px;}
.diagnosis .detail span{padding-left:65px !important;}
.diagnosis.wellframe .detail em{width:106px !important;}
.diagnosis.wellframe .detail span{padding-left:117px !important;}
.diagnosis .btn_diag a{height:27px;line-height:13px;position:absolute;right:0;top:-45px;font-size:11px;}
.diagnosis .txt{background:url('/images/common/bullet_dot_gray.gif?130429') no-repeat 0 6px;padding-left:6px;letter-spacing:-1px;padding-bottom:5px !important;}
.diagnosis .page{margin-bottom:20px;}
.diagnosis .inTerNo{display:inline-block;margin-top:8px;float:none;vertical-align:middle;padding:7px 20px 0 20px;overflow:hidden;}
.diagnosis .nextPage{-moz-border-radius:9px;border-radius:9px;display:inline-block;width:9px;height:9px;margin:-5px 3px 2px 3px;overflow:hidden;text-indent:-1000em;vertical-align:middle;background:#bdbdbd;}
.diagnosis .nextPage.on{background-color:#cf0000;}

.accident{width:300px; height:319px; overflow:hidden;margin:15px auto 0;}
/*.accident ul{overflow:hidden;zoom:1;height:319px;}*/
.accident li{width:300px;overflow:hidden;}
.accident li div{position:relative;width:300px;height:319px;}
.accident li div span{position:absolute;display:inline-block;height:18px;text-indent:-50000px;font-size:0;overflow:hidden;}

.car_sec_top{background:url('/images/ca/bg_diagnosis_top_base.gif?140331') no-repeat;background-size:300px;}
.car_sec_top .met{background:url('/images/ca/bg_diagnosis_top_met.gif?140331') no-repeat;background-size:300px;}
.car_sec_top .chg{background:url('/images/ca/bg_diagnosis_top_chg.gif?140331') no-repeat;background-size:300px;}
.car_sec_top .t1{top:76px;left:22px;width:77px;background-position:-22px -76px;}
.car_sec_top .t2{top:146px;left:22px;width:77px;background-position:-22px -146px;}
.car_sec_top .t3{top:196px;left:22px;width:77px;background-position:-22px -196px;}
.car_sec_top .t5{top:76px;left:123px;width:54px;background-position:-123px -76px;}
.car_sec_top .t6{top:193px;left:123px;width:54px;background-position:-124px -193px;}
.car_sec_top .t7{top:284px;left:123px;width:54px;background-position:-123px -284px;}
.car_sec_top .t8{top:75px;left:205px;width:77px;background-position:-205px -75px;}
.car_sec_top .t9{top:145px;left:205px;width:77px;background-position:-205px -145px;}
.car_sec_top .t10{top:195px;left:205px;width:77px;background-position:-205px -195px;}

.car_sec_bot{background:url('/images/ca/bg_diagnosis_bot_base.gif?140331') no-repeat;background-size:300px;}
.car_sec_bot .met{background:url('/images/ca/bg_diagnosis_bot_met.gif?140331') no-repeat;background-size:300px;}
.car_sec_bot .chg{background:url('/images/ca/bg_diagnosis_bot_chg.gif?140331') no-repeat;background-size:300px;}
.car_sec_bot .b1{top:68px;left:6px;width:97px;background-position:-6px -68px;}
.car_sec_bot .b2{top:98px;left:6px;width:97px;background-position:-6px -98px;}
.car_sec_bot .b3{top:218px;left:6px;width:97px;background-position:-6px -218px;}
.car_sec_bot .b4{top:11px;left:125px;width:146px;background-position:-125px -11px;}
.car_sec_bot .b5{top:31px;left:125px;width:75px;background-position:-125px -31px;}
.car_sec_bot .b6{top:268px;left:125px;width:105px;background-position:-125px -268px;}
.car_sec_bot .b7{top:288px;left:125px;width:75px;background-position:-125px -288px;}
.car_sec_bot .b8{top:68px;left:200px;width:97px;background-position:-200px -68px;}
.car_sec_bot .b9{top:98px;left:200px;width:97px;background-position:-200px -98px;}
.car_sec_bot .b10{top:128px;left:200px;width:97px;background-position:-200px -128px;}
.car_sec_bot .b11{top:218px;left:200px;width:97px;background-position:-200px -218px;}
.car_sec_bot .b12{top:157px;left:6px;width:97px;background-position:-6px -157px;}

.car_sec_bot2{background:url('/images/ca/bg_diagnosis_bot2_base.gif?140331') no-repeat;background-size:300px;}
.car_sec_bot2 .met{background:url('/images/ca/bg_diagnosis_bot2_met.gif?140331') no-repeat;background-size:300px;}
.car_sec_bot2 .chg{background:url('/images/ca/bg_diagnosis_bot2_chg.gif?140331') no-repeat;background-size:300px;}
.car_sec_bot2 .b1{top:68px;left:6px;width:97px;background-position:-6px -68px;}
.car_sec_bot2 .b2{top:98px;left:6px;width:97px;background-position:-6px -98px;}
.car_sec_bot2 .b3{top:218px;left:6px;width:97px;background-position:-6px -218px;}
.car_sec_bot2 .b4{top:11px;left:125px;width:146px;background-position:-125px -11px;}
.car_sec_bot2 .b5{top:31px;left:125px;width:75px;background-position:-125px -31px;}
.car_sec_bot2 .b6{top:268px;left:125px;width:105px;background-position:-125px -268px;}
.car_sec_bot2 .b7{top:288px;left:125px;width:75px;background-position:-125px -288px;}
.car_sec_bot2 .b8{top:68px;left:200px;width:97px;background-position:-200px -68px;}
.car_sec_bot2 .b9{top:98px;left:200px;width:97px;background-position:-200px -98px;}
.car_sec_bot2 .b10{top:128px;left:200px;width:97px;background-position:-200px -128px;}
.car_sec_bot2 .b11{top:218px;left:200px;width:97px;background-position:-200px -218px;}
.car_sec_bot2 .b12{top:157px;left:6px;width:97px;background-position:-6px -157px;}
.car_sec_bot2 .b13{top:128px;left:200px;width:97px;background-position:-200px -128px;}

.car_sec_left{background:url('/images/ca/bg_diagnosis_left_base.gif?140331') no-repeat;background-size:300px;}
.car_sec_left .met{background:url('/images/ca/bg_diagnosis_left_met.gif?140331') no-repeat;background-size:300px;}
.car_sec_left .chg{background:url('/images/ca/bg_diagnosis_left_chg.gif?140331') no-repeat;background-size:300px;}
.car_sec_left .l1{top:136px;left:30px;width:80px;background-position:-30px -136px;}
.car_sec_left .l2{top:136px;left:192px;width:80px;background-position:-192px -136px;}
.car_sec_left .l3{top:196px;left:192px;width:80px;background-position:-192px -196px;}
.car_sec_left .l4{top:241px;left:192px;width:86px;background-position:-192px -241px;}

.car_sec_right{background:url('/images/ca/bg_diagnosis_right_base.gif?140331') no-repeat;background-size:300px;}
.car_sec_right .met{background:url('/images/ca/bg_diagnosis_right_met.gif?140331') no-repeat;background-size:300px;}
.car_sec_right .chg{background:url('/images/ca/bg_diagnosis_right_chg.gif?140331') no-repeat;background-size:300px;}
.car_sec_right .r1{top:132px;left:33px;width:80px;background-position:-33px -132px;}
.car_sec_right .r2{top:193px;left:33px;width:80px;background-position:-33px -193px;}
.car_sec_right .r3{top:238px;left:33px;width:80px;background-position:-33px -238px;}
.car_sec_right .r4{top:133px;left:190px;width:80px;background-position:-190px -133px;}

/*차량상세 공통 :: end*/

/* 책임 한계 및 법적고지 */
.liability_limit{display:block;padding:12px 10px;}
.liability_limit dt{font-weight:bold;height:23px;color:#000;overflow:hidden;}
.liability_limit dd{color:#898989;margin-top:5px;}

/*차량상세 개편 - Enquiry Project*/
.carinfo .enquiry_seller {position:relative;padding-bottom:10px;border-top:1px solid #e0e0e0;}
.carinfo .enquiry_seller dd {padding-left:100px;}
.carinfo .enquiry_seller dd .cnt {color:#666;}
.carinfo .enquiry_seller dd .cnt a {color:#666;}
.carinfo .enquiry_seller dd.join {margin-top:15px}
.carinfo .enquiry_seller dd.join,
.carinfo .enquiry_seller dd.selling,
.carinfo .enquiry_seller dd.complete {padding-left:10px;}
.carinfo .enquiry_seller dd.join .tit,
.carinfo .enquiry_seller dd.selling .tit,
.carinfo .enquiry_seller dd.complete .tit {width:95px;}
.carinfo .enquiry_seller .image {position:absolute;left:10px;top:63px;padding-left:0;}
.carinfo .enquiry_seller .image .photo {display:block;width:74px;height:94px;border:1px solid #d7d7d7;}
.carinfo .enquiry_seller .image .photo img {display:block;width:74px;height:94px;}
.carinfo .enquiry_seller .name {padding-top:2px;}
.carinfo .enquiry_seller .name .cnt {color:#666;font-size:16px;font-weight:bold;}
.carinfo .enquiry_seller .name .cnt em {color:#666;font-size:12px;float:none;background:none;font-weight:normal;padding-left:3px;}
.carinfo .enquiry_seller .office {padding-top:5px;}
.carinfo .enquiry_seller .address .add_map {padding-top:5px;}
.carinfo .enquiry_seller .address .add_map a {margin-left:0;}
.carinfo .enquiry_seller .address .map_view {margin-left:-100px;margin-right:-10px;}
.carinfo .enquiry_seller .join .tit {display:inline-block;width:60px;font-weight:normal !important;color:#898989;}
.carinfo .enquiry_seller .join .dnt {color:#666;}
.carinfo .enquiry_seller .selling .tit {display:inline-block;width:60px;font-weight:normal !important;color:#898989;}
.carinfo .enquiry_seller .selling .dnt {color:#666;}
.carinfo .enquiry_seller .complete .tit {display:inline-block;width:60px;font-weight:normal !important;color:#898989;}
.carinfo .enquiry_seller .complete .dnt {color:#666;}
.carinfo .enquiry_connect_email {padding:15px 0;border-top:1px dotted #e2e2e2;}
.carinfo .enquiry_connect_email dt.connect_email_tit{border-bottom:0 !important;margin-bottom:0px !important;font-size:16px;color:#494949;font-weight:bold;padding:2px 0 0 33px;background:url('/images/ca/ico_phone.png?160118') no-repeat 9px 0;background-size:20px;}
.carinfo .enquiry_connect_email .connect_box {padding:0px 6px 0 22px;}
.carinfo .enquiry_connect_email .connect_num {color:#333;font-size:20px;}
.carinfo .enquiry_connect_error {padding:15px 0;border-top:1px dotted #e2e2e2;}
.carinfo .enquiry_connect_error dt.connect_email_tit{border-bottom:0 !important;margin-bottom:0px !important;font-size:16px;color:#494949;font-weight:bold;padding:2px 0 0 33px;background:url('/images/ca/ico_phone.png?160118') no-repeat 9px 0;background-size:20px;}
.carinfo .enquiry_connect_error .connect_box {padding:0px 6px 0 22px;}
.carinfo .enquiry_connect_error .connect_num {display:block;font-size:24px;line-height:24px;color:#cc0000;font-family:tahoma;margin:2px 0;}
.carinfo .enquiry_connect_error .connect_num a {color:#cc0000;font-size:24px;line-height:24px;font-family:tahoma;vertical-align:middle;}
.carinfo .enquiry_connect_compensation {padding:15px 0 10px;border-top:1px dotted #e2e2e2;}
.carinfo .enquiry_connect_compensation .connect_tit {border-bottom:0 !important;margin-bottom:0px !important;font-size:14px;color:#494949;font-weight:bold;padding:0 10px;background:none;}
.carinfo .enquiry_connect_compensation .selling {overflow:visible;position:relative;}
.carinfo .enquiry_connect_compensation .selling .tit {display:inline-block;width:95px;font-weight:normal !important;color:#898989;}
.carinfo .enquiry_connect_compensation .selling .tit .spr_ico_desc {margin-left:5px;vertical-align:middle;}
.carinfo .enquiry_connect_compensation .layer_compen_tip {position:absolute;left:10px;top:35px;font-size:14px;color:#fff;background:#535353;}
.carinfo .enquiry_connect_compensation .layer_compen_tip {padding:15px 35px 15px 15px;border-radius:8px;background:#535353;color:#b2b2b2;}
.carinfo .enquiry_connect_compensation .layer_compen_tip .bt_close {display:inline-block;position:absolute;right:5px;top:10px;color:#fff;font-weight:bold;font-size:25px;line-height:25px;background:url(/images/common/btn_layer_close_white.png) no-repeat 50% 50%;background-size:13px;text-indent:-9999px;overflow:hidden;}
.carinfo .enquiry_connect_compensation .layer_compen_tip:after {content:"";position:absolute;top:-4px;left:70px;width:8px;height:8px;background:#535353;border:1px solid #535353;border-bottom:0;border-right:0;transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.carinfo .enquiry_connect {position:relative;z-index:2;padding:15px 0;border-top:1px dotted #e2e2e2;z-index:20;}
.carinfo .enquiry_connect dt.connect_tit {border-bottom:0 !important;margin-bottom:0px !important;font-size:16px;color:#494949;font-weight:bold;padding:2px 0 0 33px;background:url('/images/ca/ico_phone.png?160118') no-repeat 9px 0;background-size:20px;}
.carinfo .enquiry_connect .connect_box {position:relative;padding:0px 6px 0px 22px;}
.carinfo .enquiry_connect .connect_wrap {display:block;width:100%;overflow:hidden;}
.carinfo .enquiry_connect .connect_num {float:left;font-size:24px;line-height:24px;color:#cc0000;font-family:tahoma;}
.carinfo .enquiry_connect .connect_num a {color:#cc0000;font-size:24px;line-height:24px;font-family:tahoma;vertical-align:middle;}
.carinfo .enquiry_connect .bt_another_num {float:left;color:#666;font-size:14px;margin-top:4px;text-decoration:underline;margin-left:5px;letter-spacing:-0.09em}
.carinfo .enquiry_connect .layer_other_num {width:220px;position:absolute;left:30px;top:28px;background:#fff;border:1px solid #bbb;padding:10px 20px;z-index:100;visibility:hidden;opacity:0;}
.carinfo .enquiry_connect .layer_other_num.show {
opacity:1;visibility:visible;
-webkit-transition: opacity 0.15s ease-in-out, visibility 0s 0.0s;
-moz-transition: opacity 0.15s ease-in-out, visibility 0s 0.0s;
-o-transition: opacity 0.15s ease-in-out, visibility 0s 0.0s;
-ms-transition: opacity 0.15s ease-in-out, visibility 0s 0.0s;
transition: opacity 0.15s ease-in-out, visibility 0s 0.0s;
}
.carinfo .enquiry_connect .layer_other_num .num_wrap {display:block;width:100%;overflow:hidden;padding:2px 0;text-align:left;}
.carinfo .enquiry_connect .layer_other_num .num_wrap strong {color:#333 !important;font-weight:normal !important;}
.carinfo .enquiry_connect .layer_other_num .num_wrap var {padding-left:10px;color:#333;}
.carinfo .enquiry_connect .layer_other_num .num_wrap var a {color:#333;}
.carinfo .enquiry_connect .layer_other_num .layer_close {width:30px;height:30px;display:block;position:absolute;top:0;right:0;background:url('/images/common/btn_layer_close.png') no-repeat 50% 50%;background-size:15px;text-indent:-10000px;}
.carinfo .enquiry_connect .bt_sms_tip {display:inline-block;color:#666;font-size:14px;padding:5px 0 8px 10px;text-decoration:underline;letter-spacing:-0.09em}
.carinfo .enquiry_connect .layer_sms_tip {width:250px;position:absolute;left:5px;top:28px;background:#fff;border:1px solid #bbb;padding:10px 25px 10px 10px;z-index:100;visibility:hidden;opacity:0;text-align:left;}
.carinfo .enquiry_connect .layer_sms_tip span{color:#cc001e;}
.carinfo .enquiry_connect .layer_sms_tip .layer_sms_close {width:30px;height:30px;display:block;position:absolute;top:0;right:0;background:url('/images/common/btn_layer_close.png') no-repeat 50% 50%;background-size:15px;text-indent:-10000px;}
.carinfo .enquiry_connect .layer_sms_tip.show {
opacity:1;visibility:visible;
-webkit-transition: opacity 0.15s ease-in-out, visibility 0s 0.0s;
-moz-transition: opacity 0.15s ease-in-out, visibility 0s 0.0s;
-o-transition: opacity 0.15s ease-in-out, visibility 0s 0.0s;
-ms-transition: opacity 0.15s ease-in-out, visibility 0s 0.0s;
transition: opacity 0.15s ease-in-out, visibility 0s 0.0s;
}
.carinfo .enquiry_connect .connect_tip {padding:5px 6px 0px 22px;letter-spacing:-1px;}
.carinfo .enquiry_connect .connect_tip span{color:#cc0000;}
.carinfo .enquiry_connect .conttip2{color:#898989}
.carinfo .enquiry_connect dd {overflow:visible;letter-spacing:-0.8px;}
.carinfo .enquiry_inquiry {position:relative;z-index:1;padding-top:20px;padding-bottom:20px;z-index:19;border-top:1px dotted #e2e2e2;}
.carinfo .enquiry_inquiry dd.inq_enter {padding:0;}
.carinfo .enquiry_inquiry dt.inquiry_tit {border-bottom:0 !important;margin-bottom:10px !important;font-size:16px;color:#494949;font-weight:bold;padding:2px 0 0 33px;margin-bottom:10px;background:url('/images/ca/ico_inquiry.png?150511') no-repeat 9px 0;background-size:20px;}
.carinfo .enquiry_inquiry .inq_data {padding:0 10px 10px;}
.carinfo .enquiry_inquiry .add_inquiry {position:absolute;left:30px;top:18px;display:block;width:82px;height:24px;margin:0 0 10px 75px;text-align:center;}
.carinfo .enquiry_inquiry .add_inquiry b {display:inline-block;width:52px !important;padding-left:8px;padding-right:13px;margin-top:3px;color:#494949;font-size:13px;background:url('/images/common/arr_bot.png') no-repeat right 50%;background-size:12px;letter-spacing:0;}
.carinfo .enquiry_inquiry .add_inquiry.on b {background:url('/images/common/arr_top.png?150623') no-repeat right 50%;background-size:12px;}
.carinfo .enquiry_inquiry .inq_enter .inq_input li {border-radius:2px;border:1px solid #bcbcbc;background:#fff;margin-bottom:5px;}
.carinfo .enquiry_inquiry .inq_enter .inq_input li input.text {color:#666;border-radius:2px;-webkit-appearance:none;width:98%;height:30px;padding:0 1%;border:0;}
.carinfo .enquiry_inquiry .inq_enter .inq_input li.content textarea {color:#666;border-radius:0;-webkit-appearance:none;width:98%;height:130px;padding:8px 1%;border:0;}
.carinfo .enquiry_inquiry .inq_enter .swap_yn .swap_q {display:block;color:#666;margin:7px 0;}
.carinfo .enquiry_inquiry .inq_enter .swap_yn .check {margin-right:10px;}
.carinfo .enquiry_inquiry .inq_enter .swap_yn .check label {margin-left:3px;color:#666;font-size:15px;}
.carinfo .enquiry_inquiry .inq_enter .swap_input {position:relative;padding-left:0;padding-right:0;margin:10px -10px 0;padding:15px 10px 0;background-color:#F8F8F9;border-top:1px solid #c0c1c2;}
.carinfo .enquiry_inquiry .inq_enter .swap_input:before {content:'';display:block;position:absolute;top:-7px;left:13px;z-index:1;width:0;height:0;border-style:solid;border-width:0 9px 7px 9px;
border-color:transparent transparent #c0c1c2 transparent;}
.carinfo .enquiry_inquiry .inq_enter .swap_input:after {content:'';display:block;position:absolute;top:-6px;left:15px;z-index:1;width:0;height:0;border-style:solid;border-width:0 7px 6px 7px;border-color:transparent transparent #F8F8F9 transparent;}
.carinfo .enquiry_inquiry .inq_enter .swap_input strong img{width:20px;}
.carinfo .enquiry_inquiry .inq_enter .swap_input dt {height:auto;font-weight:normal;}
.carinfo .enquiry_inquiry .inq_enter .swap_input dd {padding:0;line-height:auto;}
.carinfo .enquiry_inquiry .inq_enter .swap_input li {width:100%;overflow:hidden;}
.carinfo .enquiry_inquiry .inq_enter .swap_input .check {margin-right:10px;}
.carinfo .enquiry_inquiry .inq_enter .swap_input .check label {margin-left:3px;color:#666;}
.carinfo .enquiry_inquiry .inq_enter .swap_input select {height:32px;color:#acacac;border:1px solid #bcbcbc;background: #fff url('/images/common/btn_select1.gif?130429') no-repeat right 1px;background-size:24px;width:100%;padding:7px 5px 6px 10px;margin:4px 0;font-size:13px;border-radius:2px;-webkit-appearance:none;}
.carinfo .enquiry_inquiry .inq_enter .data_cate {padding:0;margin-bottom:10px !important;border-bottom:0;}
.carinfo .enquiry_inquiry .inq_enter .data_tr select {width:49%;float:left;}
.carinfo .enquiry_inquiry .inq_enter .data_tr select:last-child {float:right;}
.carinfo .enquiry_inquiry .inq_enter .data_yr select {width:45%;float:left;}
.carinfo .enquiry_inquiry .inq_enter .data_yr .km {width:53%;float:right;}
.carinfo .enquiry_inquiry .inq_enter .data_yr input.text {float:left;width:80%;margin:4px 0;color:#666;border-radius:2px;-webkit-appearance:none;border:1px solid #bcbcbc;height:30px;padding-left:3px;}
.carinfo .enquiry_inquiry .inq_enter .data_yr .unit {float:right;font-size:14px;margin-top:15px;color:#acacac;}
.carinfo .enquiry_inquiry .inq_enter .bt_inquiry {width:100%;height:44px;color:#fff;background:#cc001e;color:#fff;font-size:18px;font-weight:bold;border:0;margin-top:20px;border-radius:0;-webkit-appearance:none;cursor:pointer;}

.carinfo .enquiry_loanconsult {position:relative;z-index:1;padding:20px 22px 20px 0  ;z-index:19;border-top:1px dotted #e2e2e2;}
.carinfo .enquiry_loanconsult dt.loanconsult_tit {border-bottom:0 !important;margin-bottom:10px !important;font-size:16px;color:#494949;font-weight:bold;padding:2px 0 0 33px;margin-bottom:10px;background:url('/images/ca/ico_loanconsult.png') no-repeat 9px 0;background-size:20px;}
.carinfo .enquiry_loanconsult dd.consult_enter {padding:0;}
.carinfo .enquiry_loanconsult dd.consult_enter li{float:left;}
.carinfo .enquiry_loanconsult dd.consult_enter .loan_txt{padding-left:10px;letter-spacing:-1px;}
.carinfo .enquiry_loanconsult dd.consult_enter .loan_txt span{display:block;color:#7e7e7e;}
.carinfo .enquiry_loanconsult dd.consult_enter .loan_rep{float:right;}
.carinfo .enquiry_loanconsult dd.consult_enter .loan_rep a{display:block;width:70px;height:25px;line-height:25px;border:1px solid #cc0000;border-radius:0;color:#cc0000;text-align:center;}
.carinfo .enquiry_loanconsult dd.consult_enter .loan_rep a b{display:block;width:70px;margin:0;color:#cc0000;}




/* 사고이력조회 레이어팝업 */
.carhsty_pop {display:block;position:absolute;width:100%;left:0;top:0;z-index:9999;}
.carhsty_pop .p_bg {position:absolute;width:100%;left:0;top:0;background:#000;opacity:0.8;}
.carhsty_pop .histy_section {position:absolute;left:50%;top:45%;width:295px;height:260px;margin-left:-148px;padding-top:25px;border:1px solid #686868;border-radius:10px;background:#fff;}
.carhsty_pop .histy_section h3 {width:186px;height:18px;margin-left:25px;background:url('/images/ca/tit_car_history.gif') no-repeat 0 0;background-size:186px;text-indent:-99999px;}
.carhsty_pop .histy_section .close {display:block;position:absolute;right:16px;top:17px;width:16px;height:15px;background:url('/images/common/btn_close.gif') no-repeat 0 0;background-size:16px;text-indent:-99999px;}
.carhsty_pop .histy_section .on_inquiry {margin-top:12px;padding:15px 25px 0 23px;border-top:1px solid #bd0e00;}
.carhsty_pop .histy_section .on_inquiry ul {padding:19px 0 11px 16px;background:#f1f1f1;border:1px solid #d0d0d0;}
.carhsty_pop .histy_section .on_inquiry ul li {padding-left:8px;background:url('/images/common/dot_5px_black.gif') no-repeat 0 8px;background-size:2px;line-height:18px;}
.carhsty_pop .histy_section .on_inquiry ul li span.tit {color:#000;font-weight:bold;}
.carhsty_pop .histy_section .on_inquiry ul li span.cnt {color:#bd0e00;font-weight:bold;}
.carhsty_pop .histy_section .on_inquiry p {margin-top:13px;color:#000;font-weight:bold;font-size:14px;text-align:center;}
.carhsty_pop .confirm_area {overflow:hidden;width:255px;margin:30px auto 0;}
.carhsty_pop .confirm_area input {float:left;;width:124px;height:37px;margin-left:7px;text-indent:-99999px;border:0;}
.carhsty_pop .confirm_area input:first-child {margin-left:0;}
.carhsty_pop .confirm_area .btn_confirm {background:url('/images/common/btn_confirm.gif') no-repeat 0 0;background-size:123px;}
.carhsty_pop .confirm_area .btn_cancel {background:url('/images/common/btn_cancel.gif') no-repeat 0 0;background-size:123px;}

/*성능점검 기록부*/
.performance {padding-bottom:20px;border-bottom:1px solid #e2e2e2;}
.performance dd {text-align:center;}
.performance .acc_yn {display:block;margin-bottom:5px;font-size:18px;}
.performance .acc_num {margin-bottom:7px;font-size:13px;}
.performance .acc_msg {margin-bottom:10px;font-size:13px;}
.performance .btn_view_perf {display:inline-block;padding:5px 15px;border:1px solid #c0c1c2;border-radius:3px;color:#494949;font-size:14px;}



/*360 이하 screen style (항상 최하단에 위치해야 됨)*/
@media only screen and (max-width : 360px) {
	div.viewtitle .price strong.prc {font-size:15px;}

}

/*320 이하 screen style (항상 최하단에 위치해야 됨)*/
@media only screen and (max-width : 320px) {
	/* 현대캐피탈 버튼 신규*/
	.cpArea .Bt{width:351px;margin:10px auto !important;}
	.cpArea .Bt .instS{float:left;width:98px;margin-left:5px;}

	.Btwrap.Bt{width:351px;margin:10px auto !important;}
	.Btwrap.Bt .instS{float:left;width:98px;margin-left:5px;}
	
}