@charset 'utf-8';

/*dm common*/
body {font-size:15px;height:100% !important;background:#f7f7f8;}
body.dm #header {}
body.dm #container {background:#f7f7f8;}
input::-webkit-input-placeholder {text-align:left;font-size:15px;color:#acacac;}
input:-moz-placeholder {/* Firefox 18- */ text-align:left;font-size:15px;color:#acacac;}
input::-moz-placeholder {/* Firefox 19+ */text-align:left;font-size:15px;color:#acacac;}
input:-ms-input-placeholder {text-align:left;font-size:15px;color:#acacac;}
select, button {-webkit-user-select:none;-webkit-user-drag:none;}

body.dm #container {background:#f7f7f7;}

/*flipsnap*/
.flipsnapWrap {position:relative;width:100%;}
.flipsnap_inner {overflow:hidden;border:1px solid #d0d0d0;background:#fff;}
.flipsnap:after {content: '';display:block;clear:both;height:0;}
.flipsnap .item {position:relative;float:left;}
.flipsnap img {width:100%;display:block;margin-right:-1px;}
.flipsnapWrap .pointer {position:absolute;bottom:10px;left:50%;width:150px;margin-left:-75px;text-align:center;}
.flipsnapWrap .pointer span {display:inline-block;overflow:hidden;width:6px;height:6px;margin:0 3px;text-indent:-5000em;border-radius:8px;background:#fff;border:1px solid #bbb;}
.flipsnapWrap .pointer span.current {background:#307a98;}

/*딜러몰-리스트*/
.dm_summary {padding:30px 0;background:#fff;text-align:center;}
.dm_summary .ment {display:inline-block;margin:0 auto;text-align:left;}
.dm_summary .ment span {display:inline-block;color:#000;letter-spacing:-1px;line-height:200%}
.dm_summary .ment strong {display:inline-block;color:#323131;font-size:26px;letter-spacing:-1px;font-weight:normal !important}
.dm_summary .ment strong em {color:#f32b2b;}
.dm_summary .event_period {display:block;width:260px;margin:10px auto 0 auto;border:1px solid #f32b2b;color:#f43939;text-align:center;font-size:12px;}
.dealermall_list_wrap {padding:10px;border-top:1px solid #dad9d9;}
.dealermall_list {}
.dealermall_list li {margin-bottom:10px;background:#fff;box-shadow:0 2px 4px #e0e0e0;}
.dealermall_list li a {position:relative;display:block;min-height:100px;overflow:hidden;padding:15px 7px 15px 10px;border:1px solid #ebebeb;border-radius:2px;}
.dealermall_list li a img {position:absolute;display:block;left:10px;top:15px;width:100px;border:1px solid #eaeaea;}
.dealermall_list li a .prod_desc {display:block;padding-left:110px;}
.dealermall_list li a .prod_cate {position:absolute;left:0;top:0;width:60px;padding:5px 0;font-size:11px;background:#9e9e9e;color:#fff;text-align:center;}
.dealermall_list li a .prod_tit {display:block;color:#040404;letter-spacing:-1px;}
.dealermall_list li a .prod_stit {display:block;margin-top:5px;font-weight:normal !important;color:#454545;font-size:11px;line-height:120%;letter-spacing:-1px;}
.dealermall_list li .prod_desc .prc_wrap {float:right;margin-top:25px;text-align:right;}
.dealermall_list li .prod_desc .prod_prc {display:block;overflow:hidden;}
.dealermall_list li .prod_desc .prc_wrap span {display:block;width:100%;overflow:hidden;}
.dealermall_list li .prod_desc .prc_wrap span strong {float:left;margin-top:2px;font-weight:normal;}
.dealermall_list li .prod_desc .prc_wrap span em {padding-right:2px;font-size:12px;}
.dealermall_list li .prod_desc .badge_sale {float:left;margin-top:38px;color:#ce0d0d;font-size:11px;font-weight:bold;}
.dealermall_list li .prod_desc .badge_sale em {font-family:Tahoma;font-size:30px;font-weight:normal;color:#ce0d0d;vertical-align:middle;}
.dealermall_list li .prod_desc .prc_wrap .sale_prc {color:#bfbfc2;font-size:11px;}
.dealermall_list li .prod_desc .prc_wrap .sale_prc strong {width:67px;margin:0px 5px 0 0;text-align:right;color:#2a2a2a;font-size:11px;font-weight:normal !important;letter-spacing:-1px;}
.dealermall_list li .prod_desc .prc_wrap .sale_prc em {text-decoration:line-through;color:#bfbfc2;font-family:Tahoma;letter-spacing:-1px;}
.dealermall_list li .prod_desc .prc_wrap .spe_prc {color:#0b0b0b;font-size:11px;}
.dealermall_list li .prod_desc .prc_wrap .spe_prc strong {width:68px;margin:0px 5px 0 0;text-align:right;color:#2a2a2a;font-size:11px;font-weight:normal !important;}
.dealermall_list li .prod_desc .prc_wrap .spe_prc em {font-size:18px;font-family:Tahoma;color:#0b0b0b;letter-spacing:-1px;font-weight:bold;}
.dealermall_cs {padding:10px;}
.dealermall_cs dt {padding-left:18px;background:url(/images/dm/ico_cs.png) no-repeat 0 2px;background-size:13px;color:#f32b2b;font-size:14px;}
.dealermall_cs dd {padding-left:18px;margin-top:3px;color:#6b6a6a;font-size:12px;}

/*딜러몰-상세*/
body.dm #container.dm_detail {background:#fff;padding-bottom:0;}
.dm_detail_summary {padding:10px;}
.dm_detail_summary .dm_section_wrap {position:relative;width:100%;overflow:hidden;min-height:100px;background:#fff}
.dm_detail_summary .dm_model_img {float:left;width:40%;overflow:hidden;}
.dm_detail_summary .dm_model_desc {float:left;width:60%;margin-top:5px;}
.dm_detail_summary .dm_model_desc dt {padding-left:10px;font-size:14px;font-weight:bold;letter-spacing:-1px;}
.dm_detail_summary .dm_model_desc dd {padding-left:10px;}
.dm_detail_summary .dm_model_desc .dm_smr {margin-top:7px;}
.dm_detail_summary .dm_model_desc .dm_smr .smr {display:block;font-size:11px;line-height:130%;letter-spacing:-1px;font-weight:normal !important;}
.dm_detail_summary .dm_model_desc .dm_prc {position:absolute;left:43%;right:0;bottom:0;}
.dm_detail_summary .dm_model_desc .dm_prc span {display:block;font-size:12px;color:#555454;}
.dm_detail_summary .dm_model_desc .dm_prc strong {width:70px;display:inline-block;margin-right:7px;color:#232323;font-size:11px;font-weight:normal !important;}
.dm_detail_summary .dm_model_desc .dm_prc em {padding-right:3px;font:bold 16px Tahoma;}
.dm_detail_summary .dm_model_desc .dm_prc .sale_discount {color:#ce0d0d;font-size:15px;font-weight:bold;}
.dm_detail_summary .dm_model_desc .dm_prc .sale_discount em {font-family:Tahoma;font-size:34px;font-weight:normal;color:#ce0d0d;vertical-align:middle;}
.dm_detail_summary .dm_model_desc .dm_prc .prc_online {color:#a9a9a9;}
.dm_detail_summary .dm_model_desc .dm_prc .prc_online em {color:#a9a9a9;text-decoration:line-through;}
.dm_detail_summary .flipsnapWrap {width:auto;overflow:hidden;min-height:100px;border:4px solid #e8e8e9;padding-bottom:30px;background:#fff;}
.dm_detail_summary .flipsnapWrap .flipsnap img {width:100%;display:block;margin-right:-1px;max-width:266px;margin:0 auto;}
.dm_detail_summary .flipsnapWrap .item {display:none}
.dm_detail_summary .flipsnapWrap .flipsnapComplete .item {display:block}
.dm_detail_addinfo {padding:0;border-bottom:1px solid #d6d6d6;}
.dm_detail_addinfo .dm_info {border-top:1px solid #d6d6d6;background:#f8f8f9;}
.dm_detail_addinfo ul {padding:10px 15px;}
.dm_detail_addinfo ul li {position:relative;padding:10px 0;width:100%;}
.dm_detail_addinfo ul li .tit {display:inline-block;width:80px;position:absolute;top:50%;left:0;margin-top:-8px;font-size:14px;color:#232323;}
.dm_detail_addinfo ul li .con {display:block;padding-left:120px;font-size:13px;}
.dm_detail_addinfo ul li .con .discount {margin:0 5px 0 -49px;font-weight:bold;font-size:20px;color:#ce0d0d;}
.dm_detail_addinfo ul li .con var {font-size:13px;}
.dm_detail_content {min-height:500px;padding-bottom:50px;}
.dm_detail_content h3 {color:#040404;padding:40px 10px 20px 45px;font-weight:bold;background:#fff url(/images/dm/bul_tit_check.png) no-repeat 20px 35px;background-size:20px;font-size:14px;}
.dm_detail_content h3 em {color:#ce0d0d;font-weight:bold;font-size:14px;}
.dm_detail_content .dm_content_img {display:block;width:100%;max-width:637px;margin:0 auto;}


/*카트*/
.dm_cart {position:relative;border-top:2px solid #ce0d0d;background:#fff;padding:20px 0 0 0;}
.dm_cart.fixed {position:fixed;left:0;right:0;bottom:0;height:0;padding:20px 0 50px 0;}
.dm_cart.open {height:auto;}
.dm_cart.fixed.open {height:auto;padding-bottom:0;}
.dm_cart .btn_dm_cart {display:block;position:absolute;left:50%;top:-15px;width:30px;height:30px;margin-left:-17px;background:url(/images/dm/btn_dm_cart.png) no-repeat;text-indent:-9999px;overflow:hidden;background-size:30px;}
.dm_cart .dm_btn_cart {margin:0 10px;display:none;}
.dm_cart .dm_btn_cart .btn_cart {width:100%;height:40px;background:#ce0d0d;color:#fff;font-size:16px;font-weight:bold;border-radius:2px;}
.dm_cart.fixed .dm_btn_cart {display:block;}
.dm_cart.open .dm_btn_cart {display:none;}
.dm_cart .dm_section_inner {border:0;padding:10px;}
.dm_cart.open .dm_section_inner {display:block;}
.dm_cart .dm_btn_cash .btn_cash {width:100%;height:40px;background:#ce0d0d;color:#fff;font-size:16px;font-weight:bold;border-radius:2px;}
.dm_cart .sl_cartype {display:block;margin-bottom:15px;border:1px solid #bcbcbc;border-radius:3px;}
.dm_cart .sl_cartype .sl_inner {display:block;padding:0 10px;}
.dm_cart .sl_cartype .sl_inner select {width:100%;height:40px;border:0;-webkit-appearance:none;background:url(/images/common/arr_bot.png) no-repeat 100% 50%;background-size:12px;}
.dm_cart .dm_model {margin:0 10px;}
.dm_cart .dm_result_prc {width:100%;overflow:hidden;padding-bottom:10px;margin:10px 0;border-bottom:1px solid #dbdbdb;}
.dm_cart .dm_result_prc .amount {float:left;margin-left:10px;}
.dm_cart .dm_result_prc .amount button {float:left;width:26px;height:24px;border:1px solid #b8b8b8;text-indent:-9999px;overflow:hidden;}
.dm_cart .dm_result_prc .amount var {float:left;height:19px;padding:3px 10px 0 10px;color:#515050;border-top:1px solid #b8b8b8;border-bottom:1px solid #b8b8b8;font-size:13px;}
.dm_cart .dm_result_prc .amount .am_minus {background:url(/images/dm/btn_ico_minus.gif) no-repeat 50% 50%;background-size:24px;}
.dm_cart .dm_result_prc .amount .am_plus {background:url(/images/dm/btn_ico_plus.gif) no-repeat 50% 50%;background-size:24px;}
.dm_cart .dm_result_prc .am_total {float:right;margin-right:10px;font-size:13px;}
.dm_cart .dm_result_prc .am_total var {color:#ce0d0d;font-size:16px;font-weight:bold;}
.dm_cart .dm_total_prc {padding-bottom:15px;text-align:center;font-size:14px;}
.dm_cart .dm_total_prc span {padding-left:10px;font-size:13px;}
.dm_cart .dm_total_prc span var {font-weight:bold;font-size:14px;}

/*320 이하 screen style (항상 최하단에 위치해야 됨)*/
@media only screen and (max-width : 320px) {
	.dealermall_list_wrap {padding:7px;}
	.dealermall_list li .prod_desc .badge_sale em {font-size:24px;}
	.dealermall_list li .prod_desc .prc_wrap .spe_prc em {font-size:14px;}
}