@charset 'utf-8';

/* 공통 */
.ir_estimate{display:inline-block;overflow:hidden;line-height:0;background:url(/images/ee/ir_estimate.png) no-repeat;background-size:300px 300px;text-indent:-9999px}
html{height:100%}
.ee{background-color:#F5F5F5}
.ee #wrap{background-color:transparent}

/* 비교견적 신청 약관동의 */
.ee_estimate_i11 .wrap_main{padding:32px 5px 39px;background-color:#fff;text-align:center}
.ee_estimate_i11 .tit_main{display:block;font-weight:normal}
.ee_estimate_i11 .tit_main .txt_sub{display:block;font-size:17px;color:#666}
.ee_estimate_i11 .tit_main .txt_main{display:block;font-size:20px}
.ee_estimate_i11 .tit_main .txt_main .emph_g{font-weight:bold}
.ee_estimate_i11 .list_main{overflow:hidden;width:280px;padding-top:24px;margin:0 auto}
.ee_estimate_i11 .list_main li{float:left;width:93px;font-weight:bold;color:#FF2626;text-align:center}
.ee_estimate_i11 .list_main li:first-child .ir_estimate{display:block;width:50px;height:45px;margin-left:35px;background-position:-140px -140px}
.ee_estimate_i11 .list_main li:nth-child(2) .ir_estimate{display:block;width:50px;height:45px;margin-left:31px;background-position:-190px -140px}
.ee_estimate_i11 .list_main li:last-child .ir_estimate{display:block;width:47px;height:45px;margin-left:29px;background-position:0 -220px}
.ee_estimate_i11 .info_append{margin-top:40px;line-height:18px;font-size:13px;color:#999}
.ee_estimate_i11 .info_append strong{font-weight:normal;color:#333;}
.ee_estimate_i11 .area_agreement{overflow:hidden;padding:16px 15px;border-bottom:1px solid #D9D9D9}
.ee_estimate_i11 .area_agreement .uiinput{float:left}
.ee_estimate_i11 .area_agreement .btn_agree{float:right;height:27px;font-size:13px;line-height:28px;color:#999}
.ee_estimate_i11 .area_agreement .btn_agree .uiico_arrow_s{margin:0 0 3px 7px}
.ee_estimate_i11 .list_notice{padding:15px 15px 60px}
.ee_estimate_i11 .list_notice li{padding-left:10px;font-size:13px;color:#999;text-indent:-10px}
.ee_estimate_i11 .list_notice .emph_g{font-weight:bold}
.ee_estimate_i11 .start_btn{position:fixed;bottom:20px;left:0;width:100%;padding:0 20px;box-sizing:border-box}

/* 비교견적 신청 공통 아이콘 */
.ee_estimate_i12 .ico_plate{width:29px;height:18px;background-position:0 0}/* 차량번호 */
.ee_estimate_i12 .ico_detailmodel{width:22px;height:29px;background-position:-30px 0}/* 세부모델 */
.ee_estimate_i12 .ico_transmission{width:26px;height:26px;background-position:-60px 0}/* 변속기,연료 */
.ee_estimate_i12 .ico_mileage{width:29px;height:18px;background-position:-90px 0}/* 주행거리,색상 */
.ee_estimate_i12 .ico_accident{width:29px;height:23px;background-position:-120px 0}/* 사고유무,리스 */
.ee_estimate_i12 .ico_option{width:29px;height:30px;background-position:-150px 0}/* 차량옵션 */
.ee_estimate_i12 .ico_photo{width:30px;height:23px;background-position:-245px 0}/* 사진등록 */
.ee_estimate_i12 .ico_profile{width:25px;height:25px;background-position:-180px 0}/* 개인정보 */
.ee_estimate_i12 .ico_payment{width:29px;height:22px;background-position:-210px 0}/* 결제 */

/* 비교견적 신청 슬라아드 레이아웃 */
.ee_estimate_i12{height:100%}
.ee_estimate_i12 #wrap{overflow:inherit;height:100%}
.ee_estimate_i12 #container{height:100%;margin-top:-45px;padding:45px 0 0;box-sizing:border-box}
/*.ee_estimate_i12 .uitooltip_box{width:270px}*/

/* 비교견적 신청 슬라이드 */
.backType_header .btn_summary{position:absolute;top:0;right:0;height:44px;padding:0 15px;font-size:14px;color:#999}
.slide_estimate{height:100%;min-height:504px}
/*.slide_estimate > .itemArea > .itemRoll > .itemScene{overflow:inherit}*/
.slide_estimate .itemArea{display:-webkit-box;-webkit-box-pack:center;-webkit-box-orient:vertical;overflow-y:inherit;height:100%}
.slide_estimate .itemRoll{width:316px;margin:0 auto}
.slide_estimate .box_area{overflow:hidden;position:relative;height:450px;padding:0 15px;margin:20px 8px;border-radius:12px;background-color:#fff;box-shadow: 0 1px 10px 5px rgba(222,222,222,0.50)}
.slide_estimate h3{font-size:18px;line-height:21px;text-align:center}
.slide_estimate .showNavi{display:none}
.slide_estimate .showArrow{display:none}
.slide_estimate .page_slide{display:-webkit-box;display:flex;-webkit-box-pack:justify;justify-content:space-between;position:absolute;left:0;top:0;width:100%;
	background-image: -webkit-linear-gradient(223deg, #FF2020 6%, #FB6612 88%);
	background-image: linear-gradient(313deg, #FF2020 6%, #FB6612 88%)}
.slide_estimate .page_slide .num_page{-webkit-box-flex:1;flex-grow:1;overflow:hidden;height:3px;line-height:0;background-color:#F5F5F5;text-indent:-9999px}
.slide_estimate .page_slide .num_page:before{content:'';float:left;width:2px;height:3px;background-color:#F5F5F5}
.slide_estimate .page_slide .num_page.active{background-color:transparent}
.slide_estimate .page_slide .num_page:first-child:before{display:none}
.slide_estimate .tit_category{display:block;font-weight:normal;font-size:13px;color:#666}
.slide_estimate .tit_category .txt_g:before{content:'';display:inline-block;width:2px;height:2px;margin:9px 3px 0;border-radius:2px;background-color:#D9D9D9;vertical-align:top}
.slide_estimate .tit_category .txt_g:first-child:before{display:none}
.slide_estimate .uitooltip_btn{position:absolute;right:14px;top:11px}
.slide_estimate .area_input{overflow:hidden;padding-bottom:4px;margin:32px 0 19px;border-bottom:1px solid #F0F0F0}
.slide_estimate .box_area.input_step .area_input {margin: 10px 0 12px;}
.slide_estimate .area_input label{display:block;padding-bottom:2px;font-size:13px;color:#666}
.slide_estimate .area_input .inp_g{float:left;height:30px;width:195px;padding:0;border:0;font-size:15px;line-height:30px;-webkit-appearance:none}
.slide_estimate .area_input .inp_g::-webkit-input-placeholder{color:#BFBFBF}
.slide_estimate .area_input .uibtn{float:right}
.slide_estimate .plate_type2{margin:12px 0 15px}
.slide_estimate .btn_userinput{position:absolute;right:0;top:0;font-size:13px;color:#999}
.slide_estimate .btn_userinput.on{color:#FC4130}
.slide_estimate .btn_userinput .uiico_arrow_s{margin:4px 0 0 6px;vertical-align:top}
.slide_estimate .btn_userinput.on .uiico_arrow_s{background-image:url(/images/module/ico_arrow_sr.png);}
.slide_estimate .uiinput_oblong label{color:#666}
.slide_estimate .next_btn{position:absolute;bottom:20px;left:0;width:100%;padding:0 20px;box-sizing:border-box}
/* 비교견적 슬라이드 : 1. 차량정보 */
.slide_estimate .ico_plate{display:block;margin:23px auto 13px}
.slide_estimate .carinfo_plate{margin-top:7px;border:1px solid #D9D9D9;border-radius:5px}
.slide_estimate .carinfo_plate li{border-top:1px solid #d9d9d9;font-size:15px;line-height:50px}
.slide_estimate .carinfo_plate li:first-child{border-top:0 none}
.slide_estimate .carinfo_plate .link_carinfo{display:block;overflow:hidden;height:49px;padding:0 15px}
.slide_estimate .carinfo_plate .tit_subject{float:left;font-weight:normal;color:#BFBFBF}
.slide_estimate .carinfo_plate .txt_select{float:left;color:#333}
.slide_estimate .carinfo_plate .uiico_arrow{float:right;margin:18px 0 0 15px;vertical-align:top}
.slide_estimate .carinfo_plate .on .tit_subject{overflow:hidden;line-height:0;text-indent:-9999px}
.slide_estimate .carinfo_plate .selected .tit_subject{overflow:hidden;line-height:0;text-indent:-9999px}
.slide_estimate .carinfo_plate .selected .uiico_arrow{display:none}
/* 비교견적 슬라이드 : 2. 세부모델/등급 */
.slide_estimate .ico_detailmodel{display:block;margin:17px auto 7px}
.slide_estimate .carinfo_detailmodel li{padding-top:20px}
.slide_estimate .box_area.input_step .carinfo_detailmodel li{padding-top:0}
.slide_estimate .carinfo_detailmodel .link_carinfo{display:block;height:48px;padding-left:15px;margin-top:5px;border:1px solid #D9D9D9;border-radius:4px;font-size:15px;line-height:50px;color:#bfbfbf}
.slide_estimate .carinfo_detailmodel .txt_select{float:left}
.slide_estimate .carinfo_detailmodel .on .txt_select{color:#333}
.slide_estimate .carinfo_detailmodel .none .txt_select{color:#333}
.slide_estimate .carinfo_detailmodel .uiico_arrow{float:right;margin:18px 15px 0 0;vertical-align:top}
.slide_estimate .carinfo_detailmodel .none .uiico_arrow{display:none}
/* 비교견적 슬라이드 : 3. 변속기/연료 */
.slide_estimate .ico_transmission{display:block;margin:19px auto 8px}
.slide_estimate .carinfo_transmission{padding-top:19px}
.slide_estimate .carinfo_transmission li{padding-top:20px}
.slide_estimate .carinfo_transmission .tit_category{padding-bottom:7px}
.slide_estimate .carinfo_transmission .txt_sub{font-size:12px}
/* 비교견적 슬라이드 : 4. 주행거리/색상 */
.slide_estimate .ico_mileage{display:block;margin:24px auto 12px}
.ee_estimate_i12 .tip_mileage .desc_mileage{padding-top:83px;background:url(/images/ee/bg_mileage.png) no-repeat 50% 0;background-size:240px 75px;white-space:nowrap}
.slide_estimate .area_mileage .txt_km{float:right;font-size:15px;line-height:30px}
.slide_estimate .carinfo_color{position:relative}
.slide_estimate .carinfo_color .wrap_subject{overflow:hidden}
.slide_estimate .carinfo_color .tit_category{float:left}
/* 비교견적 슬라이드 : 5. 사고유무/리스렌트이력 */
.slide_estimate .ico_accident{display:block;margin:15px auto 8px}
.slide_estimate .carinfo_accident li{position:relative;padding-top:20px}
.slide_estimate .carinfo_accident li:first-child{padding-top:13px}
.slide_estimate .carinfo_accident .tit_category{padding-bottom:7px}
.slide_estimate .carinfo_accident .btn_userinput{top:13px}
/* 비교견적 슬라이드 : 6. 옵션 */
.slide_estimate .ico_option{display:block;margin:16px auto 8px}
.slide_estimate .carinfo_option{position:relative;padding-top:28px}
.slide_estimate .carinfo_option .btn_userinput{top:8px}
.slide_estimate .list_option{overflow:hidden}
.slide_estimate .list_option li{position:relative;float:left;width:33.33%;padding-top:9px}
.slide_estimate .list_option .inp_g{position:absolute;width:20px;height:20px;opacity:0;border:0 none}
.slide_estimate .list_option .lab_g{display:block;overflow:hidden}
.slide_estimate .list_option .ico_option1{display:block;width:33px;height:29px;margin:0 auto 9px;background-position:0 -60px}
.slide_estimate .list_option .inp_g:checked + .lab_g .ico_option1{background-position:0 -100px}
.slide_estimate .list_option .ico_option2{display:block;width:32px;height:24px;margin:2px auto 6px;background-position:-40px -60px}
.slide_estimate .list_option .inp_g:checked + .lab_g .ico_option2{background-position:-40px -100px}
.slide_estimate .list_option .ico_option3{display:block;width:32px;height:24px;margin:2px auto 6px;background-position:-80px -60px}
.slide_estimate .list_option .inp_g:checked + .lab_g .ico_option3{background-position:-80px -100px}
.slide_estimate .list_option .ico_option4{display:block;width:32px;height:20px;margin:6px auto 9px;background-position:-120px -60px}
.slide_estimate .list_option .inp_g:checked + .lab_g .ico_option4{background-position:-120px -100px}
.slide_estimate .list_option .ico_option5{display:block;width:20px;height:32px;margin:0 auto 4px;background-position:-160px -60px}
.slide_estimate .list_option .inp_g:checked + .lab_g .ico_option5{background-position:-160px -100px}
.slide_estimate .list_option .ico_option6{display:block;width:28px;height:28px;margin:2px auto 6px;background-position:-190px -60px}
.slide_estimate .list_option .inp_g:checked + .lab_g .ico_option6{background-position:-190px -100px}
.slide_estimate .list_option .ico_option7{display:block;width:29px;height:29px;margin:0 auto 6px;background-position:-220px -60px}
.slide_estimate .list_option .inp_g:checked + .lab_g .ico_option7{background-position:-220px -100px}
.slide_estimate .list_option .ico_option8{display:block;width:29px;height:29px;margin:0 auto 6px;background-position:-250px -60px}
.slide_estimate .list_option .inp_g:checked + .lab_g .ico_option8{background-position:-250px -100px}
.slide_estimate .list_option .ico_option9{display:block;width:29px;height:29px;margin:0 auto 6px;background-position:0 -140px}
.slide_estimate .list_option .inp_g:checked + .lab_g .ico_option9{background-position:0 -180px}
.slide_estimate .list_option .ico_option10{display:block;width:24px;height:32px;margin:0 auto 4px;background-position:-30px -140px}
.slide_estimate .list_option .inp_g:checked + .lab_g .ico_option10{background-position:-30px -180px}
.slide_estimate .list_option .ico_option11{display:block;width:32px;height:20px;margin:6px auto 10px;background-position:-60px -140px}
.slide_estimate .list_option .inp_g:checked + .lab_g .ico_option11{background-position:-60px -180px}
.slide_estimate .list_option .ico_option12{display:block;width:32px;height:24px;margin:4px auto 8px;background-position:-100px -140px}
.slide_estimate .list_option .inp_g:checked + .lab_g .ico_option12{background-position:-100px -180px}
.slide_estimate .list_option .txt_option{display:block;font-size:13px;line-height:13px;color:#666;text-align:center}
.slide_estimate .list_option .txt_sub{font-size:10px}
.slide_estimate .list_option .inp_g:checked + .lab_g .txt_option{color:#FF2626}
/* 비교견적 슬라이드 : 7. 사진 */
.slide_estimate .ico_photo{display:block;margin:15px auto 8px}
.slide_estimate .carinfo_photo {position:relative;width:246px;margin:10px auto 0;}
.slide_estimate .carinfo_photo .photo_select:after {content:'';display:block;clear:both;}
.slide_estimate .carinfo_photo .photo_select li {float:left;position:relative;width:113px;height:113px;margin:5px;text-align:center;}
.slide_estimate .carinfo_photo .photo_select li a.add_file {display:block;position:relative;height:111px;border:1px solid #e5e5e5;background:#fafafa;}
.slide_estimate .carinfo_photo .photo_select li a.add_file span {position:absolute;left:50%;bottom:51px;}
.slide_estimate .carinfo_photo .photo_select li a.add_file .pic1 {width:49px;height:33px;margin-left:-25px;background-position:-50px -220px;}
.slide_estimate .carinfo_photo .photo_select li a.add_file .pic2 {width:49px;height:33px;margin-left:-25px;background-position:-100px -220px;}
.slide_estimate .carinfo_photo .photo_select li a.add_file .pic3 {width:48px;height:28px;margin-left:-24px;background-position:-150px -220px;}
.slide_estimate .carinfo_photo .photo_select li a.add_file em {position:absolute;left:0;bottom:15px;width:100%;font-size:13px;color:#999;}
.slide_estimate .carinfo_photo .photo_select li a.delete {overflow:hidden;position:absolute;right:6px;top:6px;width:18px;height:18px;border-radius:50%;background:#ff2626;}
.slide_estimate .carinfo_photo .photo_select li a.delete span {color:transparent;white-space:nowrap;}
.slide_estimate .carinfo_photo .photo_select li a.delete span:before {content:'';position:absolute;left:50%;top:50%;width:8px;height:2px;margin:-1px 0 0 -4px;background:#fff;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.slide_estimate .carinfo_photo .photo_select li a.delete span:after {content:'';position:absolute;left:50%;top:50%;width:8px;height:2px;margin:-1px 0 0 -4px;background:#fff;
	-webkit-transform:rotate(45deg);
	transform:rotate(45deg);
}
.slide_estimate .carinfo_photo .photo_select li .processing {overflow:hidden;position:absolute;left:0;top:0;width:100%;height:100%;color:transparent;background:url(/images/common/gif_loading.gif) no-repeat center center;background-size:40px;}
.slide_estimate .carinfo_photo .howto {position:absolute;left:134px;top:144px;width:100px;text-align:center;line-height:17px;font-size:13px;color:#333;}
.slide_estimate .carinfo_photo .howto a {margin-top:7px;font-weight:normal;}
.slide_estimate .carinfo_photo .law_isuue {margin-top:11px;line-height:15px;font-size:12px;color:#666;}
/* 비교견적 슬라이드 : 8. 개인정보 */
.slide_estimate .ico_profile{display:block;margin:21px auto 9px}
.slide_estimate .area_phone{margin:21px 0 0}

/* 전체 레이어 : 약관동의 */
.ee_estimate_i11.uipageactive{background-color:#fff}
.uipage_agreement{padding-bottom:85px}
.uipage_agreement .list_agree .area_select{padding:16px 19px;border-bottom:1px solid #F0F0F0}
.uipage_agreement .list_agree li{overflow:hidden;position:relative}
.uipage_agreement .list_agree label{font-size:13px;color:#666}
.uipage_agreement .list_agree li:first-child label{font-size:15px;color:#333}
.uipage_agreement .list_agree .btn_fold{position:absolute;top:0;right:0;height:60px;width:53px}
.uipage_agreement .list_agree .txt_agreement{visibility:hidden;position:absolute;height:165px;padding:20px;font-size:13px;color:#666;background-color:#F5F5F5;box-sizing:border-box}
.uipage_agreement .list_agree .txt_agreement .important{text-decoration:underline;font-size:15px;font-weight:normal;}
.uipage_agreement .list_agree .on .uiico_arrow{transform:rotate(-90deg);-webkit-transform:rotate(-90deg)}
.uipage_agreement .list_agree .on .txt_agreement{visibility:visible;position:relative}
.uipage_agreement .confirm_btn{position:fixed;bottom:20px;left:0;width:100%;padding:0 20px;box-sizing:border-box}
/* 전체 레이어 : 비교견적 신청 요약보기 */
.uipage_summary .list_summary{overflow:hidden;padding:16px 0 75px}
.uipage_summary .list_summary > li{float:left;width:50%;padding:0 6px 12px;box-sizing:border-box}
.uipage_summary .list_summary > li:nth-child(odd){padding-left:15px}
.uipage_summary .list_summary > li:nth-child(even){padding-right:15px}
.uipage_summary .list_summary .link_summary{display:block;position:relative;height:159px;padding:18px;border-radius:13px;font-size:15px;background-color:#fff;box-sizing:border-box;box-shadow: 0 1px 10px 5px rgba(222,222,222,0.50)}
.uipage_summary .list_summary li:nth-child(5) .link_summary{height:180px}
.uipage_summary .list_summary li:nth-child(6) .link_summary{height:180px}
.uipage_summary .list_summary .tit_subject{display:block;color:#333}
.uipage_summary .list_summary .inactive .tit_subject{color:#BFBFBF}
.uipage_summary .list_summary .ir_estimate{position:absolute;right:15px}
.uipage_summary .list_summary .ico_plate{top:19px}
.uipage_summary .list_summary .inactive .ico_plate{background-position:0 -30px}
.uipage_summary .list_summary .ico_detailmodel{top:15px}
.uipage_summary .list_summary .inactive .ico_detailmodel{background-position:-30px -30px}
.uipage_summary .list_summary .ico_transmission{top:15px}
.uipage_summary .list_summary .inactive .ico_transmission{background-position:-60px -30px}
.uipage_summary .list_summary .ico_mileage{top:17px}
.uipage_summary .list_summary .inactive .ico_mileage{background-position:-90px -30px}
.uipage_summary .list_summary .ico_accident{top:14px}
.uipage_summary .list_summary .inactive .ico_accident{background-position:-120px -30px}
.uipage_summary .list_summary .ico_option{top:11px}
.uipage_summary .list_summary .inactive .ico_option{background-position:-150px -30px}
.uipage_summary .list_summary .ico_photo{top:16px}
.uipage_summary .list_summary .inactive .ico_photo{background-position:-245px -30px}
.uipage_summary .list_summary .ico_profile{top:13px}
.uipage_summary .list_summary .inactive .ico_profile{background-position:-180px -30px}
.uipage_summary .list_detail{padding-top:8px;color:#BFBFBF}
.uipage_summary .list_detail li{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.uipage_summary .list_detail .on{color:#666}
.uipage_summary .list_option li{display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:5;white-space:inherit;word-break:break-all}
.uipage_summary .confirm_btn{position:fixed;bottom:20px;left:0;width:100%;padding:0 20px;box-sizing:border-box}
/* 전체 레이어 : 셀렉트 타입 */
.uipage_select{height:100%;background-color:#fff}
.uipage_select .uipage_container{background-color:#fff}
.uipage_select .list_selectcar li:last-child{border-bottom:1px solid #f0f0f0}
/* 전체 레이어 : 사진등록가이드 */
.uipage_photo .photo_guide {padding:15px 15px 30px;background:#fff;}
.uipage_photo .photo_guide ul li {margin-top:20px;text-align:center;}
.uipage_photo .photo_guide ul li:first-of-type {margin-top:0;}
.uipage_photo .photo_guide ul li img {width:100%;}
.uipage_photo .photo_guide ul li p {margin-top:15px;font-size:14px;color:#333;}
/* 전체 레이어 : 결제 */
.uipage_header .btn_summary{position:absolute;top:0;right:0;height:44px;padding:0 15px;font-size:14px;color:#999}
.uipage_payment{height:100%;background-color:#fff}
.uipage_payment .uipage_container{padding:0 20px 20px;background-color:#fff}
.uipage_payment .ico_payment{display:block;margin:33px auto 0}
.uipage_payment h2{padding-top:15px;font-size:18px;line-height:21px;text-align:center}
.uipage_payment .list_payment{padding-bottom:30px}
.uipage_payment .list_payment li{overflow:hidden;padding-top:33px}
.uipage_payment .list_payment li:first-child{padding-top:24px}
.uipage_payment .list_payment .tit_subject{display:block;font-weight:normal;font-size:13px;color:#666}
.uipage_payment .list_payment .area_carinfo{overflow:hidden;font-size:15px;text-overflow:ellipsis;white-space:nowrap}
.uipage_payment .list_payment .area_carinfo .txt_g:before{content:'';display:inline-block;width:2px;height:2px;margin:9px 3px 0;border-radius:2px;background-color:#D9D9D9;vertical-align:top}
.uipage_payment .list_payment .area_carinfo .txt_g:first-child:before{display:none}
.uipage_payment .list_payment .item_price{overflow:hidden}
.uipage_payment .list_payment .item_price .tit_subject{float:left}
.uipage_payment .list_payment .item_price .emph_price{float:right;font-weight:bold;font-size:15px;color:#FF2626}
.uipage_payment .select_payment{margin-top:0}
.uipage_payment .select_payment label{color:#999}
.uipage_payment .btn_realtime{display:block;width:100%;height:64px;border-top:1px solid #F0F0F0}
.uipage_payment .btn_realtime .emph_g{color:#FF0400}
.uipage_payment .btn_realtime .uiico_arrow_s{margin:0 0 3px 7px}
.uipage_payment .confirm_btn{margin-top:4px}
/* 전체 레이어 : 실시간 견적결과 */
.uipage_realtime .uipage_container{padding-bottom:20px}
.uipage_realtime .list_realtime{background-color:#fff}
.uipage_realtime .list_realtime li{overflow:hidden;padding:18px 20px;border-top:1px solid #F0F0F0}
.uipage_realtime .list_realtime li:first-child{border-top:0 none}
.uipage_realtime .list_realtime .area_model{float:left;width:73%}
.uipage_realtime .list_realtime .txt_model{display:block;overflow:hidden;font-size:15px;text-overflow:ellipsis;white-space:nowrap}
.uipage_realtime .list_realtime .info_append{display:block;font-size:13px;color:#666}
.uipage_realtime .list_realtime .area_price{float:right;text-align:right}
.uipage_realtime .list_realtime .emph_price{display:block;font-weight:bold;font-size:15px;color:#FF2626}
.uipage_realtime .list_realtime .txt_date{display:block;font-size:13px;color:#666}
.uipage_realtime .desc_realtime{padding:16px 20px 0;font-size:13px}
.uipage_realtime .notice_realtime{padding:9px 20px 0;font-size:13px;color:#999}
.uipage_realtime .confirm_btn{padding:20px 20px 0}

/* 레이어 */
.uilayer .area_input{overflow:hidden;padding-bottom:4px;margin:17px 0 19px;border-bottom:1px solid #F0F0F0}
.uilayer .area_input .inp_g{float:left;height:30px;width:200px;padding:0;border:0;font-size:15px;line-height:30px;-webkit-appearance:none}
.uilayer .area_input .inp_g::-webkit-input-placeholder{color:#BFBFBF}
.uilayer .area_tf{padding:14px;border:1px solid #D9D9D9;background-color:#F5F5F5}
.uilayer .area_tf .tf_g{width:100%;height:140px;border:0 none;font-size:15px;background-color:transparent;-webkit-appearance:none}
.uilayer .area_tf .tf_g::-webkit-input-placeholder{color:#BFBFBF}

/* [규] 신청단 인증번호 필드 추가 */
.area_input.area_code, .area_input.area_phone {position: relative;}
.timer {position:absolute;top:1px;left:55px;color: #FC4130;font-size: 12px;}
.btn_code {position: absolute;bottom:4px;right: 0;width:106px;height: 30px;line-height: 30px;font-size: 13px;color:#fff;background:#D9D9D9;border-radius: 50px;-ms-border-radius: 50px;}
.btn_code.on {font-weight: bold;border: none;color:#fff;background-image: -webkit-linear-gradient(223deg, #FF2020 6%, #FB6612 88%);background-image: -o-linear-gradient(223deg, #FF2020 6%, #FB6612 88%);background-image: linear-gradient(313deg, #FF2020 6%, #FB6612 88%);}
.slide_estimate .area_input .inp_g {width:160px;line-height:1;}
.slide_estimate .area_input.area_code .inp_g {width: 160px;}

@media only screen and (max-width:359px){
	.uipage_summary .list_summary .ir_estimate{display:none}
}