@charset 'utf-8';
@import 'scss/spr/spr.servicemenu.scss';
@import 'scss/spr/util.scss';

/* 공통 */
.ir_index{display:inline-block;overflow:hidden;line-height:0;background:url(/images/index/ir_index.png?181217) no-repeat;background-size:200px 200px;text-indent:-9999px;vertical-align:top}
.index #wrap{padding-bottom:85px}
.index #container{padding-bottom:0}

/* 앱 설치 광고(모웹에만 노출) */
.wrap_top_ad::before,
.wrap_top_ad .btn_adclose::after{content:"";background:url(/images/common/ico_topad.png?180620) no-repeat 0 0;background-size:48px 34px}
.wrap_top_ad{display:none;position:relative;height:53px;padding-left:32px;background-color:#2c2d2f;}
.wrap_top_ad.view{display:block;}
.wrap_top_ad::before{float:left;width:34px;height:34px;margin:9px 7px 0 0;}
.wrap_top_ad .btn_adclose{position:absolute;top:0;left:0;width:32px;height:100%;font-size:0;line-height:0;text-indent:-9999px;}
.wrap_top_ad .btn_adclose::after{display:block;overflow:hidden;width:9px;height:9px;margin-left:14px;background-position:-39px 0}
.wrap_top_ad .desc_topad{float:left;padding-top:13px;font-size:11px;line-height:14px;color:#fff;letter-spacing:-1px;}
.wrap_top_ad .tit_topad{display:block;font-weight:bold;letter-spacing:0;}
.wrap_top_ad .link_topad{float:right;overflow:hidden;height:53px;font-size:10px;color:#fff}
.wrap_top_ad .txt_install{display:block;width:36px;height:21px;margin:15px 9px 0;border:1px solid #fff;border-radius:3px;line-height:22px;text-align:center;}
/* Notice Layer - 시스템화 */
.notice_type_base.notice_type_random_multi {display:none;}
.notice_type_base.notice_type_random_multi.view {display:block;}
.notice_type_base.notice_type_random_multi .conWrap {overflow:hidden;position:fixed;left:50%;top:50%;width:320px;padding:0 20px;margin-bottom:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transform:translate3d(-50%,-50%,0);
	-moz-transform:translate3d(-50%,-50%,0);
	transform:translate3d(-50%,-50%,0);
}
.notice_type_base.notice_type_random_multi a.img {display:block;min-height:100px;}
.notice_type_base.notice_type_random_multi a.img img {width:280px;height:350px;vertical-align:top;}
.notice_type_base.notice_type_random_multi .btnTxt {overflow:hidden;background:#fff;}
.notice_type_base.notice_type_random_multi .btnTxt a {float:left;height:55px;line-height:56px;text-align:center;font-size:15px;color:#444;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.notice_type_base.notice_type_random_multi .btnTxt a.close {width:35%;border-left:1px solid #e5e5e5;}
.notice_type_base.notice_type_random_multi .btnTxt a.todayclose {width:65%;}
.notice_type_base.notice_type_random_multi .btnTxt a.todayclose.only {width:100%;}
.notice_type_base.notice_type_random_multi .btnTxt a.todayclose.only:before {display:inline-block;content:'';width:12px;height:100%;margin-right:4px;vertical-align:top;background:url(/images/common/btn_layer_close.png) no-repeat 0 50%;background-size:12px;}
.notice_type_base.notice_type_random_multi .dimmdEvent {display:block;position:fixed;left:0;top:0;width:100%;height:100%;z-index:0;}
/* 이벤트 배너 높이보다 작은 화면일때 (여백포함 445px) */
@media screen and (max-height: 445px) {
	.notice_type_base.notice_type_random_multi .conWrap {position:absolute;left:50%;top:0;padding:20px;
		-webkit-transform:translate3d(-50%,0,0);
		-moz-transform:translate3d(-50%,0,0);
		transform:translate3d(-50%,0,0);
	}
}
/* Notice Layer - 공통 */
body.wrap_pause #wrap {position:fixed;left:0;top:0;width:100%;}
.notice_type_area .notice_type_base {visibility:hidden;height:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.notice_type_area .notice_type_base.view {visibility:visible;height:auto;}
.notice_type_area .pos_bottom {position:fixed;left:0;bottom:0;z-index:100;width:100%;height:auto;
	-webkit-transition:visibility 0s 0s, -webkit-transform .5s 0s;
	transition:visibility 0s 0s, transform .5s 0s;
	-webkit-transform:translate3d(0, 120%, 0);
	transform:translate3d(0, 120%, 0);
}
.notice_type_area .pos_bottom .notice_type_base {padding:0 8px 8px;}
.notice_type_area.view .pos_bottom {
	-webkit-transition-delay:0s;
	transition-delay:0s;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}
/* Notice Layer - 이미지안내 */
.notice_type_image {position:absolute;left:0;top:0;z-index:9999;width:100%;height:100%;}
.notice_type_image:before {display:block;content:'';position:fixed;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.8;}
.notice_type_image .conWrap {position:absolute;left:50%;top:42px;z-index:1;margin-bottom:42px;}
.notice_type_image .conWrap .btn a {display:block;overflow:hidden;position:absolute;text-indent:-50000em;}
/* Adam 광고 */
.encar_ad{padding:10px 10px 0;z-index:1000;box-sizing:border-box;}
.encar_ad_index{display:none !important;}
.index .encar_ad,
.index .encar_ad iframe,
.index_app .encar_ad {height:120px;padding:0;}

/* 상단 메뉴 */
body.index #wrap {padding-bottom:58px;}
body.index #header {height:34px;border:none;
	background-image:-webkit-linear-gradient(180deg, #ec0000 47%, #fb4812 100%);
	background-image:-o-linear-gradient(180deg, #ec0000 47%, #fb4812 100%);
	background-image:linear-gradient(270deg, #ec0000 47%, #fb4812 100%);
}
body.index #header header h1 a {width:92px;height:49px;background:url(/images/common/skencar_logo_white.png) no-repeat center;background-size:92px;}
body.index #header .aside_button {width:52px;height:49px;}
body.index #header .aside_button .spr_aside {width:22px;height:15px;background-position:-125px -60px;}
body.index #header .mypage_button {width:48px;height:49px;}
body.index #header .mypage_button:after {width:19px;height:19px;margin:-10px 0 0 -10px;background-position:-150px -60px;}

/* 차량 검색 */
.section_searchWrap.searchFixed {height:70px;
	background-image:-webkit-linear-gradient(180deg, #ec0000 47%, #fb4812 100%);
	background-image:-o-linear-gradient(180deg, #ec0000 47%, #fb4812 100%);
	background-image:linear-gradient(270deg, #ec0000 47%, #fb4812 100%);
}
.section_searchWrap.searchFixed .section_search {position:fixed;left:0;top:0;width:100%;z-index:1000;}
.section_search{padding:15px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background-image:-webkit-linear-gradient(180deg, #ec0000 47%, #fb4812 100%);
	background-image:-o-linear-gradient(180deg, #ec0000 47%, #fb4812 100%);
	background-image:linear-gradient(270deg, #ec0000 47%, #fb4812 100%);
}
.section_search .link_search {display:block;position:relative;height:40px;padding:0 15px;text-align:right;line-height:40px;font-size:14px;color:#999;border-radius:4px;background:#fff;}
.section_search .link_search strong {position:absolute;left:15px;top:0;padding-left:15px;font-weight:normal;}
.section_search .link_search strong .ir_index {position:absolute;left:0;top:13px;width:13px;height:12px;background-position:0 0}
.section_search .link_search .emph_num {display:inline-block;position:relative;}
.section_search .link_search .emph_num:before {content:'';position:absolute;left:-7px;top:13px;width:1px;height:14px;background:#d9d9d9;}

/* 최근검색, 최근본 차량 */
.tab_recent{height:44px;padding:0 10px;border-bottom:1px solid #E5E5E5}
.tab_recent li{float:left}
.tab_recent .link_tab{display:block;height:44px;padding:0 15px;line-height:44px;color:#999;text-align:center}
.tab_recent .active .link_tab{height:42px;border-bottom:2px solid #333;font-weight:bold;color:#333}
.section_recent{display:none}
.section_recent.active{display:block}
.section_recent .link_more{display:block;height:60px;margin:0 10px;border-top:1px solid #F5F5F5;font-size:15px;line-height:61px;text-align:center;box-sizing:border-box}
.section_recent .link_more .ico_arrow{width:16px;height:11px;margin:23px 0 0 8px;background-position:-20px 0}
.section_recent .link_none{color:#BFBFBF}
.section_recent .link_none .ico_arrow{background-position:-160px 0}
.list_recentsearch .link_g{display:block;overflow:hidden;height:60px;padding:0 15px;border-top:1px solid #f5f5f5;font-size:15px;line-height:61px;color:#BFBFBF;text-overflow:ellipsis;white-space:nowrap}
.list_recentsearch .on .link_g{color:#333}
.list_recentsearch li:first-child .link_g{border-top:0 none}
.area_recentview{height:162px;overflow-y:hidden;overflow-x:auto;padding-top:20px}
.list_recentview{overflow:hidden;padding:0 10px}
.list_recentview li{float:left;padding:0 5px}
.list_recentview .link_thumb{display:block;width:130px}
.list_recentview .thumb_img{position:relative}
.list_recentview .img_thumb{display:block;width:130px;height:98px}
.list_recentview .tit_subject{display:block;overflow:hidden;padding-top:8px;text-overflow:ellipsis;white-space:nowrap}
.list_recentview .emph_price{display:block;font-weight:bold;color:#FF2626}
.recent_none{display:-webkit-box;-webkit-box-pack:center;-webkit-box-orient:vertical;height:182px;text-align:center}
.recent_none .desc_recommend{color:#666}
.recent_none .tit_recommend{display:block;padding-top:8px}
.recent_none .list_recommend{overflow:hidden;padding:0 5px;text-align:center}
.recent_none .list_recommend li{display:inline-block;padding:10px 2px 0}
.recent_none .list_recommend .link_g{display:block;height:25px;padding:0 10px;border-radius:25px;font-size:12px;line-height:26px;color:#666;background-color:#F5F5F5}
.recent_none .ico_noview{display:block;width:92px;height:69px;margin:0 auto;background-position:-60px -40px}
.recent_none .desc_noview{padding-top:10px;font-size:15px;color:#BFBFBF}

/* 안심하고 구매 */
.section_buycar{padding:0 15px 25px;background-color:#F5F5F5}
.section_buycar .tit_buycar{padding:23px 0 13px;font-size:18px;text-align:center}
.section_buycar .link_buycar{display:block;height:80px;margin-top:9px;border-radius:4px;background-color:#fff;-webkit-box-shadow: 0 1px 7px 3px rgba(222,222,222,0.50);box-shadow: 0 1px 7px 3px rgba(222,222,222,0.50)}
.section_buycar .link_buycar .ir_index{float:left;width:55px;height:55px;margin:12px 0 0 10px}
.section_buycar .link_buycar .ico_warrant{background-position:0 -140px}
.section_buycar .link_buycar .ico_inspection{background-position:0 -20px}
.section_buycar .link_buycar .ico_compensation{background-position:0 -80px}
.section_buycar .link_buycar .info_subject{float:left;padding:22px 0 0 9px}
.section_buycar .link_buycar .emph_g{display:block;font-size:13px;color:#7C7C7C}
.section_buycar .link_buycar .tit_subject{display:block}
.section_buycar .link_buycar .uiico_arrow{float:right;margin:33px 20px 0 0;vertical-align:top}

/* 내 차 팔기 */
.section_sellcar{padding:23px 20px 25px;border-bottom:10px solid #F5F5F5;background:url(/images/index/bg_sellcar.jpg) no-repeat 50% 106px;background-size:210px 156px;text-align:center}
.section_sellcar .tit_sellcar{font-size:18px}
.section_sellcar .desc_sellcar{padding-top:6px;font-size:16px;line-height:22px;color:#666}
.section_sellcar .link_sellcar{width:146px;margin:170px auto 0}

/* 이차어때 */
.section_mocha{padding:23px 0 15px;border-bottom:10px solid #F5F5F5}
.section_mocha .tit_mocha{font-size:18px;text-align:center}
.slide_mocha{padding-top:6px}
.slide_mocha .itemArea{overflow-y:inherit}
.slide_mocha .itemRoll{width:316px;margin:0 auto}
.slide_mocha .box_area{overflow:hidden;position:relative;height:214px;margin:10px 8px;padding:0 20px;border-radius:4px;-webkit-box-shadow: 0 1px 10px 5px rgba(222,222,222,0.50);box-shadow: 0 1px 10px 5px rgba(222,222,222,0.50)}
.slide_mocha .tit_subject{display:block;padding-top:20px;font-size:16px;}
.slide_mocha .list_mocha{overflow:hidden;position:relative;padding-top:5px}
.slide_mocha .list_mocha dt{float:left;width:30px;height:20px;margin:5px 9px 0 0;border-radius:4px;font-size:12px;line-height:21px;color:#fff;text-align:center}
.slide_mocha .list_mocha dt:nth-of-type(1){background-color:#FF2626}
.slide_mocha .list_mocha dt:nth-of-type(2){background-color:#333}
.slide_mocha .list_mocha dd{overflow:hidden;float:left;width:80%;height:20px;padding-top:5px;line-height:21px}
.slide_mocha .list_mocha dd:nth-of-type(3){padding-top:13px;height:12px}
.slide_mocha .list_mocha .ico_score{display:block;width:85px;height:12px;background-position:-60px 0}
.slide_mocha .list_mocha .inner_score{display:block;width:85px;height:12px;background-position:-60px -20px}
.slide_mocha .img_mocha{display:block;position:absolute;right:0;bottom:15px;width:195px;height:118px}

/* 공지사항 */
.section_notice{position:relative;height:60px;padding:0 15px 0 81px;border-bottom:10px solid #F5F5F5}
.section_notice .tit_subject{position:absolute;left:15px;top:20px;font-size:15px}
.section_notice .link_notice{display:block;overflow:hidden;font-size:15px;line-height:61px;color:#575757;text-overflow:ellipsis;white-space:nowrap}

/* 하단고정메뉴 */
nav.main_service {position:fixed;left:0;bottom:0;width:100%;height:57px;border-top:1px solid #d9d9d9;background:#fff;z-index:1000;}
nav.main_service ul {overflow:hidden;}
nav.main_service ul li {float:left;width:25%;text-align:center;}
nav.main_service ul li a {display:block;position:relative;height:21px;padding-top:36px;font-size:9px;color:#333;}
nav.main_service ul li a:after {content:'';position:absolute;left:50%;@include util-sprite($servicemenu-menu1);
	-webkit-transform:translate(-50%,0);
	-moz-transform:translate(-50%,0);
	transform:translate(-50%,0);
}
nav.main_service ul li.on a {color:#ff0000;}
nav.main_service ul li:first-of-type a {padding-left:5px;}
nav.main_service ul li:last-of-type a {padding-right:5px;}
nav.main_service ul li.menu1 a:after {top:8px;margin-left:2px;@include util-unit($servicemenu-menu1);}
nav.main_service ul li.menu2 a:after {top:8px;@include util-unit($servicemenu-menu2);}
nav.main_service ul li.menu3 a:after {top:8px;@include util-unit($servicemenu-menu3);}
nav.main_service ul li.menu4 a:after {top:6px;margin-left:-2px;@include util-unit($servicemenu-menu4);}

/* 가로모드일때 */
@media screen and (orientation: landscape){
	.encar_ad{position:static !important;}
	.index #wrap{padding-bottom:0}
}