@charset 'utf-8';

/* jqPop 공통 레이아웃 */
.jq_wrap{}
.jq_head{position:fixed;top:0;left:0;right:0;height:44px;background:#fff;border-bottom:1px solid #eee;z-index:100;}
.jq_head h1{line-height:45px;color:#000;text-align:center;font-size:14px;font-weight:normal;}
.jq_head .func_close {position:absolute;left:0;top:0;width:32px;height:44px;line-height:44px;}
.jq_head .func_close .spr_func_close {width:11px;height:19px;vertical-align:middle;background-position:-50px 0;}
.jq_container {padding:70px 13px 0;}
.jq_inner {padding:60px 13px 100px 13px;}
.jq_btn {position:fixed;bottom:0;left:0;right:0;background:#f7f7f8;border-top:1px solid #c1c1c3;padding:20px 10px;}
.jq_btn .func_close {width:100%;height:35px;color:#5c5c5c;background:#fff;border-radius:3px;border:1px solid #dadada;font-weight:bold;font-size:14px;}
.jq_inner table {width:100%;margin-top:10px;border-top:2px solid #6d6d6d;}
.jq_inner table th {padding:8px 5px;border-bottom:1px solid #6d6d6d;background:#f6f6f6;color:#9b9aa0;font-weight:normal;font-size:15px;}
.jq_inner table td {padding:8px 5px;border-bottom:1px solid #d0d0d0;border-left:1px solid #d0d0d0;font-size:15px;}
.jq_inner table tr td:first-child {border-left:0;}
.jq_inner table .alLeft {text-align:left;} 
.jq_inner .summary {font-size:16px;line-height:20px;}
.jq_inner .summary.pb15 {padding-bottom:15px}
.jq_inner .summary strong {color:#226ecc;font-weight:normal !important;}
.jq_inner p {font-size:15px;line-height:20px;}

/* 판매약관 */
.jq_terms ul {margin-top:10px;}
.jq_terms ul li {line-height:18px;font-size:13px;text-indent:-8px;margin-left:10px;margin-bottom:2px;}
.jq_terms ul li:before {content:"";width:2px;height:2px;display:inline-block;margin:-4px 5px 0 0;background:#403e4b;vertical-align:middle;}
.jq_terms ul li a {color:#226ecc;text-decoration:underline;}
.jq_terms dl {margin-top:20px;}
.jq_terms dl dt {margin-bottom:3px;}
.jq_terms dl dd {line-height:18px;font-size:13px;text-indent:-14px;margin-left:17px;margin-bottom:3px;}

/* 연식표기 안내 */
.jq_yearguide h2 {font-size:15px;font-weight:normal;}
.jq_yearguide h2 em {color:#cc0000;font-weight:normal;}
.jq_yearguide strong {color:#cc0000;font-weight:normal !important;}
.jq_yearguide .y_case{margin-top:20px;}
.jq_yearguide .y_case table td{text-align:center;height:35px;}
.jq_yearguide .y_case .tip{display:block;padding-top:5px;color:#b1b0b7;}
.jq_yearguide .y_detail{margin-top:20px;}
.jq_yearguide .y_detail h2{margin:5px 0;font-size:15px;}
.jq_yearguide .y_detail .yd_tip{margin-top:15px;padding:15px;border:1px solid #e4e4e4;background-color:#fbfbfb;}
.jq_yearguide .y_detail p {padding-bottom:13px;}

/* 사고이력 */
.jq_accident .acc_table td {height:50px;}
.jq_accident .acc_table td p {width:100%;overflow:hidden;}
.jq_accident .acc_table td p span {float:left;}
.jq_accident .acc_table td p em  {float:right;color:#8c8b93;}
.jq_accident .acc_detail {margin-top:10px;font-size:15px;}

/*안심번호 내용*/
.jq_num050 dl {margin-bottom:20px;}
.jq_num050 dl dt {font-size:14px;font-weight:bold;margin-bottom:5px;}
.jq_num050 dl dd {font-size:14px;line-height:20px;}
.jq_num050 dl dd strong {color:#e92828;font-weight:normal !important;}

/*성능점검기록부*/
.jq_perf_report dl {margin-bottom:20px;}
.jq_perf_report dl dt {font-size:14px;font-weight:bold;margin-bottom:5px;}
.jq_perf_report dl dd {font-size:13px;line-height:20px;text-indent:-13px;margin-left:13px;margin-bottom:20px;}
.jq_perf_report dl dd strong {color:#e92828;font-weight:normal !important;}

/*광고상품 미리보기*/
.jq_ad_sample .sample_ad_tip {position:absolute;left:0;top:0;right:0;background:#cc001e;color:#fff;padding:10px 100px 10px 10px;margin-top:48px;}
.jq_ad_sample .sample_ad_tip .btn_ad_sample {display:inline-block;position:absolute;right:10px;top:12px;border:1px solid #fff;color:#fff;padding:5px 10px;border-radius:3px;font-size:16px;}
.jq_ad_sample .sample_ad_img {padding-top:50px;}
.jq_ad_sample .sample_ad_img img {width:100%;}
.jq_ad_sample .slp_preview{position:relative;width:269px;margin:0 auto;overflow:hidden;padding-bottom:15px;}
.jq_ad_sample .slp_preview .pview{position:relative;width:1000px;height:100% !important;}
.jq_ad_sample .slp_preview .pview li{float:left;width:269px;padding-top:225px;}
.jq_ad_sample .slp_preview .pview .power{background:url('/images/rs/premium_preview_power.png?180721') no-repeat 27px 0;background-size:215px;}
.jq_ad_sample .slp_preview .pview .updat{background:url('/images/rs/premium_preview_updat.png') no-repeat 27px 0;background-size:215px;}
.jq_ad_sample .slp_preview .pview .pic{background:url('/images/rs/premium_preview_pic.png?180721') no-repeat 27px 0;background-size:215px;}
.jq_ad_sample .slp_preview .pview .top{background:url('/images/rs/premium_preview_top.png') no-repeat 27px 0;background-size:215px;}
.jq_ad_sample .slp_preview .pview .hmark{background:url('/images/rs/premium_preview_hmark.png') no-repeat 27px 0;background-size:215px;}
.jq_ad_sample .slp_preview .pview .mobile{background:url('/images/rs/premium_preview_mobile.png?180721') no-repeat 27px 0;background-size:215px;}
.jq_ad_sample .slp_preview .prem_explain{padding:0 10px;}
.jq_ad_sample .slp_preview li .prem_explain p{padding-left:10px;background:url('/images/common/bullet_txtline.gif') no-repeat 0 7px;}
.jq_ad_sample .slp_preview li .prem_explain h3{margin-bottom:10px;}
.jq_ad_sample .slp_preview .pview h3{font-size:14px;}
.jq_ad_sample .slp_preview .pview p{line-height:1.4;}
.jq_ad_sample .slp_preview .pview p strong {color:#cc0000;font-weight:normal !important;}
.jq_ad_sample .slp_preview .pointer {position:absolute;left:50%;bottom:0;width:150px;margin-left:-75px;text-align:center;}
.jq_ad_sample .slp_preview .pointer span {display:inline-block;overflow:hidden;width:5px;height:5px;margin:0 3px;text-indent:-5000em;border-radius:8px;background:#adadad;border:1px solid #9a9a9a;}
.jq_ad_sample .slp_preview .pointer span.current {background:#b22929;border:1px solid #991c1c;}
.jq_ad_sample .slp_preview .control a{position:absolute;top:0;width:32px;height:200px;line-height:1000px;background: #fff url('/images/sl/bg_preview_arr.gif?130429') no-repeat left 75px;z-index:10;overflow:hidden;}
.jq_ad_sample .slp_preview .control a.prev{left:0;}
.jq_ad_sample .slp_preview .control a.next{right:-1px;background-position:-52px 75px;}
.jq_ad_sample .slp_detail .bx_inner{padding:5px 15px 5px 15px;}
.jq_ad_sample .slp_detail dl{padding:14px 0 15px 0;border-bottom:1px dotted #ccc;}
.jq_ad_sample .slp_detail dl:last-child{border-bottom:0;}
.jq_ad_sample .slp_detail dl dt{overflow:hidden;margin-bottom:10px;font-size:14px;font-weight:bold;}
.jq_ad_sample .slp_detail dl dt span.txt_tit{float:left;}
.jq_ad_sample .slp_detail dl dt span.pdt_price{float:right;font-weight:normal;}
.jq_ad_sample .slp_detail dl dd{padding-left:10px;background:url('/images/common/bullet_txtline.gif') no-repeat 0 7px;}
.jq_ad_sample .slp_detail dl dd span {color:#cc0000;}
.jq_ad_sample .rd_box{margin:20px 0 0 0;}

/* 통신요금 */
.jqPop .sl_char h2{font-size:12px;}
.jqPop .sl_char p{padding:5px 0 20px 0;line-height:140%;}
.jqPop .sl_char .myinfotxt{margin:0;}
.jqPop .sl_char .myinfotxt dd{padding:0;background:none;}

/* 헛걸음 보상서비스 가입신청 */
.jq_compensateJoin {padding:48px 0 0;background:#f7f7f7;}
.jq_compensateJoin .top_text {padding:15px 0;border-bottom:1px solid #cacaca;background:#fff;
	box-shadow: 0px 3px 3px #e3e3e3;
	-webkit-box-shadow: 0px 2px 3px #e3e3e3;
}
.jq_compensateJoin .top_text p {text-align:center;line-height:18px;font-size:13px;color:#333;}
.jq_compensateJoin .top_text p span {color:#e92828;}
.jq_compensateJoin .top_text p em {display:block;margin-top:5px;}
.jq_compensateJoin .top_text p a {color:#333;}
.jq_compensateJoin .join_form {margin-top:5px;border-top:1px solid #efefef;background:#fff;}
.jq_compensateJoin .join_form .user {padding:20px 10px;}
.jq_compensateJoin .join_form .user li:first-child {margin-top:0;}
.jq_compensateJoin .join_form .user li {position:relative;height:35px;padding:0 10px;margin-top:9px;line-height:35px;color:#acacac;font-size:13px;border:1px solid #bcbcbc;border-radius:3px;}
.jq_compensateJoin .join_form .user a.btn_modify {display:block;position:absolute;right:0;top:0;width:56px;height:35px;text-align:center;color:#f8f8f8;font-size:12px;background:#b7b7b7;}
.jq_compensateJoin .join_form .terms {padding:10px 10px;border-top:1px solid #bcbcbc;}
.jq_compensateJoin .join_form .terms .action {padding:18px 0;}
.jq_compensateJoin .join_form .terms a.btn_wbr_r {display:block;height:40px;line-height:40px;}
.jq_compensateJoin .join_form .terms div.chk {position:relative;padding-top:10px;font-size:12px;}
.jq_compensateJoin .join_form .terms div.chk label {display:inline-block;letter-spacing:-1px;color:#454545;}
.jq_compensateJoin .join_form .terms div.chk a.btn_privacy {margin-left:5px;color:#454545;text-decoration:underline;}
.jq_compensateJoin .join_form .terms div.chk .box_area {visibility:hidden;overflow:hidden;overflow-y:auto;position:absolute;width:100%;height:95px;line-height:17px;padding:15px 10px;margin-top:10px;font-size:12px;border:1px solid #c1c1c3;border-radius:2px;background:#fff;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.jq_compensateJoin .join_form .terms div.chk .box_area div.con {}
.jq_compensateJoin .join_form .terms div.chk .box_area.active {visibility:visible;position:relative;}
.jq_compensateJoin .join_form .terms div.chk .box_area strong {display:block;padding-bottom:5px;}
.jq_compensateJoin .join_form .terms div.chk .box_area .indent {margin:5px 0 0 10px;}

/* 뉴스레터 받아보기 */
.news_subscribe {padding-bottom:70px;}
.news_subscribe .noti {padding-bottom:10px;line-height:20px;font-size:15px;color:#403e4b;}
.news_subscribe .way_sel label {display:inline-block;padding-right:20px;color:#999;}
.news_subscribe .text_chk label {display:inline-block;color:#999;}
.news_subscribe .text {padding:15px 10px;margin-top:15px;font-size:12px;color:#858585;border:1px solid #bcbcbc;border-radius:2px}
.news_subscribe .text_chk {margin-top:10px;}
.news_subscribe .input_wrap {position:relative;}
.news_subscribe .input_wrap input {font-size:15px;color:#403e4b;}
.news_subscribe .input_wrap input::-webkit-input-placeholder {text-align:left;font-size:12px;color:#adadad;}
.news_subscribe .input_wrap input:-moz-placeholder {/* Firefox 18- */ text-align:left;font-size:12px;color:#adadad;}
.news_subscribe .input_wrap input::-moz-placeholder {/* Firefox 19+ */text-align:left;font-size:12px;color:#adadad;}
.news_subscribe .input_wrap input:-ms-input-placeholder {text-align:left;font-size:12px;color:#adadad;}
.news_subscribe .input_wrap a.btn_call {position:absolute;right:0;bottom:0;padding:6px;}
.news_subscribe .input_wrap a.btn_call span {display:block;height:23px;padding:0 6px;line-height:23px;font-size:12px;color:#fff;border-radius:2px;background:#e23441;}
.news_subscribe .time {padding-top:15px;text-align:center;color:#e33a3a;font-size:11px;}
.news_subscribe .alert {padding-top:15px;text-align:center;color:#e33a3a;font-size:11px;}
.news_subscribe .complete {position:relative;padding-top:38px;text-align:center;line-height:22px;letter-spacing:-1px;font-size:17px;color:#403e4b;}
.news_subscribe .complete:before {display:block;content:'';width:149px;height:108px;margin:0 auto 20px;background:url(/images/mg/img_cc_newsletter_complete.png) no-repeat 0 0;background-size:149px;}
.cc_news_subscribe_i03 .news_subscribe .input_wrap {border:1px solid #bcbcbc;border-radius:2px;}
.cc_news_subscribe_i03 .news_subscribe .input_wrap .cmm_input_type1 {border:0 none;border-radius:0;}
.cc_news_subscribe_i03 .news_subscribe .input_wrap .cmm_input_type1:first-child {border-bottom:1px solid #bcbcbc;}
.news_subscribe .box_notice{margin:25px auto 0;padding:16px 15px;border:1px solid #a8a8a8}
.news_subscribe .box_notice .tit_notice{display:block;font-size:14px;color:#727272}
.news_subscribe .box_notice .list_notice{padding-top:7px;font-size:13px;line-height:18px;color:#727272}

.jq_btn_red {position:fixed;bottom:0;left:0;right:0;z-index:100;width:100%;}
.jq_btn_red .func_close {display:block;width:100%;height:41px;line-height:41px;font-size:16px;color:#fff;border:0 none;border-radius:0;background:#e23441;}


/*320 이하 screen style (항상 최하단에 위치해야 됨)*/
@media only screen and (max-width : 320px) {
	.jq_ad_sample .sample_ad_tip {padding-right:90px;}
	.jq_ad_sample .sample_ad_tip .btn_ad_sample {padding:5px 6px;font-size:13px;}
}
