@charset 'utf-8';

/* 공통 */
.ir_compensation{display:inline-block;overflow:hidden;line-height:0;background:url(/images/pg/ir_compensation.png) no-repeat;background-size:300px 200px;text-indent:-9999px;vertical-align:top}
.ir_buywarranty{display:inline-block;overflow:hidden;line-height:0;background:url(/images/pg/ir_buywarranty.png) no-repeat;background-size:150px 20px;text-indent:-9999px;vertical-align:top}

/* 헛걸음 보상 안내 */
.pg_compensation_v01 #container{padding-bottom:0}
.pg_compensation_v01 .confirm_btn{position:fixed;bottom:20px;left:0;z-index:100;width:100%;padding:0 20px;box-sizing:border-box}
.pg_compensation_v01 .section_intro{height:331px;padding:0 24px;background:url(/images/pg/bg_compensation.jpg) no-repeat 50% 50%;background-size:cover;text-align:center}
.pg_compensation_v01 .section_intro h3{padding-top:63px;font-size:14px;color:#fff}
.pg_compensation_v01 .section_intro .tit_append{display:block;padding:6px 0 18px;border-bottom:1px solid rgba(255,255,255,0.3);font-weight:normal;font-size:23px;color:#fff}
.pg_compensation_v01 .section_intro .desc_g{padding-top:30px;font-size:15px;color:#fff;opacity:0.8}
.pg_compensation_v01 h4{padding-top:40px;font-weight:normal;font-size:20px;text-align:center}
.pg_compensation_v01 .section_summary{background-color:#F5F5F5}
.pg_compensation_v01 .list_summary{overflow:hidden;padding:24px 0 4px}
.pg_compensation_v01 .list_summary li{float:left;width:33.33%;height:75px;padding-bottom:28px;text-align:center;letter-spacing:-1px}
.pg_compensation_v01 .list_summary .ir_compensation{display:block;height:39px;margin:0 auto}
.pg_compensation_v01 .list_summary li:nth-child(1) .ir_compensation{width:43px;background-position:0 0}
.pg_compensation_v01 .list_summary li:nth-child(2) .ir_compensation{width:43px;background-position:-50px 0}
.pg_compensation_v01 .list_summary li:nth-child(3) .ir_compensation{width:42px;background-position:-100px 0}
.pg_compensation_v01 .list_summary li:nth-child(4) .ir_compensation{width:42px;background-position:-150px 0}
.pg_compensation_v01 .list_summary li:nth-child(5) .ir_compensation{width:39px;background-position:-200px 0}
.pg_compensation_v01 .list_summary li:nth-child(6) .ir_compensation{width:28px;background-position:-240px 0}
.pg_compensation_v01 .list_summary .tit_subject{display:block;padding-top:3px}
.pg_compensation_v01 .list_summary .txt_sub{display:block;font-size:11px;color:#5A5A5A}
.pg_compensation_v01 .section_process .ui_tab{padding:10px 10px 0;height:43px;border-bottom:1px solid #d9d9d9}
.pg_compensation_v01 .area_process{display:none;padding:31px 20px 0}
.pg_compensation_v01 .area_process.active{display:block}
.pg_compensation_v01 #tabBuyer{padding-bottom:292px;background:url(/images/pg/img_compensation_buy.png) no-repeat 50% 100%;background-size:237px 243px}
.pg_compensation_v01 #tabSeller{padding-bottom:418px;background:url(/images/pg/img_compensation_sell.png) no-repeat 50% 100%;background-size:237px 377px}
.pg_compensation_v01 .list_process li{position:relative;z-index:20;padding-top:40px;letter-spacing:-1px}
.pg_compensation_v01 .list_process li:first-child{padding-top:0}
.pg_compensation_v01 .list_process li:first-child:after{content:'';position:absolute;left:30px;top:61px;z-index:10;width:1px;height:400px;background-color:#CACACA}
.pg_compensation_v01 .list_process .ir_compensation{float:left;width:62px;height:62px;margin-right:15px}
.pg_compensation_v01 .list_process .ico_car{background-position:0 -40px}
.pg_compensation_v01 .list_process .ico_phone{background-position:-70px -40px}
.pg_compensation_v01 .list_process .ico_request{background-position:-140px -40px}
.pg_compensation_v01 .list_process .ico_reserve{background-position:-210px -40px}
.pg_compensation_v01 .list_process .ico_location{background-position:0 -110px}
.pg_compensation_v01 .list_process .ico_sms{background-position:-70px -110px}
.pg_compensation_v01 .list_process .ico_check{background-position:-140px -110px}
.pg_compensation_v01 .list_process .ico_approve{background-position:-210px -110px}
.pg_compensation_v01 .list_process .tit_subject{display:block;overflow:hidden;font-size:15px}
.pg_compensation_v01 .list_process .tit_act{color:#FF2626}
.pg_compensation_v01 .list_process .desc_g{display:block;overflow:hidden;font-size:15px;color:#666}
.pg_compensation_v01 .section_request{padding:0 15px 100px;background-color:#F8F8F8}
.pg_compensation_v01 .section_request .desc_info{padding:5px 5px 0;font-size:17px;line-height:23px;color:#666;letter-spacing:-1px}
.pg_compensation_v01 .section_request .desc_info .emph_g{color:#FF2626}
.pg_compensation_v01 .list_request{padding:12px 5px 0}
.pg_compensation_v01 .list_request li{height:30px;padding-top:8px;font-weight:bold;font-size:15px;line-height:31px;color:#FF2626;letter-spacing:-1px}
.pg_compensation_v01 .list_request .ico_num1{width:20px;height:13px;margin:7px 9px 0 0;background-position:0 -180px}
.pg_compensation_v01 .list_request .ico_num2{width:20px;height:13px;margin:7px 9px 0 0;background-position:-20px -180px}
.pg_compensation_v01 .list_request .ico_num3{width:20px;height:13px;margin:7px 9px 0 0;background-position:-40px -180px}
.pg_compensation_v01 .list_details{padding:15px;margin-top:25px;border:1px solid #ECECEC;line-height:24px;color:#666;background-color:#F5F5F5}
.pg_compensation_v01 .list_details dt{padding-top:20px;font-weight:bold}
.pg_compensation_v01 .list_details dt:first-child{padding-top:3px}
.pg_compensation_v01 .list_notice{padding-top:10px;line-height:18px;color:#666;letter-spacing:-1px}
.pg_compensation_v01 .list_notice li{padding:10px 0 0 9px;text-indent:-9px}

/* 엔카진단 안내 */
.pg_buywarranty_v01 #container{padding-bottom:0}
.pg_buywarranty_v01 #footer{padding-bottom:100px}
.pg_buywarranty_v01 .confirm_btn{position:fixed;bottom:20px;left:0;z-index:100;width:100%;padding:0 20px;box-sizing:border-box}
.pg_buywarranty_v01 .section_intro{height:331px;background:url(/images/pg/bg_buywarranty.jpg) no-repeat 50% 50%;background-size:cover;text-align:center}
.pg_buywarranty_v01 .section_intro h3{padding-top:63px;font-size:14px;color:#fff}
.pg_buywarranty_v01 .section_intro .tit_append{display:block;padding:6px 0 18px;margin:0 25px;border-bottom:1px solid rgba(255,255,255,0.3);font-weight:normal;font-size:23px;line-height:29px;color:#fff}
.pg_buywarranty_v01 .list_intro{overflow:hidden;padding-top:32px}
.pg_buywarranty_v01 .list_intro li{float:left;width:33.33%;font-size:15px;line-height:19px;color:#fff;opacity:0.8;letter-spacing:-1px}
.pg_buywarranty_v01 h4{padding-top:40px;font-weight:normal;font-size:20px;text-align:center}
.pg_buywarranty_v01 .section_summary{padding-bottom:40px;text-align:center}
.pg_buywarranty_v01 .section_summary .desc_g{padding-top:8px;font-size:15px;line-height:19px;color:#666}
.pg_buywarranty_v01 .section_details{background-color:#F5F5F5}
.pg_buywarranty_v01 .list_details{text-align:center}
.pg_buywarranty_v01 .list_details li{padding-top:40px}
.pg_buywarranty_v01 .list_details li:first-child{padding:20px 0 216px;background:url(/images/pg/img_buywarranty1.png) no-repeat 50% 165px;background-size:247px 148px}
.pg_buywarranty_v01 .list_details li:nth-child(2){padding-bottom:242px;background:#fff url(/images/pg/img_buywarranty2.png) no-repeat 50% 200px;background-size:269px 147px}
.pg_buywarranty_v01 .list_details li:nth-child(3){padding-bottom:242px;background:url(/images/pg/img_buywarranty3.png) no-repeat 50% 210px;background-size:263px 134px}
.pg_buywarranty_v01 .list_details li:nth-child(4){padding-bottom:50px;background:#fff url(/images/pg/img_buywarranty4.png) no-repeat 50% 205px;background-size:265px 141px}
.pg_buywarranty_v01 .list_details .ico_num1{display:block;width:20px;height:13px;margin:0 auto;background-position:0 0}
.pg_buywarranty_v01 .list_details .ico_num2{display:block;width:20px;height:13px;margin:0 auto;background-position:-20px 0}
.pg_buywarranty_v01 .list_details .ico_num3{display:block;width:20px;height:13px;margin:0 auto;background-position:-40px 0}
.pg_buywarranty_v01 .list_details .ico_num4{display:block;width:20px;height:13px;margin:0 auto;background-position:-60px 0}
.pg_buywarranty_v01 .list_details .tit_subject{display:block;padding-top:9px;font-size:15px;line-height:21px;color:#FF2626}
.pg_buywarranty_v01 .list_details .desc_g{padding-top:17px;font-size:15px;line-height:21px;color:#666;letter-spacing:-1px}
.pg_buywarranty_v01 .list_details .info_append{display:block;padding-top:188px;font-size:13px;line-height:16px;color:#999}
.pg_buywarranty_v01 .section_faq{padding:10px 0 85px;background-color:#f5f5f5}
.pg_buywarranty_v01 .section_faq h4{padding-bottom:25px;background-color:#fff}
.pg_buywarranty_v01 .section_faq .btn_toggle{height:55px;width:100%;font-size:15px;background-color:#fff}
.pg_buywarranty_v01 .section_faq .btn_toggle .uiico_arrow{margin-left:10px}
.pg_buywarranty_v01 .section_faq .btn_fold{display:none}
.pg_buywarranty_v01 .section_faq .open .btn_fold{display:block}
.pg_buywarranty_v01 .section_faq .open .btn_open{display:none}
.pg_buywarranty_v01 .section_faq .faq{display:none}
.pg_buywarranty_v01 .section_faq .faq:nth-child(-n+5){display:block}
.pg_buywarranty_v01 .section_faq .open .faq{display:block}
.pg_buywarranty_v01 .uicarToggle{border-top:1px solid #f0f0f0;background-color:#fff}
.pg_buywarranty_v01 .uicarToggle .q{display:block;position:relative;padding:19px 35px 18px 20px;font-size:15px;border-bottom:1px solid #f0f0f0;letter-spacing:-1px}
.pg_buywarranty_v01 .uicarToggle .faq .uiico_arrow{display:block;content:'';position:absolute;right:20px;top:50%;margin-top:-5px;display:block;overflow:hidden;text-indent:-5000em;
	-webkit-transition:all 0.2s;
	transition:all 0.2s;
}
.pg_buywarranty_v01 .uicarToggle .view .uiico_arrow{-webkit-transform: rotate(-90deg);transform: rotate(-90deg)}
.pg_buywarranty_v01 .uicarToggle dd{display:none;padding:21px 20px 19px;margin-top:-1px;color:#666;border-bottom:1px solid #f0f0f0;line-height:20px;background:#f0f0f0}
.pg_buywarranty_v01 .uicarToggle .view dd{display:block}
.pg_buywarranty_v01 .list_usage dt{padding-top:38px}
.pg_buywarranty_v01 .list_usage dt:nth-of-type(2){background-color:#F5F5F5}
.pg_buywarranty_v01 .list_usage dd{padding-bottom:337px;background:url(/images/pg/img_buywarranty5.png) no-repeat 50% 100%;background-size:320px 327px;text-align:center}
.pg_buywarranty_v01 .list_usage dd:nth-of-type(2){background-color:#F5F5F5;background-image:url(/images/pg/img_buywarranty6.png);background-size:192px 321px}
.pg_buywarranty_v01 .list_usage .tit_subject{display:block;width:76px;height:25px;margin:0 auto;border-radius:25px;font-size:12px;line-height:26px;color:#fff;background-color:#FF2626;text-align:center}
.pg_buywarranty_v01 .list_usage .emph_usage{display:block;padding-top:10px;font-size:20px}
.pg_buywarranty_v01 .list_usage .desc_g{padding-top:5px;font-size:17px;color:#666;letter-spacing:-1px}