@charset 'utf-8';

html, body{height:100%}

/* 화살표 공통 */
.ico_arr{position:absolute;top:24px;right:14px;border:7px solid transparent;border-top-color:#ccc}
.ico_arr::before,.ico_arr::after{content:"";position:absolute;width:0;height:0}
.ico_arr::before{top:-21px;left:-7px;border:7px solid transparent;border-bottom-color:#ccc}
.ico_arr::after{top:-15px;left:-14px;border:14px solid transparent;border-top-color:#fff}

/* 닫기 공통 */
.btn_close{overflow:hidden;position:absolute;right:0;top:0;width:42px;height:42px;font-size:0;line-height:0;text-indent:-9999px}
.btn_close::before,
.btn_close::after{content:'';position:absolute;top:50%;left:50%;margin-left:-8px;width:17px;height:3px;border-radius:3px;background-color:#fff}
.btn_close::before{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.btn_close::after{-webkit-transform:rotate(45deg);transform:rotate(45deg)}

/* 시세 메인 */
.pr_price_v01 #wrap{background-color:#f3f3f5}
#container.cont_price{padding-bottom:65px}
.pr_price_v01 #container.cont_price{padding:0}
.cont_price .index_price{padding:26px 10px 45px}
.index_price .tit_pricesearch{padding-bottom:1px;font-size:12px}
.index_price .link_choice{display:block;position:relative;height:54px;margin-top:7px;padding-left:11px;border:1px solid #ccc;font-size:15px;line-height:55px;color:#868686;background-color:#fff;}
.index_price .tit_price::after{content:'';display:block;overflow:hidden;font-size:0;line-height:0;text-indent:-9999px}
.index_price .link_search{display:block;height:54px;margin-top:7px;border:1px solid #ccc;font-weight:bold;font-size:17px;line-height:57px;color:#868686;background-color:#dfdfdf;text-align:center}
.index_price .on{border-width:2px;border-color:#000;color:#2c2c2c}
.index_price .on .ico_arr{border-top-color:#000}
.index_price .on .ico_arr::before{border-bottom-color:#000}
.index_price .on .ico_arr::after{top:-16px;}
.index_price .on .tit_price::after{display:none}
.index_price .on.link_search{color:#fff;background-color:#000}
.index_price .on.link_search::after{display:none}
.cont_price .define_index{text-align:center}
.cont_price .index_graph{padding:32px 0 24px;background-color:#fff}
.define_index .tit_define{font-weight:bold;font-size:17px;color:#000;letter-spacing:-1px}
.define_index .txt_define{margin-top:11px;font-size:13px;color:#4b4b4b}
.index_price .img_index{display:block;width:290px;height:110px;margin:26px auto 0;background:url(/images/pr/img_index.png) no-repeat 0 0;background-size:290px 149px}
.index_drive .img_index{width:130px;height:34px;background-position:0 -115px}
.cont_price .index_drive{padding:32px 0 45px;background-color:#f7f7f7}

/* 선택 리스트 */
.cont_price .tit_pricecate{padding:18px 16px 13px;border-bottom:1px solid #f6f6f6;font-size:12px;color:#2c2c2c}
.cont_price .cate_price{border-top:1px solid #ceced0}
.cate_price .tit_cate{height:25px;padding:0 15px;border-bottom:1px solid #e9e9e9;font-size:12px;line-height:27px;color:#403e4b;background-color:#f6f6f6}
.cate_price .list_cate li{position:relative;width:100%;border-bottom:1px solid #e9e9e9}
.cate_price .link_cate{display:block;overflow:hidden;height:42px;font-size:14px;line-height:43px;color:#403e4b}
.cate_price .txt_cate{float:left;padding-right:30px}
.cate_price .txt_cate:nth-child(1){padding-left:15px}
.list_cate .ico_mark{float:left;width:60px;height:30px;margin:6px 0 0 2px;background:url(/images/common/ico_mark.png) no-repeat;background-size:420px 300px}
.cate_price .ico_arr{top:19px;border-top-color:#707076}
.pr_pricesearch_l01 .list_cate .ico_arr,
.pr_pricesearch_l08 .list_cate .ico_arr{top:15px;right:4px;-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}
.cate_price .on .ico_arr{top:11px;-webkit-transform:rotate(180deg);transform:rotate(180deg);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}
.cate_price .ico_arr::before{border-bottom-color:#707076}

/* 모델선택 */
.list_toggle .sub_cate{display:none;position:relative;margin-bottom:-1px;padding:8px 0 13px;border-top:1px solid #403e4b;border-bottom:1px solid #403e4b;background-color:#f3f4f5}
.list_toggle .sub_cate::before,.list_cate .sub_cate::after{content:'';position:absolute;left:27px;border:6px solid transparent}
.list_toggle .sub_cate::before{top:-13px;border-bottom-color:#000}
.list_toggle .sub_cate::after{top:-12px;border-bottom-color:#f3f4f5}
.list_toggle .link_sub{display:block;padding:9px 10px 7px 24px;font-size:14px;text-indent:-7px}
.list_toggle .link_sub::before{content:'';display:inline-block;width:2px;height:2px;margin:6px 5px 0 0;background-color:#403e4b;vertical-align:top}
.list_toggle .on .sub_cate{display:block}

/* 제조사 마크 */
.list_cate .ico_m001{background-position:0px 0px}/* 현대 */
.list_cate .ico_m002{background-position:-60px 0px}/* 기아 */
.list_cate .ico_m003{background-position:-120px 0px}/* 쉐보레(GM대우) */
.list_cate .ico_m004{background-position:-180px 0px}/* 쌍용 */
.list_cate .ico_m005{background-position:-240px 0px}/* 르노삼성 */
.list_cate .ico_m006{background-position:-360px -270px}/* 기타 국내차 */
.list_cate .ico_m007{background-position:-120px -270px}/* 제네시스 */
.list_cate .ico_m011{background-position:-60px -30px}/* 아우디 */
.list_cate .ico_m012{background-position:-300px 0px}/* BMW */
.list_cate .ico_m013{background-position:0px -30px}/* 벤츠 */
.list_cate .ico_m014{background-position:-180px -210px}/* 폭스바겐 */
.list_cate .ico_m015{background-position:-120px -210px}/* 포르쉐 */
.list_cate .ico_m016{background-position:-300px -120px}/* 사브 */
.list_cate .ico_m017{background-position:-180px -120px}/* 볼보 */
.list_cate .ico_m018{background-position:-360px -210px}/* 피아트 */
.list_cate .ico_m019{background-position:-240px -180px}/* 재규어 */
.list_cate .ico_m020{background-position:-240px -60px}/* 랜드로버 */
.list_cate .ico_m021{background-position:-300px -210px}/* 푸조 */
.list_cate .ico_m022{background-position:-120px -150px}/* 시트로엥 */
.list_cate .ico_m023{background-position:-360px -180px}/* 크라이슬러 */
.list_cate .ico_m024{background-position:-60px -210px}/* 포드 */
.list_cate .ico_m027{background-position:-180px -30px}/* 혼다 */
.list_cate .ico_m028{background-position:-120px -180px}/* 이스즈 */
.list_cate .ico_m029{background-position:-180px -90px}/* 마쯔다 */
.list_cate .ico_m030{background-position:0px -120px}/* 미쯔비시 */
.list_cate .ico_m031{background-position:-120px -60px}/* 도요타 */
.list_cate .ico_m033{background-position:-360px -30px}/* 닛산 */
.list_cate .ico_m034{background-position:-60px -60px}/* 닷지 */
.list_cate .ico_m035{background-position:-120px -30px}/* 렉서스 */
.list_cate .ico_m036{background-position:-300px -90px}/* 머큐리 */
.list_cate .ico_m037{background-position:0px -150px}/* 스즈키 */
.list_cate .ico_m038{background-position:-120px 0px}/* 쉐보레 */
.list_cate .ico_m039{background-position:-360px -150px}/* 오펠 */
.list_cate .ico_m040{background-position:-180px -150px}/* 알파 로메오 */
.list_cate .ico_m041{background-position:0px -210px}/* 페라리 */
.list_cate .ico_m042{background-position:-240px -210px}/* 폰티악 */
.list_cate .ico_m043{background-position:-300px -180px}/* 캐딜락 */
.list_cate .ico_m044{background-position:-60px -90px}/* 링컨 */
.list_cate .ico_m045{background-position:-240px -120px}/* 뷰익 */
.list_cate .ico_m046{background-position:0px -180px}/* 올즈모빌 */
.list_cate .ico_m047{background-position:0px -90px}/* 롤스로이스 */
.list_cate .ico_m048{background-position:0px -240px}/* 험머 */
.list_cate .ico_m049{background-position:-180px -60px}/* 람보르기니 */
.list_cate .ico_m050{background-position:-120px -120px}/* 벤틀리 */
.list_cate .ico_m051{background-position:0px -60px}/* 다이하쯔 */
.list_cate .ico_m052{background-position:-360px -120px}/* 스바루 */
.list_cate .ico_m053{background-position:-120px -90px}/* 마세라티 */
.list_cate .ico_m054{background-position:-360px -90px}/* 미니 */
.list_cate .ico_m055{background-position:-300px -60px}/* 로버 */
.list_cate .ico_m056{background-position:-300px -30px}/* GMC */
.list_cate .ico_m057{background-position:-300px -150px}/* 어큐라 */
.list_cate .ico_m058{background-position:-180px -180px}/* 인피니티 */
.list_cate .ico_m059{background-position:-60px -120px}/* 미쯔오까 */
.list_cate .ico_m069{background-position:-360px -60px}/* 로터스 */
.list_cate .ico_m070{background-position:-240px -150px}/* 애스턴마틴 */
.list_cate .ico_m075{background-position:-360px -240px}/* 파가니 */
.list_cate .ico_m076{background-position:0 -270px}/* 코닉세그 */
.list_cate .ico_m077{background-position:-240px -30px}/* 부가티 */
.list_cate .ico_m078{background-position:-360px 0px}/* 르노 */
.list_cate .ico_m079{background-position:-300px -240px}/* 새턴 */
.list_cate .ico_m080{background-position:-240px -240px}/* 마이바흐 */
.list_cate .ico_m081{background-position:-120px -240px}/* 스마트 */
.list_cate .ico_m082{background-position:-60px -150px}/* 사이언 */
.list_cate .ico_m083{background-position:-180px -240px}/* 지프 */
.list_cate .ico_m084{background-position:-240px -90px}/* 맥라렌 */
.list_cate .ico_m085{background-position:-60px -270px}/* 포톤 */
.list_cate .ico_m999{background-position:-360px -270px}/* 기타 수입차 */

/* 도움말 */
.bundle_help{display:inline-block;position:relative;z-index:1;font-size:12px}
.bundle_help .btn_help{overflow:hidden;width:18px;height:19px;border-radius:19px;font-weight:bold;color:#fff;line-height:21px;background-color:#919191}
.bundle_help .box_help{display:none;position:absolute;left:-54px;top:28px;max-width:200px;padding:14px 40px 14px 14px;border-radius:5px;color:#fff;background-color:#535353;text-align:left;white-space:nowrap}
.bundle_help .box_help::before{content:'';position:absolute;top:-18px;left:54px;border:9px solid transparent;border-bottom-color:#535353}
.bundle_help .btn_close{overflow:hidden;position:absolute;right:0;top:0;width:42px;height:42px;font-size:0;line-height:0;text-indent:-9999px}
.bundle_help .btn_close::before,
.bundle_help .btn_close::after{content:'';position:absolute;top:50%;left:50%;margin-left:-8px;width:17px;height:3px;border-radius:3px;background-color:#fff}
.bundle_help .btn_close::before{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.bundle_help .btn_close::after{-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.on .box_help{display:block}

/* 시세결과 */
#container.cont_result{padding-bottom:20px}
.cont_result .info_model{padding:16px 25px 10px}
.info_model .tit_model{font-size:17px;color:#000;text-align:center}
.info_model .help_price{padding-top:2px;font-size:12px;color:#919191;text-align:center}
.info_model .help_price dt{display:inline-block}
.info_model .help_price dd{display:inline-block}
.info_model .thumb_car{display:block;width:100%;margin-top:6px;padding:0 37px;-webkit-box-sizing:border-box;box-sizing:border-box}
.info_model .emph_detail{display:block;margin-top:5px;font-size:11px;color:#919191;text-align:center}
.cont_result .list_item{padding-bottom:4px;border-top:1px solid #e9e9e9;color:#403e4b}
.cont_result .list_item li{display:table;position:relative;width:100%;height:43px;padding:14px 80px 11px 16px;border-bottom:1px solid #e9e9e9;font-weight:bold;-webkit-box-sizing:border-box;box-sizing:border-box}
.list_item .tit_item{display:table-cell;width:60%;padding-right:7px;font-size:13px;vertical-align:middle}
.list_item .txt_price{display:table-cell;width:40%;font-size:12px;color:#6f6f6f;text-align:right;vertical-align:middle;white-space:nowrap}
.list_item .txt_num{font-size:14px;color:#403e4b}
.list_item .link_item{position:absolute;top:50%;right:16px;width:45px;height:23px;margin-top:-12px;border:1px solid #c4c4c4;line-height:24px;background-color:#efefef;text-align:center}
.list_item .bundle_help{margin-right:20px}
.list_item .box_help{top:inherit;left:inherit;bottom:28px;right:-33px;font-weight:normal}
.list_item .box_help::before{top:inherit;left:inherit;bottom:-18px;right:33px;border-top-color:#535353;border-bottom-color:transparent}
.cont_result .desc_price{padding:6px 0 26px;font-weight:bold;font-size:13px;color:#403e4b;text-align:center}
.cont_result .link_price{display:block;height:41px;margin:4px 8px 0;font-weight:bold;font-size:14px;line-height:42px;color:#fff;background-color:#000;text-align:center}

/* 레이어 팝업 공통 */
.popup_layer{display:none;position:absolute;left:50%;top:10%;z-index:9999;padding-bottom:3%}
.dimmed_layer{position:fixed;top:0;left:0;width:100%;height:200%;background-color:#000;opacity:0.8}
.pr .popup_layer .popup_inner{position:fixed;z-index:10;width:290px;border-radius:2px;background-color:#fff}
.popup_layer .popup_cont{padding:20px 18px}
.layer_open .popup_layer {display:block}
.pr_price_v01.layer_open #wrap {position:static;}

/* 시세 제한 레이어 팝업 */
.popup_limited{width:306px;margin-left:-153px;font-size:14px}
.popup_limited .popup_head{height:47px;padding:0 16px;border-bottom:1px solid #ce0d0d;line-height:48px}
.popup_limited .tit_popup{font-size:18px;color:#ce0d0d}
.popup_limited .desc_limited{line-height:19px;color:#5c5c5c}
.popup_limited .emph_number{display:block;color:#cc001e}
.popup_limited dl{display:block;margin-top:20px;}
.popup_limited dt{text-decoration:underline;line-height:19px;}
.popup_limited dd{line-height:19px;}
.popup_limited dd a{color:#484848;}
.popup_limited .popup_foot{margin:0 13px;padding:15px 0 20px;border-top:1px solid #dcdcdc}
.popup_limited .link_call{display:block;height:35px;margin:0 2px;border:1px solid #e92828;border-radius:2px;font-weight:bold;line-height:36px;color:#e92828;text-align:center}
.popup_limited .btn_close{width:46px;height:46px}
.popup_limited .btn_close::before, .popup_limited .btn_close::after{background-color:#e92828}

/* 시세 개편 */
body.pr{background:#f3f3f5}

body.pr .backType_header .subject{width:80%;margin:0 auto;overflow:hidden}
body.pr .backType_header .subject:after{content:'';display:block;clear:both}
body.pr .backType_header .subject span{float:left;overflow:hidden;width:75%;text-overflow:ellipsis;white-space:nowrap;font-weight:bold;text-align:left}
body.pr.pr_sell_v01 .backType_header .subject span{width:100%}
body.pr .backType_header .subject em{float:right;width:25%;color:#cc001e;text-align:center}

body.pr div#wrap{background:#f3f3f5}
body.pr #container{background:#f5f5f5}
body.pr #container .content{padding:10px 11px 0;background:#f5f5f5}
body.pr.pr_info_acc{background:#fff}

.pr_result{overflow:hidden;width:94%;margin:10px auto 0;background:#fff;border-radius:7px;box-shadow:0 4px 4px #e0e0e0}

.pr_btn_fix{position:fixed;left:0;bottom:0;width:100%;padding:18px 10px;border-top:1px solid #d6d6d6;background:#f7f7f8;box-sizing:border-box}
.pr_btn_fix .cmm_sel_type1{margin-bottom:10px;background:#fff}
.pr_btn_fix a{width:100%}
.pr_btn_fix a u{text-decoration:none}

.pr_condition {background:#fff;border:1px solid #e6e6e6;border-top:0;border-radius:0 0 5px 5px;box-sizing:border-box}
.pr_condition.sell {border-top:1px solid #e6e6e6;border-radius:4px}
.pr_condition ul li {position:relative;min-height:50px;border-top:1px solid #e6e6e6}
.pr_condition ul li:first-child {border-top:0 none}
.pr_condition .inner {display:block;width:100%;min-height:50px;-webkit-user-select:none;-webkit-user-drag:none;text-align:left}
.pr_condition .tit {display:inline-block;position:absolute;left:15px;top:50%;margin-top:-8px;color:#979797;font-size:14px;font-weight:bold !important}
.pr_condition .val {display:inline-block;position:absolute;left:15px;top:50%;margin-top:-9px;color:#2c2c2c;font-size:15px;font-weight:bold !important}
.pr_condition.sell .val {display:inline-block;position:absolute;left:85px;top:50%;margin-top:-9px;color:#2c2c2c;font-size:15px;font-weight:normal !important}
.pr_condition .spr_slt {position:absolute;right:10px;top:50%;overflow:hidden;width:8px;height:15px;margin-top:-7px;background:url('/images/common/spr_guide_layout.png') no-repeat 0 -60px;background-size:320px;text-indent:-5000em}
.pr_condition .disabled .spr_slt {opacity:0.4}
.pr_condition .disabled .val {color:#bfbfbf}
body.pr .area_btn .guide_btn_red{height:45px;line-height:45px}

/* 중고차시세 결과 */
.wrp_car_info{padding:25px 3% 5px;background:#fff;box-shadow:0 3px 3px #e0e0e0}
.car_info{padding-bottom:10px;background:#fff}
.car_info:after{content:'';display:block;clear:both}
.car_info .txt{float:left;width:50%}
.car_info .txt .inf{padding-left:10px;font-size:18px;font-weight:bold;color:#333}
.car_info .txt .more{padding:5px 0 0 10px}
.car_info .txt .more:after{content:'';display:block;clear:both}
.car_info .txt .more li{float:left;font-size:12px}
.car_info .txt .more li:before{float:left;content:'';width:1px;height:8px;margin:4px 9px 0;background:#e3e3e3}
.car_info .txt .more li.manufact:before{width:0;margin:0}
.car_info .txt .fue{padding-left:10px;font-size:12px}
.car_info .txt .st{padding:18px 0 0 10px;font-size:11px;color:#919191}
.car_info .img{float:right;width:130px;padding-right:10px;}
.car_info .img img{width:100%;}

caption{position:absolute;left:0;top:-9999em;overflow:hidden;height:0;width:0;font-size:0;line-height:0}
.tbl_pr{width:100%}
.tbl_pr.sell{margin-top:16px;border-bottom:1px solid #f1f1f1}
.tbl_pr th{height:30px;border-top:1px solid #000;border-bottom:1px solid #e5e5e5;font-size:13px;background:#fafafa;text-align:center}
.tbl_pr td.grade span{display:inline-block;overflow:hidden;width:158px;text-overflow:ellipsis;white-space:nowrap}
.tbl_pr td.grade span.sell{width:175px}
.tbl_pr td{height:40px;border-top:1px solid #f1f1f1;box-sizing:border-box;font-size:13px;color:#7f7f7f;text-align:center}
.tbl_pr tr:first_child td{border:0 none}
.tbl_pr td label{display:inline-block;width:18px;padding-left:0}
.tbl_pr tr.on td{color:#cc001e}

.result_info_sell{margin:18px 0 10px;font-size:13px}
.result_info_sell span{color:#cc001e}

.area_btn{margin:10px auto}

.wrp_result{padding:0 11px 0}
.result_info{margin:20px 0 10px}
.result_info:after{content:'';display:block;clear:both}
.result_info span{float:left}
.result_info .cnt:before{float:left;content:'';width:1px;height:8px;margin:4px 9px 0;background:#e3e3e3}
.result_info .cnt em{color:#cc001e}

.result_list li{padding:20px 11px 10px;margin-top:10px;background:#fff;border:1px solid #e6e6e6;border-radius:4px;box-sizing:border-box}

.result_list dl{position:relative;min-height:93px;padding-left:135px}
.result_list dt{padding-bottom:2px;font-size:14px;color:#333;font-weight:bold}
.result_list dd.inf:after{content:'';display:block;clear:both}
.result_list dd.inf span{float:left;padding-left:8px;color:#979797}
.result_list dd.inf span:before{display:inline-block;content:'';position:relative;top:-4px;left:-2px;width:2px;height:2px;margin-right:3px;background:#b4b4b4;-webkit-border-radius:2px;border-radius:2px;font-size:13px}
.result_list dd.inf span:first-child{padding-left:0}
.result_list dd.inf span:first-child:before{content:none}
.result_list dd.price{padding-top:5px;font-size:15px}
.result_list dd.price span{font-weight:bold;color:#ff3333}
.result_list dd.img{position:absolute;left:0;top:0;width:124px;height:93px}
.result_list dd.img img{width:100%;height:93px}

.list_btn{padding-top:9px}
.guide_btn_blue{display:block;height:40px;line-height:40px;text-align:center;font-size:14px;background:#2bb8e0;border:1px solid #2bb8e0;border-radius:4px;box-sizing:border-box;color:#fff}
.guide_btn_blue.visited{background:#c2c2c2;border-color:#c2c2c2}

.chart_result.view{display:block;width:290px;margin-left:-145px;font-size:14px}
.chart_result .popup_head{height:47px;margin:0 10px;border-bottom:1px solid #e5e5e5;line-height:48px}
/*.chart_result .popup_head .btn_close{right:15px;top:15px;width:12px;height:12px;background:url('/images/pr/pr_ir.gif') no-repeat -314px 0;background-size:326px auto}*/
.chart_result .popup_head .btn_close{right:15px;top:15px;width:12px;height:14px}
.chart_result .popup_head .btn_close::before, .chart_result .popup_head .btn_close::after{width:16px;height:2px;background-color:#555}
.chart_result .tit_popup{font-size:14px;font-weight:bold;color:#000}
.chart_result .popup_cont{padding:20px 10px;line-height:1.5em;color:#555;text-align:center}
.chart_result .popup_cont .score_note{padding-top:15px;font-size:11px;line-height:1.2em}
.chart_result .popup_cont .score_note.case.sell{padding-top:18px;color:#cc001e}
.chart_result .popup_foot{margin:0 10px;padding:15px 0 20px}
.chart_result .popup_foot a.blue{background-color:#2bb8e0;border-color:#2bb8e0}

body.pr.pr_info_acc #container{padding-top:30px;background:#fff}
.notice_acc{padding:25px 0;font-size:16px;line-height:1.5em;text-align:center}

.select_acc .menu{text-align:center}
.select_acc .menu a{display:inline-block;font-size:16px;font-weight:bold;color:#afafaf}
.select_acc .menu a:before{float:left;content:'';width:1px;height:15px;margin:0 13px 0;background:#e3e3e3}
.select_acc .menu a.none:before{width:0;margin:0}
.select_acc .menu a.on{text-decoration:underline;color:#cc001e}
.select_acc .menu a.none.on{color:#5f89ca}

.select_acc .cont > div{display:none;padding-top:198px;background:none no-repeat 0 0}
.select_acc .cont > div.on{display:block}
.select_acc .cont > div.none_acc{padding-bottom:85px;background-image:url('/images/pr/bg_acc1.gif');background-size:203px auto;background-position:center 50px}
.select_acc .cont > div.pannel{padding-bottom:180px;background-image:url('/images/pr/bg_acc2.gif');background-size:264px auto;background-position:center 37px}
.select_acc .cont > div.acc{padding-bottom:140px;background-image:url('/images/pr/bg_acc3.gif');background-size:265px auto;background-position:center 37px}
.select_acc .cont > div ul{width:290px;margin:0 auto}
.select_acc .cont > div.pannel ul{width:245px;margin:0 auto}
.select_acc .cont > div.acc ul{width:260px;margin:0 auto}
.select_acc .cont > div li{position:relative;padding-left:8px;margin-top:5px;font-size:13px}
.select_acc .cont > div li:first-child{margin-top:0}
.select_acc .cont > div li:before{position:absolute;left:0;top:6px;content:'';width:2px;height:2px;background:#484848}

.ico_list:after{content:'';display:block;clear:both}
.ico_list li{float:left;width:25%;text-align:center}
.ico_list li span{display:block;font-size:11px;font-weight:bold;color:#7f7f7f}
.ico_list li.on span{color:#007dbd}
.ico_list li:before{content:'';display:inline-block;height:25px;background:url('/images/pr/pr_ir.png') no-repeat 0 0;background-size:340px auto}
.ico_list.like li:before{height:27px}
.ico_list li.enc:before{width:33px;background-position:0 -26px}
.ico_list li.comp:before{width:20px;background-position:-38px -26px}
.ico_list li.ins:before{width:31px;background-position:-62px -26px}
.ico_list li.fnc:before{width:35px;margin-left:7px;background-position:-98px -26px}
.ico_list li.enc.on:before{background-position:0 0}
.ico_list li.comp.on:before{background-position:-38px 0}
.ico_list li.ins.on:before{background-position:-62px 0}
.ico_list li.fnc.on:before{background-position:-98px 0}

.ico_list li.schs:before{width:30px;background-position:-136px -28px}
.ico_list li.rev:before{width:37px;background-position:-171px -28px}
.ico_list li.like:before{width:38px;margin-left:10px;background-position:-212px -28px}
.ico_list li.ques:before{width:25px;background-position:-255px -28px}
.ico_list li.schs.on:before{background-position:-136px 0}
.ico_list li.rev.on:before{background-position:-171px 0}
.ico_list li.like.on:before{background-position:-212px 0}
.ico_list li.ques.on:before{background-position:-255px 0}

.detail_list > li{border-top:1px solid #efefef}
.detail_list > li:first-child{border-top:0 none}
.detail_list .menu{position:relative;display:block;height:64px;line-height:64px;padding:0 15px 0 18px}
.detail_list .menu:before{content:'';position:absolute;right:15px;top:50%;width:25px;height:25px;margin-top:-13px;background:url('/images/pr/pr_ir.png') no-repeat -284px 0;background-size:340px auto}
.detail_list .menu.on:before{background-position:-284px -25px}
.detail_list .menu:after{content:'';display:block;clear:both}
.detail_list .menu span{float:left}
.detail_list .menu span.tit{width:84px;font-size:15px;color:#7f7f7f}
.detail_list .menu span.val{font-size:16px;font-weight:bold;color:#000}
.detail_list .menu span.val.on{color:#007dbd}
.detail_list.sell .menu span.val.on{color:#cc001e}
.detail_list .cont{display:none;padding:0 20px 20px}
.detail_list .cont.on{display:block}
.detail_list .tip{padding:16px 15px;margin-top:25px;background:#eee;border-radius:5px}
.detail_list.sell .tip{margin-top:0}
.detail_list .tip dt{font-size:15px;color:#007dbd}
.detail_list.sell .tip dt{color:#cc001e}
.detail_list .tip dd{padding-top:15px}
.detail_list .tip dd span{color:#007dbd}
.detail_list .tip dd a{text-decoration:underline;color:#007dbd}

.desc_score{padding:14px 15px 0;font-size:11px}
.desc_score dt{color:#000}
.desc_score dd{padding-top:5px;color:#7f7f7f}
.desc_score dd.case{color:#007dbd}

.area_main{position:relative;overflow:hidden;height:175px}
.area_main img{width:100%}
.area_main dl{position:absolute;left:0;top:0;width:100%;height:100%;padding-top:33px;background:rgba(43,184,224,0.9);box-sizing:border-box;text-align:center;font-weight:bold;color:#fff}
.area_main dl.sell{background:rgba(226,50,61,0.9)}
.area_main dl dt{font-size:14px}
.area_main dl dd.price{font-size:19px;line-height:21px}

.desc_rec{padding:16px 15px;background:#eee;border-radius:5px}
.desc_rec dt{padding-bottom:12px;font-size:15px}
.desc_rec dt .score{color:#cc001e}
.desc_rec dt a{display:inline-block;overflow:hidden;width:16px;height:16px;margin-left:3px;background:url('/images/pr/ico_que.png') no-repeat 0 0;background-size:16px auto;text-indent:-9999em;vertical-align:middle}

#chart_val{width:270px;height:150px}
#chart_price{width:100%;height:118px}

.chart_range{margin-top:30px;padding-top:29px}
.chart_range .rail{position:relative;width:210px;height:7px;margin:0 auto;background:#fff;border-radius:5px}
.chart_range .zone{position:absolute;left:50px;top:1px;width:55px;height:5px;background:url('/images/pr/bg_range.gif') repeat-x 0 0;background-size:7px auto}
.chart_range.sell .zone{background-image:url('/images/pr/bg_range_g.gif')}
.chart_range .zone em{position:absolute;top:10px;font-size:11px;color:#fff}
.chart_range .zone em.start{left:-25px}
.chart_range .zone em.end{right:-25px}
.chart_range .flag{position:absolute;left:70px;top:-29px;width:45px;height:41px;background:url('/images/pr/flag_range.png') repeat-x 0 0;background-size:90px auto}
.chart_range .flag.out{background-position:-45px 0}
.chart_range.sell .flag{background-position:-45px 0}
.chart_range .flag.hide{display:none}

.optGrade .item .type_form li button .spr_slt{display:none}
.optGrade .item .type_form li button:after{display:none}

body.pr #optAccInfo .opt_select{margin-top:75px}
body.pr #optPrDistance .opt_select{margin-top:55px}
body.pr #optManufact .opt_select,
body.pr #optModel .opt_select,
body.pr #optColor .opt_select{margin-top:46px}
body.pr #optAddPr .opt_select,
body.pr #optTrans .opt_select,
body.pr #optYear .opt_select,
body.pr #optGrade .opt_select,
body.pr #optFuel .opt_select{margin-top:45px}

/* 시세 인사이트 */
body.pr_insight_l01 div#wrap, body.pr_insight_v01 div#wrap{background:#fff}
.pr_ir{display:inline-block;overflow:hidden;background:url('/images/pr/pr_ir.png') no-repeat 0 0;background-size:340px auto;text-indent:-10000em}

.insight_list{padding-top:10px}
.insight_list li{padding-bottom:37px}
.insight_list li a{display:block}
.insight_list a span{display:block}
.insight_list a .img{border:1px solid #f0f0f0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.insight_list .img img{width:100%}
.insight_list a .tit{padding:15px 0 5px;font-size:15px;color:#333}
.insight_list a .date{font-size:12px;color:#999}

.indc_insight{padding-bottom:40px;text-align:center}
.indc_insight span{display:inline-block;overflow:hidden;width:38px;height:8px;background:url('/images/pr/infinite_loading.gif') no-repeat 0 0;background-size:38px auto;text-indent:-10000em}

.backType_header .btn_list{position:absolute;right:11px;top:13px;overflow:hidden;width:17px;height:17px;background-position:-314px -17px}

.detail_tit{padding:28px 0 26px}
.detail_tit h2{padding-bottom:8px;font-size:20px;color:#333}
.detail_tit .date{font-size:12px;color:#999}
.detail_cont{line-height:1.3em;padding-bottom:17px;font-size:15px}
.detail_cont .txc-image {width:100%;height:auto;}

/* 가격 평가받기 */
.pr_price_l01 #wrap{overflow-y:auto;height:100%}
.pr_price_l01 #container{height:100%;padding:85px 10px 0;margin-top:-65px;box-sizing:border-box}
.pr_price_l01 header .uibtnico_x{position:absolute;right:0;top:0}
.pr_price_l01 #container{padding-bottom:0}
.pr_price_l01 .box_area{overflow:hidden;position:relative;min-height:380px;height:100%;padding:0 15px;border-radius:12px;background-color:#fff;box-shadow: 0 1px 10px 5px rgba(222,222,222,0.50)}
.pr_price_l01 h3{padding-top:20px;font-size:18px;line-height:21px;text-align:center}
.pr_price_l01 .ico_plate{display:block;width:29px;height:18px;margin:22px auto 0;background:url(/images/pr/ico_plate.png) no-repeat 0 0;background-size:29px 18px}
.pr_price_l01 .tit_category{display:block;padding-top:32px;font-weight:normal;font-size:13px;color:#666}
.pr_price_l01 .carinfo_plate{margin-top:7px;border:1px solid #D9D9D9;border-radius:5px}
.pr_price_l01 .carinfo_plate li{border-top:1px solid #d9d9d9;font-size:15px;line-height:50px}
.pr_price_l01 .carinfo_plate li:first-child{border-top:0 none}
.pr_price_l01 .carinfo_plate .link_carinfo{display:block;overflow:hidden;height:49px;padding:0 15px}
.pr_price_l01 .carinfo_plate .tit_subject{float:left;font-weight:normal;color:#BFBFBF}
.pr_price_l01 .carinfo_plate .txt_select{display:none;overflow:hidden;float:left;width:215px;color:#333;text-overflow:ellipsis;white-space:nowrap}
.pr_price_l01 .carinfo_plate .uiico_arrow{float:right;margin:18px 0 0 15px;vertical-align:top}
.pr_price_l01 .carinfo_plate .active .tit_subject{color:#333}
.pr_price_l01 .carinfo_plate .on .tit_subject{overflow:hidden;line-height:0;text-indent:-9999px}
.pr_price_l01 .carinfo_plate .on .txt_select{display:block}
.pr_price_l01 .next_btn{position:absolute;bottom:20px;left:0;width:100%;padding:0 20px;box-sizing:border-box}
.pr_price_l01 .uipage{height:100%;background-color:#fff}
.pr_price_l01 .uipage .uipage_header{position:fixed;left:0;top:0;z-index:100;width:100%}
.pr_price_l01 .uipage .uipage_container{padding-top:45px;background-color:#fff}
.layer_mileage .area_input{overflow:hidden;padding-bottom:4px;margin:17px 0 19px;border-bottom:1px solid #F0F0F0}
.layer_mileage .area_input .inp_g{float:left;height:30px;width:200px;padding:0;border:0;font-size:15px;line-height:30px;-webkit-appearance:none;-webkit-outline:none;outline:none}
.layer_mileage .area_input .inp_g::-webkit-input-placeholder{color:#BFBFBF}

.pr_price_l02 #container{padding-bottom:85px}
.pr_price_l02 .confirm_btn{position:fixed;bottom:20px;left:0;width:100%;padding:0 20px;box-sizing:border-box}
.pr_price_l02 .uipage{height:100%;background-color:#fff}
.pr_price_l02 .uipage .uipage_header{position:fixed;left:0;top:0;z-index:100;width:100%}
.pr_price_l02 .uipage .uipage_container{padding-top:45px;background-color:#fff}
.pr_price_l02 .uipage_color .uipage_container{padding-bottom:85px}
.pr_price_l02 .contents_accident .item_accident .img_accident{width:100%}
.pr_price_l02 .contents_accident .item_accident{display:none}
.pr_price_l02 .contents_accident .active{display:block}
.pr_price_l02 .contents_accident .item_accident .list_accident{padding:22px 15px}
.pr_price_l02 .item_accident .list_accident li{position:relative;line-height:21px;padding:0 0 4px 5px;font-size:15px;color:#666;letter-spacing:-0.5px}
.pr_price_l02 .item_accident .list_accident li:before{content:'';position:absolute;left:0;top:12px;width:2px;height:2px;background:#D8D8D8}
.uipage_accident .uialign_float{padding:20px 15px 0;}
.uipage_accident .uialign_float label{font-size:13px;color:#666}
.uipage_accident .uialign_float .uialign_item:first-child label{font-size:15px}
.uipage_accident .uialign_float .uialign_item:last-child label{font-size:15px}
.uipage_accident .area_tip{padding:20px 15px 0;text-align:right}
.uipage_accident .area_tip .link_tip{color:#999}
.uipage_accident .area_tip .uiico_question{margin-left:4px;text-align:left}
.uipage_accident2 .uipage_header{border-bottom:0 none}