@charset 'utf-8';

/* 시세 리셋 */
.pr_mindex_v01 #header{position:fixed;left:0;top:0;z-index:1}/* TODO: position 임시 */
.pr_mindex_v01 #container,
.pr_mprice_l01 #container{padding:0}

/* 현재 선택된 조건 디스플레이 영역 */
.area_selected{position:fixed;left:0;top:0;overflow-y:scroll;width:100%;box-sizing:border-box;color:#FFF;z-index:1;
	background-image: -webkit-linear-gradient(180deg, #FD9C60 6%, #FE5847 88%);
	background-image: -o-linear-gradient(180deg, #FD9C60 6%, #FE5847 88%);
	background-image: linear-gradient(180deg, #FD9C60 6%, #FE5847 88%);
}
.area_selected .selected_info{min-height:100%}
.area_selected .selected_info .selected_inner{padding-bottom:69px}
.area_selected .selected_inner .tit_selected{display:block;line-height:24px;padding:19px 15px 0;font-size:18px;letter-spacing:-0.5px}
.area_selected .selected_inner .tit_selected2{display:block;line-height:24px;padding:0 15px 6px;font-size:18px;letter-spacing:-0.5px}
.area_selected .selected_inner .option_selected{display:block;padding:0 15px;font-size:13px}
.area_selected .selected_inner .btn_reset_all{display:inline-block;height:25px;line-height:25px;padding:0 9px;border:1px solid #fff;border-radius:13px;box-sizing:border-box;color:#fff}
.area_selected .selected_inner .btn_reset_all:after{content:'';display:inline-block;width:13px;height:14px;margin:6px 0 0 3px;background:url('/images/pr/icon_refresh.png') no-repeat 0 0;background-size:13px auto;vertical-align:top}
.area_selected .price_selected{display:block;height:56px;padding-right:15px;margin-top:-69px;text-align:right}
.area_selected .price_selected .txt_price{font-size:48px;letter-spacing:-1px}
.area_selected .price_selected .font_size_s{font-size:38px}

/* 시세 검색 조건 */
.wrap_price .list_menu li{border-bottom:1px solid #F0F0F0}
.wrap_price .list_menu li:after{content:'';display:block;clear:both}
.wrap_price .list_menu .link_menu{position:relative;float:left;width:50%;height:60px;line-height:61px;padding:0 15px;box-sizing:border-box;background:#f9f9f9;font-size:15px;color:#d9d9d9}
.wrap_price .list_menu .link_menu:first-child{border-right:1px solid #F0F0F0}
.wrap_price .list_menu .full_menu{width:100%}
.wrap_price .list_menu .active_menu{background:#fff;color:#BFBFBF}
.wrap_price .list_menu .selected_menu{color:#333}
.wrap_price .list_menu .txt_menu{position:relative;display:inline-block;overflow:hidden;max-width:100%;padding-right:25px;box-sizing:border-box;white-space:nowrap;text-overflow:ellipsis}
/*.wrap_price .active_menu .txt_menu:after{content:'';position:absolute;right:18px;top:23px;width:4px;height:4px;background:#FF2626;border-radius:2px}*/
.wrap_price .list_menu .uiico{position:absolute;right:15px;top:26px;width:6px;height:12px;background:url('/images/pr/icon_pr_arrow.png') no-repeat 0 0;background-size:6px auto}
.wrap_price .area_menu .area_button{padding:15px 15px}
.wrap_price .btn_close_search{display:none;position:fixed;left:50%;bottom:0;width:80px;height:15px;line-height:16px;margin-left:-40px;background:#FFF;border-radius:4px 4px 0 0;text-align:center;z-index:1}

/* 검색 조건 상세 */
.pr_mindex_v01 .ui_selectcar{display:none}
.pr_mindex_v01 .ui_selectcar.active{display:block}
.pr_mindex_v01 .list_selectcar .link_item{position:relative;padding-top:15px;padding-right:150px;padding-bottom:15px;box-sizing:border-box}/* pr override */
.pr_mindex_v01 .list_selectcar .txt_item{padding-right:0}
.pr_mindex_v01 .list_menufacturer .txt_item:before{top:1px}
.pr_mindex_v01 .list_selectcar .txt_price{position:absolute;right:15px;top:16px;line-height:17px;color:#666;letter-spacing:-0.5px}
.pr_mindex_v01 .ui_selectcar .uifix_bottom{padding:15px 20px;background:#FFF;border-top:1px solid #F0F0F0}/* pr override */
.ui_selectcar .active .txt_item{color:#FF2626}
.selectcar_distance .inner_item{padding:19px 30px 20px}
.selectcar_distance .slider_default{display:none;padding-bottom:15px;font-size:13px;text-align:center}
.selectcar_distance .slider_info{display:none;padding-bottom:15px;font-size:13px;text-align:center}
.selectcar_distance .active_info{display:block}
.selectcar_slider{position:relative;height:2px;background:#eee}
.selectcar_slider .ui-slider-range{position:absolute;top:0;width:100%;height:2px;background:#d9d9d9}
.selectcar_slider .ui-slider-range.active{background:#ff3333}
.selectcar_slider .ui-slider-handle{position:absolute;top:-12px;width:24px;height:24px;margin-left:-12px;background:#fff;border:1px solid #c0c0c0;border-radius:13px;box-shadow:0 1px 2px rgba(0,0,0,0.5);outline:none}

.selectcar_accident .uialign_float,.selectcar_moreoptions .uialign_float{padding:19px 15px 0}
.selectcar_accident .area_tip{padding:22px 15px 0;text-align:right}
.selectcar_accident .area_tip .link_tip{color:#999;text-decoration:underline}
.selectcar_accident .area_tip .uiico{margin-left:5px;margin-top:-2px;text-align:left}

.selectcar_color .uiinput_color{padding:8px 15px 101px}

/* 사고정보 기준 레이어 팝업 */
.uipage_accident .uipage_header{border:0}
.tab_accident .uialign_flex .uialign_item{padding:0}
.tab_accident .uialign_flex .uibtn{height:44px;line-height:45px;border:0;border-bottom:1px solid #E5E5E5;border-radius:0;color:#999;letter-spacing:-0.5px}
.tab_accident .uialign_flex .active{border-bottom:2px solid #FF2626;color:#FF2626}
.contents_accident .item_accident .img_accident{width:100%}
.contents_accident .item_accident{display:none}
.contents_accident .active{display:block}
.contents_accident .item_accident .list_accident{padding:22px 15px}
.item_accident .list_accident li{position:relative;line-height:21px;padding:0 0 4px 5px;font-size:15px;color:#666;letter-spacing:-0.5px}
.item_accident .list_accident li:before{content:'';position:absolute;left:0;top:12px;width:2px;height:2px;background:#D8D8D8}

/* 매물 리스트 */
.area_filter{padding:20px 15px 2px;letter-spacing:-0.5px}
.area_filter:after{content:'';display:block;clear:both}
.area_filter .total_count{float:left;line-height:19px;font-size:15px;color:#999}
.area_filter .total_count .txt_count{font-weight:bold;color:#333}
.area_filter .select_filter{position:relative;float:right;padding:2px 15px 0 0;text-align:right}
.area_filter .select_filter:after{content:'';position:absolute;right:4px;top:6px;overflow:hidden;width:4px;height:8px;background:url('/images/module/ico_arrow_sb.png') no-repeat 0 0;background-size:4px;transform:rotate(90deg);-webkit-transform:rotate(90deg);vertical-align:middle;}
.area_filter .select_filter #selectFilter{height:16px;line-height:16px;background:0;border:0;-webkit-appearance:none;font-size:13px;letter-spacing:-0.5px;vertical-align:top}
.list_price{padding:0 15px}
.list_price li{padding:13px 0 32px;border-top:1px solid #F0F0F0}
.list_price li:first-child{border-top:0}
.list_price .price_none{padding-bottom:13px}
.list_price .link_price{display:block;position:relative;min-height:93px;padding-left:134px}
.list_price .link_price .thumb_price{position:absolute;left:0;top:0;overflow:hidden;width:124px;height:93px}
.list_price .thumb_price .thumb_img{width:100%}
.list_price .thumb_price .ass{position:absolute;left:0;top:0;width:100%;height:47px;background: url(/images/common/assurance_s.png?180721) no-repeat left top;background-size:47px;z-index:2;font-size:0px;text-indent:-100px}
.list_price .link_price .tit_price,
.list_price .link_price .options_price,
.list_price .link_price .txt_price{display:block;letter-spacing:-0.5px}
.list_price .link_price .tit_price{display:block;line-height:20px;padding-bottom:3px}
.list_price .link_price em{font-weight:bold}
.list_price .link_price .options_price{line-height:15px;padding-bottom:6px;font-size:12px;color:#666}
.list_price .options_price .km:before,
.list_price .options_price .loc:before{content:'';display:inline-block;width:2px;height:2px;margin:6px 2px 0 2px;background:#D9D9D9;border-radius:1px;vertical-align:top}
.list_price .link_price .txt_price{font-size:12px;font-weight:bold;color:#FF0000}
.list_price .txt_price .num{font-size:16px}
.list_price .txt_price_none{padding-top:10px;font-size:11px;color:#999;text-align:center}

.area_insight .link_insight{display:block;width:100%}
.area_insight .link_insight .thumb_insight{width:100%}

.chart_range{margin-top:26px}
.chart_range .range_rail{position:relative;width:100%;height:3px;margin:0 auto;background:#D9D9D9;border-radius:2px}
.chart_range .range_rail .range_zone{position:absolute;left:0;top:0;width:100%;height:3px;background:#f5f5f5;border-radius:2px}
.chart_range .range_rail .range_zone.init{background:#FF2626}
.chart_range .range_zone .zone_start,
.chart_range .range_zone .zone_end{display:none;position:absolute;top:9px;font-size:11px;color:#d9d9d9}
.chart_range .range_zone.init .zone_start,
.chart_range .range_zone.init .zone_end{display:none;position:absolute;top:9px;font-size:11px;color:#999}
.chart_range .range_zone .zone_start{left:0}
.chart_range .range_zone .zone_end{right:0}
.chart_range .my_item{display:none;position:absolute;top:-6px;height:15px;line-height:13px;padding:0 5px;background:#fff;border:1px solid #FF2626;border-radius:9px;box-sizing:border-box;font-size:12px;color:#FF2626;z-index:2}
.chart_range .my_item.active{display:block}
.chart_range .rail_start,
.chart_range .rail_end{position:absolute;top:9px;line-height:15px;font-size:12px;color:#BFBFBF;font-weight:normal}
.chart_range .rail_start{left:0}
.chart_range .rail_end{right:0}

/* 시세 리포트 */
.pr_mdetail_v01 #container{background:#F5F5F5}
.area_result{display:block;position:relative;padding:20px 15px 41px;text-align:center}
.area_result_none{padding-bottom:10px;}
.area_result .tit_price,
.area_result .options_price,
.area_result .txt_price{display:block;letter-spacing:-0.5px}
.area_result .tit_price{display:block;line-height:22px;padding-bottom:5px;font-size:20px;font-weight:bold;letter-spacing:-0.62px}
.area_result em{font-weight:bold}
.area_result .options_price{line-height:19px;padding-bottom:10px;font-size:15px;color:#666;letter-spacing:-0.58px}
.area_result .options_price .km:before,
.area_result .options_price .loc:before{content:'';display:inline-block;width:2px;height:2px;margin:7px 4px 0 4px;background:#D9D9D9;border-radius:1px;vertical-align:top}
.area_result .txt_price{line-height:19px;font-size:15px;font-weight:bold;color:#FF0000;letter-spacing:-0.54px}
.area_result .txt_price .num{font-size:25px;line-height:24px;}
.area_result .txt_price_none{padding-top:10px;font-size:12px;color:#666;letter-spacing:-0.55px}

.area_result .chart_range .range_rail{height:5px;border-radius:3px}
.area_result .chart_range .rail_start,
.area_result .chart_range .rail_end{position:absolute;top:-21px;line-height:15px;font-size:12px;color:#BFBFBF;font-weight:normal}
.area_result .chart_range .rail_start{left:0}
.area_result .chart_range .rail_end{right:0}
.area_result .range_rail .range_zone{height:5px;border-radius:3px}
.area_result .range_zone .zone_start,
.area_result .range_zone .zone_end{position:absolute;top:11px;font-size:12px;font-weight:normal;color:#666}
.area_result .chart_range .my_item{top:-6px;height:17px;line-height:15px}

.area_detail{padding:20px 15px;margin-top:10px;background:#fff;letter-spacing:-0.5px}
.area_detail:first-child{padding-top:10px}
.area_detail .tit_detail{line-height:21px;padding-bottom:10px;font-size:18px;font-weight:normal;letter-spacing:-0.56px}
.area_detail .txt_value{color:#FF2626}
.area_detail .txt_deco{text-decoration:underline}
.area_detail .txt_price_none{line-height:25px;font-size:15px;color:#666}
.area_detail .list_detail{padding-bottom:10px}
.area_detail .list_detail li{line-height:25px;font-size:15px;color:#666}
.area_detail .small_notice{line-height:12px;font-size:10px;color:#999}
.area_detail .small_notice:before{content:'';display:inline-block;width:2px;height:2px;margin:5px 3px 0 0;background:#D9D9D9;vertical-align:top}
.area_detail .notice_detail{line-height:25px;font-size:15px;color:#666}
.area_detail .chart_price{width:100%;height:164px;padding-top:20px}

.area_detail .uialign_flex{padding-top:14px}
.area_detail .uialign_flex .uialign_item{font-size:12px;color:#666;text-align:center}
.area_detail .uialign_flex .uialign_item:before{content:'';display:inline-block;width:42px;height:36px;background:url('/images/pr/spr_buyinfo.png') no-repeat 0 0;background-size:168px auto}
.area_detail .uialign_flex .visit_more:before{background-position:-42px 0}
.area_detail .uialign_flex .visit_more.active:before{background-position:-42px -36px}
.area_detail .uialign_flex .count_zzim:before{background-position:-84px 0}
.area_detail .uialign_flex .count_zzim.active:before{background-position:-84px -36px}
.area_detail .uialign_flex .request_buy:before{background-position:-126px 0}
.area_detail .uialign_flex .request_buy.active:before{background-position:-126px -36px}
.area_detail .uialign_flex .insurance_diagnosis:before{background-position:0 -72px}
.area_detail .uialign_flex .insurance_diagnosis.active:before{background-position:0 -108px}
.area_detail .uialign_flex .reward_join:before{background-position:-43px -72px}
.area_detail .uialign_flex .reward_join.active:before{background-position:-43px -108px}
.area_detail .uialign_flex .insurance_history:before{background-position:-83px -72px}
.area_detail .uialign_flex .insurance_history.active:before{background-position:-83px -108px}
.area_detail .uialign_flex .function_table:before{background-position:-126px -72px}
.area_detail .uialign_flex .function_table.active:before{background-position:-126px -108px}
.area_detail .uialign_flex .active{color:#FF2323}
.area_detail .uialign_item .tit_item,
.area_detail .uialign_item .tit_value{display:block;line-height:16px}
.area_detail .uialign_item .tit_item{padding-top:10px;font-weight:normal}

.pr_mdetail_v01 #container{padding-bottom:64px}
.pr_mdetail_v01 .uifix_bottom{padding:10px 15px;background:#FFF;border-top:1px solid #F0F0F0}

.uipage_value .uipage_container .area_value{padding:40px 15px 0;text-align:center}
.uipage_value .area_value .tit_score{display:block;line-height:24px;padding-bottom:15px;font-size:20px}
.uipage_value .area_value .txt_score{color:#FF2626}
.uipage_value .area_value .notice_score{padding-bottom:5px;line-height:17px;color:#666}
.uipage_value .area_value .case_score{padding-bottom:20px;line-height:18px;font-size:12px;color:#999}

/* 시세 인사이트 */
.wrap_insight{padding:10px 15px 0}
.wrap_insight .list_insight li{padding-bottom:30px}
.list_insight .link_insight{display:block}
.list_insight .link_insight .img_insight,
.list_insight .link_insight .tit_insight,
.list_insight .link_insight .date_insight{display:block}
.list_insight .link_insight .img_insight{border:1px solid #f0f0f0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.list_insight .img_insight .thumb_insight{width:100%}
.list_insight .link_insight .tit_insight{padding:15px 0 5px;line-height:19px;font-size:16px;color:#333;letter-spacing:-0.5px}
.list_insight .link_insight .date_insight{line-height:15px;font-size:12px;color:#999}

.indc_insight{padding-bottom:40px;text-align:center}
.indc_insight .img_loading{display:inline-block;overflow:hidden;width:38px;height:8px;background:url('/images/pr/infinite_loading.gif') no-repeat 0 0;background-size:38px auto;text-indent:-10000em}

.pr_insight_v01 .backType_header .btn_list{position:absolute;right:14px;top:15px;line-height:17px;letter-spacing:-0.44px}

.area_article{padding:30px 15px 48px}
.area_title .tit_article{line-height:22px;padding-bottom:10px;font-size:20px;color:#333;font-weight:normal;letter-spacing:-0.62px}
.area_title .date_article{line-height:15px;font-size:12px;color:#999}
.contents_articel{line-height:25px;padding-top:30px;font-size:15px;color:#666;letter-spacing:-0.5px}

.pr_mdetail_v01 .uifix_bottom{padding-bottom:20px;background:none;border:0 none}

/* 앱 다운로드 안내 */
#container.cont_priceapp{position:relative;padding:0;margin-top:44px}
.cont_priceapp .price_app{display:block;width:100%}
.cont_priceapp .link_app{overflow:hidden;position:absolute;top:22.9%;width:28.6%;height:5.6%;font-size:0;line-height:0;text-indent:-9999px}
.cont_priceapp .link_ios{left:21.1%}
.cont_priceapp .link_android{left:50.4%}

.case_none{line-height:23px;padding-top:127px;margin-top:92px;background:url('/images/pr/bg_list_none.png') no-repeat center top;background-size:242px auto;font-size:16px;color:#BFBFBF;text-align:center}