@charset 'utf-8';

/*rs common*/
/*body.rs * {font-family:HelveticaNeue-Light,AppleSDGothicNeo-Light,sans-serif;}*/
body.rs #footer {display:none;}
.spr_rs {display:inline-block;background-image:url('/images/rs/spr_rs.png?180504');background-repeat:no-repeat;background-size:320px;text-indent:-9999px;overflow:hidden;}
body.rs #header {border-bottom:0;}
body.rs #container {padding:10px;background:#f3f3f3;}
.dvc_i .type_and {display:none;}
.dvc_a .type_ios {display:none;}
.layer_linkbox {margin:10px 0;}
.layer_linkbox dt {font-weight:bold;}
.layer_linkbox dd {margin:5px 0;}
.rs_msg {text-align:center;font-size:15px;padding:15px 0;line-height:18px;border-bottom:1px solid #e9e9e9;}
.rs_msg .emp {color:#ce0d0d;}
.rs_msg.type_caution {color:#ce0d0d;}
.rs_tip_msg {margin:15px -15px -15px -15px;padding:15px 20px;font-size:14px;color:#b1b0b7;background:#fff;border-top:1px solid #d6d6d6;line-height:18px;}
.rs_step_btn {background:#fff;margin:0 -15px -10px -15px;padding:15px;border-top:1px solid #d6d6d6;}
.rs_step_btn button {border-radius:3px;width:49%;height:45px;font-weight:bold;font-size:15px;}
.rs_step_btn button.rsbt_prev {border:1px solid #dadada;background:#fff;color:#5c5c5c;}
.rs_step_btn button.rsbt_later {border:1px solid #dadada;background:#fff;color:#5c5c5c;}
.rs_step_btn button.rsbt_next {border:1px solid #e92828;background:#e92828;color:#fff;}
.rs_step_btn button.rsbt_view_mypage {border:1px solid #dadada;background:#fff;color:#5c5c5c;}
.rs_step_btn button.rsbt_view_mycar {border:1px solid #e92828;background:#e92828;color:#fff;}
.rs_step_btn button.rsbt_complete {width:100%;border:1px solid #dadada;background:#fff;color:#5c5c5c;}
input::-webkit-input-placeholder {text-align:left;font-size:15px;color:#acacac;}
input:-moz-placeholder {/* Firefox 18- */ text-align:left;font-size:15px;color:#acacac;}
input::-moz-placeholder {/* Firefox 19+ */text-align:left;font-size:15px;color:#acacac;}
input:-ms-input-placeholder {text-align:left;font-size:15px;color:#acacac;}
select, button {-webkit-user-select:none;-webkit-user-drag:none;}
body.rs_sellcar_i02 .rs_step_btn button,
body.rs_selltruck_i02 .rs_step_btn button {width:100%;}
body.rs_sellcar_i01 #container {padding-bottom:100px;}

/*snb*/
.step_snb {position:relative;width:100%;overflow:hidden;text-align:center;box-shadow:0 3px 5px #e9e9e9;-webkit-box-shadow:0 5px 5px #e9e9e9;}
.step_snb:after {content:"";height:1px;background:#bababa;position:absolute;left:0;right:0;bottom:0;}
.step_snb li {float:left;text-align:center;}
.step_snb li a {display:block;padding:15px 0 13px 0;text-align:center;color:#b1b0b7;font-size:15px;/*font-family:HelveticaNeue-Condensed,Helvetica,sans-serif;*/}
.step_snb li.on a {color:#ce0d0d;}
.step_snb li.on span {position:relative;}
.step_snb li.on span:after {content:"";height:3px;background:#ce0d0d;position:absolute;left:0px;right:0px;bottom:-12px;z-index:10;}
.step_snb li.step_info {width:19%;}
.step_snb li.step_opt {width:12.5%;}
.step_snb li.step_pic {width:12.5%;}
.step_snb li.step_prc {width:24%;}
.step_snb li.step_perf {width:12.5%;}
.step_snb li.step_pay {width:12.5%;}
.step_snb li.step_end {width:19%;}
.step_snb.type_and li.step_info {width:19%;}
.step_snb.type_and li.step_opt {width:13.5%;}
.step_snb.type_and li.step_pic {width:13.5%;}
.step_snb.type_and li.step_prc {width:23%;}
.step_snb.type_and li.step_perf {width:13.5%;}
.step_snb.type_and li.step_pay {width:17.5%;}
.step_snb.type_and li.step_end {width:17.5%;}
.step_snb.type_individual li.step_info {width:22%;}
.step_snb.type_individual li.step_opt {width:15%;}
.step_snb.type_individual li.step_pic {width:15%;}
.step_snb.type_individual li.step_prc {width:27.5%;}
.step_snb.type_individual li.step_perf {display:none;}
.step_snb.type_individual li.step_pay {width:20.5%;}
.step_snb.type_individual li.step_end {width:20%;}

/*layerpopup*/
.type_full .inner_pop_con {position:absolute;width:280px;top:100px;left:50%;margin-left:-150px;}
body.android_low .type_full .inner_pop_con {position:absolute;}
.inner_pop_con {background:#fff;padding:15px 10px 18px 10px;}
.inner_pop_con h3 {font-size:17px;color:#e92828;margin-bottom:12px;}
.inner_pop_con p {padding-bottom:10px;line-height:20px;font-size:14px;color:#403e4b;}
.inner_pop_con p a {color:#403e4b;}
.inner_pop_con p strong {font-weight:normal !important;color:#e92828;}
.inner_pop_con p .txt_cs{letter-spacing:-1px}
.inner_pop_con p strong a {color:#e92828;}
.inner_pop_con .btn {border-top:1px solid #d6d6d6;padding-top:18px;margin-top:3px;}
.inner_pop_con .bt_confirm {width:100%;height:36px;color:#ea182c;border:1px solid #ea182c;background:#fff;border-radius:3px;font-weight:bold;font-size:16px;}

/*셀프등록 옵션선택 layer*/
body.selfLayerOpen {background:#fff !important;}
.rsoptionWrap {width:100%;background:#fff;}
.rsoptionWrap.enterColor .lst,
.rsoptionWrap.enterMainopt .lst,
.rsoptionWrap.enterEtcopt .lst,
.rsoptionWrap.enterAddopt .lst,
.rsoptionWrap.enterMainopt_tr .lst,
.rsoptionWrap.enterGrade .lst {padding-bottom:115px;}/*하단버튼가진유형*/
.rsoptionWrap .rsopt_tit {position:fixed;top:0;left:0;right:0;height:44px;line-height:44px;text-align:center;background:#fff;border-bottom:1px solid #d9d9d9;z-index:100;}
.rsoptionWrap .rsopt_tit h3 {text-align:center;line-height:46px;color:#000;font-size:14px;font-weight:normal;}
.rsoptionWrap .rsopt_tit button {position:absolute;left:0;top:0;width:32px;height:44px;}
.rsoptionWrap .rsopt_tit button .spr_sch_close {width:11px;height:19px;vertical-align:middle;background-position:-50px 0;}
.rsoptionWrap .item {padding-left:15px;}
.rsoptionWrap .item > button {border-bottom:1px solid #e9e9e9;}
.rsoptionWrap .item > .check {border-bottom:1px solid #e9e9e9;}
.rsoptionWrap .item button {position:relative;width:100%;padding:0 20px 0 0px;height:45px;text-align:left;font-size:16px;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent}
.rsoptionWrap .item.active button {color:#cc0000;}
.rsoptionWrap .item button .spr_slt {position:absolute;right:10px;top:50%;width:8px;height:13px;background-position:-91px -116px;margin-top:-7px;}
.rsoptionWrap .item.active button .spr_slt {background-position:-118px -116px;}
.rsoptionWrap .item:first-child,
.rsoptionWrap .item:first-child {border-top:1px solid #e9e9e9;}
.rsoptionWrap .item:last-child,
.rsoptionWrap .item:last-child {border-bottom:1px solid #e9e9e9;}
.rsoptionWrap .item:last-child > button,
.rsoptionWrap .item:last-child > .check {border-bottom:0px;}
.rsoptionWrap dl .item:last-child > button,
.rsoptionWrap dl .item:last-child > .check {border-bottom:0 !important;}
.rsoptionWrap dl .item:last-child,
.rsoptionWrap dl .item:last-child {border-bottom:0 !important;}
.rsoptionWrap .rsopt_select {overflow:hidden;width:100%;background:#fff;margin-top:44px;}
.rsoptionWrap .rsopt_select .lst {overflow:hidden;}
.rsoptionWrap .info_question {padding:32px 15px 34px;font-size:16px;}
.rsoptionWrap .info_question .desc_question {line-height:24px;}
.rsoptionWrap .info_question .check {font-weight:bold;padding-top:20px;}
.rsoptionWrap .opt_msg {padding:10px;border-top:1px solid #969696;}
.rsoptionWrap .opt_stit {display:block;padding-left:10px;height:35px;line-height:35px;color:#403e4b;border-bottom:1px solid #6d6d6d;font-size:15px;background:#f6f6f6;text-align:center;font-weight:normal !important}
.rsoptionWrap .no_result {position:absolute;top:40%;left:120px;right:0;text-align:center;color:#adadad;font-size:15px;}
.rsoptionWrap .type_form .item label {height:auto;font-size:15px;padding-top:14px;padding-bottom:13px;}
.rsoptionWrap .type_form .item span.check {display:block;}
.rsoptionWrap input[type=radio]:checked+label,
.rsoptionWrap input[type=checkbox]:checked+label{color:#cc0000;}
.rsoptionWrap input[type=radio]+label,
.rsoptionWrap input[type=checkbox]+label{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent}
.rsoptionWrap input[type=radio]:disabled+label .count,
.rsoptionWrap input[type=checkbox]:disabled+label .count {color:#bcbcbc}
.rsoptionWrap input[type=radio]:checked+label .count,
.rsoptionWrap input[type=checkbox]:checked+label .count {color:#cc0000}
.rsoptionWrap .check.switch {display:block;padding-right:15px;}
.rsoptionWrap .count {position:absolute;right:30px;top:50%;margin-top:-9px;color:#403e4b;font-size:13px;}
.rsoptionWrap .type_form .count {right:10px;}
.rsoptionWrap .type_btn .active .count {color:#c00;}
.rsoptionWrap .disabled:active {background:none !important;}
.rsoptionWrap .item button:disabled {color:#cec9c5;}
.rsoptionWrap .item button:disabled .count {color:#cec9c5;}
.rsoptionWrap .item button:disabled .spr_slt {display:none;}
.rsoptionWrap .item button:disabled:after {display:none;}
.rsoptionWrap dt{background:#f6f6f6;height:30px;line-height:30px;padding-left:10px;color:#403e4b;}
.rsoptionWrap .type_btn .item:active {background:#e9e9e9;}
.rsoptionWrap .clear {width:38px;height:35px;right:55px;top:0;background-position:50% 50%;}
.enterYear .lst {float:left;width:50%;}
.enterYear .lst .item {padding-left:0;}
.enterYear .lst.year .item {border-right:1px solid #6d6d6d;}
.enterYear .lst .check {padding-left:15px;}
.enterYear .rsopt_select {border-bottom:1px solid #e9e9e9;}
.enterYear .lst .item:last-child {border-bottom:0;}
.enterYear .lst .item label {padding-left:30px;}
.enterGrade .item > button:after {content:"";display:inline-block;background:url('/images/common/spr_mobile_new.png') no-repeat -73px -116px;background-size:200px;position:absolute;right:10px;top:19px;width:13px;height:7px;}
.enterGrade .item > .type_btn li button:after {display:none;}
.enterGrade .item .type_form {background:#f3f4f5;border-top:0;}
.enterGrade .item .type_form .item {overflow:hidden;height:0;overflow:hidden;transition:.2s linear; -webkit-transition:.2s linear; -moz-transition:.2s linear;border:0;}
.enterGrade .item .type_form .item button {color:#403e4b;padding-right:0 !important;}
.enterGrade .item.active .type_form {position:relative;margin-left:-15px;border-top:1px solid #403e4b;border-bottom:1px solid #403e4b;padding:10px 0;}
.enterGrade .item.active .type_form:after {content:"";position:absolute;top:-5px;left:33px;width:8px;height:8px;background:#f3f4f5;border:1px solid #403e4b;border-bottom:0;border-right:0;transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.enterGrade .item.active .type_form li {height:auto;border-bottom:0;}
.enterGrade .item.active .type_form li:last-child {border-bottom:0;}
.enterGrade .item.active .type_form li span.depth1 {}
.enterGrade .item.active .type_form li span.depth2 {margin-left:25px;}
.enterGrade .item.active .type_form li span label {padding-top:8px;padding-bottom:6px;}
.enterGrade .item.active .type_form li .check {border-bottom:0;border-top:0;}
.enterGrade .item.active:active {background:none;}
.enterGrade .item.active:active .item:active {background:none;}
.enterGrade .item.active > button {color:#403e4b;border-bottom:0;}
.enterGrade .item.active .count {color:#403e4b;}
.enterColor .lst.color .sample {float:left;margin:-2px 10px 0 10px;overflow:hidden;vertical-align:middle;}
.enterColor .lst.color .sample var {float:left;width:18px;height:20px;}
.enterColor .lst.color .usebd .sample {border:1px solid #e0e0e0;}
.enterColor .lst.color .usebd .sample var {width:17px;height:18px;}
.enterColor .type_form .item label {padding-top:11px;padding-bottom:10px;}
.enterCargobox .txtfield {padding:55px 20px 0 20px;}
.enterCargobox .txtfield span {position:relative;display:block;padding-right:55px;margin:0 auto 13px auto;border:1px solid #bcbcbc;border-radius:3px;overflow:hidden;}
.enterCargobox .txtfield span input {width:100%;border:0;height:35px;text-indent:10px;text-align:left;font-size:18px;border-right:1px solid #bcbcbc;border-radius:0;background:none;}
.enterCargobox .txtfield span input::-webkit-input-placeholder {text-align:left;font-size:16px;color:#5c5c5c;}
.enterCargobox .txtfield span input:-moz-placeholder {/* Firefox 18- */ text-align:left;font-size:16px;color:#5c5c5c;}
.enterCargobox .txtfield span input::-moz-placeholder {/* Firefox 19+ */text-align:left;font-size:16px;color:#5c5c5c;}
.enterCargobox .txtfield span input:-ms-input-placeholder {text-align:left;font-size:16px;color:#5c5c5c;}
.enterCargobox .txtfield span.disabled {border:1px solid #dcd9d9;background:#ececec;}
.enterCargobox .txtfield span.disabled input {border-right:1px solid #dcd9d9;}
.enterCargobox .txtfield span.disabled input {width:100%;border:0;height:35px;text-indent:10px;text-align:left;font-size:18px;border-right:1px solid #bcbcbc;border-radius:0;background:none;}
.enterCargobox .txtfield span.disabled input::-webkit-input-placeholder {text-align:left;font-size:16px;color:#acacac;}
.enterCargobox .txtfield span.disabled input:-moz-placeholder {/* Firefox 18- */ text-align:left;font-size:16px;color:#acacac;}
.enterCargobox .txtfield span.disabled input::-moz-placeholder {/* Firefox 19+ */text-align:left;font-size:16px;color:#acacac;}
.enterCargobox .txtfield span.disabled input:-ms-input-placeholder {text-align:left;font-size:16px;color:#acacac;}
.enterCargobox .txtfield .spr_unit {position:absolute;right:15px;top:50%;margin-top:-5px;display:inline-block;width:23px;height:10px;}
.enterCargobox .txtfield .inner_cm .spr_unit {background-position:-65px -140px}
.enterCargobox .txtfield .height_cm .spr_unit {background-position:-65px -140px}
.enterCargobox .txtfield .width_cm .spr_unit {background-position:-65px -140px}
.enterCargobox .check {float:right;width:95px;margin:0 5px 0 0;}
.enterCargobox .check label {font-size:16px;}
.option_wrap{padding-left:88px}
.option_wrap .list_category{position:fixed;left:0;top:44px;width:88px;height:100%;border-right:1px solid #d9d9d9;background-color:#f5f5f5}
.option_wrap .list_category .link_g{display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center;height:60px;padding-left:10px;font-size:14px}
.option_wrap .list_category .on{background-color:#fff}
.option_wrap .list_category .txt_num{color:#ff2626}
.option_wrap .type_form {overflow:hidden}
.option_wrap .type_form dt{clear:both;padding-left:14px;height:26px;font-size:11px;line-height:27px;color:#999}
.option_wrap .type_form .item {padding-left:0}
.option_wrap .opt_item {border-bottom:1px solid #f5f5f5;vertical-align:middle;}
.option_wrap .opt_item .check {display:inline-block;display:table !important;height:47px;padding-left:14px;vertical-align:middle;}
.option_wrap .opt_item .check label {display:table-cell !important;vertical-align:middle;font-size:14px;padding-top:0 !important;padding-bottom:0 !important;padding-left:27px}
.option_wrap .opt_item .check .ico_n{width:14px;height:14px;margin-left:6px;background-position:-80px -50px}
.option_wrap .opt_item .slt {position:relative;float:left;margin:11px 0 0 5px;}
.option_wrap .opt_item .slt:after {content:"";display:inline-block;width:12px;height:8px;position:absolute;right:5px;top:9px;background:url(/images/common/spr_mobile_new.png) no-repeat  -74px -116px;background-size:200px;}
.option_wrap .opt_item.checked .slt:after {background:url(/images/common/spr_mobile_new.png) no-repeat -132px -116px;background-size:200px;}
.option_wrap .opt_item select {height:24px;padding:0 20px 0 5px;font-size:14px;color:#ce0d0d;background-color:#f9f9f9;border-radius:0;border:1px solid #e9e9e9;-webkit-appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent}
.dvc_a .opt_item select {padding:0 17px 0 0;}
.option_wrap .opt_item select:disabled {color:#828282;}
.option_wrap .type_form .opt_sub{display:none;overflow:hidden;height:47px;padding-left:42px;margin-right:1px;background:#f9f9f9 url('/images/my/ico_depth.png') no-repeat 25px 17px;background-size:6px 6px}
.option_wrap .type_form .checked .opt_sub{display:block}
.option_wrap .type_form .opt_sub .check{float:left;width:50%;height:46px;padding-left:0}
.option_wrap .type_form .txt_abbr{display:inline-block}
.option_wrap .enter_writeopt{padding:20px 10px}
.option_wrap .enter_writeopt .enter_cnt {display:block;position:relative;padding:8px 0 0 10px;border:1px solid #bcbcbc;border-radius:3px;overflow:hidden;}
.option_wrap .enter_writeopt textarea{width:100%;height:25px;overflow:hidden;border:0;background:none;font-size:15px;color:#403e4b;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent}
.option_wrap .enter_writeopt .clear{right:5px;top:5px;width:30px;height:25px;background-position:8px 3px}
.option_wrap .enter_writeopt .info_writeopt{padding-top:7px;font-size:13px;line-height:18px;color:#ff2626}
/* 선택옵션 일경우 */
.enterAddopt{background-color:#f7f7f8}
.enterAddopt .rsopt_select{background-color:transparent}
.enterAddopt .option_wrap{padding-left:0}
.enterAddopt .opt_item{position:relative;padding-right:75px;background-color:#fff}
.enterAddopt .opt_item .uitooltip_btn{margin:2px 0 0 5px;vertical-align:top}
.enterAddopt .opt_item .txt_price{position:absolute;right:15px;top:50%;font-size:14px;color:#999;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.enterAddopt .opt_item .explan{display:none}
.enterAddopt .option_wrap .opt_item .check label{padding-top:14px !important;padding-bottom:14px !important;}
.enterAddopt .btn_more{float:right;height:30px;margin:15px 15px 0 0;font-size:14px;line-height:31px}
.enterAddopt .btn_more:after{content:'';display:inline-block;width:8px;height:15px;margin:9px 0 0 11px;background:url('/images/common/spr_mobile_new.png?170213') no-repeat -91px -116px;background-size:200px;vertical-align:top}
.enterAddopt .info_addoption{clear:both;padding:5px 15px 0 0;font-size:13px;color:#999;text-align:right}
/* 레이어 : 선택옵션 */
.uitooltip_option_explan .option_ttl {display:block;font-size:13px;color:#333;font-weight:bold;}
.uitooltip_option_explan .option_desc {display:block;padding-top:6px;font-size:13px;color:#666;line-height:20px;}

.rsopt_btn {position:fixed;bottom:0;left:0;right:0;text-align:Center;padding:32px 20px;background:#f7f7f8;box-shadow: 0 -2px 4px #e9e9e9;border-top:1px solid #b3b4b5;}
.rsopt_btn button {width:100%;height:50px;background:#e92828;color:#fff;border-radius:3px;font-size:18px;font-weight:bold;border:1px solid #e92828;}
.rsoptionWrap .txtOpt {text-align:right;padding:15px 10px 30px 10px;}
.rsoptionWrap .txtOpt a {text-decoration:underline;font-size:16px;color:#706e78;}
.rsoptionWrap .txtOpt .spr_txtOpt {width:8px;height:12px;margin-left:5px;background-position:-91px -116px;}

/*셀프등록 메인 : 차량번호입력*/
body.rs_sellcar_i01 {background:#f3f3f3}
.terms dt {font-size:15px;margin-bottom:5px;}
.terms dd {font-size:13px;line-height:18px;}
.terms dd strong {color:#ce0d0d;font-weight:normal !important;}
.terms .agree {width:100%;overflow:hidden;margin-top:10px;}
.terms .agree .check {float:left;margin-top:3px;}
.terms .agree .check label {font-size:14px;}
.terms .agree .btn_view_term {float:right;padding:4px 10px;color:#5c5c5c;border:1px solid #c0c1c2;border-radius:3px;font-size:15px;}
.carnum {margin-top:20px;}
.carnum .spr_box_icon {background-position:0 0;}
.carnum .cate_sel {width:100%;overflow:hidden;text-align:center;margin:10px 0 14px 0;}
.carnum .cate_sel .check {margin:0 5px;}
.carnum .cate_sel .check:first-child {margin-left:0;}
.carnum .cate_sel .check:last-child {margin-right:0;}
.carnum .cate_sel .check label {font-size:15px;}
.carnum .cate_sel input[type=radio]:checked+label {color:#ce0d0d}
.carnum .input_num {position:relative;border:1px solid #bcbcbc;border-radius:3px;overflow:hidden;}
.carnum .input_num span {display:block;padding:0 64px 0 10px;}
.carnum .input_num button {position:absolute;right:0;top:0;width:64px;height:35px;background:#e92828;color:#fff;font-size:15px;font-weight:bold}
.carnum .input_num span input {width:100%;height:35px;border:0;background:none;font-size:15px;outline:none;}
.carnum .input_num span input::-webkit-input-placeholder {font-size:15px;color:#b1b0b7}
.carnum .input_num span input:-moz-placeholder {/* Firefox 18- */font-size:15px;color:#b1b0b7;}
.carnum .input_num span input::-moz-placeholder {/* Firefox 19+ */font-size:15px;color:#b1b0b7;}
.carnum .input_num span input:-ms-input-placeholder {font-size:15px;color:#b1b0b7;}
.terms {margin-top:20px;}
.save_car {margin:15px 0;font-size:14px;}
.save_car a {color:#b1b0b7;text-decoration:underline;}

/*셀프등록 1단계 : 차량정보입력*/
body.rs_sellcar_i02 .rs_step_btn,
body.rs_selltruck_i02 .rs_step_btn {border-top:0;}
.cardata {margin-top:20px;padding:15px 0px 2px 0px;}
.cardata .rs_msg {border-bottom:0;}
.cardata_enter {margin-top:10px;}
.cardata_enter li {position:relative;min-height:46px;padding:0px 0px 0px 10px;border-top:1px solid #e9e9e9;background:#fff;-webkit-user-select:none;-webkit-user-drag:none;}
.cardata_enter li span.spr_slt {position:absolute;right:10px;top:50%;width:8px;height:15px;margin-top:-7px;background-position:-91px -116px;}
.cardata_enter li .enter_tit {position:absolute;left:10px;top:50%;margin-top:-8px;display:inline-block;color:#403e4b;font-size:15px;font-weight:normal !important;}
.cardata_enter li .enter_cnt {display:block;min-height:46px;margin:0 0px 0 79px;}
.cardata_enter li.active,
.cardata_enter li:active {background:#e9e9e9;}
.cardata_enter li.disabled {background:#f6f7f8;}
.cardata_enter li.disabled .enter_tit {color:#b1b0b7;}
.cardata_enter li.disabled .enter_cnt {color:#403e4b;}
.cardata_enter li.disabled:active {border:0;border-top:1px solid #e9e9e9;}
.cardata_enter li.disabled span.spr_slt {display:none;}
.cardata_enter li.caution {border:1px solid #e92828;}
.cardata_enter li.caution:active {border:1px solid #e92828;}
.cardata_enter li .spr_btn_guide {display:inline-block;vertical-align:middle;margin:-3px 0 0 6px;width:20px;height:20px;background-position:-175px -51px;}
.cardata_enter li input.text {width:100%;border:0;background:none;height:46px;font-size:15px;color:#403e4b;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent}
.cardata_enter li select {width:100%;border:0;background:none;height:46px;font-size:15px;color:#403e4b;-webkit-appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent}
.cardata_enter li button {display:block;width:100%;border:0;background:none;height:46px;font-size:15px;text-align:left;color:#403e4b;-webkit-user-select:none;-webkit-user-drag:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent}
.cardata_enter li.enter_displace:after {content:"cc";position:absolute;right:10px;top:50%;margin-top:-7px;font-size:15px;}
.cardata_enter li.enter_distance:after {content:"km";position:absolute;right:10px;top:50%;margin-top:-7px;font-size:15px;}
.cardata_enter li.enter_horsepower:after {content:"마력";position:absolute;right:10px;top:50%;margin-top:-7px;font-size:15px;}
.cardata_enter li.enter_displace .enter_tit:after,
.cardata_enter li.enter_distance .enter_tit:after,
.cardata_enter li.enter_horsepower .enter_tit:after {content:"";margin:0 10px;display:inline-block;width:1px;height:16px;background:#e9e9e9;vertical-align:top;}
.cardata_enter li.enter_caution {border-top:1px solid #e92828;font-size:15px;}
.cardata_enter li.enter_caution strong {display:inline-block;padding-top:15px;color:#ce0d0d;font-weight:normal !important;}
.cardata_enter li.enter_caution:active {border:0;border-top:1px solid #e92828;background:none;}
.cardata_enter li .clear {width:45px;height:46px;right:35px;top:0;background-position:50% 50%;}
.rs_selltruck .cardata_enter .enter_tit {padding-left:10px;}
.rs_selltruck .cardata_enter .enter_cnt {margin-left:89px;}
.rs_selltruck .enter_smanufact_tr .enter_tit {margin-top:-16px}
.rs_selltruck .enter_form_tr:before,
.rs_selltruck .enter_dform_tr:before,
.rs_selltruck .enter_capacity_tr:before,
.rs_selltruck .enter_manufact_tr:before,
.rs_selltruck .enter_model_tr:before,
.rs_selltruck .enter_grade_tr:before,
.rs_selltruck .enter_use:before,
.rs_selltruck .enter_year:before,
.rs_selltruck .enter_fyear:before,
.rs_selltruck .enter_displace:before,
.rs_selltruck .enter_trans:before,
.rs_selltruck .enter_fuel:before,
.rs_selltruck .enter_color:before,
.rs_selltruck .enter_distance:before {content:"*";position:absolute;left:10px;top:50%;margin-top:-5px;color:#0e467b;font-size:15px;}

/*셀프등록 2단계 : 옵션정보 입력*/
.caroption {margin-top:20px;margin-bottom:10px;}
.caroption .spr_box_icon {background-position:-38px 0;}
.caroption .rs_msg {border-bottom:0;}
.caroption_enter {}
.caroption_enter li {position:relative;margin-top:13px;}
.caroption_enter li p {padding:9px 0 10px 0;color:#9f9ea5;}
.caroption_enter li .tit_option{display:block;font-weight:bold;color:#666}
.caroption_enter li .spr_slt {position:absolute;right:13px;top:12px;width:8px;height:15px;background-position:-91px -116px;}
.caroption_enter li .enter_cnt {display:block;padding:0 0 0 10px;border:1px solid #bcbcbc;border-right:0;border-radius:3px;overflow:hidden;}
.caroption_enter li .enter_cnt:after {content:"";position:absolute;right:35px;top:0;width:1px;height:37px;background:#bcbcbc;}
.caroption_enter li.enter_writeopt .enter_cnt {border-right:1px solid #bcbcbc;}
.caroption_enter li.enter_writeopt .enter_cnt:after {content:"";display:none;}
.caroption_enter li .txt_num{font-weight:bold;color:#e92828}
.caroption_enter button {width:100%;border:0;background:none;height:35px;font-size:15px;text-align:left;color:#403e4b;border-right:1px solid #bcbcbc;-webkit-user-select:none;-webkit-user-drag:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent}
.caroption_enter textarea {width:100%;height:25px;overflow:hidden;border:0;background:none;font-size:15px;color:#403e4b;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent}
.caroption_enter input::-webkit-input-placeholder {font-size:15px;color:#5c5c5c}
.caroption_enter input:-moz-placeholder {/* Firefox 18- */font-size:15px;color:#5c5c5c;}
.caroption_enter input::-moz-placeholder {/* Firefox 19+ */font-size:15px;color:#5c5c5c;}
.caroption_enter input:-ms-input-placeholder {font-size:15px;color:#5c5c5c;}
.caroption_enter li:active .enter_cnt {border:1px solid #e92828;}
.caroption_enter li:active .enter_cnt button {border-right:1px solid #e92828;}
.caroption_enter li:active .spr_slt {background-position:-118px -116px;}
.caroption_enter li .clear {right:5px;top:5px;}
.caroption_enter .enter_writeopt .enter_cnt {padding-top:8px;}

/*셀프등록 4단계 : 가격&설명글입력*/
.carprice {margin-top:20px;}
.carprice .spr_box_icon {background-position:-152px 0;}
.carprice .input_price {position:relative;display:block;padding-right:55px;margin:0 auto 10px auto;border:1px solid #bcbcbc;border-radius:3px;overflow:hidden;}
.carprice .input_price input {width:100%;border:0;height:35px;text-indent:10px;text-align:left;font-size:18px;border-right:1px solid #bcbcbc;border-radius:0;background:none;}
.carprice .input_price .spr_unit {position:absolute;right:15px;top:50%;margin-top:-8px;display:inline-block;width:25px;height:14px;background-position:0 -135px}
.carprice .input_price .clear {width:38px;height:35px;right:55px;top:0;background-position:50% 50%;}
.carprice p {font-size:14px;line-height:18px;}
.carprice p .btn_view_pricemov {color:#ce0d0d;text-decoration:underline;}
.carprice p .txt_red {color:#ce0d0d;}
.carprice .type_sel {position:relative;padding-bottom:10px;}
.carprice .type_sel h2 {margin-top:15px;font-size:16px;}
.carprice .type_sel .exp_opt {position:absolute;right:10px;top:1px;}
.carprice .type_sel .exp_opt label {font-size:15px;}
.carprice .type_sel .exp_opt .check {margin-left:10px;}
.carprice .leaseInputWrap {position:relative;padding-bottom:35px;}
.carprice .leaseInputWrap .cmm_in_type1 {margin-top:10px;}
.carprice .leaseInputWrap .cmm_in_type1:first-child {margin-top:0;}
.carprice .leaseInputWrap .lease_data {overflow:hidden;}
.carprice .leaseInputWrap .lease_data .sec {position:relative;padding-left:56px;}
.carprice .leaseInputWrap .lease_data .sec strong {position:absolute;left:0;top:0;margin-top:10px;line-height:39px;font-size:14px;color:#5c5c5c;font-weight:normal !important;}
.carprice .leaseInputWrap .lease_data .sec .cmm_in_type1 input {width:42px;}
.carprice .leaseInputWrap .lease_data .sec .cmm_in_type1 .unit {}
.carprice .leaseInputWrap .lease_data .sec .sec50 {float:left;width:50%;padding:10px 0 0 5px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.carprice .leaseInputWrap .lease_data .sec .sec50 .cmm_in_type1 {margin-top:0;}
.carprice .leaseInputWrap .lease_data .sec .sec50 .cmm_in_type1 input {right:40px;width:36px;}
.carprice .leaseInputWrap .lease_data .sec .sec50 .cmm_in_type1 .unit {right:10px;}
.carprice .leaseInputWrap .lease_data .sec .sec50 .cmm_sel_type1 {margin-top:0;}
.carprice .leaseInputWrap a.more {position:absolute;right:0;bottom:10px;text-decoration:underline;color:#858585;font-size:13px;}
.sellerinfo {position:relative;margin-top:30px;}
.sellerinfo .spr_box_icon {background-position:-76px 0;}
.sellerinfo .btn_edit_sellerinfo {position:absolute;right:10px;top:55px;padding:0 13px;height:25px;font-size:15px;color:#5c5c5c;border:1px solid #c0c1c2;border-radius:3px;}
.sellerinfo .sl_name {margin-top:15px;font-size:18px;}
.sellerinfo .sl_name em {font-size:15px;}
.sellerinfo .sl_addr {margin-top:7px;}
.sellerinfo .sl_addr p {padding-right:120px;font-size:15px;line-height:18px;}
.sellerinfo .sl_tel {margin-top:15px;}
.sellerinfo .sl_tel ul {padding:0 15px;border:1px solid #d6d6d6;}
.sellerinfo .sl_tel ul li {padding:10px 0;border-top:1px solid #d6d6d6;}
.sellerinfo .sl_tel ul li:first-child {border-top:0 none;}
.sellerinfo .sl_tel ul li label {padding-left:25px;font-size:15px;}
.sellerinfo .sl_tel .multi_tel .cmm_sel_type1 {height:30px;margin:-27px 0 -6px 25px;}
.sellerinfo .sl_tel .multi_tel .cmm_sel_type1 select {height:30px;padding:0 20px 0 0;}
.sellerinfo .sl_tel p {margin-top:10px;font-size:15px;line-height:20px;}
.sellerinfo .sl_tel p .btn_view_050 {color:#ce0d0d;text-decoration:underline;}
.sellerinfo .sl_tel .tel_time_choose {margin-top:17px;}
.sellerinfo .sl_tel .tel_time_choose h3 {font-size:15px;color:#403e4b;}
.sellerinfo .sl_tel .tel_time_choose .sel {margin:12px 2px 0;padding:7px 15px;border:1px solid #bcbcbc;border-radius:3px;}
.sellerinfo .sl_tel .tel_time_choose .sel .time_sel {}
.sellerinfo .sl_tel .tel_time_choose .sel .time_sel .row {overflow:hidden;position:relative;margin-top:10px;padding-right:25px;}
.sellerinfo .sl_tel .tel_time_choose .sel .time_sel .row .unit {float:left;width:50%;}
.sellerinfo .sl_tel .tel_time_choose .sel .time_sel .row .cmm_sel_type1 {margin-right:5px;}
.sellerinfo .sl_tel .tel_time_choose .sel .time_sel .row span {position:absolute;right:0;top:0;line-height:37px;font-size:13px;color:#858585;}
.sellerinfo .sl_tel .tel_time_choose .sel .check:first-child {margin-right:50px;}
.sellerinfo .sl_tel .tel_time_choose .sel .t {margin-top:5px;line-height:1.4;font-size:14px;color:#403e4b;}
.sellerinfo .sl_tel .tel_time_choose .p {margin-top:15px;font-size:14px;color:#403e4b;}
.sellerinfo .agr_050num {margin-top:20px;padding-top:20px;border-top:1px solid #d6d6d6;}
.sellerinfo .agr_050num dt {font-weight:bold;font-size:18px;margin-bottom:10px;}
.sellerinfo .agr_050num dt em {font-size:15px;font-weight:normal}
.sellerinfo .agr_050num dd {font-size:15px;line-height:20px;}
.sellerinfo .agr_050num dd strong {color:#fff;font-weight:normal !important;}
.sellerinfo .agr_050num .emph_agr{color:#ce0d0d;}
.sellerinfo .agr_050num .agr050 {margin-top:10px;}
.sellerinfo .agr_050num .agr050 .check {margin-right:20px;}
.sellerinfo .bt_close {display:inline-block;position:absolute;width:25px;height:25px;right:5px;top:10px;color:#fff;background:url(/images/common/btn_layer_close_white.png) no-repeat 50% 50%;background-size:13px;text-indent:-9999px;overflow:hidden;}
.explain {position:relative;margin-top:30px;}
.explain .spr_box_icon {background-position:-114px 0;}
.explain h2 {margin-top:15px;font-size:16px;}
.explain .exp_opt {position:absolute;right:10px;top:32px;}
.explain .exp_opt .check {margin-left:10px;}
.explain .exp_opt label {font-size:15px;}
.explain .enter_explain {margin-top:15px;padding:20px 10px;border:1px solid #bcbcbc;}
.explain .enter_explain textarea {border:0;width:100%;height:200px;}
.accident {position:relative;margin-top:10px;}
.accident .btn_view_acc {position:absolute;right:10px;top:10px;display:block;height:19px;padding:4px 13px 0 13px;font-size:15px;color:#5c5c5c;border:1px solid #c0c1c2;border-radius:3px;text-align:center;}
.accident .acc_opt {margin-top:15px;}
.accident .acc_opt .check {margin-right:40px;}
.accident .acc_opt label {font-size:15px;}
.seizure {margin-top:10px;}
.seizure li {position:relative;margin-top:10px;}
.seizure li .slt_wrap {display:block;padding:0 0 0 10px;border:1px solid #bcbcbc;border-radius:3px;overflow:hidden;}
.seizure li .slt_wrap select {width:100%;height:37px;border:0;border-radius:0;-webkit-appearance:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;color:#5c5c5c;font-size:15px;background:none;}
.seizure li .spr_slt {position:absolute;right:13px;top:16px;width:14px;height:7px;background-position:-73px -116px;}
.seizure li .slt_wrap:after {content:"";display:inline-block;position:absolute;right:40px;top:0;width:1px;height:38px;background:#bcbcbc;}
.seizure li:active .slt_wrap {border:1px solid #e92828;}
.seizure li:active .spr_slt  {background-position:-131px -116px;}
.seizure li:active .slt_wrap:after {background:#e92828;}
.rs_save_btn {margin:10px 0 20px 0;text-align:right;}
.rs_save_btn .btn_save {padding:0 13px;height:25px;font-size:15px;color:#5c5c5c;border:1px solid #c0c1c2;border-radius:3px;background:#fff;}
#my_relieved_tip {margin-top:5px;}
.my_relieved_tip {padding:15px 35px 15px 15px;border-radius:8px;background:#535353;color:#b2b2b2;}
.my_relieved_tip .bt_close {display:inline-block;position:absolute;right:5px;top:10px;color:#fff;font-weight:bold;font-size:25px;line-height:25px;background:url(/images/common/btn_layer_close_white.png) no-repeat 50% 50%;background-size:13px;text-indent:-9999px;overflow:hidden;}
.my_relieved_tip:after {content:"";position:absolute;top:-5px;left:25px;width:8px;height:8px;background:#535353;border:1px solid #535353;border-bottom:0;border-right:0;transform:rotate(45deg);-webkit-transform:rotate(45deg);}


/*셀프등록 5단계 : 성능점검 기록부 입력*/
.suggestnum {margin-top:20px;}
.suggestnum .spr_box_icon {background-position:-190px 0;}
.suggestnum .input_price {position:relative;display:block;margin:15px auto 0px auto;padding-left:82px;border:1px solid #bcbcbc;border-radius:3px;overflow:hidden;}
.suggestnum .input_price:before {content:"제시번호";position:absolute;left:10px;top:10px;font-size:15px;}
.suggestnum .input_price:after {content:"";position:absolute;top:10px;left:72px;width:1px;height:15px;background:#bcbcbc;}
.suggestnum .input_price input {width:100%;border:0;height:35px;text-align:left;font-size:18px;border-right:1px solid #bcbcbc;border-radius:0;background:none;}
.suggestnum .input_price .clear {width:38px;height:35px;right:0;top:0;background-position:50% 50%;}
.suggestnum p {font-size:14px;line-height:18px;}
.suggestnum p .btn_view_pricemov {color:#ce0d0d;text-decoration:underline;}
.suggestnum_tip {padding:10px 12px;color:#858585;font-size:13px;line-height:18px;}
.perf_report {margin-bottom:10px;}
.perf_report h2 {height:45px;text-align:center;text-decoration:underline;font-size:17px;}
.perf_report .slt_acc{position:relative}
.perf_report .slt_acc:after{content:'';display:block;clear:both}
.perf_report .slt_acc dt{float:left;width:30%;height:21px;padding:6px 0}
.perf_report .slt_acc dd {float:left;width:70%;height:21px;padding:6px 0;text-align:right}
.perf_report .slt_acc .check {margin:0 6px;}
.perf_report .slt_acc .check label {font-size:15px;}
.perf_report .slt_acc .inner_pop {top:35px;}
.perf_report .slt_acc .perf_report_tip:after {content:"";position:absolute;top:-4px;left:57px;width:8px;height:8px;background:#535353;border:1px solid #535353;border-bottom:0;border-right:0;transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.perf_report .slt_acc .perf_report_tip {padding:15px 35px 15px 15px;border-radius:8px;background:#535353;color:#b2b2b2;font-size:15px;line-height:20px;}
.perf_report .slt_acc .perf_report_tip .bt_close {display:inline-block;position:absolute;right:5px;top:10px;color:#fff;font-weight:bold;font-size:25px;line-height:25px;background:url(/images/common/btn_layer_close_white.png) no-repeat 50% 50%;background-size:13px;text-indent:-9999px;overflow:hidden;}
.perf_report .slt_photo{padding-top:19px}
.perf_report .slt_photo dt{font-size:13px;background:#f6f6f6;margin:0 -10px;padding:7px 10px;}
.perf_report .slt_photo p {padding:15px 0 10px;font-size:12px;text-align:left;line-height:20px;}
.perf_report .list_reg_photo{padding:0 7% 20px}
.perf_report .list_reg_photo:after{content:'';display:block;clear:both}
.perf_report .list_reg_photo li{position:relative;float:left;width:100%;margin-top:20px}
.perf_report .list_reg_photo li .input_reg_photo{display:none}
.perf_report .list_reg_photo li .img_reg_photo{width:100%;vertical-align:top}
.perf_report .list_reg_photo li .txt_reg_photo{display:block;width:100%;margin-top:10px;font-size:12px;color:#858585;letter-spacing:-0.5px;text-align:center}
.perf_report .list_reg_photo li .link_delete{position:absolute;right:-3px;top:-3px;overflow:hidden;width:20px;height:20px;background:url('/images/my/btn_delet.png') no-repeat 0 0;background-size:20px auto;text-indent:-10000em}
.perf_report .ipic_area {margin:20px -20px 0 -20px;overflow:hidden;}
.perf_report .ipic_area img {display:block;width:100%;}
.perf_report .spr_btn_guide {display:inline-block;vertical-align:middle;margin:-3px 0 0 6px;width:20px;height:20px;background-position:-175px -51px;}
.perf_report .perf_control_tip {font-size:13px;color:#858585;line-height:18px;}
.perf_report .perf_control_tip strong {color:#e92828;font-weight:normal !important;}
.perf_report .perf_control_tip a {margin-left:5px;color:#858585;border-bottom:1px solid #e0e0e0}

/*셀프등록 6단계 : 결제*/
.payment {margin-top:20px;}
.payment .rs_msg {border-bottom:0;}
.payment .spr_box_icon {background-position:-228px 0;}

.advertise_cart {position:relative;padding:15px 10px;margin:-17px -10px -15px -10px;border:0;border-radius:0;border-top:2px solid #ce0d0d;z-index:30;}
.advertise_cart.fixed {position:fixed;bottom:10px;left:10px;right:10px;height:0;}
.advertise_cart.open {height:auto;}
.advertise_cart .spr_box_icon {position:absolute;top:13px;left:50%;margin-left:-16px;background-position:-266px 0;}
.advertise_cart .cart_list li {margin-top:10px;}
.advertise_cart .cart_list li:first-child {margin-top:17px}
.advertise_cart .enter_point {margin-top:24px;}
.advertise_cart .enter_point .cart_prc {position:relative;width:50%;margin-top:12px;}
.advertise_cart .enter_point .cart_prc:after {content:"| 원";position:absolute;right:7px;top:50%;margin-top:-8px;color:#acacac;}
.advertise_cart .enter_point input.text {width:80%;padding-right:19%;border:1px solid #bcbcbc;border-radius:3px;height:35px;text-align:right;-webkit-appearance:none;}
.advertise_cart .total_prc {margin-top:24px;}
.advertise_cart .pay_option {margin-top:24px;padding-top:24px;border-top:1px solid #ce0d0d;}
.advertise_cart .pay_option dt {font-size:16px;font-weight:bold;}
.advertise_cart .pay_option .pay_opt {margin-top:24px;}
.advertise_cart .pay_option .pay_opt .check {margin-right:10px;}
.advertise_cart .pay_option .pay_opt .check label {font-size:16px;}
.advertise_cart .pay_option .pay_tip {margin-top:10px;color:#acacac;}
.advertise_cart .btn_payment {padding:10px;margin:24px -10px -10px -10px;border-top:1px solid #ce0d0d;}
.advertise_cart .btn_payment button {width:100%;height:50px;background:#e92828;color:#fff;font-size:18px;font-weight:bold;}
.advertise_cart .cart_tit {float:left;font-size:16px;}
.advertise_cart .cart_tit span {display:block;margin-top:3px;font-size:13px;font-weight:normal;}
.advertise_cart .cart_tit span var {color:#ce0d0d;font-weight:normal;}
.advertise_cart .cart_tit span em {color:#acacac;font-weight:normal;}
.advertise_cart .cart_tit span em.sale {color:#ce0d0d;}
.advertise_cart .cart_prc {float:right;font-size:14px;}
.advertise_cart .cart_prc var {font-size:16px;font-weight:bold;}
.advertise_cart .cart_inner {width:100%;overflow:hidden;}
.advertise_cart .total_prc var {font-size:18px;}
.advertise_cart .sale var {color:#e92828;}
.advertise_cart .nullity {text-decoration:line-through;}
.advertise_cart .info_notice{overflow:hidden;width:100%;padding-top:6px;font-size:13px;color:#acacac}

/*셀프등록 7단계 : 결제완료(for Android)*/
.pay_statement {background:#fff;border-top:1px solid #d6d6d6;margin:10px -10px 0 -10px;padding:20px 10px;}
.state_table table {width:100%;margin-top:10px;border-top:2px solid #6d6d6d;}
.state_table table th {padding:8px 5px;border-bottom:1px solid #6d6d6d;background:#f6f6f6;font-weight:normal;font-size:15px;}
.state_table table td {padding:15px 10px;border-bottom:1px solid #d0d0d0;border-left:1px solid #d0d0d0;font-size:15px;}
.state_table table tr td:first-child {border-left:0;}
.pay_statement_tip {margin-top:20px;}
.pay_statement_tip ul {margin-top:10px;padding:10px 0;border:1px solid #d6d6d6;border-radius:3px;}
.pay_statement_tip ul li {padding:5px 15px;font-size:15px;line-height:18px;}
.pay_statement_tip em{color:#ce0d0d}

/*셀프등록 7단계 : 등록완료(for iOS)*/
.complete {margin-top:20px;}
.complete .rs_msg {margin:0 -10px;border-bottom:0;}
.complete .rs_msg strong.emp {display:block;margin-top:5px;font-size:14px;}
.complete .rs_msg em {display:block;margin-top:10px;font-size:12px;color:#9f9ea5;}
.complete .spr_box_icon {background-position:-228px 0;}
.rs_sellcar_i08 .carresultList {margin:2px 0 0;background:#fff;}
.registcar {position:relative;margin:10px -10px;}
.registcar h2 {padding:13px 10px 5px;}
.registcar .btn_edit_carinfo {position:absolute;right:10px;top:10px;height:25px;padding:0 13px;border:1px solid #c0c1c2;color:#5c5c5c;font-size:16px;border-radius:3px;background:#fff;}

/*320 이하 screen style (항상 최하단에 위치해야 됨)*/
@media only screen and (max-width : 320px) {
	.step_snb li span {font-size:13px;}
	.rs_msg {font-size:14px;}
	.carnum .cate_sel .check label {font-size:14px;}
	.step_snb li a {font-size:14px;}
	.rsopt_btn {padding: 20px 20px;}
	.cardata_enter li {font-size:14px;}
	.cardata_enter li strong {font-size:14px;}
	.cardata_enter li .enter_tit {font-size:14px;}
	.cardata_enter li select,
	.cardata_enter li input.text,
	.cardata_enter li button {font-size:14px;}
	.cardata_enter li .enter_cnt {margin-left:70px;}
	.rsoptionWrap.enterColor .lst {padding-bottom:90px;}
	.caroption_enter li p {font-size:12px;}
	.enterMainopt .type_form .item .check label,
	.enterEtcopt .type_form .item .check label,
	.enterMainopt_tr .type_form .item .check label {font-size:13px;letter-spacing:-1px;}
	.advertise_cart .cart_list li {margin-top:5px;}
	.advertise_cart .enter_point {margin-top:10px;}
	.advertise_cart .total_prc {margin-top:10px;}
	.advertise_cart .btn_payment {margin-top:10px;}
	.advertise_cart .cart_tit {float:left;font-size:14px;}
	.advertise_cart .cart_prc {float:right;font-size:12px;}
	.advertise_cart .cart_prc var {font-size:14px;font-weight:bold;}
	.advertise_cart .pay_option {margin-top:10px;padding-top:10px;}
	.advertise_cart .pay_option dt {font-size:14px;}
	.advertise_cart .pay_option .pay_opt .check label {font-size:14px;}
	.advertise_cart.fixed {bottom:5px;}
	.enter_preferregist .txt_inner {padding:10px;}
	.carinfo .thum {width:130px;height:83px;}
	.carinfo .thum img.thum_b {width:130px;height:84px;}
	.carinfo .thum img.thum_s {width:65px;height:39px;}
	.carinfo .info {padding-left:137px;min-height:83px;}
	.carinfo .thum span.ass{background-size:39px;}
	.carinfo .thum span.cert{background-size:39px;}
	.sellerinfo .sl_tel p {font-size:13px;}
}

/* rs_sellcar 레이어공지 (보험개발원 시스템점검) */
.notipop_event {display:block;position:absolute;width:100%;left:0;top:0;z-index:9999;}
.notipop_event.off {display:none;}
.event_bg{position:absolute;width:100%;left:0;top:0;background:#000;opacity:0.8;}
.autoupdate_event {position:absolute;left:50%;top:42px;width:297px;height:513px;margin-left:-150px;background: url('/images/common/img_notice_rs_pop.png') no-repeat 0 0;background-size:297px;}
.autoupdate_event .link_free {display:block;position:absolute;left:36px;top:293px;width:224px;height:30px;text-indent:-99999px;}
.autoupdate_event .close a {display:block;position:absolute;bottom:2px;width:120px;height:32px;overflow:hidden;text-indent:-50000em;}
.autoupdate_event .close .todayclose {left:5px;}
.autoupdate_event .close .close {top:5px;right:5px;width:40px;}

.jq_ad_sample .slp_preview {width:269px;} /* jqpop내용 : 개발시, 레이어로 구현되면서 스크립트에서 width값을 체크하는데, jqpop인식 문제로 width값 계산이 안됨 */

/* 셀프등록 시 고지사항 레이어 팝업 */
.ir_optionlayer{display:block;overflow:hidden;line-height:0;background:url(/images/rs/ir_optionlayer.png) no-repeat;background-size:295px 440px;text-indent:-9999px;vertical-align:top}
.layer_opt{display:none}
.layer_opt .overlay{position:fixed;z-index:100;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.7)}
.layer_opt .opt_container{position:absolute;left:50%;top:90px;z-index:200;width:94%;margin-left:-47%;background:#fff;font-size:14px;text-align:center;letter-spacing:-1px}
.layer_opt .opt_content{padding:0 3% 20px}
.layer_opt .txt_area1{line-height:1.5em;padding:30px 0 25px}
.layer_opt .txt_area2{padding-bottom:30px;margin-bottom:19px;border-bottom:1px solid #d6d6d6}
.layer_opt .btn_confirm{display:block;height:36px;border-radius:3px;font-weight:bold;font-size:14px;line-height:37px;color:#fff;background-color:#e92828}
.layer_opt .opt_container .chk_area{padding:10px;background:#e9e9e9;border-top:1px solid #d0d0d0;text-align:right;}
.layer_opt .chk_area input{position:static}
.layer_opt .chk_area label{display:inline-block;padding-left:22px;background:none;vertical-align:middle}
.layer_opt.layer_coach .opt_coach{position:absolute;left:0;top:90px;z-index:200;width:100%;padding:0 20px;text-align:center;box-sizing:border-box}
.layer_opt.layer_coach .tit_coach{display:block;font-size:20px;color:#fff}
.layer_opt.layer_coach .desc_coach{padding-top:15px;font-size:13px;line-height:18px;color:#bfbfbf}
.layer_opt.layer_coach .desc_coach .emph_g{font-weight:normal;color:#fff}
.layer_opt.layer_coach .bg_coach{width:228px;height:204px;margin:20px auto 0;background-position:10px 0}
.layer_opt.layer_coach .bg_coach2{width:291px;height:219px;margin:20px auto 0;background-position:10px -210px}
.layer_opt.layer_coach .btn_confirm{margin-top:10px}
.layer_opt.layer_coach .btn_nomore{display:block;width:160px;height:20px;margin:15px auto 0;font-size:15px;color:#fff}
.layer_opt.layer_coach .btn_nomore .ico_x{display:inline-block;width:16px;height:16px;margin:1px 5px 0 0;background-position:-225px 0}

/* 중복결제알림팝업 */
.same_pay_noti {position:relative;width:290px;padding:5px;margin:0 auto;background:#fff;text-align:center;}
.same_pay_noti .t {padding-top:25px;font-size:14px;font-weight:bold;color:#000;}
.same_pay_noti .l {margin-top:4px;}
.same_pay_noti .l li {margin-top:2px; font-size:12px;color:#e2323d;}
.same_pay_noti .p {margin-top:13px;font-size:14px;font-weight:bold;color:#000;}
.same_pay_noti .btn_area {margin-top:29px;padding-top:0;border-top:none;}
.same_pay_noti .btn_black1 {float:left;border:1px solid #000;text-align:center;line-height:41px;font-size:14px;font-weight:bold;color:#000;}
.same_pay_noti .btn_black2 {float:left;border:1px solid #000;background:#000;text-align:center;line-height:41px;font-size:14px;font-weight:bold;color:#fff;}

/* 시세개편 */
.rs_section.priceguide{padding:15px 20px 30px;margin-top:10px}
.sell_guide{width:230px;margin:25px auto 0;padding-bottom:5px}
.sell_guide li{position:relative;padding-left:10px;text-align:left}
.sell_guide li:before{position:absolute;left:0;top:6px;content:'';width:2px;height:2px;background:#484848}
.sell_guide li span{display:inline-block;font-size:14px;color:#000}
.sell_guide li span.tit{width:150px}
.sell_guide li span.val{color:#cc001e}
.sell_guide li span a{display:inline-block;overflow:hidden;width:16px;height:16px;margin-left:3px;background:url('/images/pr/ico_que.png') no-repeat 0 0;background-size:16px auto;text-indent:-9999em;vertical-align:middle}

caption{position:absolute;left:0;top:-9999em;overflow:hidden;height:0;width:0;font-size:0;line-height:0}
.tbl_pr{width:100%}
.tbl_pr.sell{margin-top:16px;border-bottom:1px solid #f1f1f1}
.tbl_pr th{height:30px;border-top:1px solid #000;border-bottom:1px solid #e5e5e5;background:#fafafa;font-size:12px;text-align:center}
.tbl_pr td.grade{padding-left:5px;text-align:left}
.tbl_pr td{height:40px;border-top:1px solid #f1f1f1;font-size:13px;color:#7f7f7f;text-align:center}
.tbl_pr tr:first_child td{border:0 none}
.tbl_pr td label{display:inline-block;width:18px;padding-left:0}
.tbl_pr tr.on td{color:#cc001e}

.desc_score{padding:14px 15px 0;font-size:11px}
.desc_score dt{float:none;width:auto;margin:0;color:#000;text-align:left}
.desc_score dd{padding-top:5px;margin:0;color:#7f7f7f;text-align:left}
.desc_score dd.case{color:#007dbd}

/* 레이어 팝업 공통 */
.popup_layer{display:none;position:absolute;left:50%;top:10%;z-index:9999;padding-bottom:3%}
.chart_result.popup_layer{display:none;position:fixed;left:50%;top:10%;z-index:9999;padding-bottom:3%}
.dimmed_layer{position:fixed;top:0;left:0;width:100%;height:200%;background-color:#000;opacity:0.8}
.popup_layer .popup_inner{position:relative;z-index:10;border-radius:2px;background-color:#fff}
.popup_layer .popup_cont{padding:20px 18px}
.layer_open .popup_layer {display:block}
.pr_price_v01.layer_open #wrap {position:static;}

/* 닫기 공통 */
.btn_close{overflow:hidden;position:absolute;right:0;top:0;width:42px;height:42px;font-size:0;line-height:0;text-indent:-9999px}
.btn_close::before,
.btn_close::after{content:'';position:absolute;top:50%;left:50%;margin-left:-8px;width:17px;height:3px;border-radius:3px;background-color:#fff}
.btn_close::before{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.btn_close::after{-webkit-transform:rotate(45deg);transform:rotate(45deg)}

.chart_result.view{display:block;width:290px;margin-left:-145px;font-size:14px}
.chart_result .popup_head{height:47px;margin:0 10px;border-bottom:1px solid #e5e5e5;line-height:48px}
.chart_result .popup_head .btn_close{right:15px;top:15px;width:12px;height:14px}
.chart_result .popup_head .btn_close::before, .chart_result .popup_head .btn_close::after{width:16px;height:2px;background-color:#555}
.chart_result .tit_popup{font-size:14px;font-weight:bold;color:#000}
.chart_result .popup_cont{padding:20px 10px;line-height:1.5em;color:#555;text-align:center}
.chart_result .popup_cont .score_note{padding-top:15px;font-size:11px;line-height:1.2em}
.chart_result .popup_cont .score_note.case.sell{padding-top:18px;color:#cc001e}
.chart_result .popup_foot{margin:0 10px;padding:15px 0 20px}
.chart_result .popup_foot a.blue{background-color:#2bb8e0;border-color:#2bb8e0}

#chart_val{width:270px;height:150px}

/* 후불정산결제 */
.rs_defferedsettle_i02 .rs_step_btn button.rsbt_view_mypage{width:100%}

/* 신성능 */
.rs.rs_sellcar_i05 #container{padding-bottom:76px}
.rs_sellcar_i05 .rs_step_btn{position:fixed;left:0;bottom:0;width:100%;padding:15px;margin:0;box-sizing:border-box}
.rs_sellcar_i05 .list_reg_photo .area_button{padding-top:10px}
.rs_sellcar_i05 .list_reg_photo .area_button:after{content:'';display:block;clear:both}
.rs_sellcar_i05 .list_reg_photo .area_button .modify_photo{display:none}
.rs_sellcar_i05 .list_reg_photo .area_button .label_photo,
.rs_sellcar_i05 .list_reg_photo .area_button .btn_delete_photo{float:left;width:48.5%;height:35px;line-height:35px;border:1px solid #dadada;border-radius:5px;font-size:14px;color:#5c5c5c;text-align:center}
.rs_sellcar_i05 .list_reg_photo .area_button .btn_delete_photo{float:right}