@charset 'utf-8';

/* 전문업체 검색 */
.caution strong {font-weight:normal !important;}
.caution strong span {font-weight:bold;}
.caution strong a {color:#484848;font-weight:bold;}

ul.car_list li span.info .more .trseller01, ul.car_list li span.info .more .trseller02{color:#333;font-size:15px;line-height:1.2em;margin:3px 0 0 0;}
ul.car_list li span.info .more .trseller01{margin:3px 0 0 -7px;font-weight:bold;background:none;}
ul.car_list li span.info .sellerInfo{clear: both;display: block;padding-top:3px; width:100%; overflow:hidden;}
ul.car_list li span.info .sellerInfo i{float:left;width:76px;color:#666;}
ul.car_list li span.info .sellerInfo b{float:left;width:65%;color:#333;font-weight:normal;}
ul.car_list li span.info .sellerInfo .sellerphone b{color:#cf0000;}
ul.car_list li span.info .sellerInfo .sellerphone b a{color:#cf0000;padding:0;}
ul.car_list li span.info .sellerInfo .sellercar b span{color:#cf0000; margin:0 3px 0 0;}

.carresult.truck .dSer{padding:7px 6px;background:#f3f3f3;border-top:1px solid #dadada;border-bottom:1px solid #d0d0d0;}
.carresult.truck .dSer select{border:1px solid #acb9c5;background:#fff url('/images/common/btn_select1.gif?130429') no-repeat right 1px;background-size:24px; color:#000;}
.tr_btnwrap{clear: both;width:100%;padding:10px 0 12px 100px;display:inline-block;}
.tr_btnwrap span{display:block;min-height:35px;}
.tr_btnwrap span a{display:inline-block !important; margin:0 !important; padding:0 !important;}
.tr_btnwrap span a.sellcar{width:145px; height:45px; float:left;}/* 시세(작은) */
.tr_btnwrap span a.sellcar.btncenter{float:none; text-align:center;}
.tr_btnwrap span a.sellcar b{line-height:1.3em; background:none;padding-left:0;}
.tr_btnwrap span a.btentalk{width:145px;height:45px; float:left; margin-left:10px !important;}
.tr_btnwrap span a.btentalk b{line-height:1.3em;background-position:0px -770px;}
.btentalk b{margin-top:12px;}

.dSerOpD.truck{min-height:90px;}
.dSerGo.truck{border-top:1px solid #d0d0d0;padding:13px 5px;}

.tel_coun {position:absolute;right:12px;top:0;height:42px;line-height:42px;font-size:13px;color:#494949;}
.tel_coun:before {content:'';display:block;position:absolute;left:-17px;top:50%;width:14px;height:14px;margin-top:-7px;background:url('/images/common/icon_tel.png') no-repeat 0 0;background-size:14px;}