@charset 'utf-8';

.us h3, .us h4{line-height:1em;}
.us .caution{margin-bottom:0;}
.usinst{width:100%;height:38px;text-indent:5px;border:1px solid #c0c1c2;background-color:#fff;-webkit-border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;color:#333333;-webkit-appearance:none;}
.usoutst{width:100%;height:38px;text-indent:5px;border:1px solid #c0c1c2;background-color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;color:#333333;-webkit-appearance:none;}
.usselest{height:40px;padding-left:5px;}
.usj_group .usselest{width:100%;}
.usinst:disabled{background:#eee}
.usoutst:disabled{background:#eee}
/*
@media only screen and (min-width : 321px){.usinst ,.usoutst{width:97.4%;}}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){.usinst ,.usoutst{width:96.6%;}}
*/

.BtLi.us{margin-top:0;}
.BtLi.us .btNon.cancel , .BtLi.us .btNon.gohome{float:left;width:145px;}
.BtLi.us .btNon.agree , .BtLi.us .btNon.okmit  , .BtLi.us .btNon.login, .BtLi.us .btNon.ipinok{float:right;width:145px;}
.BtLi.us button.btNon.okmit {width:147px; height:47px;}
.BtLi.us .btNon:only-child {float:none; margin:0 auto;}

.info_desc{padding:20px 10px;}

.choicelist{width: 100%;border-bottom: 1px solid #d9d9d9;}
.choicelist li{position: relative;clear: both;display:inline-block;overflow:hidden;width: 100%;border-top: 1px solid #d9d9d9;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f0f0f0), to(#ffffff));background:-moz-linear-gradient(top,#f0f0f0,#ffffff);background-color:rgba(240, 240, 240, 9.9);/* opera */filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ffffff'); /* IE6,IE7 */-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ffffff')";/* IE8 */}
.choicelist li a{border-top:1px solid #FFF;height: 100%;display: block;font-size: 16px;line-height: 1.25em;padding:17px 50px 17px 10px;}
.choicelist .arr{position: absolute;width: 12px;height:15px;top: 43%;right: 12px;background: url('/images/common/btn_arr.gif?130429') no-repeat left -112px;background-size:22px;}
.choicelist strong{display:block;font-size:14px;}
.choicelist .subdesc{font-size:12px;color:#888;line-height:1.3em;}
.choicelist li.user_seller a{padding-right:57px;}

.ckearea{position:relative;clear:both;margin:1px 0 25px;background-color:#fbfbfb;}
.ckearea .preview{clear:both;position:relative;padding:10px 10px 30px;}
.ckearea .goallview{position:absolute;right:10px;bottom:10px;color:#e46f00;}
.ckearea .goallview.ckarea{top:106px;}
.ckearea .ckeck_ok{padding:10px 0 0 10px;min-height:16px;background-color:#FFF;border-top:1px solid #d0d0d0;}
.ckearea .priwrap{padding:10px 10px 0 10px;}
.ckearea .priwrap h4{font-size: 14px;margin-bottom: 20px;}
.ckearea .priwrap p{margin-bottom:10px;}
.ckearea .priwrap dt{font-weight:bold;}
.ckearea .priwrap dd ul li{margin-bottom:15px;}
.ckearea .priwrap span{display:block;text-indent:-10px;margin-left:10px;}
.ckearea .priwrap strong {display:block;margin-bottom:15px;}
.ckearea .priwrap .important {text-decoration:underline;font-size:14px;}
.ckearea .somedt{padding:20px 10px 10px;}

/*공통으로 common에서 처리.ckearea .ckeck_ok input{width:16px;height:16px;vertical-align:middle;margin:0 5px 0 0;}*/
.ckearea .ckeck_ok label{vertical-align:top;}
.ckearea .ckeck_ok small{display:block;margin-top:5px;font-weight:bold;}
.dvc_i .ckearea .ckeck_ok label{vertical-align:middle;}
.agr_more{position:absolute; right:5px; top:7px;}
.agr_more a{width:70px; height:25px; line-height:12px; background:#f7f7f7 !important; font-size:12px;}

.us_tab{display:inline-block;width:100%;overflow:hidden;}
.us_tab li{width:100%;height:40px;border-left:1px solid #d0d0d0;border-bottom:1px solid #d0d0d0;margin-left:-1px;text-align:left;background-color:#FFF;overflow:hidden;}
.us_tab li em{font-size:14px;}
.us_tab li.on *{color:#cf0000;}
.us_tab li a{display:block;height:18px;padding:12px 0 10px;margin-left:15px;}
.us_tab li.email {height:auto;}
.us_tab li.email a {height:auto;}
.us_tab li.email .p {margin-top:3px;font-size:11px;color:#999;}
.us_tab li.email .p span {color:#e46f00;}

/* 이메일인증 아이디찾기 */
.cmm_layer_idsearch {position:relative;width:280px;margin:0 auto;padding:15px 10px;background:#fff;}
.cmm_layer_idsearch h3 {padding-bottom:13px;font-size:13px;color:#000;border-bottom:1px solid #e5e5e5;}
.cmm_layer_idsearch .p {padding:29px 0 17px;text-align:center;font-size:13px;color:#555;}
.cmm_layer_idsearch .find_form {padding:6px 0 30px;border-top:1px dashed #dcdcdc;}
.cmm_layer_idsearch .find_form dl {overflow:hidden;margin-top:7px;}
.cmm_layer_idsearch .find_form dl dt {float:left;width:65px;padding-right:10px;text-align:right;line-height:36px;font-size:14px;color:#5c5c5c;}
.cmm_layer_idsearch .find_form dl dd {overflow:hidden;}
.cmm_layer_idsearch .btn_set_res {overflow:hidden;}
.cmm_layer_idsearch .btn_set_res a {float:left;width:133px;padding:0;font-size:13px;border-radius:3px;}
.cmm_layer_idsearch .btn_set_res a span {display:inline-block;position:relative;line-height:33px;}
.cmm_layer_idsearch .btn_set_res a.btn_wbr_r {float:right;}
.cmm_layer_idsearch .btnClose {position:absolute;right:0;top:0;padding:15px 10px;}
.cmm_layer_idsearch .btnClose b {display:block;overflow:hidden;width:12px;height:12px;text-indent:-5000em;background:url('/images/common/spr_mobile_new.png') -130px -135px;background-size:200px;}

.usbox{overflow:hidden;background-color:#fff;border-bottom:1px solid #d0d0d0;}
.usbox.formst_a,
.usbox.formst_b{border:none}
.usbox.formst_b{background:none}
.formst_a fieldset{padding:20px 10px 10px;}
.usbox .desh{float:left;height:40px;line-height:40px;text-align:center;color:#d0d0d0;width:3.3%;}

.formst_a dl{position:relative;min-height:28px;padding-left:83px;margin-bottom:10px;}
.formst_a dt{display:block;position:absolute;left:0;top:0;width:83px;height:28px;line-height:30px;}
.formst_a dd{display:inline-block;width:99.5%;}
.formst_a dl.inemail {margin:10px -10px 0;padding:10px 10px 0 93px;border-top:1px solid #d0d0d0;}
.formst_a dl.inemail dt {left:10px;top:10px;}
.pwchange .formst_a dl , .pwsearchs3 .formst_a dl{padding-left:100px;}
.pwchange .formst_a dt ,.pwsearchs3 .formst_a dt {width:100px;}
.usercke .formst_a dl{padding-left:85px;}
.usercke .ckeck_ok{border-top:1px dashed #c6c6c6;padding:15px 5px;}
.usercke .ckeck_ok input{float:left;margin:0 5px 0 0;height:16px;width:16px;}
.usercke .ckeck_ok label{display:inline-block;width:90%;}
.usercke p.BtLi{margin-top:0;border-top:0;}

.idsearch p.BtLi{margin-top:0;border-top:0;}

.pwsearchs1 .usbox{border-bottom:1px solid #d0d0d0;padding:0;margin-bottom:20px;}
.pwsearchs1 p.BtLi{margin-top:0;border-top:0;}

.telecom dd span{float:left;margin:7px 10px 0 0;}
.telecom dd span input{width:15px;height:15px;margin:-5px 5px 0 0;vertical-align:middle;}
.usj_group .usselest{width:100%;}
/*
@media only screen and (min-width : 321px){.usj_group .usselest{width:98.9%;}}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){.usj_group .usselest{width:97.5%;}}

@media only screen and (max-width : 321px){.mphone .usinst , .mphone .usselest{width: 30.1%;}}
@media only screen and (max-width : 320px){.mphone .usinst , .mphone .usselest{width: 29.3%;}} 
@media only screen and (max-width : 600px){.mphone .usinst , .mphone .usselest{width: 29.3%;}}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){.mphone .usinst , .mphone .usselest {width: 30.6%;}}
@media only screen and (min-device-width : 800px) and (max-device-width : 1280px){.mphone .usinst , .mphone .usselest {width: 29.7%;}}

@media only screen and (min-width : 321px){.usselest.ustel1 , .usinst.ustel2 , .usinst.ustel3{width: 29.9%;}}
@media only screen and (max-width : 320px){.usselest.ustel1 , .usinst.ustel2 , .usinst.ustel3{width: 29%;}}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){.usselest.ustel1 , .usinst.ustel2 , .usinst.ustel3{width: 29.8%;}}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){.usselest.ustel1 , .usinst.ustel2 , .usinst.ustel3{width: 29.7%;}}
@media only screen and (min-device-width : 800px) and (max-device-width : 1280px) and (orientation : portrait){.usselest.ustel1 , .usinst.ustel2 , .usinst.ustel3{width: 29.7%;}}

@media only screen and (min-width : 321px){.usj_officeno .usinst{width: 29.6%;}}
@media only screen and (max-width : 320px){.usj_officeno .usinst{width: 29.3%;}}
@media only screen and (max-width : 600px){.usj_officeno .usinst{width: 29.3%;}}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){.usj_officeno .usinst{width: 29.3%;}}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){.usj_officeno .usinst{width: 29.5%;}}
@media only screen and (min-device-width : 800px) and (max-device-width : 1280px) and (orientation : portrait){.usj_officeno .usinst{width: 29.4%;}}
*/
.usj_inner {width:100%;overflow:hidden;}
.usj_inner .usselest {float:left;width:30.6%;padding-left:0 !important;}
.usj_inner .usselest:first-child {float:left;}
.usj_inner .usinst {float:left;width:30.6%;padding-left:0 !important;text-indent:7px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.usj_inner .usinst.ofno1 {margin-right:-1px;}/*case : input 3개*/
.usj_inner .usinst.ofno2 {margin-left:-1px;}/*case : input 3개*/
.usj_inner .usinst:first-child {float:left;}
.usj_inner .desh {float:left;width:4.1%;text-align:center;}
.usj_mtel {}
.usj_mtel .usj_mtel_certify {position:relative;margin-top:10px;padding-right:96px;}
.usj_mtel .usj_mtel_certify:first-of-type {margin-top:0;}
.usj_mtel .usj_mtel_certify .btnNonS {right:0;}
.usj_mtel .usj_mtel_certify.usj_mtel_change {padding-right:154px;}
.usj_mtel .usj_mtel_certify.usj_mtel_change .btnNonS {width:148px;}
.usj_mtel .time {margin-top:5px;font-size:11px;color:#979797;}
.usindetail .usj_tel {overflow:visible;}
.usindetail .usj_tel .usj_inner {overflow:visible;}
.usindetail .usj_tel .usj_inner:after {content:'';display:block;clear:both;}
.usindetail .usj_tel .usj_inner .formch {position:absolute;right:10px;top:-22px;padding-top:0;}

.mphone .separea .btnNonS{float:right;width:100px;margin-top:10px;}

.usj_officeno div{display:block;padding-bottom:18px;border-bottom:1px dotted #dcdcdc}
.usj_officeno div:after{content:'';display:block;clear:both}
.usj_officeno .usinst{float:left;width:30%;}
.usj_officeno .desh{float:left;width:4%;height:40px;line-height:40px;text-align:center}

.us .myinfotxt dt{display:none;}

.formarea{padding-top:20px;margin-top:15px;background:#fff}
.formarea:first-child{margin-top:0}
.form_desc{padding:15px 5px 10px 10px;border-bottom:1px dotted #c6c6c6;}
.formtip{clear:both;font-size:11px;color:#666;padding-top:5px;padding:0 10px 15px 10px;}

.jointit{display:inline-block;width:100%;margin-bottom:18px;}
.jointit span{float:left;font-size:15px;padding-left:10px;color:#000}
.jointit em{float:right;font-size:11px;font-weight:normal;color:#cf0000;padding-right:10px;}

.formst_b .form_desc{border-bottom:none;margin-bottom:10px;}

.joinform .caution{border-bottom:none;padding-bottom:0px;margin-top:10px;}
.joinform .ckearea{background-color:#FFF;margin-bottom:5px;}

.usindetail dt{clear:both;position:relative;font-size:14px;color:#5c5c5c;font-weight:bold;margin-bottom:5px;padding:0 10px;}
.usindetail dt em{display:inline-block;margin:5px 0 0 2px;color:#cf0000;}
.usindetail dt > a{position: absolute;top:8px;right:10px;color:#979797;font-size:11px;font-weight: normal;text-decoration: underline;}
.usindetail dd{clear:both;position:relative;margin-bottom:18px;padding:0 10px 0 10px;overflow:hidden;}
.usindetail .ustip{font-size:11px;color:#979797;padding-top:5px;}
.usindetail .ustip .btn_ipin {float:right;text-decoration:underline;color:#979797;}
.usindetail .ustip .btn_ipin b {font-weight:normal;}
.usindetail .formch{clear:both;padding-top:10px;}
.usindetail .usj_born {padding-right:170px;}
.usindetail .usj_born .sexarea {position:absolute;right:15px;top:11px;}
.usindetail .usj_born .sexarea span.check {margin-left:20px;}
.usindetail .usj_usid {}
/*공통으로 common에서 처리.usindetail .formch input{width:15px;height:15px;margin-right:5px;}*/
.usindetail .btnNonS{position:absolute;right:8px;top:0;width:90px;height:40px;line-height:40px;}
/*
@media only screen and (min-width : 321px){.usindetail .btnNonS{right:2.8%}} 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){.usindetail .btnNonS{right:3.7%}}
*/
.usindetail dd.usj_nicknam {}
.usindetail dd.usj_nicknam span{display:block;padding-bottom:17px;margin-bottom:5px;border-bottom:1px dotted #dcdcdc}
.usindetail dd.usj_mail{margin-bottom:20px}
.usindetail dd.usj_office{margin-bottom:18px}
.usindetail dd.exist input{border-color:#cc001e}
.usindetail dd .usalert{display:none;padding-top:5px;font-size:12px;font-weight:bold;color:#cc001e}
.usindetail dd.exist .usalert{display:block;}

.us_new .usindetail .usj_office2{padding:0}

.us_new .usindetail dd .addser1,
.us_new .usindetail dd .office_inch{padding:0 105px 0 10px}

.usinfunc{position:relative;bottom:-30px;padding:20px 0 20px 0;border-top:1px solid #d0d0d0;text-align:center;background-color:#f9f9f9;}
.usinfunc .btnNonM{display:inline-block;width:auto;height:25px;color:#454545;font-size:11px;}
.usinfunc .btnNonM b{margin:5px 8px 0;}
.usinfunc .secede{color:#808080;}

.usindetail dd.usj_madd{position:relative;padding-right:85px;}
.addser2 , .addser3{margin-top:10px;}
.usj_smsck span , .usj_mailck span {float:left;width:120px;}

/*공통으로 common에서 처리.usj_smsck input , .usj_mailck input{width:15px;height:15px;margin-right:5px;}*/
.usindetail dd.usj_addser{padding:0;}
.usindetail dd.usj_addser h6{display:block !important;overflow:hidden !important;position:absolute !important;left:0 !important;top:-10000px !important;width:0 !important;height:0 !important;}
.usindetail dd.usj_addser .ustip{padding:5px 10px 0;}
.addser4{clear:both;overflow:hidden;padding:0 10px 10px 10px;}
.addser4 span{float:left;width:120px;}
.addser1, .addser5{padding: 0 85px 0 10px;}
.addser2 , .addser3{padding: 0 10px;}
.usindetail .addser5 .btnNonS{top:28px;}
.addser6{padding:0 10px 0 10px}
.addser6 .addser_inner {display:inline-block;width:100%;}
.addser6 .addser_inner span{border:1px solid #d0d0d0;border-radius:2px;width:49%;margin-bottom:8px;}
.addser6 .addser_inner span:nth-child(odd) {float:left;}
.addser6 .addser_inner span:nth-child(even) {float:right;margin-right:-2px;}
.addser6 .addser_inner select{width:100%;padding-left:5px;border:0;}
.addser6 .addser_inner input{width:100%;padding-left:0;border:0;}
.addser6 .btnNonS{position:static;display:block;clear:both;width:100%;}

.pwser_tip{margin-bottom:5px;}
.pwser_tip strong{color:#000;}

.postnum{border-top:1px solid #d0d0d0;border-bottom:1px solid #d0d0d0;margin:10px 0 0 0;background-color:#FFF;}
.postnum .post_tip1{padding:17px 10px 13px;}
.postnum .post_tip1 em{display:block;font-size:11px;color:#666666;}
.postnum .post_tip2{padding:10px 10px;border-top:1px solid #d0d0d0;}
.postnum ul{overflow:hidden;padding:10px 10px;}
.postnum li{position:relative;padding-left:55px;margin-bottom:7px;}
.postnum li a{display:inlne-block;}
.postnum li em{position:absolute;left:0;top:0;}
.postnum li span{color:#666;}

.agreement_tab {}
.agreement_tab ul {}
.agreement_tab ul:after {content:'';display:block;clear:both;}
.agreement_tab ul li {float:left;width:50%;border-bottom:1px solid #f2f2f2;}
.agreement_tab ul li a {display:block;text-align:center;line-height:42px;font-size:13px;font-weight:bold;color:#333;}
.agreement_tab ul li.active {border-color:#ff3333;}
.agreement_tab ul li.active a {color:#ff3333;}
.aggrement_cont {display:none;}
.aggrement_cont.active {display:block;}

.ruleview .agree_desc{padding:20px 10px 10px;border-bottom:1px solid #d0d0d0;}
.ruleview .agreement{padding:10px 10px 5px;}
.ruleview .agreement dt{font-weight:bold; margin-bottom:5px; color:#000;}
.ruleview .agreement dd{margin-bottom:15px;}
.ruleview .agreement dd span{display:block; padding-left:10px; text-indent:-10px; margin-left:10px;}
.ruleview .agreement dd span a{text-decoration: underline;}
.ruleview .agreement dd li{margin-bottom:5px;}

.ruleview .summary{padding:20px 10px 0;}
.ruleview .somedt{padding:20px 10px 10px;}
.ruleview .indivi{padding:10px;margin-bottom:10px;border-bottom:1px solid #d0d0d0;}

.ruleview .private{padding: 10px 10px 5px;}
.ruleview .private li{margin-bottom:50px;}
.ruleview .private h4{font-size:14px;margin-bottom:20px;}
.ruleview .private p{margin-bottom:15px;}
.ruleview .private dl{}
.ruleview .private dt{font-weight:bold;}
.ruleview .private dd{}
.ruleview .private dd ul li{margin-bottom:20px;}
.ruleview .private strong{display:block; margin-bottom:15px;}
.ruleview .private span{display:block;text-indent:-10px;margin-left:10px;}
.ruleview .private .important{text-decoration:underline;font-size:120%;}

.prevcnt{text-align:right; padding:10px 10px 0 10px;}
.prevcnt a{color:#e46f00}

/*결과 메세지*/
.msg{border-bottom:none;}
.msg strong{color:#000;}

/*완료 메세지*/
.comple_info{padding:20px 10px 15px;}
.comple_info li{clear:both;margin-bottom:5px;font-weight:normal !important;}
.comple_info strong{float:left;width:85px;font-weight:normal !important;}
.comple_info span{padding-left:5px;font-weight:bold;color:#000;}
.comple_info dd{float:left;}

.comple_box{padding:30px 22px;text-align:center;font-size:16px;}
.comple_msg{line-height:1.25em;margin-bottom:30px;}
.comple_idser strong{display:block;text-align:center;color:#000;line-height:1.5;}
.comple_idser em{display:block;text-align:center;font-size:12px;color:#666;}
.comple_msgsub{padding:0 8px;font-size:12px;color:#666;}
.comple_box.comple_notfound {padding:50px 22px;}

/* 비밀번호 발송 */
.us_pwsearch_v01 .comple_box {margin:0 10px;}
.us_pwsearch_v01 .BtLi.us {width:auto;margin:0 10px;}
.comple_box.send_email {padding:30px 0;}
.comple_box.send_email h4 {text-align:center;font-size:16px;color:#000;}
.comple_box.send_email .comple_msg {font-size:14px;color:#000;}
.comple_box.send_email .email_addr {padding-top:30px;line-height:1.4;font-size:13px;color:#666;border-top:1px solid #d0d0d0;}
.comple_box.send_email .btn {margin-top:12px;}
.comple_box.send_email .btn a {display:inline-block;width:98px;line-height:28px;font-size:11px;color:#5c5c5c;border:1px solid #e0e0e0;background:#f7f7f7;}

.pwsearchv1 .comple_msg{padding-top:30px;}
.pwsearchv1 .btNon.gologin{width:300px;margin:0 auto;}

/* 진단팩 회원가입 */
body.inspack .smap,body.inspack #footer{display:none;}
body.inspack .btNon.cancel,body.inspack .btNon.gohome{display:none;}
body.inspack .BtLi span{width:145px;}
body.inspack.us_idsearch_i01 .BtLi,body.inspack.us_pwsearch_i01 .BtLi,body.inspack.us_join_i03 .BtLi,body.inspack.my_drop_i01 .BtLi{display:none;}
body.inspack .nav h2{float: left;margin: 13px 0 0;font-size: 16px;font-weight: bold;letter-spacing: -0.05em;line-height: 1.1em;color: #FFFFFF;}

/* 아이핀 인증 안내 */
.ipin_info {display:block;position:absolute;width:100%;left:0;top:0;z-index:9999;}
.ipin_info.off {display:none;}
.ipin_info .bg{position:absolute;width:100%;left:0;top:0;background:#000;opacity:0.8;}
.ipin_info_con {position:relative;top:60px;width:280px;margin:0 auto;background:#fff;}
.ipin_info_con .ttl {height:42px;color:#fff;background:#be0808}
.ipin_info_con .ttl h2 {display:block;overflow:hidden;position:absolute;left:18px;top:0;font-size:14px;line-height:44px;color:#fff;}
.ipin_info_con .ttl a.btn_close {display:block;overflow:hidden;position:absolute;right:15px;top:14px;width:15px;height:15px;text-indent:-5000em;background:url(/images/my/btn_close.gif) no-repeat 0 0;background-size:15px;}
.ipin_info_con .con {padding:30px 13px;font-size:12px;line-height:15px;}
.ipin_info_con .con h3 {height:19px;margin-top:20px;font-size:13px;color:#333;}
.ipin_info_con .con .ntce_box {margin-bottom:17px;padding:18px 7px 13px 7px;background:#ededed;}
.ipin_info_con .con .ntce_box ol li {margin-top:10px;line-height:18px;letter-spacing:-1px;}
.ipin_info_con .con .ntce_box ol li:first-child {margin-top:0;}
.ipin_info_con .con .red {color:#cc0000;}
.ipin_info_con .btn {padding-top:30px;}
.ipin_info_con .btn a.btn_certifi {display:block;overflow:hidden;width:134px;height:34px;margin:0 auto;text-indent:-5000em;background:url(/images/my/btn_certifi.gif) no-repeat 0 0;background-size:134px;}

/* 이메일 수신여부 */
.usj_advertise {padding:0 10px 18px}
.usj_advertise span {display:block}
.usj_advertise .chk_receive {position:relative;width:165px;padding:10px 0 15px 28px}
.usj_advertise .chk_receive:before {position:absolute;left:8px;top:7px;content:'';display:block;width:13px;height:13px;background:url('/images/us/bul_tree.png') no-repeat 0 0;background-size:12px}
.usj_advertise .chk_receive:after {content:'';display:block;clear:both}
.usj_advertise .chk_receive em {float:left;}
.usj_advertise .chk_receive em:first-child {margin-left:3px;}
.usj_advertise .chk_receive em .check {width:65px;}
.usj_advertise .chk_receive em:first-child .check input {left:8px;}
.usj_advertise .chk_receive em:last-child .check input {left:5px;}
.usj_advertise .chk_receive em .check label {padding-left:25px;display:inline-block;}
.advertise .notice{padding:0 10px}

.useragree .box_area {overflow:hidden;overflow-y:auto;position:relative;width:100%;height:105px;font-size:12px;margin:0 0 25px 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.useragree .box_area.active {visibility:visible;position:relative;}

/* 광고성 정보 수신동의 내역 */
.box_notice{margin:20px 11px 0;padding:16px 15px;border:1px solid #a8a8a8}
.box_notice .tit_notice{display:block;font-size:14px;color:#727272}
.box_notice .list_notice{padding-top:7px;font-size:13px;line-height:18px;color:#727272}

/* 회원가입 개편 */
div#container.us_new{background:#eee}

.us_new .snbtitle{border:0;background:#e7eaec}
.us_new .snbtitle h3,body.us_join_i06 .snbtitle h3 span{color:#979797}
.us_new .snbtitle h3 em{color:#5c5c5c}

.us_new .cmm_sel_type1 select:disabled{background:#eee}
.us_new .cmm_sel_type1 select{height:40px}
.us_new .BtLi.us{border:0 none}
.us_new .BtLi.us span{width:100%;padding:0 10px;box-sizing:border-box}
.us_new .BtLi.us .cancel, .us_new .BtLi.us .okmit{display:inline-block;width:48%;height:40px}
.us_new .BtLi.us u{text-decoration:none}
.us_new .BtLi.us .okmit{margin-left:4%}

.usindetail .ustip_office{padding-top:18px;margin-top:18px;border-top:1px dotted #dcdcdc;font-size:11px;color:#979797}
.usindetail .ustip_office span{color:#cc001e}

.personal{padding-bottom:25px}
.personal .notice{padding:0 10px 15px;font-size:11px;color:#979797}
.personal .btn_personal{margin-left:10px;font-size:11px;font-weight:bold;color:#5c5c5c;text-decoration:underline;}

.srch_comp{position:relative;padding:0 85px 0 10px}
.srch_comp .btnNonS{position:absolute;right:8px;top:0;width:66px;height:40px;line-height:40px}
.srch_comp_sel{padding:18px 10px;border-bottom:1px solid #d6d6d6}

.us_btn_fix{position:fixed;left:0;bottom:0;width:100%;padding:18px 10px;border-top:1px solid #d6d6d6;background:#fff;box-sizing:border-box;}
.us_btn_fix a{width:100%}
.us_btn_fix a u{text-decoration:none}

.sel_custom{position:absolute;right:18px;top:17px;font-size:12px;color:#000}
.comp_list{position:relative;overflow:hidden}
.notice_before{display:none;position:absolute;left:0;top:50%;width:100%;margin-top:-9px;text-align:center;font-size:12px;color:#cc001e;}
.notice_none{display:none;position:absolute;left:0;top:50%;width:100%;margin-top:-18px;text-align:center;font-size:12px;color:#cc001e;}
.comp_list.before .notice_before{display:block}
.comp_list.none .notice_none{display:block}
.comp_list.before .wrp_comp_list{display:none}
.comp_list.none .wrp_comp_list{display:none}
.wrp_comp_list{width:100%;height:100%}
.wrp_comp_list:after{content:'';display:block;clear:both}
.wrp_comp_list ul{float:left;height:100%;overflow-y:scroll}
.wrp_comp_list ul::-webkit-scrollbar{width:3px}
.wrp_comp_list ul::-webkit-scrollbar-thumb{background:#a9a9a9}
.wrp_comp_list ul li{padding-left:15px;height:55px;line-height:55px;border-bottom:1px solid #d6d6d6}
.wrp_comp_list .list_pic{width:30%}
.wrp_comp_list .list_pic li{background:#f3f3f5}
.wrp_comp_list .list_pic li.on{background:#fff;color:#cc001e}
.wrp_comp_list .list_pic li.on a{font-weight:bold;color:#cc001e}
.wrp_comp_list .list_name{width:70%}

.comp_list .wrp_comp_list .list_none{display:none;position:relative;float:right;width:70%;height:100%;text-align:center}
.comp_list .wrp_comp_list .list_none span{position:absolute;left:0;top:50%;width:100%;margin-top:-7px;color:#cc001e}

.comp_list.none_init .wrp_comp_list{display:block}
.comp_list.none_init .wrp_comp_list .list_name{display:none}
.comp_list.none_init .wrp_comp_list .list_none{display:block}

.usj_addser .addser1 a.disabled{background:#666;border-color:#666;cursor:default !important}

/*개명*/
.my_renameWrap {position:fixed;left:50%;top:50%;margin-top:-188px;width:290px;height:235px;margin-left:-145px;background:#fff;overflow:hidden;}
.my_renameWrap .inner_header{padding:0 10px;}
.my_renameWrap h3 {display:block;margin-bottom:0 !important;padding:15px 0;font-size:13px !important;border-bottom:1px solid #e5e5e5;color:#000000 !important;}
.my_renameWrap .bt_close {position:absolute;top:16px;right:10px;width:12px;height:12px;display:inline-block;background:url(/images/us/ir_us.png) no-repeat 0 0;background-size:100px;text-indent:-9999px;overflow:hidden;}
.my_renameWrap .inner {padding:30px 10px 15px;font-size:13px;text-align:center;}
.my_renameWrap .inner .result_text{font-size:16px;color:#000000;letter-spacing: -1.2px}
.my_renameWrap .inner .noti_title{margin-top:18px;color:#555555;font-weight: normal;letter-spacing: -1px}
.my_renameWrap .inner strong {display:block;margin:12px 0;line-height:18px;}
.my_renameWrap .inner .choose{margin-top:25px;}
.my_renameWrap .inner .choose ul{overflow:hidden;}
.my_renameWrap .inner .choose li{display:inline-block;float:left;}
.my_renameWrap .inner .choose li:first-child{margin-right:10px;}
.my_renameWrap .inner .choose a{position:relative;display:block;width:128px;height:33px;line-height:33px;border-radius: 3px;}
.my_renameWrap .inner .choose a:before{position:absolute;top:0;left:20px;content:'';display:inline-block;background:url(/images/us/ir_us.png) no-repeat 0 0;background-size:100px;}
.my_renameWrap .inner .choose .by_phone a{border:1px solid #e2313d;color:#e2313d;}
.my_renameWrap .inner .choose .by_phone a:before{top:8px;width:11px;height:17px;background-position: -25px 0;}
.my_renameWrap .inner .choose .by_ipin a{color:#fff;background: #e2313d;border:1px solid #e2313d;}
.my_renameWrap .inner .choose .by_ipin a:before{top:8px;left:23px;width:12px;height:17px;background-position: -50px 0;}
.my_renameWrap .inner .choose a .txt_noti{display:inline-block;margin-left:8px;font-weight:normal;}
.my_renameWrap .inner .choose .by_ipin a .txt_noti{margin-left:15px}
.my_renameWrap .inner .btn_result{margin-top:25px;}
.my_renameWrap .inner .btn_result a{display:block;width:268px;height:33px;line-height:35px;text-align:center;font-weight:normal;color:#fff;background:#e2323d;border:1px solid #e2323d;border-radius: 3px;}
.my_renameWrap.result{height:auto;}

.my_renameWrap .btn_area {margin-top:20px;padding-top:20px;border-top:1px solid #dcdcdc;}
.my_renameWrap .btn_area .bt_wrap {display:block;width:100%;overflow:hidden;}
.my_renameWrap .btn_area button {width:100%;height:35px;border-radius:3px;font-size:14px;font-weight:bold;}
.my_renameWrap .btn_area button.bt_sellerinfo_view {border:1px solid #e92828;color:#e92828}